[2019-10-30 07:25] sobolevn commented on #957
Thanks for the report 👍

[2019-10-30 07:58] ko3luhbka commented on #957
May I work on this?

[2019-10-30 08:18] riazanovslv opened #958 "WPS210 possible misbehavior when counting variables in list comperhensions"
# Bug report
Counting variables in functions with list comperhensions with two or more variables inside is wrong.

[code]

## What's wrong

## How is that should be

No errors from WPS210

## System information
Mac OS 10.14.6 / python 3.6.9
### flake8 information

Contents of `flake8 --bug-report`:
[code]
### pip information

Contents of `pip freeze`:
[code]

[2019-10-30 12:32] sobolevn commented on #957
Sure! Thanks!

[2019-10-31 16:36] sobolevn opened #962 "Consider adding flake8-cognitive-complexity"
https://github.com/Melevir/flake8-cognitive-complexity

[2019-10-31 19:37] ko3luhbka commented on #957
I faced with a problem of disabling `i_control_code` in end-to-end tests.
Since the option is enabled by default and we can't tell flake8 to disable it somehow (because this option is just a flag without a value) I can't make WPS113 appear when checking bad code. Are there any possibility to workaround this? Change `setup.cfg` at runtime doesn't look like a good idea.
If default value for this opt

[2019-11-01 05:44] sobolevn commented on #957
Have you tried `--i-control-code=false`?

[2019-11-01 06:06] ko3luhbka commented on #957
Yes, flake8 complains:

I also tried "False", "0", "no" values and all of this but with a space instead of the equal sign. It doesn't work this way.

[2019-11-01 12:38] sobolevn commented on #957
Oh, wow. It should! That's a new bug you found! 👍

[2019-11-01 15:45] ko3luhbka commented on #957
Oh, feel a bit stupid that I didn' t understand it earlier :)

[2019-11-01 17:03] ko3luhbka opened #966 "`i-control-code` cannot be disabled using flake8 command option"
# Bug report

## What's wrong
`i-control-code=True` by default. If I have a code which violates some rules controlled by `i-control-code` (for example, WPS113) and I want to ingnore these rules, I can't just pass `--i-control-code=false` to flake8 because it won't accept it:

Usage: flake8 [options] file file ...

flake8: error: --i-control-code option does not take a value

The only way to ignore

[2019-11-02 16:09] levonikitatech opened #968 "WPS266 in similar strings template."
# Bug report

## What's wrong

`# coding: utf-8

print('{0}{1}'.format('I ', 'am'))
print('{0}{1}'.format('We ', 'are'))
print('{0}{1}'.format('You ', 'are'))
print('{0}{1}'.format('You ', 'are'))
print('{0}{1}'.format('He, She, It ', 'is'))
print('{0}{1}'.format('They ', 'are'))
`
This code raises  "WPS226 Found string constant over-use: {0}{1}"

## How is that should be

The "clear" templates, t

[2019-11-02 16:17] sobolevn commented on #968
Why not:

[code]

?

[2019-11-02 16:20] levonikitatech commented on #968
@sobolevn  Cause that template can be in different places and functions, that are not related.

[2019-11-02 16:23] sobolevn commented on #968
They are related in case they use the same template 🙂

[2019-11-03 20:07] #962 closed

[2019-11-03 22:25] sobolevn commented on #891
We can have mutable class fields. See https://github.com/wemake-services/wemake-python-styleguide/pull/940#issuecomment-549185533

[2019-11-03 22:25] #891 closed

[2019-11-04 09:34] #968 closed

[2019-11-04 09:37] sobolevn commented on #920
@slapshin would you take this one? Let's make it a refactoring rule.

[2019-11-04 09:38] sobolevn commented on #894
Hi @meda123! How's it going? Do you need any help?

[2019-11-04 09:39] sobolevn commented on #890
Hi @uhbif19, how's it going? Do you need any help on this one?

[2019-11-04 09:39] sobolevn commented on #866
Hi @CUBERLEON, how's it going? Do you need any help?

[2019-11-04 10:30] sobolevn commented on #864
Hi @ManishAradwad, how's it going? Do you need any help?

[2019-11-04 10:30] sobolevn commented on #862
Hi @lensvol, how's it going? Do you need any help?

[2019-11-04 10:31] sobolevn commented on #838
Hi @maikefischer, how's it going? Do you need any help?

[2019-11-04 10:31] sobolevn commented on #792
Hi @novikovfred, how's it going? Do you need any help?

[2019-11-04 10:33] #927 closed

[2019-11-04 10:49] lensvol commented on #862
Hi @sobolevn, everything is on track, got distracted by real-life issues sadly :/ Hope I will close it this week.

[2019-11-04 11:06] ko3luhbka commented on #966
@sobolevn, how would you implement this? Still as one options with True/False value or as separate options-flags, like `--i-control-code` and `--i-dont-control-code`?
As far as I understood there's no `boolean` type in optparse out of the box, so you have to either write a class for it or (if I got it right) write a callback function which performs conversion from `str` to `bool`.

[2019-11-04 11:18] sobolevn commented on #966
I am actually working on it right now 🙂
I will push this fix in 10 minutes.

[2019-11-04 11:37] #966 closed

[2019-11-04 14:37] sobolevn commented on #899
It also conflicts with https://github.com/dry-python/lambdas

Solution: ignore this violation if this is a case for you.

[2019-11-04 14:38] sobolevn commented on #953
Let's merge it with #893

[2019-11-04 14:39] sobolevn commented on #893
@Ben-Drebing please, see the updated description.

[2019-11-04 14:39] sobolevn commented on #953
Or not.

[2019-11-04 14:45] sobolevn commented on #893
@Ben-Drebing sorry, I will take this one. Because I will work on both #953 and this one

[2019-11-04 17:05] sobolevn opened #972 "Create violation in case linter fails with an exception"
# Rule request

## Thesis

Whenever linter fails with an exception we need to add a violation to the respected file.
We need a new group for this: `system` with `WPS0xx` code.

## Reasoning

Currently we only show the exception info and don't even modify the exit code.

[2019-11-04 17:25] #972 closed

[2019-11-04 18:01] #893 closed

[2019-11-04 20:01] sobolevn commented on #870
I had to remove this violation. Since it will be included into `typed-linter` project.

[2019-11-04 20:01] #866 closed

[2019-11-04 20:09] sobolevn commented on #958
After some thoughts, no: it works as intended. The thing is that we don't count "usable" variables, we count "mental" variables. It is a complexity rules for developers that have to memorise what each variable means. From this perspective, there's no difference in where this variable is defined. And what scoping it has.

[2019-11-04 20:09] #958 closed

[2019-11-04 20:10] sobolevn commented on #957
Done, now #966 is fixes, you can continue to work on this one! 👍

[2019-11-04 22:48] AlexisNava opened #973 "Integration problems with VSCode"
# Bug report

## What's wrong

When a run the command `flake8 .` is everything okay but when I want to see the errors inside of **VSCode** I can't see anything.

## How is that should be

Show the errors in **VSCode**.

## System information

### flake8 information

Contents of `flake8 --bug-report`:

[code]

### pip information

Contents of `pip freeze`:

[code]

`.vscode/settings.json`

[code]

[2019-11-04 22:54] sobolevn opened #974 "`WPS344` ignores `//= 0`"
# Bug report

## What's wrong

This code is not marked as invalid:

[code]

## How is that should be

It should raise `WPS344`. See here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/operators.py#L100

We also need to check for `ast.FloorDiv` as well.
And edit a test here: https://github.com/wemake-services/wemake-python-styleguide/b

[2019-11-04 22:56] sobolevn opened #975 "WPS345 does not work with `//`"
# Bug report

## What's wrong

This code does not raise a violation: `some // 1`

## How is that should be

It should.

## System information

### flake8 information

Contents of `flake8 --bug-report`:

### pip information

Contents of `pip freeze`:

[2019-11-04 23:04] #974 closed

[2019-11-04 23:04] #975 closed

[2019-11-04 23:07] sobolevn commented on #973
Hi, thanks a lot for the report! It seems like a flake8/vscode issue. I am going to open this issue in the upstream repo. And report back.

[2019-11-04 23:08] sobolevn opened #976 "Forbid to use `Optional[None]`"
# Rule request

## Thesis

This is annotation-related rule. It does not make any sense. And it equals to just `None`.
`mypy` is okay with this type.

[2019-11-04 23:10] sobolevn opened #977 "Enforce better `|` and `&` usage"
# Rule request

## Thesis

Currently we have some strict rules about almost all operators except these two.
See https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/operators.py

We need to add new rules about these operators:
- What are the useless operations? What numbers do not make any sense with these operators?
- Are there any other be

[2019-11-04 23:45] sobolevn commented on #385
I cannot fight these corner cases:

[code]

This is a valid case. But, `[` comes just under `[`
So, it is hard to tell the difference between these two cases.

[2019-11-05 06:26] slapshin commented on #920
Ok, cool! I suggest adding `ForceTupleArgumentViolation`

[2019-11-05 08:51] sobolevn commented on #385
To fix this we also need to count "level" of brackets. It is possible to nest brackets of the same level. But, not different levels.

[2019-11-05 11:11] #977 closed

[2019-11-05 22:13] #957 closed

[2019-11-06 07:50] sobolevn opened #985 "Incorrect `WPS70x` logic"
# Bug report

## What's wrong

It now works with strings. And give false positives a lot.

Example:

[code]

Gives:

[code]

We should rethink our methods.

Related #976

[2019-11-06 08:16] sobolevn opened #986 "Incorrect tests for annotations"
# Bug report

We don't test annotations that are defined as strings.
It should be an explicit testing strategy for python<3.8

Related #985

[2019-11-06 09:50] uhbif19 commented on #890
Do not touch that issue, so far. I plan to see it this weekend.

[2019-11-06 10:05] sobolevn commented on #890
Thanks a lot! 👍

[2019-11-06 11:01] AlwxSin opened #987 "False positive BlockAndLocalOverlapViolation with type annotation"
# Bug report

## What's wrong
With given code
[code]
`BlockAndLocalOverlapViolation` raises with
[code]

Without line ```connection: apg.Connection``` everything is ok.

## How is that should be
This is valid python annotation and `BlockAndLocalOverlapViolation` violation should not be raised here.

[2019-11-06 11:09] sobolevn commented on #987
Yeap, this is a bug. @AlwxSin do you want to fix it?

[2019-11-06 11:11] AlwxSin commented on #987
@sobolevn Yep, I'll do it. Assign on me, please.

[2019-11-07 11:46] #792 closed

[2019-11-07 11:46] #838 closed

[2019-11-07 11:46] #976 closed

[2019-11-07 11:46] #985 closed

[2019-11-07 11:46] #986 closed

[2019-11-07 12:38] orsinium opened #990 "Forbid too deep related imports"
# Rule request

## Thesis

Good:

[code]

So-so:

[code]

Bad:

[code]

## Reasoning

It's really difficult to infer to which directory `....` refers to. One dot is the current dir, 2 dots is one dir upper in the tree, it's easy to catch. 3 dots are difficult but arguably ok, I'm not sure about this case. However, 4 dots is a quite hard riddle.

## Solutions

- Refactor your app to avoid too aggre

[2019-11-07 13:28] AlwxSin commented on #987
@sobolevn well, I've got a problem. I added one more `_scope_predicate` to `BlockVariableVisitor` which returns `True` if node is `AnnAssign` and there is no `value` in it. But the problem is in code to test
[code]
`with` block has no parent, so [here](https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/blocks.py#L155) node is `None` and ob

[2019-11-07 17:10] sobolevn commented on #987
@AlwxSin you are interested in this method: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/blocks.py#L161

Here's how the flow works:
1. We start with `visit_locals`
2. Then we fall into `_scope` with `node: ast.AnnAssign`
3. Then we check `ignored_name` in `_naming_predicates`: https://github.com/wemake-services/wemake-python-stylegui

[2019-11-07 17:12] sobolevn commented on #990
We already restrict all relative imports: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/violations/consistency.py#L150

I guess that this is even a better rule 🙂
I prefer to always write the full path of imports.

[2019-11-07 17:12] #990 closed

[2019-11-07 21:46] #892 closed

[2019-11-08 08:44] AlwxSin commented on #987
I just copied docstring which said that it fragile and complex 😏

[2019-11-08 09:33] AlwxSin commented on #987
Done. My mistake was that I thought only about `scope_predicates`, not `naming_predicates`.

[2019-11-08 10:24] #987 closed

[2019-11-11 14:10] sobolevn commented on #973
Done! Here's the issue in the upstream: https://gitlab.com/pycqa/flake8/issues/593

[2019-11-11 22:07] sobolevn commented on #973
Related: https://github.com/adamchainz/flake8-comprehensions/pull/187

[2019-11-11 22:07] sobolevn commented on #973
Related: https://github.com/adamchainz/flake8-comprehensions/issues/193

[2019-11-12 09:53] sobolevn commented on #830
Nope.

[2019-11-12 09:53] #830 closed

[2019-11-12 09:54] sobolevn commented on #781
I have tried to implement it. That's too complex.

We also have to assume type of this `.readlines()` call. Which is not what we want.
This issue will be implemented in `typed-linter` later.

[2019-11-12 09:54] #781 closed

[2019-11-12 09:54] sobolevn commented on #683
Not for now.

[2019-11-12 09:54] #683 closed

[2019-11-12 09:55] sobolevn commented on #724
I have removed this task from `0.13`, so @artemiy312 take your time. Do you need any help on this one?

[2019-11-12 09:58] orsinium commented on #566
PyLint uses astroid that has static inference for objects, including inference of possible object types and definition lookup. So, it could be a plugin for PyLint, for example.

[2019-11-12 11:18] #920 closed

[2019-11-12 15:55] sobolevn opened #997 "Enforce `.items()` usage in loops"
# Rule request

## Thesis

When we see a code like this:

[code]

We should raise a refactoring violation. Why?
Because accessing `country_map[...]` in a loop indicates that it is pythonic.

That's how it should be done instead:

[code]

Origin: https://deepsource.io/blog/8-new-python-antipatterns

[2019-11-12 15:57] sobolevn opened #998 "Enforce `.get` with dicts over `in` checks"
# Rule request

## Thesis

When we see a code like:

[code]

We should raise a refactoring violation. That's how it should be:

[code]

The second version is more pythonic.

Origin: https://deepsource.io/blog/8-new-python-antipatterns

[2019-11-12 16:40] AlexisNava commented on #973
@sobolevn I saw the related issues so I will upgrade my dependencies to latest version as it recommended in adamchainz/flake8-comprehensions#193 and try again

Or do you need to make changes?

[2019-11-12 18:05] sobolevn commented on #973
Nope, let's start from this solution. In case it works, can you please send us a pr with the fix?

[2019-11-13 07:04] asottile commented on #519
This has been fixed in both bandit and pyflakes -- bandit has released 1.6.1 containing the fix, pyflakes has not yet released (though upgrading either solves the conflict)

[2019-11-13 08:56] sobolevn commented on #519
We have `bandit>=1.6.2` https://github.com/wemake-services/wemake-python-styleguide/blob/master/poetry.lock#L109

[2019-11-13 13:33] AlwxSin opened #999 "Problem with BooleanPositionalArgumentViolation"
# Bug report

## What's wrong
Some libraries (query builder in my case) have an api like that
[code]
Which raises BooleanPositionalArgumentViolation, because there is a comma, not equal sign.

## How is that should be
Not sure. It's definitely not the best api I've seen. But I can't remove it. And settings `noqa:
WPS425` on every line is ugly.

[2019-11-13 13:33] asottile commented on #519
cool, should be able to close this then

[2019-11-13 14:03] AlwxSin opened #1000 "MultipleContextManagerAssignmentsViolation with several managers"
# Bug report

## What's wrong
This rule was created to forbid `with open('') as first, second:` where it's hard to find from where was `second` variable.

But if I want to use several context managers like that
[code]
I receive MultipleContextManagerAssignmentsViolation.

## How is that should be
MultipleContextManagerAssignmentsViolation should not raise on multiple context managers

[2019-11-13 16:50] AlexisNava commented on #973
@sobolevn The problem persists, I can't see the errors in **VSCode**, but now I can see the result of the command `flake8 --bug-report`

I will only update the following information:
- flake8 information
- pip information

## System Information

### flake8 information

Contents of `flake8 --bug-report`:

[code]

### pip information

Contents of `pip freeze`:

**Note:** I updated the version of the

[2019-11-13 19:43] sobolevn commented on #1000
What is the difference between `with open('') as first, second:` and `with A() as a, B() as b:`?
AFAIK, these two have the same semantics.

[2019-11-13 19:44] sobolevn commented on #519
Done. Thanks! 👍

[2019-11-13 19:45] sobolevn commented on #519
I will reopen to create a regression test for this problem.

[2019-11-13 19:45] sobolevn commented on #999
Is it possible to use `query.set(field_name, value=True)`?

[2019-11-13 19:51] asottile commented on #519
it's going to be difficult to write a test for this as it only will fail pre "ordered dicts" (py36) and 50% of the time (plugin ordering)

[2019-11-13 20:06] AlwxSin commented on #1000
In `with open('') as first, second:` we can't clearly say is `second` comes from `open()` or from something above.
In `with First() as first, Second() as second:` we can see what where comes from.

[2019-11-13 20:10] AlwxSin commented on #999
I guess I can. Ok, thanks.

[2019-11-13 20:10] #999 closed

[2019-11-14 07:53] sobolevn commented on #1000
Ok, fair enough! Do you want to fix it?

[2019-11-14 10:06] AlwxSin commented on #1000
@sobolevn If you can help me and point me where should I look, I will fix it. Thanks.

[2019-11-14 10:23] sobolevn commented on #1000
Code: https://github.com/wemake-services/wemake-python-styleguide/blob/e84e7671aad08a5acc87646f1c86f20cd65ce400/wemake_python_styleguide/visitors/ast/keywords.py#L201
Docs: https://github.com/wemake-services/wemake-python-styleguide/blob/c34a3746c9d9d2879d7914d9230a2215f9ffe40d/wemake_python_styleguide/violations/consistency.py#L661
Tests: https://github.com/wemake-services/wemake-python-styleguid

[2019-11-14 10:32] sobolevn commented on #1000
Ok, on the other hand we have several new problems here:

1. You can now write `with open() as foo, open() as bar:` and you can also write two `with` cases. That's inconsistent.
2. It might be unclear what executes in which order. Is `foo` the first context? Or the second?
3. We will need to write extra complexity rules for `with` in this case. Currently we just decline all code with more than one

[2019-11-14 10:32] #1000 closed

[2019-11-15 10:12] AlwxSin opened #1003 "Question about NestedFunctionViolation"
`NESTED_FUNCTIONS_WHITELIST` contains only `factory` and `decorator`. But how should I name nested functions in parametrized decorator if there is no factory inside?

Code example
[code]

[2019-11-15 10:22] orsinium opened #1004 "Forbid repeating conditions in the one condition block"
# Rule request

## Thesis

In examples below, `x`, `y` and `z` are any Python expressions. For example, `x and x` can be `func(a, b, c=3) and func(a, b, c=3)`.

Bad:

[code]

Good:

[code]

If we're brave enough, we can after this rule care a little bit about conditions simplification:

[code]

## Reasoning

In most of cases it's a logical mistake. Every condition above can be reduced to `x`, `Tru

[2019-11-15 10:30] orsinium opened #1005 "Forbid constant as condition in `if`"
# Rule request

## Thesis

Bad:

[code]

We already have a rule forbidding magic numbers. Also, Pylint checks the unreachable code. It should cover a few cases above, but only a few.

Good:

[code]

## Reasoning

I should say something here, but I'm not sure about the possible reasoning behind it. Is it typo? Fast commenting out the code for debugging?

[2019-11-15 10:34] orsinium opened #1006 "Forbid constants in `while`"
# Rule request

## Thesis

The only constant in `while` condition that makes sense is `True` for the "infinite" loop.

Bad:

[code]

Good:

[code]

## Reasoning

Consistency and fighting typos.

Interesting fact: for Python <=2.7 `while 1` was faster than `while True`. Luckily, it's not the case for Python 3.

[2019-11-15 10:37] orsinium opened #1007 "Warn about possibly infinite `while`"
# Rule request

Check that `while True` block has `raise` or `return`.

**UPD**: and `break` too.

## Thesis

It's OK to not have them for CLI entry point, but in other cases, it can be an error. So, let's ask users explicitly `noqa` such cases to be sure that they really know what they're doing.

## Reasoning

[2019-11-15 11:13] orsinium commented on #973
If you just run `flake8 .` does it work? Does it show the error messages?

[2019-11-15 11:21] orsinium commented on #973
Do you have a flake8 config? Could you show it, please?

[2019-11-15 12:19] orsinium opened #1008 "Forbid inline if-else"
# Rule request

## Thesis

https://pypi.org/project/flake8-if-expr/

Bad:

[code]

Good:

[code]

## Reasoning

It's not so easy to read. Most of the languages have a condition first (`= cond ? true : false`), but Python is different (`true if cond else false`). It's confusing, and the only reasoning behind using such expression is saving lines of code that not a good goal for Python.

## Solution

[2019-11-15 14:28] sobolevn commented on #1008
What about `if` inside comprehensions? They are also inlines.

[2019-11-15 14:28] sobolevn commented on #1007
`break` is also an option. I like this one!

[2019-11-15 14:30] sobolevn commented on #1006
Agree. We can limit nodes that `while` accepts to `NameConstant`, `Call`, `Name`, `Attribute`, `Subscript`. And also check that `NameConstant` is `True`, bot any other value.

[2019-11-15 14:32] sobolevn commented on #1005
It is already supported.

[code]

[2019-11-15 14:32] #1005 closed

[2019-11-15 14:34] sobolevn commented on #1004
It is partially supported right now:

[code]

We need to improve the check for this rule.

[2019-11-15 14:35] sobolevn commented on #1003
I use this notation: the first one is a `factory` (that creates decorators), the second one is the actual `decorator`.

Does it sound ok to you?

[2019-11-15 14:37] sobolevn commented on #1006
Btw, it is also partially supported:

[code]

[2019-11-15 14:57] orsinium commented on #1008
If you about the condition at the end of the comprehension, it's ok. It's a nice way to do filtering. However, when it's as a value, things become even more complicated.

Good:

[code]

bad:

[code]

I'm also not sure about the rule in the issue description, but this example definitely hurts me :eyes:

[2019-11-15 16:25] #1006 closed

[2019-11-15 16:34] sobolevn commented on #998
https://github.com/PyCQA/pylint/blob/master/pylint/checkers/refactoring.py#L224

[2019-11-15 16:37] #1004 closed

[2019-11-15 17:25] sobolevn commented on #953
I have changed this rule a little.

Since I don't like inconsistency I have enforced to write `yield from` when `yield` is used at least two times consecutively. Once is fine, two need to be refactored into `yield from`.

[2019-11-15 18:18] #953 closed

[2019-11-15 20:00] sobolevn commented on #864
This should be joined with https://github.com/wemake-services/wemake-python-styleguide/issues/1008

[2019-11-15 20:02] sobolevn commented on #1008
Ok, let's start with forbidding `IfExp` in comprehensions.

[2019-11-15 20:03] sobolevn commented on #1008
There's no reason to copy the exact same behaviour, if a person wants to forbid this expression, there's an existing plugin for it.

We use general `IfExp` quite often without any problems.

[2019-11-15 20:13] sobolevn commented on #1003
I count this one is solved, please reopen if that's not the case. 👍

Thanks a lot for raising this question!

[2019-11-15 20:13] #1003 closed

[2019-11-15 20:55] #997 closed

[2019-11-15 22:13] #998 closed

[2019-11-15 22:18] AlexisNava commented on #973
@orsinium Sure

## flake8 . Output

[code]

## Flake8 Config

`setup.cfg`

[code]

[2019-11-15 22:39] sobolevn commented on #973
I am pretty sure that this is a vscode / plugin / configuration issue.

It does work for me with no problems.

[2019-11-15 23:14] AlexisNava commented on #973
I only installed the [Python](https://marketplace.visualstudio.com/items?itemName=ms-python.python) extension and I run the linter in every save.

I also have other projects with Flake8 or Pylama and them works fine :disappointed:

[2019-11-15 23:16] sobolevn commented on #973
Does raw `flake8` work for you?

[2019-11-16 10:43] sobolevn commented on #861
The only difference in the implementation is that we don't eval `+`, `-`, etc. Yet.

[2019-11-16 10:47] #861 closed

[2019-11-16 15:34] sobolevn commented on #894
On the other hand: we have quite a lot of `map` calls that violates this rule.
But, I actually like it. More than with comprehensions.
So, let's leave it as is.

[2019-11-16 15:34] #894 closed

[2019-11-16 15:35] sobolevn commented on #888
This will be implemented in `typed-linter`.

[2019-11-16 15:35] #888 closed

[2019-11-16 15:40] sobolevn opened #1009 "Eval math operations"
We need to add a tool to eval pure math and bool operations.

For example, we can check that `1 + 2` is `3` and `"a" * 2` is `"aa"`
We need it because sometimes we restrict to use several datatypes in some places: like `float` in dict keys. But, people can actually write `float` numbers as math expressions: `0.1 + 5 * 10 ^ 2`. We have to parse this information and return result nodes.

Algorithm:

[2019-11-16 16:22] #612 closed

[2019-11-16 19:43] #862 closed

[2019-11-17 16:09] #842 closed

[2019-11-17 19:08] #854 closed

[2019-11-18 10:19] orsinium commented on #1009
Also actual for #739

[2019-11-18 10:21] sobolevn commented on #1009
And #977

[2019-11-18 10:33] orsinium opened #1011 "Enforce stricter slice operations"
# Rule request

## Thesis

The list has a set of methods that duplicates operations that you can do with `+` operator or slices:

[code]

## Reasoning

We have two ways to do something. Let's prefer a more descriptive way.

This issue contains a lot of related cases. Consider splitting it by smaller ones.

[2019-11-18 10:37] orsinium commented on #1011
If you agree and it's implementable, I can later do the same issue for sets, that's also fun.

[2019-11-18 16:54] ragohin commented on #1007
Hi, I've been looking to contribute to this project and would like to try and implement this rule if nobody is on it!

[2019-11-18 17:03] sobolevn commented on #1007
Sure, I would be happy to answer your questions! Thanks!

[2019-11-19 10:23] artemiy312 commented on #724
@sobolevn I'll be able to continue soon. That's what I have to do:
- [ ] implement the collection of assigned variables in lambda and comprehension scopes. It doesn't collect them now, so access to the variables inside the corresponding expression is considered unsafe
- [ ] decompose the `SafeVars` class to reduce the complexity of the code
- [ ] edit the code to pass linters

I have a few questio

[2019-11-19 11:06] sobolevn commented on #724
@artemiy312 thanks a lot! Feel free to ask for help and/or to send WIP PRs so we can discuss them.

[2019-11-19 17:58] sobolevn commented on #519
Can't reproduce.

[2019-11-19 17:58] #519 closed

[2019-11-19 18:03] sobolevn commented on #1011
Let's implement several rules that are not bound to types:

- `items[::-1]` should not be used. Use `reversed` or `.reverse()`
- `items[:]` should not be used. Use `.copy()`
- `items = items[:-1]` should not be used. Use `items.pop()`

@orsinium as always - awesome suggestions! Thanks!

[2019-11-20 03:18] Eric4Jiang commented on #1011
Hi! I would love to contribute and try to resolve this issue if no one else is on it.

[2019-11-20 03:57] andcmps commented on #904
Hello, I'd like to contribute to this project by taking on this issue!

[2019-11-20 05:26] uhbif19 commented on #890
If I understand correctly to add `autopep8` analog in `make lint`, would be equivalent
to adding `black --check .`. For this codebase must be formated with `black` first.

I tried to format codebase with configured `black`, and this leads to huge
changes. Diff stat is: `303 files changed, 6739 insertions(+), 9085 deletions(-)`.

Then I check, if reformated codebase matches flake8 checks.
Here is s

[2019-11-20 08:55] sobolevn commented on #890
That's exactly what we can use in the docs about incompatibilities!

Great job! Thanks a lot. 👍

[2019-11-20 08:56] sobolevn commented on #904
You are more than welcome, @andcmps! Assigned.
Thanks a lot! 👍

[2019-11-20 08:57] sobolevn commented on #1011
Sure, @Eric4Jiang! Thanks a lot! Assigned.

[2019-11-20 11:13] uhbif19 commented on #393
@sobolevn It is not clear to me, what is "dynamic" or "magic" in decorators and properties.

For me "dynamic" as opposite to static, must be something that can increase probability of runtime fails or make their error messages less clear. For example, using `getattr(obj, attr_name)` may lead no opaque or unexpected errors if `attr_name` is comes from somewhere else.

There is no possibility for su

[2019-11-20 11:24] sobolevn commented on #393
Yes, I agree with @uhbif19

I have spent multiple hours thinking and implementing this feature. It is not ready yet, but I hope to release it one day.

[2019-11-20 18:14] sobolevn opened #1017 "Consider adding `pytest-deadfixtures`"
We have a lot of fixtures in this project.

It would be awesome to make sure that we use each of declared ones.
And that we don't have duplicates.

That's where https://github.com/jllorencetti/pytest-deadfixtures can be helpful.

Invokation: https://github.com/wemake-services/wemake-django-template/blob/master/%7B%7Bcookiecutter.project_name%7D%7D/docker/ci.sh#L34

[2019-11-20 19:08] sobolevn commented on #626
All next levels contain all the bonuses from the previous sections.

Silver:

- You will be mentioned in the README
- Link to the private chat with the core developers

Silver:

- You will be mentioned in the README as a silver sponsor
- 10 lists of stickers
- Personal support

Gold:

- 5 unique T-Shirts for your employees
- Your logo will be on our brand T-Shirts (*if you want so and it is allowe

[2019-11-20 19:13] sobolevn commented on #626
Individuals:

- Stickers + link to the private chat

Code contributors:

- Stickers and a T-Shirt (after we will gain at least one Silver sponsor)

[2019-11-21 11:41] slavyanskii opened #1018 "Warning on import not in `VAGUE_IMPORTS_BLACKLIST`"
# Bug report

## What's wrong

WPS347 showing warning on django F and Q imports, but according to [link](https://wemake-python-stylegui.de/en/latest/pages/api/constants.html#wemake_python_styleguide.constants.VAGUE_IMPORTS_BLACKLIST) it's not in black list

## Code example
`from django.db.models import Q, F`

after flakehell: `WPS347: Found vague import that may cause confusion: Q`

### flake8 inf

[2019-11-21 11:51] sobolevn commented on #1018
Thanks a lot for the bug report! @slavyanskii do you want to fix it?

[2019-11-24 13:00] sobolevn commented on #973
Ok, let's mark it as resolved. Feel free to reopen.

[2019-11-24 13:00] #973 closed

[2019-11-24 13:02] sobolevn commented on #871
Opened: https://github.com/peterjc/flake8-rst-docstrings/issues/19

[2019-11-24 13:35] #1018 closed

[2019-11-24 13:38] sobolevn commented on #1018
Done! I have improved the docs for this violation.

[code]

Solutions for your case:

[code]

Related to https://github.com/wemake-services/wemake-python-styleguide/issues/814

[2019-11-24 13:41] sobolevn opened #1019 "Forbid to mix imports types"
# Rule request

## Thesis

When we write code with lot's of imports it is easy to forget to watch for already existing imports. So, we can end up with a situation like this:

[code]

This is error-prone! Because you can write `b.c` and `c` which is the same thing!
Your code will start taking damage from it.

[2019-11-25 09:42] AlwxSin opened #1020 "Unclear documentation about BracketBlankLineViolation"
# Bug report

## What's wrong
Documentation says
[code]

But for me, they are the same pieces of code.

## How is that should be
Don't know, that's why I ask.

[2019-11-25 09:59] #1020 closed

[2019-11-25 09:59] sobolevn commented on #1020
Done! https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/violations/consistency.py#L2038-L2050

[2019-11-25 10:06] AlwxSin opened #1021 "Specific case for ParametersIndentationViolation"
I have a lot of violations fro my pytest fixtures like this one
[code]
It's unclear from doc examples how to fix it. Documentation contains only simple examples.

I suggest adding one complex example like the above one.

[2019-11-25 10:30] sobolevn commented on #1021
[code]

Will please update the docs?

[2019-11-25 11:40] AlwxSin commented on #1021
Of course. #1022

[2019-11-25 12:18] #1021 closed

[2019-11-26 10:38] sobolevn opened #1023 "Consider adding reviewdog to our github action"
Docs:
- https://github.com/reviewdog/reviewdog#github-actions
- https://github.com/marketplace?utf8=%E2%9C%93&query=reviewdog
- Example: https://github.com/marketplace/actions/run-eslint-with-reviewdog

[2019-11-26 12:47] #1023 closed

[2019-11-26 14:14] orsinium opened #1025 "Multiline string indentation"
# Rule request

## Thesis

Flake8 has no opinion about multiline strings at all. Everything in this example is correct:

[code]

And so on.

Let's choose the only option.

## The best option

I vote for the second one:

[code]

Because it matches with braces style by PEP-8:

[code]

## Reasoning

Consistency and readability. Let's not allow to break block indentation in such a rough way.

## Solut

[2019-11-26 14:21] sobolevn commented on #1025
Awesome!

[2019-11-26 14:25] sobolevn commented on #1025
I see two viable cases:
- Single lines in docstrings is ok:

[code]

- In multiline string expressions quotes should be located under each other:

[code]

- Assignment and other usages should match the indentation:

[code]

[2019-11-26 16:18] sobolevn opened #1026 "Mention flake8-annotations"
https://github.com/python-discord/flake8-annotations

[2019-11-26 17:26] orsinium commented on #1025
Docstrings shouldn't be checked in this violation. There are a lot of plugins that do it by a lot more much smarter rules.

[2019-11-26 20:13] sobolevn commented on #1025
@orsinium agreed.

[2019-11-27 01:05] uhbif19 commented on #1019
Do I understand correctly, that this is about forbidding only the imports leading to the same thing represented in two different ways? Is your import example the only one possible, or there can be more complex cases exist?

[2019-11-27 08:18] sobolevn opened #1029 "Update pygments"
We need to update `pygments` to the latest version.
We also need to update `snapshottest` based tests for formatter.
PR: https://github.com/wemake-services/wemake-python-styleguide/pull/1028

[2019-11-27 08:21] sobolevn commented on #1019
Yes

I cannot think about any other cases. It might be worth to check cases like:

[code]

But, I guess it is a different thing.

[2019-11-27 10:35] orsinium opened #1030 "Forbid single if in for loop"
# Rule request

## Thesis

Let's start right from an example:

[code]

'if-else' and if with content before or after are ok:

[code]

## Reasoning

Writing one of the rules for writing readable code is fighting with a lot of indentations. Readable code is flat code, "flat is better than nested" (PEP-20). This is one of the rules how to make code flatter.

See [Should I return from a function early

[2019-11-27 10:40] sobolevn commented on #1030
Thanks a lot! I will think about this one. And inspect our own `if` usage patterns.

[2019-11-27 10:45] orsinium opened #1031 "forbid with in with"
# Rule request

## Thesis

Let's forbid `with` statement inside another one `with` statement:

[code]

It's ok when with isn't the only thing in context, i.e. they have a different scope:

[code]

## Reasoning

The same as in #1030. Let's fight unnecessary indentation.

[2019-11-27 10:51] orsinium opened #1032 "Forbid assignment to a single unused variable"
# Rule request

## Thesis

Flake8 is ok with unused variables when they start from underscore. However, sometimes they are unnecessary, and flake8 won't warn about it.

[code]

## Reasoning

All unnecessary code must be EXTERMINATED.

[2019-11-27 10:55] orsinium opened #1033 "Warn about descriptors not in methods"
# Rule request

## Thesis

Descriptors do magic only as methods. Let's warn about using them for regular functions:

[code]

## Reasoning

In most cases, it's a typo, and that function was intended to be a method.

[2019-11-27 11:00] orsinium opened #1034 "argparse.ArgumentParser must have description"
# Rule request

## Thesis

[code]

## Reasoning

flake8-docstrings enforces docstrings for everything that part of your public interface. CLI is definitely the most important part of the API, and it should have a good description as well.

[2019-11-27 11:45] sobolevn commented on #1033
Agreed!

[2019-11-27 11:46] sobolevn commented on #1032
Already done! Thanks!

[code]

[2019-11-27 11:46] #1032 closed

[2019-11-27 11:48] sobolevn commented on #1031
We already have the opposite rule. We prefer nested `with` over `,`
Why? Because it can be really hard to read. I've seen some shit.

[2019-11-27 11:48] #1031 closed

[2019-11-27 11:54] kxepal commented on #1019
With hypothesis common pattern is
[code]

While you can do `hypothesis.strategies` with a single import, it's too long to write all the time. Does this case violates proposed rule?

[2019-11-27 12:04] orsinium commented on #1032
Ah, something wrong with my environment, sorry. Great.

[2019-11-27 12:25] sobolevn commented on #1019
@kxepal that's a great case! aliases should be allowed.

[2019-11-27 22:01] sobolevn opened #1035 "Wrong section presents in "Violations""
Docs have a wrong section: `annotations`

<img width="642" alt="Снимок экрана 2019-11-28 в 0 55 16" src="https://user-images.githubusercontent.com/4660275/69762178-81d31c80-117a-11ea-9f4a-0a046982c8dc.png">

[2019-11-27 22:01] sobolevn commented on #1035
https://github.com/wemake-services/wemake-python-styleguide/commit/e2b4c029bb0619530b7d89faff788ce1e719ed42

[2019-11-27 22:01] #1035 closed

[2019-11-27 22:06] sobolevn opened #1036 "False positive for WPS504"
# Bug report

## What's wrong

This code produces a false positive violation:

[code]

Output:

[code]

## How is that should be

We don't have an `else` clause here. I cannot switch this condition.
So, when `else` is missing, we should ignore this violation.

## System information

This actually happens on `0.12.5`

[code]

[2019-11-29 16:36] peterjc commented on #871
The ``RST900 Failed to load file: I/O operation on closed file`` problem in https://github.com/peterjc/flake8-rst-docstrings/issues/19 looks to have been triggered by either of the other plugins - once they are updated the error goes away.

[2019-11-29 17:13] sobolevn commented on #871
Thanks a lot, @peterjc!

P.S. `flake8-rst-docstrings` is awesome! 👍

[2019-11-29 17:13] #871 closed

[2019-11-30 07:41] timgates42 opened #1039 "Small typo in docs/pages/usage/integrations/pylint.rst"
# Bug report

## What's wrong

In docs/pages/usage/integrations/pylint.rst has a typo violatons

## How is that should be

Should be violations

[2019-11-30 08:37] #1039 closed

[2019-11-30 08:52] sobolevn commented on #1034
Well, I guess it is too-specific. And it would be hard to check that we cover all possible `ArgumentParser` use-cases. Maybe some `flake8-argparse` would be a better place for this rule?

[2019-11-30 08:52] #1034 closed

[2019-11-30 08:54] sobolevn commented on #1030
It think that

[code]

is also

[code]

[2019-11-30 11:03] sobolevn opened #1041 "Forbid to have negated conditions in ternary expressions"
# Rule request

## Thesis

Currently this code is allowed:

[code]

But it should not be.

## Reasoning

It is not in sync with our `WPS504` rule which forbids to have negated conditions.

Related:
- https://github.com/wemake-services/wemake-python-styleguide/issues/438
- https://github.com/wemake-services/wemake-python-styleguide/issues/1036

[2019-11-30 11:33] sobolevn opened #1042 "False positive for WPS528"
# Bug report

## What's wrong

False positive for `WPS528`. Because we allow to use mutation inside assignment.
And do not require to use `.items()` here.

Code:

[code]

Output:

[code]

[2019-11-30 11:50] GreyZmeem commented on #1036
@sobolevn Should such code also trigger the WPS504 violation?
[code]
If the top `if` contains negation, and at least one of the `elif` does not contain it, then this should also be considered as violation.

[2019-11-30 12:00] GreyZmeem commented on #1036
No, it should not, since we can check for completely different conditions in the elif block.
[code]

[2019-11-30 12:10] sobolevn commented on #1036
Agreed. I don't think we should care about

[code]

[2019-11-30 14:20] #1036 closed

[2019-11-30 14:22] sobolevn commented on #1042
Sorry, this one is an invalid issue. This code should be refactored like so:

[code]

[2019-11-30 14:25] sobolevn commented on #1042
But, this code should not raise a violation:

[code]

All other self-operations should also be fine: `-=`, `*=`, etc

[2019-11-30 15:09] #1042 closed

[2019-11-30 15:10] sobolevn opened #1043 "Update `mypy` version to 0.750"
New release finds some new bugs:

[code]

[2019-11-30 17:33] sobolevn commented on #1026
A great plugin, but it enforces using type annotations. And we don't want to do that.

I guess, that it should be just listed as an awesome plugin that you can install on your own.
Here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/docs/pages/usage/integrations/plugins.rst#plugins

[2019-11-30 18:02] orsinium commented on #1030
Only if `...` means only one line. This issue is about a more common thing, no matter how many lines you have inside.

[2019-11-30 18:10] #1029 closed

[2019-11-30 18:10] #1043 closed

[2019-12-01 13:29] sobolevn opened #1044 "Incorrect message for WPS349"
# Bug report

## What's wrong

Code:

[code]

Output:

[code]

## How is that should be

It should be `WPS349 Found redundant subscript slice`

[2019-12-04 18:02] sobolevn opened #1054 "Detect getters and setters"
# Rule request

## Thesis

We can inspect class and instance methods to find these pattern: if class contains two methods like `get_X` and `set_X` we should raise `UnpythonicGetterSetterViolation`

We should also detect cases like:

- class has instance or class level attribute `x` or `_x` or `__x`
- class has method called `get_x` or `set_x`

It is `oop` violation.

## Reasoning

Because python d

[2019-12-04 19:37] ragohin commented on #1007
Hi there! After perusing through the source code and the tutorial documentation, I was thinking that this rule would best fit in wemake_python_styleguide\visitors\ast\loops.py. Does this seem like a good place to start?

[2019-12-04 22:34] sobolevn commented on #1007
Yes, it does! Do you want to take this one?

Feel free to ask for help! 👍

[2019-12-05 04:33] ragohin commented on #1007
Sorry about the delayed responses on this issue! I'll work on this implementation tomorrow. Thanks!

[2019-12-05 09:17] sobolevn commented on #1030
After noticing our internal usage patters, I can say that we use both ways. And I am not sure how can I formulate this rule to cover all cases.

[2019-12-05 09:19] sobolevn commented on #214
Easy case: `print((a))`

[2019-12-05 14:40] orsinium commented on #1030
Can you adjust your internal patterns? :upside_down_face:

[2019-12-05 14:42] sobolevn commented on #1030
I am still researching it. I guess, it would be easier when rule prototype will be ready.
Currently I have too find them manually.

[2019-12-05 16:26] sobolevn opened #1056 "Eval boolean operations"
We need to eval things we can.

This issue is about working with booleans.
For example: `True and False` is `False`, we can easily find this out.
But, `True and False` is not semantically the same as `False`, because `False` is `ast.NameConst` and `True and False` is `ast.BinOp`

That's why evaluating booleans will give us new potential to find new bugs.

Related: https://github.com/wemake-service

[2019-12-05 19:15] AlwxSin opened #1057 "False positive implicit yield violation"
# Bug report

## What's wrong
With common function to split iterable by chunks WPS raises `ImplicitYieldFromViolation`

[code]

## How is that should be
`ImplicitYieldFromViolation` should be raised only if no other operations with iterable item.

[2019-12-05 20:12] sobolevn commented on #1057
What about

[code]

?

[2019-12-05 20:14] sobolevn commented on #214
Or `return ((a, b, c))`

[2019-12-06 06:47] AlwxSin commented on #1057
Less readable in my taste. But if no other choices I will use it. Thanks.

[2019-12-06 06:57] sobolevn commented on #1057
Thanks for raising this, I guess we need to update the violation docs about this case.

[2019-12-06 20:07] ragohin commented on #1007
I was able to successfully call "make test" without any errors when I first cloned the repo, but after implemented a few changes, I go the following error complaining that "no shebang is present:"

![no_shebang](https://user-images.githubusercontent.com/38593243/70352737-d0974b00-1839-11ea-8e99-4ebe08160c94.JPG)

I thought that this may have been caused by the changed I introduced to the source co

[2019-12-06 20:11] sobolevn commented on #1007
This warning means that you file has executable rights, but does not have a sebang `#!/...` in its source code. And since these files should be executable at all, I guess the problem is inside your machine.

Check file rights with `ls -alh`, they should not have `+x` for all categories.

You can also send me `git status` output, it might help.

[2019-12-06 20:30] miranda-lin commented on #1041
Hi! My friends and I are hoping to contribute to open source as part of a school project, could we try working on this issue?
The others are: @zteoh @achanana @andreaestrada

[2019-12-07 03:24] sobolevn commented on #1041
Awesome! Feel free to any issues you like. But, I recommend to start with these: https://github.com/wemake-services/wemake-python-styleguide/milestone/17

Because they will be merge sooner. Ask any questions you have.
Thanks a lot for your interest 🙂

[2019-12-07 05:26] ragohin commented on #1007
Ah yes, chmod did the trick to fix the file rights. Thanks!

[2019-12-08 05:39] DonaldTsang opened #1059 "Comparison of tools"
So what are the differences between WPS and these other tools, is it possible to add them to the table in the ReadME? If they are supplementary, how so?
- https://github.com/google/yapf
- https://github.com/hhatto/autopep8
- https://github.com/coala/coala

[2019-12-08 05:49] sobolevn commented on #1059
@DonaldTsang well, you have listed a big list of very different tools!

- `yapf` is an autoformatter similar to `black`. It is not supported
- `autopep8` is an autoformatter similar to `black`. However, it is supported. The style it produces is a valid `wemake-python-styleguide` style. See: https://github.com/wemake-services/wemake-python-styleguide/blob/master/Makefile#L7
- `coala` is a wrapper a

[2019-12-08 05:51] DonaldTsang commented on #1059
What is the difference between an autoformatter and a linter? so black, yapf and autopep8 are all things that are meant to be use before/after WPS?

[2019-12-08 06:04] sobolevn commented on #1059
You can read more about auto-formatters and linters here: https://wemake-python-stylegui.de/en/latest/pages/usage/integrations/auto-formatters.html

Short answer: we expect people to use `wps` instead of any auto-formatters.
Because not auto-formatter can refactor your code to be readable and pretty.

- `pyflakes`  is our dependency that defines some basic rules on how to write python code
- `band

[2019-12-08 06:16] DonaldTsang commented on #1059
So the reason why yapf is not supported is that it is too complex, and that black is not supported becasue it is opinionated reagarding double-quotes, removal of trailing commas and extended line lengths?

[2019-12-08 06:20] sobolevn commented on #1059
@DonaldTsang Yes, that's correct.

I haven't used `coala` at all, can you please add a line or two about it to the docs?

[2019-12-08 06:27] DonaldTsang commented on #1059
Quoting https://coala.io/

The documentation website is wonky though.

[2019-12-08 09:46] sobolevn opened #1060 "Linter does not work offline"
Currently I had a problem that I was not able to run `flake8` with `nitpick` while offline.

That's not how it should be. We need to add `--offline` boolean flag to skip `nitpick` check.

[2019-12-08 09:49] sobolevn commented on #1060
As a workaround you can `pip uninstall nitpick` while offline.

[2019-12-08 14:13] DonaldTsang commented on #1059
Counter point form black: Some of the incompatibility can be stomped out by adding parameters:
- Single Quote vs Double Quote https://github.com/psf/black#line-length `--skip-string-normalization`
- Line Length be set to 80 https://github.com/psf/black#line-length `--line-length (and edit config)`
- Trailing Commas https://github.com/psf/black#trailing-commas `(seem to have no solutions?)`

[2019-12-08 14:18] sobolevn commented on #1059
Not really. That's what is discussed here #518 #890
- We enforce `'` when `black` can only ignore string quotes and not convert double quotes to single quotes `"` -> `'`
- Line length in `black` is fluid, please see docs: it equals to `80` +- `10%`

[2019-12-08 14:26] DonaldTsang commented on #1059
Does that mean the original black double-quote standard can just be made compatible with WPS through regex?

It says "Alternatively, use Bugbear's B950 warning instead of E501 and keep the max line length at 80 which you are probably already using" so are they deceiving us with the hard limit?

[2019-12-08 15:04] #1017 closed

[2019-12-08 15:11] DonaldTsang commented on #626
Also I believe we need to get on the POPULARITY roadmap since https://github.com/psf/black is looking too powerful at the moment with 20x the stars (assuming every active user stars, that is 20x the userbase)
Some proposed solution:
- Autoformatting solutions
  - Make black to be compatible with WPS, thus it can ride on the coat-tails of other
  - Make autopep8 the default, and package all WPS wit

[2019-12-08 19:50] andreaestrada commented on #1025
@orsinium Since you said that a lot of other plugins have much smarter rules for this functionality, does that mean you don't want this change? Should this issue be closed or does it still need to be addressed?

[2019-12-08 20:27] sobolevn commented on #1025
Still needs, @andreaestrada. But just not the docstring part.

Only

[code]

vs

[code]

[2019-12-08 22:24] zteoh commented on #1033
@sobolevn Hi, i'm trying to work on this and was wondering where would be the best location to have the test file and the visitor?

So far, I was able to:

1. Create a violation in best practices
[code]

2. Write some logic in the `ModuleMembersVisitor` class in `visitors/ast/complexity/counts.py`
[code]
Thank you so much!

[2019-12-09 00:10] ragohin commented on #1007
I'm a bit confused by the error "WPS214 Found too many methods: 9" error that is printed out when flake8 runs in wemake_python_styleguide\visitors\ast\loops.py. It seems like you've talked about this in a previous issue https://github.com/wemake-services/wemake-python-styleguide/pull/678.

So, do I have to reduce the number of methods that I have added to the WrongLoopVisitor class? I added two fu

[2019-12-09 04:01] ragohin commented on #1007
I created a new pull request just in case you need access to see the specific code I am referring to. Thanks!

[2019-12-09 08:33] #1026 closed

[2019-12-09 13:27] #1044 closed

[2019-12-09 16:31] ragohin commented on #1007
It seem like these functions in  WrongLoopVisitor class are cluttering things up and need to be reused or moved.

![trouble_functions](https://user-images.githubusercontent.com/38593243/70453799-60760880-1a77-11ea-8782-2a6ef14b4513.JPG)

However, I cannot figure out how to change/move them without breaking other things in the code.

[2019-12-09 21:18] sobolevn commented on #1007
Move them to `logic/`

[2019-12-10 01:56] ragohin commented on #1007
Great thanks!

I moved those functions to logic and everything seems to be working, but there is an issue right now with running pytest. The rule, as defined, raises the violation in any "while True:" loop that does not contain a break, return, or raise, but there are instances of these loops in some of the other test files like the one below (wemake-python-styleguide/tests/test_visitors/test_ast/

[2019-12-10 02:40] ragohin commented on #1007
Also, what exactly would an integration test to add to tests/fixtures/noqa.py look like? I'm a bit confused on what I should add here. Like I probably shouldn't just add "while True:" because it might hang forever.

[2019-12-10 07:18] ragohin commented on #1007
I think I figured it out. I removed those lines from test_lambda_in_loop.py because they are actual violations of the infinite loop rule. All of the requirements have been satisfied except for the adding of an integration test in noqa.py because I could not figure out how to include an infinite loop without pytest failing when running this file. I'll submit another pull request right now, but plea

[2019-12-10 10:20] orsinium commented on #626
Most of the rules hard or impossible to fix automatically, unfortunately. When we can, we'll get rid of the developers.

WPS already well-known by the current name, rebranding can only hurt popularity.

I'm not affiliated with the current logo at all but for me, it looks cool: nice, simple, short, specific. However, proposals with a new logo always welcome, why not.

It's nothing more than flake8

[2019-12-10 10:25] orsinium commented on #1025
The rule should check all multiline strings except docstrings. Docstrings are checked by other plugins, multiline strings checked by none of them.

[2019-12-10 10:26] DonaldTsang commented on #626
Black or autopep8?

Fair point, but setting ourselves to beat black in the long run might require some maneuvering

Sounds good, would like to get some designers to join in on the ideas.

Would like to see a place where people can chatter about Python programming and how WPS can help though, that might boost popularity.

[2019-12-10 14:45] DonaldTsang commented on #1059
Also is it possible to modify autopep8 into conforming to WPS standards?

[2019-12-10 15:00] sobolevn commented on #1059
Well, `autopep8` is not "supported". It just can be used together with this tool.

We have lot's of issues that cannot be covered by any auto-formatter, including `black` and `autopep8`. That's why we don't want to focus on them. Because there's no "make this code great" button that can theoretically exist.

If user wants to fix some whitespaces and indentation, that's ok - `autopep8` might be use

[2019-12-10 19:10] sobolevn opened #1068 "Consider using libcst"
We can try it: https://github.com/Instagram/LibCST

This might solve a lot of our problems.
Like:
1. New lines in brackets
2. Brackets around operators (like #385 and #214 and #454)

[2019-12-11 01:27] DonaldTsang commented on #1059
@sobolevn for WPS there are standards that are based on formatting and standards that are based on quality, I would expect that autoformatters fixes all formatting related standards while leaving the quality-related standard for people to handle. Is my expectation correct?

[2019-12-11 01:39] Eric4Jiang commented on #1011
@sobolevn

Hi! Would ```items[::]``` fall into the same category as ```items[:]``` because it can be replaced with ```.copy()```?

[2019-12-11 09:00] sobolevn commented on #1011
Sure!

[2019-12-11 09:11] sobolevn commented on #1059
Not really. The gap between formatting and quality is really thin. For example, fixing some formatting issues might trigger quality rules. And that's how this project is designed.

However, I know what you are talking about. For example, `eslint --fix` works this way. But, it sometimes requires multiple iterations to fix some problems, like:

`{a: 1}` -> `{ "a": 1 }` -> `{ 'a': 1 }`

Not sure that

[2019-12-11 09:23] DonaldTsang commented on #1059
@sobolevn it is worth considering as many shortcuts as possible, in order to save work that is not needed when thinking about semi-trivial code formatting, and instead on "code cleanness" that is actually important.

[2019-12-11 10:18] orsinium opened #1071 "Forbid explicit step in slice"
# Rule request

## Thesis

[code]

Case with `a[::]` will be covered in #1011

## Reasoning

Consistency

[2019-12-11 10:19] orsinium commented on #1011
Hmmm, that gives me an idea for one more rule. I've made #1071. Thank you, @Eric4Jiang!

[2019-12-11 10:56] sobolevn commented on #1068
Example:

[code]

[2019-12-13 18:04] sobolevn opened #1072 "Upgrade poetry to 1.0"

[2019-12-17 13:19] sobolevn commented on #1072
Done!

[2019-12-17 13:19] #1072 closed

[2019-12-17 13:25] sobolevn opened #1076 "Add a link to TooLongTryBodyViolation"
We need to add:

[code]

Exact location: https://github.com/wemake-services/wemake-python-styleguide/blob/e86a12cf396cd537409ec0b46e9a88fda2aa95c4/wemake_python_styleguide/violations/complexity.py#L901-L903
Link to add: https://adamj.eu/tech/2019/10/02/limit-your-try-clauses-in-python/
This article explains our idea pretty well.

Our docs: https://wemake-python-stylegui.de/en/latest/pages/usage/vi

[2019-12-17 13:53] pvldruzhinin commented on #1076
I’d take this issue!

[2019-12-17 13:56] sobolevn commented on #1076
Assigned, thanks a lot!

[2019-12-17 14:18] AlwxSin opened #1077 "OverusedExpressionViolation and TooManyExpressionsViolation"
# Bug report

## What's wrong
What's the difference between these violations? And how they work together?
Also, it's hard to understand options, how should I combine them?
[code]

## How is that should be
Looks like `TooManyExpressionsViolation` doesn't need at all.

[2019-12-17 14:43] sobolevn commented on #1077
Oh, I see.

I guess we have to update the docs for this one. `TooManyExpressionsViolation` is about any expressions, like:

[code]

These are 3 expressions. We don't care about their semantics in this violation.
And we can limit how many expressions there should be in a single function. That's why we use this violation.

But, `OverusedExpressionViolation` is about overusing one particular expressi

[2019-12-17 14:47] AlwxSin commented on #1077
It does make sense. How about specifying that overuse of `same` expression for `OverusedExpressionViolation`?

[2019-12-17 14:51] sobolevn commented on #1077
Yeap 👍

And I guess we can also link them together (with `py:class:`). Because they are quite similar and users might want to read more about the differences and similarities between them.

[2019-12-17 15:26] #1076 closed

[2019-12-17 16:44] kxepal opened #1079 "Missing @sobolevn on RPBM-4"
# Bug report

## What's wrong

During [RPBM-4](https://www.meetup.com/Moscow-Python-Beer-Meetup/events/267247907) preparation we found that @sobolevn is not on the attendees list and is going to miss everything. Literally, everything!

## How is that should be

@sobolevn should manage to get there. The best plan is at first to arrive to Moscow and join us to travel together by the ~green python tr

[2019-12-17 17:26] sobolevn commented on #1079
@kxepal thanks a lot for reaching out! I love our community for these moments!

Sadly, I don't have the resources (both time and money) to make this possible. I have on-going a construction work in my new apartment. It is not going to end soon enough 🙁

I wish you, guys, a happy trip. Thanks again for inviting me! 👍

[2019-12-17 17:26] #1079 closed

[2019-12-18 08:34] sobolevn opened #1080 "Consider playing around with hypothesmith"
https://github.com/Zac-HD/hypothesmith

[2019-12-18 08:34] sobolevn commented on #1080
Related: https://github.com/gforcada/flake8-builtins/pull/46/files

[2019-12-18 08:39] #746 closed

[2019-12-18 10:55] #1080 closed

[2019-12-18 13:37] sobolevn opened #1081 "Raw strings vs regular strings"
One can use both `r'abc'` and `'abc'` to represent a simple string.
But, `r` strings are only required when dealing with `\` in your strings.
So, the rule is: if there's no `\` in your string, then do not use `r`

[2019-12-18 14:05] zzzsochi commented on #1079
:-(  Ochen' zhal'.

[2019-12-18 14:13] ManishAradwad commented on #1077
I got these violations but I didn't get why do we need them...
I mean what could go wrong if we use too many expressions in a function or use single function too many times??

[2019-12-18 14:39] sobolevn commented on #1077
Your functions will grow too big. And you will fail to understand them.
Smaller functions = better composition and better readability.
See: https://sobolevn.me/2019/10/complexity-waterfall

Expressions overuse on the other hand indicate, that you are repeating some important thing without proper abstraction. That's how `my_list[0][1]` becomes `username =` and `obj.find('.key', 1)` becomes `button

[2019-12-18 22:41] memery-imb commented on #1080
This looks great!

[2019-12-19 09:28] sobolevn commented on #1081
This is an inverse rule to `WPS342`

[2019-12-19 18:35] sobolevn opened #1082 "Forbid to use `continue` in `finally`"
# Rule request

## Thesis

This code is now allowed:

[code]

Why would you do that?
Putting any control statements in `finally` is a terrible practice.
We should not allow it.

It was added in `python3.8`: https://www.python.org/downloads/release/python-381/

[2019-12-19 18:55] sobolevn opened #1083 "Forbid to use methods without arguments"
# Rule request

## Thesis

You can write this code:

[code]

This indicates a design problem:
- It can be a `@property`
- It can be a class-level variable / constant
- It can be an instance level variable

So, the rule is: when we see a method without `@property` decorator with zero argument (we do not count `self`, `cls`, and `mcs` here) - we raise a violation.

It is related to `oop` group.

[2019-12-19 18:56] sobolevn commented on #1083
Related: https://docs.quantifiedcode.com/python-anti-patterns/correctness/method_has_no_argument.html

[2019-12-19 18:58] sobolevn opened #1084 "Enforce `defaultdict` usage"
# Rule request

## Thesis

Currently one can write this code:

[code]

It is an anti-pattern.
One should instead use `defaultdict`:

[code]

Related: https://docs.quantifiedcode.com/python-anti-patterns/correctness/not_using_defaultdict.html

This belong to refactoring group.

[2019-12-19 19:04] sobolevn opened #1085 "Enforce using `.setdefault()`"
# Rule request

## Thesis

One can write this code:

[code]

But, it is an anti-pattern. Instead one should write:

[code]

Related: https://docs.quantifiedcode.com/python-anti-patterns/correctness/not_using_setdefault_to_initialize_a_dictionary.html

This is a refactoring rule.

[2019-12-19 19:09] sobolevn opened #1086 "Create pull-requests to python-anti-patterns with links to our docs"
We need to find all violations that we do cover with this project and send PSs with the links to our docs from the problem's page.

Website: https://docs.quantifiedcode.com/python-anti-patterns
Repo: https://github.com/quantifiedcode/python-anti-patterns

Like here, under "References" heading:
<img width="769" alt="Снимок экрана 2019-12-19 в 22 10 23" src="https://user-images.githubusercontent.com

[2019-12-20 11:12] orsinium opened #1088 "Reserve names on PyPI"
Names `wps` and `wemake` are free on PyPI. Probably, it's a good idea to reserve them by dummy packages that does nothing except printing "probably, you mean wemake-python-styleguide" when you tries to install them.

## Motivation

Users are often referer to wemake-python-styleguide as `wemake` or just `wps` (because now it's the official error code). So, squatting of those names by someone else c

[2019-12-24 11:17] sobolevn commented on #626
Good examples: https://opencollective.com/browserslist and https://opencollective.com/postcss/

[2019-12-24 11:31] AlwxSin commented on #1057
@sobolevn there is still a bug.
`Python does not support 'yield from' inside async functions`

[2019-12-24 11:32] sobolevn commented on #1057
Yes, that's true.

[2019-12-24 11:33] sobolevn commented on #1057
This rule should be ignored for `async` functions.

Can you please add a check that `if isinstance(get_context(node), ast.AsyncFunctionDef): return`?

[2019-12-24 11:37] AlwxSin commented on #1057
Of course, I'll do it.

[2019-12-24 12:37] #1057 closed

[2019-12-24 15:27] AlwxSin opened #1092 "Forbid import clash"
# Rule request

## Thesis
Currently one can write code with import clashes
[code]

It can lead to bugs which hard to find due to no one looks at imports closely.

## Reasoning
Currently nor flake8 nor isort can't find clashed imports.

[2019-12-24 15:28] AlwxSin commented on #1083
Disagree. There is a lot of examples how to use methods without arguments.
[code]

[2019-12-24 15:31] sobolevn commented on #1092
Thanks! Related to #1019

[2019-12-24 15:33] sobolevn commented on #1083
Yeap, I agree with you. There are multiple valid cases when methods without arguments are a good thing: life-cylce hooks, fabrics, iterators, convertors, etc.

[2019-12-24 15:33] #1083 closed

[2019-12-26 17:01] n1kolasM opened #1093 "flake8 versions prior 3.7.8 fails to process nested classes whitelist option"
# Bug report
## What's wrong
Option processing in flake8 versions prior 3.7.8 differs from later option processing, and defaults of nested class whitelist options break flake8 at startup.

I bisected this problem to flake8 commit fb7e9338cd06760a2f9096f976f0e246fc36a09e, when changes in flake8/utils.py function parse_comma_separated_list were made.

To solve this problem either minimal flake8 vers

[2019-12-27 19:26] #1093 closed

[2019-12-28 22:21] sobolevn opened #1095 "Docs about flakehell baseline are misleading"
# Bug report

## What's wrong

Docs about `flakehell` misses the configuration part for `pyproject.toml` as stated in https://github.com/cherrypy/cheroot/issues/253#issuecomment-569452946

Problematic page: https://wemake-python-stylegui.de/en/latest/pages/usage/integrations/flakehell.html

It misses `[tool.flakehell.plugins]` part.

## How is that should be

We need to fix that: our docs should h

[2019-12-28 22:23] sobolevn commented on #1095
CC @orsinium

[2019-12-28 22:31] sobolevn opened #1096 "Add `--local-partial-types` to the set of required mypy settings"
We need to add it here:
1. https://github.com/wemake-services/wemake-python-styleguide/blob/master/setup.cfg#L108
2. https://github.com/wemake-services/wemake-python-styleguide/blob/master/styles/mypy.toml#L2

Related: https://github.com/python/mypy/pull/8201/files

[2019-12-29 17:24] DonaldTsang commented on #890
According to @ferdnyc at https://github.com/psf/black/issues/1196#issuecomment-569524732

[2019-12-29 18:22] sobolevn commented on #890
@DonaldTsang thanks! Are you willing to send a PR with the fix?

[2019-12-29 19:14] DonaldTsang commented on #890
I would love to edit the text to reflect what the people have said regarding the attempt to make black compatible with WPS.

Also another note:

[2019-12-29 22:38] sobolevn commented on #890
Awesome, thanks!

[2019-12-30 11:14] orsinium commented on #1095
I think the best option is to make default flakehell config in [styles](https://github.com/wemake-services/wemake-python-styleguide/tree/master/styles) and use it as [base config](https://flakehell.readthedocs.io/config.html#base):

[code]

The motivation is wemake has a lot of dependent plugins that have to be explicitly specified for flakehell:

[code]

[2019-12-30 11:15] orsinium commented on #1095
To make base config url nicer, you can use redirect page: `https://wemake-python-stylegui.de/flakehell.toml`

[2019-12-30 13:37] webknjaz commented on #1095
@orsinium I'm pretty sure RTD can't do native HTTP redirects.

[2019-12-30 14:45] orsinium commented on #1095
If I understand correctly, `wemake-python-stylegui.de` uses CloudFlare as a proxy. So, the redirect can be set up there.

[2019-12-30 14:47] orsinium commented on #1095
Oh, and RTD can do redirects as well: `https://readthedocs.org/dashboard/PROJECT_NAME/redirects/`

[2019-12-30 14:48] webknjaz commented on #1095
RTD itself uses CloudFlare and this is how you saw their name in the TLS certificate. There's no controls for it.

[2019-12-30 14:49] webknjaz commented on #1095
Oh, TIL.

[2019-12-30 16:29] orsinium opened #1097 "FlakeHell is not only for legacy"
# Documentation improvement

Some users come to the conclusion that flakehell is a wrapper to make baseline for flake8:

https://github.com/life4/flakehell/issues/34#issuecomment-569723359

However, that's not totally true. It has a different way to configure plugins that makes it not totally compatible with flake8. Wemake docs confuse people that want only one particular feature from it without a

[2019-12-31 18:00] sobolevn commented on #1097
Thanks, I agree!

Also related:
- https://gitlab.com/pycqa/flake8/issues/602
- https://gitlab.com/pycqa/flake8/issues/601

[2020-01-03 16:04] freak-js opened #1098 "Lack of support for the walrus operator."
Here is an example of the error that the linter points to:

`E701  multiple statements on one line (colon)
  if distributor_id := validate_id(request.POST.get('distributor_id')):
`

If this is not a bug, but a feature, then please correct me (I just started using your linter).

[2020-01-04 11:45] sobolevn commented on #1098
@freak-js thanks a lot for this bug report! Currently we do not support `python3.8` at all. Because we need to upgrade multiple dependencies and fix a lot of stuff inside. You can track these issues:
- https://github.com/wemake-services/wemake-python-styleguide/milestone/10

By the way, using walrus operator will be not allowed in `0.14`, see:
- #34

I am closing this one, however, feel free to as

[2020-01-04 11:45] #1098 closed

[2020-01-04 11:49] sobolevn commented on #1030
We use it quite a lot. And sometimes `if` is better than `if not` + `continue`. So, I am going to gently reject this rule.

Thanks a lot for your idea!

[2020-01-04 11:49] #1030 closed

[2020-01-04 11:50] sobolevn commented on #1097
Related #1095

[2020-01-06 00:40] sponsfreixes opened #1099 "WPS332 Found implicit ternary expression on boolean expression"
After reading https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.html#wemake_python_styleguide.violations.consistency.ImplicitTernaryViolation, I don't understand why the following code:
[code]
triggers WPS332. The closest related issue I could find is https://github.com/wemake-services/wemake-python-styleguide/issues/604. On that example, it is clear that it's a ternar

[2020-01-06 23:09] sponsfreixes commented on #1099
I've been thinking a bit more about it, and found about example. It feels incorrect that:
[code]
raises WPS332 but
[code]
is OK.

On both cases we are just applying basic boolean operands.  Having 3 terms raises that error but having more than 3 does not.

[2020-01-07 10:24] sobolevn commented on #1099
This is a bug. This code should not raise any violations:

[code]

We must check that our potential "implicit ternary expression" is not inside `if` condition.

Are you willing to fix it? Should be rather simple!

[2020-01-07 15:10] orsinium opened #1101 "Forbid collection creation with unpacking without more arguments"
# Rule request

## Thesis

[code]

Same for `set` and `tuple`.

## Reasoning

Consistency :eyes:

[2020-01-08 11:38] sobolevn commented on #1101
Great idea!

[2020-01-08 23:33] sponsfreixes commented on #1099
I'll give it a try on the following weeks!

[2020-01-09 10:00] sobolevn commented on #1099
Awesome, thanks!

[2020-01-11 14:37] Dreamsorcerer commented on #899
Shouldn't this rule require that a variable has been defined somewhere?

e.g. There should be an `_ = ..` or `def f(_):` line somewhere before you label this as an unused variable?

I'm using gettext.install(), so `_` is never defined in my code, it's installed into the builtins. Therefore I see no reason it should be telling me that this variable has been marked as unused.

[2020-01-11 14:50] skarzi opened #1103 "move some constants to optional configuration options"
hi :wave:

I am using `wemake-python-styleguide` in several types of python's projects and some of them are built using framework e.g scrapy. Such frameworks and sometimes also domain language force developers to use some names that are forbidden by few `wemake-python-styleguide` violations, e.g [WPS110](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/naming.html#wemake_python_s

[2020-01-11 15:08] Dreamsorcerer opened #1104 "WPS245 on single argument functions"
It would be a good addition to WPS245 if it was able to ignore functions which take only one argument. If you are able to inspect the actual function, then only ignore when the argument is mandatory.

In many cases these arguments are self-explanatory, for example: `set_sensitive(False)`
This looks a bit silly to me when it's rewritten as: `set_sensitive(sensitive=False)`

[2020-01-11 16:30] sobolevn commented on #1104
I agree, let's do it. Are you interested in providing a fix?

[2020-01-11 16:33] sobolevn commented on #1103
Hi, @skarzi! Thanks a lot for your feedback.

I currently do not want to make this configurable, because it will allow to mostly disable this check. And I have spent years on figuring out on what to put there.

Can you please be more specific? What names are conflicting with scrapy?

[2020-01-11 16:34] sobolevn commented on #899
No, we do not require `_` to be defined anywhere.

[2020-01-11 16:57] skarzi commented on #1103
that's true, however I think we can assume that developers know what they are doing.
This option will be used really rarely, but can be useful in some cases.

In `scrapy` it's popular to use name `item` (for instances of [`scrapy.item.Item`](https://docs.scrapy.org/en/latest/topics/items.html#scrapy.item.Item) class)  and few methods that developers sometimes override take parameter with such name

[2020-01-11 19:21] sobolevn commented on #1103
How about `allowed-domain-names=['item', 'handle']`? This will remove several names from the list. The name will show that it should only be changed when the domain tells you so.

And in contrast we can add `forbidden-domain-names` that will be added to the list. Like sometimes you cannot name your variable as `index`, you have to use `zip` or something like this. I am not sure about this part, th

[2020-01-11 21:21] Dreamsorcerer commented on #899
I realise that's how it works now. But, it would resolve this issue if it ignored undefined variables (which get caught be a different rule, and get whitelisted with the builtins config option).

If a variable name `_` is not assigned anywhere or named as a parameter, then it's clearly not indicating an unused variable. If it has been imported from a module, or installed as a builtin, then it is e

[2020-01-11 23:01] skarzi commented on #1103
sounds great!
Can I prepare PR with this features?

[2020-01-12 09:38] sobolevn commented on #1103
Sure! Thanks!

[2020-01-12 19:03] sponsfreixes commented on #1099
I've been thinking about the right way of telling if an expression is used as ternary expression or boolean logic. Only checking for an `if` would mean that this is correct:
[code]

But this would we marked as incorrect:
[code]
(Parenthesis added on both examples just to emphasize the order of operations, they are actually not needed)

The second example seems to me more readable on some cases, as

[2020-01-13 13:21] orsinium commented on #899
I agree with @Dreamsorcerer. We can forbid to define this variable (as a function argument or assignment) but allow us to use it when it is an import name or import alias. I've seen underscore usage as import name by-design in a lot of libs: short lambdas, pattern matching, strings wrapping. I don't think it's a good idea in the first place (because there are too many such libs, we can have name c

[2020-01-13 14:12] sobolevn commented on #899
Oh, I see. Let's reopen it. I agree: using `_` is not a problem (because sadly that's how a lot of python developers force us to do), but defining `_` is a bad idea!

[2020-01-14 10:12] orsinium commented on #899
Is it a bad construction?

[code]

Well, `_` can be replaced by `_sep` but I'm not sure is it ok or not to force users to do it.

[2020-01-14 10:55] sobolevn commented on #899
yes, `_sep` is better, because it has context. In case you will need this variable your refactoring will look like `_sep -> sep`: it is clear and easy. On the other hand, `_ -> sep` requires you to know what is inside `_` which is an extra cognitive load.

[2020-01-16 00:30] ElPapi42 opened #1108 "WPS412: Flask App Factory Pattern Incompatibility"
# Rule request

## Thesis

Change WPS412 to accept logic inside __init__.py files.

## Reasoning

Flask App Factory Pattern depend on the main package __init_.py for define the create_app() function, this is the natural location for this type of logic. Check [this](https://github.com/ElPapi42/WeMakeServices-Test/blob/master/application/__init__.py) example Flask project's __init__.py

Maybe this c

[2020-01-16 00:31] ElPapi42 commented on #1108
If my reasoning is not good enough, feedback will be appreciated, thanks!

[2020-01-16 00:37] ElPapi42 commented on #1108
I can can metion [this](https://hackersandslackers.com/flask-application-factory/) Flask Mega-Tutorial as reference and backup for my suggestion.

[2020-01-16 09:33] AlwxSin opened #1109 "WPS425 boolean non-keyword argument clashes with setdefault"
# Bug report

## What's wrong
[code]

## How is that should be
Not sure. Maybe there should be a whitelist of allowed methods/functions?

## System information
Python 3.7.4
### flake8 information

Contents of `flake8 --bug-report`:
<details>
  <summary>flake info</summary>

[code]

</details>

Related #1085

[2020-01-16 09:39] sobolevn commented on #1109
My recommendation is just to ignore (`noqa`) this case.

[2020-01-16 09:40] sobolevn commented on #1108
Why not `application/app.py`?

[2020-01-16 09:45] AlwxSin commented on #1109
I can't agree with that. Ignoring is an option if I have choices. Python linter should not violate python api itself if this api is allowed.

[2020-01-16 13:24] webknjaz opened #1110 "Check if `with pytest.raises()` CM block has exactly one statement inside"
# Rule request

I want a rule that prevents users from writing potentially incorrect tests.

## Thesis

This is what I have in mind.

Correct use:
[code]

Potentially problematic use:
[code]

## Reasoning

This would prevent silly mistakes in tests.

P.S. I'm not sure if this is the right place to request such linter but I wanted to document this idea somewhere because it comes up in code reviews

[2020-01-16 13:59] ElPapi42 commented on #1108
@sobolevn that sounds legit, but dont cover the other case, reduce boilerplate when importing libraries

[2020-01-16 15:16] sobolevn commented on #1108
In our rules `__init__.py` only solves the compatibility issues. That's why it is configured via `--i-dont-control-code` setting.

And namespaces are always a great idea! We need more of those!

[2020-01-16 17:48] ElPapi42 commented on #1108
Got it @sobolevn. can you give me some insights or recommendations about how i can refactor my code?

Go for the application.<blueprint-name>.bluepirnt.py for init the blueprint related stuff?

In other python applications, should i keep the __init__.py for expose the subpackage internals more directly to the namespace?

Just looking for a clear path to resolve this, thanks in advance!

[2020-01-16 20:52] sobolevn commented on #1108
Just rename your `__init__.py` to `blueprint.py` (or whatever suits you best) and create a new empty `__init__.py`

Does this solve your problem?

[2020-01-16 20:57] ElPapi42 commented on #1108
just one last question: What i must do with the imports in the __init__.py:

1) get rid of them and let the imports be:
[code]
2) Keep the imports and do:
[code]
In the last case, WPS will still mark unused imports warning.

What approach you recommend to me?

Thanks for your time, sorry for pick it up a bit.

[2020-01-17 09:13] sobolevn commented on #1108
I always keeps imports out of `__init__.py` - it allows to match files and modules as 1-to-1 entities.
Helpful and readable!

[2020-01-17 10:08] sobolevn commented on #1097
Let's unify it with https://github.com/wemake-services/wemake-python-styleguide/issues/1095

[2020-01-17 10:08] #1097 closed

[2020-01-17 10:09] sobolevn commented on #1108
I am going to close this as solved, if you have any other questions - please, feel free to ask!
You can reopen this one or create new issues if you have other questions.

[2020-01-17 10:09] #1108 closed

[2020-01-17 22:21] skarzi commented on #1104
Can I prepare PR for this issue?

[2020-01-17 23:02] sobolevn commented on #1104
Sure, @skarzi! Thanks a lot!

[2020-01-18 10:47] sobolevn opened #1111 "Forbid to use \r in line breaks"
# Rule request

## Thesis

Forbid to use `\r` in your line breaks.

Related:
https://github.com/openstack/hacking/blob/master/hacking/checks/other.py#L23-L34

## Reasoning

It is hard to catch and requires special tools for it.

[2020-01-18 13:05] sobolevn commented on #1099
This will involve type inference. And it goes against our rules. So, it is not an option.

How about disabling this rule at all? We can do it in `0.14` release.
I realise that I don't like it at all. It was just a blind port from `pylint` which is not really helpful.

[2020-01-18 13:06] sobolevn commented on #1077
@AlwxSin do you want to fix the docs for this one?

[2020-01-18 13:10] sobolevn opened #1112 "Change the main screenshot"
It should cover one style and one semantic issue.
Currently a lot of people believe that we are focused on providing style-linting as our main feature.

[2020-01-18 13:14] sobolevn commented on #1110
Thanks, @webknjaz! This is a good idea.

The same also applies to `with suppress():` from `functools`. This will be covered with `typed-linter` soon. Because currently we don't like the idea to base on names, not types.

We try not to include any package specific checks inside this project. It is better to support this feature in https://github.com/m-burst/flake8-pytest-style

I have opened a new

[2020-01-18 13:14] #1110 closed

[2020-01-18 13:20] sobolevn commented on #1088
Done!

1. https://pypi.org/project/wps/
2. https://pypi.org/project/wemake/

[2020-01-18 13:20] #1088 closed

[2020-01-18 13:43] sobolevn opened #1113 "Split WPS436 into two rules"
We need to split `WPS436` into two separate violations. Let's see two examples:

[code]

and

[code]

The first one import from some protected module. Which is ok in some cases like: `pip`, `deal`, and `stories`. When we develop some package we can import from protected modules and packages, that's fine.

But, we can never import protected things! Protected objects, functions, classes, etc should

[2020-01-18 13:59] #1112 closed

[2020-01-18 14:00] sobolevn commented on #1109
This will be fixed in `typed-linter` one day.

[2020-01-18 14:00] #1109 closed

[2020-01-18 17:00] #1104 closed

[2020-01-18 18:26] sponsfreixes commented on #1099
I'm fine with disabling the rule. I see value on it, but I think it's too context specific to be able to detect it properly.

Should I make a PR removing it then?

[2020-01-18 19:09] sobolevn commented on #1099
Yes, we can merge it into `0.14`
Thanks a lot!

[2020-01-18 21:27] sponsfreixes commented on #1099
What would be the right way to disable an existing rule? I've checked on the docs, including the [Visitors API](https://wemake-python-stylegui.de/en/latest/pages/api/visitors.html) and the [Violations API](https://wemake-python-stylegui.de/en/latest/pages/api/violations.html) if there was a way to mark a violation as disabled, but didn't see anything.

My understanding is that I shouldn't just del

[2020-01-18 22:24] sobolevn commented on #1099
Just delete the code and tests, that's it.

[2020-01-19 09:05] skarzi commented on #1113
Can I take it?

[2020-01-19 09:35] sobolevn commented on #1113
Sure! Thanks a lot! It will be merged into `0.14`

[2020-01-19 09:50] skarzi commented on #1113
How imports like `import _pytest` should be handled?
Such case is quite tricky because it both imports protected module and loads object with protected name to globals.
Do such cases should raise `ProtectedModuleViolation`, this new violations (let's say `ProtectedModuleMemberViolation`) or both violations?

[2020-01-19 10:09] #1095 closed

[2020-01-19 10:11] sobolevn commented on #1113
It should not be allowed as "importing from protected path" or `ProtectedModuleViolation`

[2020-01-19 10:28] #1077 closed

[2020-01-19 14:34] Dreamsorcerer opened #1115 "Multiple excepts raising 440/441"
Not sure these violations seem correct to me. With code such as:

[code]

This throws WPS440 and WPS441.

Not sure why this is considered a block variables overlap, when only one of these blocks will be run, and the variable is referencing the local block variable.

WPS441 also looks wrong as the variable is not used after the block as it claims, but only within the block that defined it.

[2020-01-19 14:41] Dreamsorcerer opened #1116 "WPS331 doesn't make sense if additional work needs to be done"
I get a WPS331 error with code like this:

[code]

Until the assignment is completed successfully, I don't know if the API details are correct. Therefore, they need to be saved after the assignment, but before the return.

I'd propose to avoid this rule if there are additional statements between the assignment and the return.

[2020-01-19 15:17] sobolevn commented on #1115
Can you please post the exact messages?

[2020-01-19 15:18] sobolevn commented on #1116
Yes, you are correct. This is a bug. Thanks!

[2020-01-19 17:07] Dreamsorcerer commented on #1115
[code]

[2020-01-19 17:07] Dreamsorcerer commented on #1115
Lines 79-86:
[code]

[2020-01-20 00:31] sponsfreixes commented on #1099
I tried that, but it makes `test_no_holes` fail. If I understand the test correctly, it checks that the error codes are contiguous, with "no holes". So if 332 is missing between 331 and 333, it fails.

What do you thing of adding somewhere a list of deprecated codes that have been removed from the codebase, and `test_no_holes` uses this information to ignore these codes?

All the other tests pass.

[2020-01-20 10:23] sobolevn commented on #1099
Yes, this is a good idea. I am pretty sure that we would need that in the future.

[2020-01-20 19:19] mwchase opened #1117 "WPS501 is too strict when defining context managers"
# Bug report

## What's wrong

Simple usage of `@contextlib.contextmanager`decorator leads to WPS501. Example:

[code]

flake8 output for this generates the following on the line with the `try:` statement.

[code]

There's no particular logic that would be needed in case of an error, except that cleanup must be performed.

## How is that should be

The check should be relaxed in the definition of

[2020-01-20 20:36] sobolevn commented on #1117
Yes, I agree.

But, we cannot be sure about what happens inside the decorator. So, we should exclude all decorated functions from this check.

[2020-01-20 20:43] sobolevn commented on #1117
@mwchase do you want to take this over?

[2020-01-22 19:24] sobolevn opened #1119 "Consider removing `radon` and changing complexity related rules"
When we added `cognitive-complexity` have made our code so much better!

But, now we don't actually see any other CC-based warnings at all.
Why does it happen?

Because `cognitive-complexity` is stricter than cyclomatic complexity.

So, I would like to research: is it possible to remove `radon` and reconfigure `mccabe` for better checks?

[2020-01-22 19:57] sponsfreixes opened #1120 "Rule 442 conflicts with pytest fixtures usage"
When using [pytest fixtures](https://docs.pytest.org/en/latest/fixture.html), you are supposed to just declare them as input arguments, and they will be automagically loaded. For example:

[code]

This will violate rule 442, which is not desired in this case.

One could argue that fixtures should live on a different file than tests, but you run on the same issue if you have fixtures dependent on o

[2020-01-22 22:40] sobolevn commented on #1120
Yes, this is true.

I usually disable this check for all `conftest.py` files.
Could you please send a PR with the doc fix?

[2020-01-24 13:45] memery-imb commented on #1109
This isn't worth opening a new Issue, but I found similar behavior when appending booleans to a list, like: `a_list.append(True)`. Using the keyword argument `object` causes an error. If anyone finds this comment and doesn't want to use noqa, you can use `a_list.extend([True])` as a workaround.

[2020-01-24 13:54] sobolevn commented on #1109
We are going to allow one-argument booleans in the next release: https://github.com/wemake-services/wemake-python-styleguide/pull/1114

[2020-01-24 13:58] memery-imb commented on #1109
Wonderful!

[2020-01-24 14:39] sobolevn opened #1121 "Make abstract classes abstract"
There are several classes that are not marked as `abstract`. But, they should be!

Like:
- https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/base.py
- https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/violations/base.py

We need to import `abc` and use `metaclass=ABCMeta` for all of them.

[2020-01-25 12:22] skarzi commented on #1121
I can take it.

We just need to establish how mark class attribute as an abstract:

+ leave it as it is, so:

[code]

+ use `abc.abstractmethod` and `property` decorators:

[code]

   however then exceptions can be misleading: `TypeError: Can't instantiate abstract class
   TestViolation with abstract methods error_template`

+ prepare some custom metaclass or `__init_subclass__` implementation to

[2020-01-25 12:40] skarzi commented on #1101
Can I take it?

[2020-01-25 15:33] sobolevn commented on #1121
I think that just making classes abstract is good enough. Thanks a lot for your help!

[2020-01-25 15:34] sobolevn commented on #1101
Yes, sure! Let's schedule it after #1121 👍

[2020-01-26 02:59] sponsfreixes commented on #1120
Will do!

[2020-01-26 03:01] sponsfreixes commented on #1099
I almost have it, except for one thing. Are we OK on ignoring rule 442 on our `conftest.py` files? See discussion on https://github.com/wemake-services/wemake-python-styleguide/issues/1120 for context. I am currently infringing it because of a chain of fixtures.

I can add that configuration to my PR

[2020-01-26 09:29] #1121 closed

[2020-01-26 09:29] sobolevn commented on #1099
Yes, we are ok with it 👍

[2020-01-26 12:17] #1113 closed

[2020-01-26 12:18] #1103 closed

[2020-01-26 12:48] theLastOfCats commented on #1096
I'll take it

[2020-01-26 13:01] #1096 closed

[2020-01-26 14:57] #1101 closed

[2020-01-26 19:41] sobolevn opened #1125 "Add `__call__` to list of methods that should be on top"
I guess that the order should be the following:

- `__new__`
- `__init__`
- `__call__`

Things to edit:
1. https://github.com/wemake-services/wemake-python-styleguide/blob/06e94265bc27263b87d58a640a08435bae96d47c/wemake_python_styleguide/violations/consistency.py#L1516
2. https://github.com/wemake-services/wemake-python-styleguide/blob/e84e7671aad08a5acc87646f1c86f20cd65ce400/wemake_python_stylegu

[2020-01-26 20:08] skarzi commented on #1071
I would like to prepare some PR adding visitor and violation for that, but after doing quick experiments, I concluded that for 1st and 2nd case the AST looks identical (I have checked it on python 3.7.4), so probably the only way to implement this violation is to use `BaseTokenVisitor`, which can be quite complicated, however if you agree, I can give it a try :)

Also I am not sure about the last

[2020-01-26 20:10] skarzi commented on #1019
Can I prepare PR for this issue?

[2020-01-26 20:24] skarzi commented on #1060
Shouldn't such option be added to `nitpick` instead of `wemake-python-styleguide`?
`nitpick` is, after all, a flake plugin.

[2020-01-26 20:26] skarzi commented on #1060
Ohh, I have checked `nitpick` PRs and feature is in progress - https://github.com/andreoliwa/nitpick/pull/129

[2020-01-26 21:25] sobolevn commented on #1019
Yes, please!

[2020-01-26 23:13] #1099 closed

[2020-01-27 12:40] orsinium commented on #1071
Let's for the beginning cover remaining cases. It's better than nothing.

So, why could we want to use `[::]` on it if it is immutable? Also, you can always use `copy.copy` function for custom collections (than does nothing for tuples as well, btw).

As you said, we can't say the difference between `a[:]` and `a[::]`. So we can't suggest using one instead of others.

[2020-01-27 13:13] skarzi commented on #1071
True, it doesn't make much sense when we are talking about immutable objects, I just wanted to give some example that `.copy()` is not a good solution, however I agree that `copy.copy()` is.

If we decide to write token visitor instead of AST, it will be possible to distinguish cases like 1st and 2nd ones, but I need to do some research and experiments to fully confirm that.

[2020-01-27 13:25] sobolevn commented on #1071
In case we cannot work with `[::]` and `[:]` even with tokens, then we can wait for `0.15` with `libcst` support.

[2020-01-27 22:44] gillesigot commented on #1125
May I take it?

[2020-01-28 07:49] sobolevn commented on #1125
Sure! Thanks a lot!

[2020-01-28 20:26] sobolevn opened #1127 "False positive for WPS226 with string types"
I get this error when checking `returns` source code:

[code]

It is really ugly that our linter checks string types as constants.
They should be excluded from the check.

There's nothing I can do about them.

[2020-01-28 21:39] sobolevn opened #1128 "Make `WPS113` respect `i_control_code` setting, again"
I made a terribly wrong decision in #951 and asked to make WPS113 ignored when `i_control_code=True`

But this is wrong! We need to ignore WPS133 when we are developing libraries.
Which means that `i_control_code=False`

This needs to be fixed.

Related #951
Files to be modified: https://github.com/wemake-services/wemake-python-styleguide/commit/924fe11aee6b65eb1b06743e131d4de76689e869

[2020-01-28 21:40] sobolevn commented on #1128
Sorry, @ko3luhbka

[2020-01-29 06:15] ko3luhbka commented on #1128
Actually, when I started #951 , I doubted if the proposed logic is right, it seemed for me that it should be opposite. But I decided that maybe I don't understand something and didn't ask you, sorry for my hesitation.

[2020-01-29 08:07] sobolevn commented on #1128
This happens 😆

Do you want to send a new PR with the fix?

[2020-01-29 09:22] ko3luhbka commented on #1128
Sorry, I have no time (and probably won't have it next couple of months) to do that.

[2020-01-29 10:33] sobolevn commented on #1128
No problem! 👍

[2020-01-31 09:05] skarzi opened #1130 "cache all things dependent on configuration options"
Hi,

in #1129 domain's names options that allow developers to modify variable names' blacklist were introduced. Construction of this blacklist can be performed only once, because it depends only on some constants and configuration options, that are also static (loaded from CLI flags or ini config), so there is no need to compute them for every file being checked.
We already have discussed using `l

[2020-01-31 09:18] sobolevn commented on #1130
Thanks a lot for the issue! Yes, indeed: we can boost things here.

[2020-01-31 09:20] skarzi commented on #1130
I will prepare PR on the weekend

[2020-01-31 09:28] sobolevn commented on #1130
@skarzi thanks a lot for your **massive** help!

[2020-02-02 16:12] sobolevn commented on #1125
Closed by https://github.com/wemake-services/wemake-python-styleguide/pull/1129

[2020-02-02 16:12] #1125 closed

[2020-02-03 09:52] #1130 closed

[2020-02-03 12:58] sobolevn opened #1134 "Remove flake8-logger"
It should be treated as external (as `flake8-django` or `flake8-pytest`).
Because we don't really use logger in our projects.

[2020-02-03 13:03] #1119 closed

[2020-02-03 13:03] #1134 closed

[2020-02-03 13:12] #1128 closed

[2020-02-05 07:55] sobolevn opened #1135 "Create new ast router for python3.8"
Currently we rely on `NodeVisitor`'s `visit` method. It has this logic inside:

[code]

And in `python3.8` we get a lot of these warnings:

[code]

We don't want to rewrite a lot of things just to make python3.8 happy. Instead we should adapt our linter to work with old types even in new versions.

Our goal is to change the logic of routing method to
1. Check current python version, if it is `>=`

[2020-02-05 07:58] sobolevn opened #1136 "Add `coverage-conditional-plugin` support"
When working on #1135 we will start having logic that is specific to `python3.8+` only.
We need to keep 100% coverage on different platforms with no `pragma: no cover`
So, coverage will be python version dependent.

I need to release this plugin first.

[2020-02-05 08:02] sobolevn opened #1137 "Support `AssignExpr` where possible"
We use a lot of assignment related checks in our code. We fetch the number of variables in a function, calculate names overlap, etc. `python3.8` introduced new way to assign things with `:=`
And while I dislike the general approach, we need to be sure that everything works correctly even when users have these bad structure inside their code.

However, we still do not allow to use `:=` inside the c

[2020-02-05 09:56] sobolevn opened #1138 "Make sure that our dependencies are ready for Python3.8"
Checklist:

- [x] dependency has `python3.8` release
- [x] dependency is tested against `python3.8` in CI
- [x] dependency has `AssignExpr` support where possible
- [x] no warnings are generated in the console

Dependencies:

- [x] cognitive_complexity
- [x] flake8-builtins
- [x] flake8-commas
- [x] flake8-quotes
- [x] flake8-comprehensions
- [x] flake8-docstrings
- [x] flake8-string-format
- [x]

[2020-02-05 10:06] sobolevn opened #1139 "Reducing the number of dependencies"
Currently our linter has lots of dependencies.
There are several types of them:

1. Fundamental, like `flake8`. Without these packages our linter won't work at all
2. Important, like `typing_extensions`, `pygments`, `pep8-naming`, `flake8-bugbear`, `flake8-isort`, and several others. Which give awesome features and increases the final quality be a large margin
3. Single-featurish and complex, like

[2020-02-05 10:06] sobolevn commented on #1138
Blocked by #1139

[2020-02-05 10:26] sobolevn commented on #1139
- [ ] `flake8-executable` can be dropped, here's the full implementation: https://github.com/xuhdev/flake8-executable/blob/abf67771703b2f06f02a3fedb1dd97299583a4c3/flake8_executable/__init__.py#L92-L128
- [ ] `flake8-annotation-complexity` can be dropped, here's the full implementation: https://github.com/best-doctor/flake8-annotations-complexity/blob/master/flake8_annotations_complexity/ast_helpr

[2020-02-05 18:19] sobolevn commented on #1136
First version is release: https://github.com/wemake-services/coverage-conditional-plugin/releases/tag/0.1.0

[2020-02-06 12:31] sobolevn opened #1140 "Forbid to use `some .method()`"
# Rule request

## Thesis

Python shocks me everyday. I found out (the hard way) that one can write `some .method()` and even `some . method()`

Here's what `WPS` says:

[code]

This is insane!

Original issue: https://github.com/django/django/pull/12426

This might be a consistency rule. I guess that we should use `tokenize` or `libcst` for this.

[2020-02-08 10:10] PrVrSs commented on #1140
I'll add this rule

[2020-02-08 11:42] sobolevn commented on #1140
Awesome! Thanks a lot.

[2020-02-09 19:16] sobolevn opened #1141 "Separate python3.8 and previous version tests by `noqa` position"
`python3.8` broke how `noqa` is placed for decorated functions, methods, and classes.

Before:

[code]

After:

[code]

There's nothing else we can do. It is a change in `ast` module in python.

So, we need to create a separate fixture files with `noqa` placed differently for `python<3.8` and `python>=3.8`

Related: https://gitlab.com/pycqa/flake8/issues/583

[2020-02-09 19:21] sobolevn commented on #1137
We also don't know currently where this should be added. As the first step - we can find these places and create a list of them.

[2020-02-10 06:14] anatoly-scherbakov opened #1145 "Knowing the violation code it is quite hard to find the violation description"
**Use Case.** I am testing wemake-python-styleguide on my project.

[code]

To get more information on what `WPS337` is for, I have to do several steps:

* Open https://wemake-python-stylegui.de/en/0.13.4/pages/usage/violations/
* Realize that WPS337 is probably behind the link titled `WPS300 - WPS399`
* And now I am stuck; I can `Ctrl + F` → `337`, but that won't help; so I try to find the word `

[2020-02-11 18:36] cbows opened #1146 "Support nameless arguments convention"
# Bug report

Nameless arguments convention used in type annotations of callables causes WPS112

## What's wrong

Taken from [mypy documentation](https://mypy.readthedocs.io/en/latest/additional_features.html#extended-callable-types):

[code]

The same goes for callback protocols (also taken from [mypy documentation](https://mypy.readthedocs.io/en/latest/protocols.html#callback-protocols)):

[code

[2020-02-11 20:41] sobolevn commented on #1146
Yes, `__` arguments should be allowed. Thanks!

[2020-02-12 09:51] sobolevn opened #1151 "Add new complexity rule for max imported names for a single module"
# Rule request

## Thesis

Currently [`TooManyImportedNamesViolation`](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/complexity.html#wemake_python_styleguide.violations.complexity.TooManyImportedNamesViolation) only works on module level.

So, you can import up to `50` names from a single package! Like this:

[code]

And it won't be an issue.

This needs to be fixed. I suggest

[2020-02-15 09:56] sobolevn opened #1152 "Overused expression should not count primitives"
# Bug report

## What's wrong

Currently, this is an error in our linter:

[code]

But, how can one remove this violation? Impossible.
We should ignore single node collections and named variables.

[2020-02-15 10:11] sobolevn opened #1153 "Every ignored violation in test_noqa.py needs a comment"
There are several ignored violations in `noqa.py`

And I don't understand why. I will have to go through this list and figure out.

[2020-02-15 10:32] #1153 closed

[2020-02-15 14:39] Kvm99 commented on #1082
Hi, could I take the issue?

[2020-02-15 15:38] sobolevn opened #1154 "Block overlap false positive for `if`/`else`"
# Bug report

## What's wrong

This code produces

[code]

This error:

[code]

## How is that should be

But, this is incorrect. Because blocks are self-excluding.
This code is perfectly fine.

[2020-02-15 15:51] sobolevn commented on #1082
Sure! Feel free to ask for help.

[2020-02-15 16:27] sobolevn opened #1155 "Filter out SyntaxWarning for test_compares"
Job: https://travis-ci.com/wemake-services/wemake-python-styleguide/jobs/287628523

[2020-02-15 18:19] #1155 closed

[2020-02-15 18:47] #1135 closed

[2020-02-15 18:47] #1136 closed

[2020-02-15 18:47] #1141 closed

[2020-02-15 18:48] sobolevn opened #1156 "Extend test coverage for python3.8"
There are places where code is not covered for some reasons: https://travis-ci.com/wemake-services/wemake-python-styleguide/jobs/287640949#L1100-L1107

We need to cover it.

[2020-02-16 06:28] #1156 closed

[2020-02-16 06:29] sobolevn commented on #1152
The same is applied to `set()`, `list()`, `factory()` an other simple callables.

[2020-02-16 15:17] skarzi commented on #1145
That's good idea, my teammates also complain on the lack of some website, where all codes can be easily discovered and investigated, so this will really useful

[2020-02-16 15:42] skarzi commented on #1151
Can I take it?

[2020-02-16 16:26] skarzi commented on #1151
Do you suggest to add this check to [`ImportMembersVisitor`](https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/complexity/counts.py#L89) or  [`WrongImportVisitor`](https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/imports.py#L132) ?

[2020-02-16 16:33] sobolevn commented on #1151
Assigned! Thanks a lot!
I guess `ImportMembersVisitor` suits better.

[2020-02-16 16:35] sobolevn commented on #1145
I had this idea too. But, it is kind of useless without all codes that come from other plugins and `flake8`. AFAIK there's no way of getting the violation docs from the code.

So, we would have to maintain docs for ALL violations we use in this project.
Do this sound scary enough 😄 ?

[2020-02-16 18:06] skarzi commented on #1145
[`flakehell`](https://github.com/life4/flakehell) has nice cli option - `flakehell codes <plugin_name>`.
I haven't investigated the implementation of codes' extractors, but it is somehow possible, probably they have to handle several cases, because unfortunately `flake8` doesn't enforce plugin's developers to provide some standardized documentation of all codes used by their plugins :(
So, yeap, i

[2020-02-17 13:17] #34 closed

[2020-02-17 19:33] sobolevn commented on #1138
Blocked by https://github.com/PyCQA/pyflakes/pull/457

[2020-02-17 20:09] sobolevn opened #1158 "Remove flake8-print"
Related to https://github.com/wemake-services/wemake-python-styleguide/issues/1139

[2020-02-17 20:20] #1158 closed

[2020-02-18 09:01] sobolevn opened #1159 "Remove cognitive_complexity dependency"
This dependency can be easily vendored.
Related https://github.com/wemake-services/wemake-python-styleguide/issues/1139

[2020-02-18 09:04] sobolevn opened #1160 "Forbid to have too many raise statements"
# Rule request

## Thesis

Currently we check for a lot of function internals.
But, one can write any number of `raise MyError` statements. It is not checked at all.

We need to create new `TooManyRaisesViolation` with configuration to be able to find these problems. I can suggest to use `4` as maximum amount of `raise` uses. Or even `3`.

This is a complexity violation.

[2020-02-18 11:01] sobolevn opened #1161 "Refactor logic folder"
It contains too many files.

[2020-02-18 11:02] sobolevn opened #1162 "Make sure cognitive complexity counts method recursion"
Related #1159

Currently it only works with function recursion

[2020-02-18 11:03] sobolevn opened #1163 "Make sure cognitive complexity counts `raise` statements"
Currently cognitive complexity only counts `continue` and `break` as flow breakers. But `raise` also does this.

Related #1159

[2020-02-18 12:42] #1159 closed

[2020-02-18 13:24] sobolevn commented on #1145
@orsinium do you have any ideas how can we implement this?

[2020-02-18 13:59] Kvm99 commented on #1082
Hi! I am trying to run and write tests and have an error:
```ModuleNotFoundError: No module named 'plugins' ```
I could not find any information about such module in the internet and have no idea how to deal with the problem.
Could you help me, please?

[2020-02-18 14:18] sobolevn commented on #1082
Sure! It looks like a problem with your environment.

Can you please post how exactly you run your tests?
You can also take a look at how we run our tests here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/.travis.yml#L19-L20

[2020-02-18 16:31] orsinium commented on #1145
Yes, I do. We can provide our own CLI.

[code]

Also, you can even implement your own runner as a minimal alternative to flake8 ([like deal does](https://deal.readthedocs.io/linter.html)) and show a bit more information on it like URL, short description etc.

What about third-party plugins, it's non-trivial. As @skarzi said, FlakeHell does it. However, it's mostly about ad-hoc solutions, so it's b

[2020-02-18 18:28] sobolevn opened #1164 "Enforce consistency in single element tuple"
# Rule request

## Thesis

One can write:

[code]

And also:

[code]

There are two options: with and without whitespace after `,`
We need to be consistent here. I guess that this can be cured with `libcst`: #1068
This is a consistency rule.

[2020-02-18 18:33] #1163 closed

[2020-02-19 09:29] #1162 closed

[2020-02-19 10:28] sobolevn opened #1166 "Support positional-only arguments for functions"
We have several rules that relies on checking that functions are identical.
Currently, we do not check for positional-only (`/`) arguments.

We need to do it here: https://github.com/wemake-services/wemake-python-styleguide/blob/02841c80a7b16370e760757f761bc530db3d68a5/wemake_python_styleguide/logic/arguments/function_args.py

And possibly in other places like:
- Useless `lambda`

[2020-02-19 11:17] #1161 closed

[2020-02-19 12:03] sobolevn opened #1168 "UselessOverwrittenMethodViolation is not triggered without return"
# Bug report

## What's wrong

This code is considered valid:

[code]

But, it should not. Because functions can (and usually do) return `None` and `return` is optional in this case.

@bellum you are a codeowner of this part. Was this intentional? Maybe I am missing something.

[2020-02-19 12:29] #1166 closed

[2020-02-19 12:49] Kvm99 commented on #1082
I tried to run tests from the project root by ```make test``` and ```pytest```. Each time there was the same error: ```ModuleNotFoundError: No module named 'plugins' ```
Then I changed ```plugins.violation``` to ```test.plugins.violation``` in conftest.py and it helped.

[2020-02-19 13:36] #904 closed

[2020-02-19 13:38] sobolevn commented on #1082
Two questions:
1. How does your installation process looks like? Because it is proven to work on CI and locally
2. What is your OS?

[2020-02-19 13:53] Kvm99 commented on #1082
I was going the following way:
[code]

[2020-02-19 13:57] bellum commented on #1168
@sobolevn what if super().test(...) returns something? this overwrite can intentionally hide return value

[2020-02-19 13:58] sobolevn commented on #1082
Looks strange. This should do the trick.

Tow comments, however:
1. Use should use `3.8.0`, because this feature is only possible there
2. You can try to `activate` env instead of using `poetry shell`. Try `source $(poetry env info -p)/bin/activate`

[2020-02-19 14:25] sobolevn opened #1169 "Show all numeric values for complexity metrics in error messages"
Currently we do not enforce any rules on how max or min values in complexity metrics are shown.
We need to add this feature.

So, our messages would be better:

[code]

Instead of:

[code]

[2020-02-19 14:44] sobolevn commented on #1137
One interesting case:

[code]

[2020-02-19 20:42] sobolevn opened #1170 "Remove flake8-annotations-complexity"
Related #1139

[2020-02-19 20:43] #1170 closed

[2020-02-20 09:25] sobolevn commented on #1115
Related #1154

[2020-02-20 11:47] #1169 closed

[2020-02-20 15:09] sobolevn commented on #1154
Turns out that this happens because we use a concept of `context` for each check.
And these two nodes do have the same context: `ast.Module`.

For us it would be quite hard to treat `ast.If` as a part of this context. Let's leave it as is.

[2020-02-20 15:09] #1154 closed

[2020-02-21 10:33] sobolevn commented on #1111
## My research

Testing before writing code:

[code]

And using it:

[code]

Here we go! We can create `visit_newline` somewhere in https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/tokenize/syntax.py

And test it in https://github.com/wemake-services/wemake-python-styleguide/tree/master/tests/test_visitors/test_tokenize

[2020-02-21 10:57] sobolevn commented on #1115
Ok, here's what I have done:
1. I have removed `WPS441` for `except`, because it is covered by `F821` from `flake8`
2. I have fixed `WPS440` for `except` in same `try` blocks

[2020-02-21 10:57] #1115 closed

[2020-02-21 14:59] Gwin73 commented on #1054
Hi, can I take the issue?

[2020-02-21 17:06] sobolevn commented on #1054
Sure! @Gwin73 thanks a lot!

Feel free to ask any questions.

[2020-02-21 17:08] sobolevn commented on #1054
@Gwin73 I have updated the task description. Please, take a look 🙂

[2020-02-21 17:54] #1041 closed

[2020-02-21 19:21] #899 closed

[2020-02-21 19:47] sobolevn commented on #1146
Ok, here's the deal. This is only really valid for `Protocol`
Other use-cases are obviously invalid.

But, we cannot detect that this is used inside a `Protocol`. Because there are subclasses, different naming, etc.

So, this is not going to be resolved. Sorry.

[2020-02-21 19:47] #1146 closed

[2020-02-22 06:29] #1117 closed

[2020-02-22 06:31] sobolevn commented on #1120
@sponsfreixes are you still interested in fixing docs for this one? 🙂

[2020-02-22 06:33] sobolevn opened #1172 "Remove flake8-executable dependency"
We need to vendor this dependency to our own codebase:
- create new violation
- create new logical check
- write tests

Implementation: https://github.com/xuhdev/flake8-executable/blob/abf67771703b2f06f02a3fedb1dd97299583a4c3/flake8_executable/__init__.py#L92-L128

Related: #1139

[2020-02-22 06:34] sobolevn opened #1173 "Remove flake-pep3101 dependency"
We need to vendor this dependency to our own codebase:
- create new violation
- create new logical check
- write tests

Implementation: https://github.com/gforcada/flake8-pep3101/blob/master/flake8_pep3101.py

Related: #1139

[2020-02-22 06:35] sobolevn opened #1174 "Remove flake8-coding"
We need to vendor this dependency to our own codebase:
- create new violation
- create new logical check
- write tests
- copy configuration

Implementation: https://github.com/tk0miya/flake8-coding/blob/master/flake8_coding.py#L52-L73

Related: #1139

[2020-02-22 06:38] sobolevn commented on #1127
Link: https://github.com/dry-python/returns/blob/master/returns/context/requires_context_result.py

[2020-02-22 07:02] #1127 closed

[2020-02-22 14:20] ruwaid4 commented on #1054
Hello, i am part of the same group as @Gwin73 who is working on this issue. Just to clarify some things, should it be: class has instance or class level attribute `x` or `_x` or `__x` AND class has method called `get_x` or `set_x`?

[2020-02-22 14:39] sobolevn commented on #1054
When either case is satisfied 🙂  (logical `or`)

[2020-02-22 14:43] #1152 closed

[2020-02-22 14:51] ruwaid4 commented on #1054
Thanks for the quick answer! So this would mean no instance or class level attributes are allowed since `x` matches anythin?

[2020-02-22 15:00] sobolevn commented on #1054
I mean `x` is an abstract field name. It can be anything. Any name.

[2020-02-22 15:48] Gwin73 commented on #1054
I think there must be some misunderstanding here. Instance or class level attributes x or _x or __x must be allowed right, as long as they are "public" and have no corresponding get_x or set_x methods.

[2020-02-22 15:50] Gwin73 commented on #1054
Only allowing properties and NO attributes seems a bit weird.

[2020-02-22 16:06] sobolevn commented on #1116
Related https://github.com/wemake-services/wemake-python-styleguide/issues/598

[2020-02-22 16:32] sobolevn commented on #1054
Sorry, that I am not able to express myself clear enough 🙂

This rule only checks method names. We need to detect patterns like `get_${existing_attribute_name}` and `set_${existing_attribute_name}` and raise violations when any of these methods are found.

Where `${existing_attribute_name}` can be public, protected, or private.

[2020-02-22 16:39] ruwaid4 commented on #1054
So it should be:
* class has instance or class level attribute `x` or `_x` or `__x`
AND
* class has method called `get_x` or `set_x`

[2020-02-22 17:26] sobolevn commented on #1054
Yes 👍

[2020-02-23 08:11] sobolevn opened #1175 "Make sure we cover `while`/`else`"
There are rules where we check `for`/`else` nodes.
I need to be sure that we also cover `while` with them.

[2020-02-23 09:43] fwald commented on #1081
Hi! I would like to take on this issue if I may?

[2020-02-23 10:39] skarzi commented on #1120
I think it would be really useful for new users to have somewhere in docs any example of `per-file-ignores` prepared specifically for tests and some comments with explanation, why we are suggest to ignore following violations in tests

[2020-02-23 12:01] #1116 closed

[2020-02-23 12:02] sobolevn commented on #1120
@skarzi completely agree! I think even a whole new documentation entry under `Usage` might be added.

[2020-02-23 12:03] sobolevn commented on #1081
Sure, @fwald! Thanks a lot! Feel free to ask any questions.

[2020-02-23 12:09] sobolevn commented on #1175
It is covered. 👍

[2020-02-23 12:09] #1175 closed

[2020-02-23 13:38] fwald commented on #1081
When implementing this, the linter complains about this expression in the file
constants.py:

[code]

Can this be changed to a normal string instead?

[2020-02-23 14:23] sobolevn commented on #1081
@fwald yes please! That's what I love about static analysis the most: finding new issues in code that you have seen so many times!

[2020-02-23 16:47] Mema5 commented on #1081
Hi, I'm working with @fwald on the issue. Enforcing this new rule also breaks tests in the test suite, so I'm working on modifying it.

But I struggle with this error when running `pytest tests/test_visitors/test_tokenize/test_primitives/test_string_tokens/test_string_multiline.py`:

[code]
I added a `\n` in the primitive to be consistent with the new rule, but something is still wrong and I don't

[2020-02-23 17:09] sobolevn commented on #1081
You can use `ignored_types=` parameter on `assert_errors`. This happens when old tests are executed on updated visitor.

Or you can refactor old tests. Both cases are fine.

[2020-02-23 17:59] iZafiro commented on #1160
Hi! Can I take this issue? Thanks!

[2020-02-23 18:23] sobolevn commented on #1160
Sure! Thank you! Make sure to read [our contributing guides](https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md)

I am here to help: ask anything you need.

[2020-02-23 23:02] sobolevn commented on #1168
Then it should be:

[code]

It is way more readable. This case should go into the docs. Thanks a lot for the information!

[2020-02-24 03:13] sponsfreixes commented on #1120
Whoa, it has been already a month since my last comment 😬

Yeah, I was still planning to do it. _If_ somebody wants to steal it before I start, feel free to change assignee.

@skarzi what other violations should be ignored on tests?

[2020-02-24 09:55] #1151 closed

[2020-02-24 10:43] orsinium opened #1182 "Smart code line length validation"
# Rule request

## Thesis

1. Validate that code line not longer than N chars. Looks like 89.5 chars is a convention for now ([one](https://charlesleifer.com/blog/new-features-planned-for-python-4-0/), [two](https://youtu.be/wf-BqAjZb8M?t=260)).
2. Allow lines longer than N chars if the part after N chars contains only a string and optional comma.
3. Maybe, even such lines should be limited. For i

[2020-02-24 11:00] adambenali commented on #1084
Hi,
We (a group of students) would like to work on this issue. Can we take it ?

[2020-02-24 13:34] sobolevn commented on #1084
Sure! Thank you! Make sure to read [our contributing guides](https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md)

I am here to help: ask anything you need.

[2020-02-24 13:46] sobolevn commented on #1182
Yes, there are issues with some long lines:

- URL that are long
- Text messages

[2020-02-24 13:57] sobolevn commented on #1120
Here several my projects that have a list of ignored violations for tests:

- https://github.com/sobolevn/django-split-settings/blob/master/setup.cfg#L36-L39
- https://github.com/dry-python/returns/blob/master/setup.cfg#L48
- https://github.com/wemake-services/dotenv-linter/blob/master/setup.cfg#L37-L38

Here's the ignore line for one private project:

[code]

Basically I ignore:
1. Number of asse

[2020-02-24 14:39] sobolevn commented on #1082
@Kvm99 can you please also test `break` keyword in `finally`? Is it allowed? If so, we need to forbid it as well.

[2020-02-24 14:43] sobolevn commented on #1082
Please, also specify that this rule is related to `TryExceptMultipleReturnPathViolation`

[2020-02-24 15:08] #1168 closed

[2020-02-24 16:03] iZafiro commented on #1160
Hi! I've written the code by improving upon the `_ComplexityCounter class` in `visitors\ast\complexity\function.py` by adding an extra public attribute that counts the number of raise statements within a function. However, I get a lint error because the linter finds too many public attributes. If I change the` MAX_ATTRIBUTES` default (by one), the tests for `TooManyPublicAttributesViolation` fail.

[2020-02-24 16:25] skarzi commented on #1120
My `per-file-ignores` for tests includes violations mentioned by @sobolevn and additionally following one:

+ `WPS118` - imho test functions/methods should have nice, meaningful names, so it's often better to use long but self-explanatory name for them

[2020-02-24 17:44] sobolevn commented on #1160
@iZafiro no, complexity violations generally should not be ignored. Instead, we should refactor our class to be simplier. Here's our policy: https://sobolevn.me/2019/10/complexity-waterfall

I see several solutions:
1. We can split `_ComplexityCounter` into several classes and refactor how it is used
2. We can change how properties are defined. For example you can create `@final @dataclass class _

[2020-02-24 17:51] #1111 closed

[2020-02-24 18:11] iZafiro commented on #1160
@sobolevn Yeah, I'll refactor the class then. :)

[2020-02-24 18:15] orsinium commented on #1182
Yes, exactly. Sometimes it helps to move it into a separate var:

[code]

But sometimes the message itself is too long.

[2020-02-24 18:51] sobolevn opened #1184 "Copy rules from flake8-raise"
I found this lovely plugin: https://github.com/jdufresne/flake8-raise

It has three rule that I absolutely love to have in `0.15`:

- [ ] `R100 raise in except handler without from`
- [ ] `R101 use bare raise in except handler`

Declined:
- [x] `R102 unnecessary parentheses on raised exception`

First step is to check that all three violations are not already supported by our linter.
The second st

[2020-02-24 19:03] sobolevn commented on #1184
Nope, `R102` is excluded from the list. We cannot assume type of the call.

[2020-02-25 10:51] Kvm99 commented on #1082
I checked. `break` in `finally` works with python 3.6, 3.7, 3.8.
Should not we add a new issue for such case? I will also do it.

[2020-02-25 11:41] sobolevn commented on #1082
We can combine them into one: `continue` and `break`

[2020-02-25 13:03] pandaseal commented on #1007
@ragohin may I ask how you fixed the `EXE002` error exactly? I have just forked the project and get this error the first time i try to run `make test`.

I run Ubuntu 16.04 but we get the same error in Ubuntu 18.04.

[2020-02-25 13:09] sobolevn commented on #1007
@pandaseal this is related to your folder structure. Run `ls -alh` and then fix file permissions if you have any. That should solve it.

[2020-02-25 13:18] pandaseal commented on #1007
@sobolevn should I do it manually for every file that fails? I do not really know how to go about all of it... Any tips?

[2020-02-25 13:30] jigi-33 commented on #1173
Hey coolleagues. I would take on this issue, may I do?

[2020-02-25 13:32] sobolevn commented on #1173
Sure! Thank you! Make sure to read [our contributing guides](https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md)

I am here to help: ask anything you need.

[2020-02-25 13:33] sobolevn commented on #1007
It really dependends on your problem and your OS. I don't think that I can help without any further information. You can also just ignore this issue for now. It works on CI correctly.

[2020-02-25 13:54] pandaseal commented on #1007
@sobolevn We fixed it. Thanks for your help.

**If anyone else has this problem, this was the solution:**

- System: Ubuntu 16.04 WSL on Windows 10
- Problem: Windows overwrote the permissions of the WSL when the repo was located in the Windows partition (`/mnt`), changing the permissions did not work. [Here](https://github.com/Microsoft/WSL/issues/81) is why changing permissions wouldn't work.
-

[2020-02-25 14:09] sobolevn commented on #1007
@pandaseal you can submit this to `CONTRIBUTING.md`

[2020-02-25 14:48] sobolevn opened #1186 "Annotation complexity should not fail on expressions"
# Bug report

This code:

[code]

Makes `flake8-annotation-complexity` to fail. We need to ignore this case silently.

Related: #1170

Demo: https://asciinema.org/a/IIjIfkVKytmZ1F5c2YufMORdi

[2020-02-25 20:35] sobolevn opened #1187 "Annotation complexity should be tested with `ast.Attribute`"
Currently code like `x: typing.List[typing.List[typing.List[typing.List[int]]]]` is not tested.
Inside `tests/test_visitors/test_ast/test_complexity/test_annotation_complexity/test_annotation_complexity_nesting.py` we don't have any attributes at all.

We need to add several tests for attributes.

[2020-02-25 23:21] adambenali commented on #1084
I'd like to clarify some requirements about what is a violation and what's not. I'm wondering if we should handle complicated cases or just simple ones similar to the above example.
We want to prevent a specific kind of dictionary initialization. Does this mean that there is a violation  only when the initial dictionary is empty ? In this case what if the dictionary is intended to hold different t

[2020-02-26 07:08] sobolevn commented on #1084
Ok, I am sorry. After thinking once again about this rule, we will have to close this issue unresolved. Here's why:

[code]

Is a violation, right? But what if it is written as

[code]

Is it now a violation? Or do we work with list now? Ok, what about more complex case:

[code]

Can we be sure that `d` is a dict? Why not some custom object with `__setitem__`? Or a list? Or anything?

Sorry, but w

[2020-02-26 07:08] #1084 closed

[2020-02-26 07:09] sobolevn commented on #1172
But, we only need a single violation for this. Let's call it `ExecutableMismatchViolation` and change its error message instead. Not the code.

[2020-02-26 07:28] sobolevn opened #1188 "Refactor some class-level constants to be real constants"
We need to move several class-level constants to `wemake_python_styleguide/constants.py`

Here's the list (can be found by `baseline=self._`):

- https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/complexity/counts.py#L178-L182
- https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/c

[2020-02-26 08:23] adambenali commented on #1085
Should this be closed for the same reasons as #1084 ?

[2020-02-26 09:00] sobolevn commented on #1085
Yes, thank you!

[2020-02-26 09:01] sobolevn commented on #1085
Or should it? Let's leave it open for now. I will have to make a small research.

[2020-02-26 09:08] adambenali commented on #1172
I'd like to work on it !

[2020-02-26 09:44] pandaseal commented on #1007
@sobolevn should I create an issue where we can discuss this further? For example where the information should be added in `CONTRIBUTING.md` and on which level it should be described? (I mean, at this point is not really relevant for _this_ issue)

[2020-02-26 10:00] pandaseal opened #1189 "Add information about building the project on Windows"
Building the project _directly_ in Windows seems to not be possible at the moment.
We ran into errors when running `make test` in both cmd and Powershell.

What _works_ on is running it in a Windows Subsystem for Linux (WSL) such as Ubuntu 16.04 LTS or Ubuntu 18.04 LTS (that you can get from Microsoft Store).

However, you can run into problems there as well. We ran in to [this](https://github.com

[2020-02-26 10:06] sobolevn commented on #1172
🤝 thanks a lot!

[2020-02-26 11:02] sobolevn commented on #1172
@pandaseal does this plugin work on Windows without building?

[2020-02-26 12:58] pandaseal commented on #1172
Yes the plugin works.

- I works in Windows natively (in cmd and Powershell)
- It works in the home dir of the WSL
- It does not work in the windows partion of the WSL (but this is not due to the plugin but the overwriting of permissions problem)

_However_, the reason the build does not work on windows is the `UnicodeDecodeError` referenced in issue https://github.com/wemake-services/wemake-pytho

[2020-02-26 13:28] sobolevn commented on #1172
@pandaseal you would do us a big (like 2 years big) favour if you tackle this windows build issue down. I don't own a windows machine and too lazy to setup and emulation, so this is an actual problem for us that is not solved for 2 years now.

We can even bring back the windows CI with https://docs.travis-ci.com/user/reference/windows/

If you are willing to work on this, we can reopen #337

[2020-02-26 20:31] sobolevn opened #1191 "Forbid to use `lI` names"
# Rule request

## Thesis

Currently one can name your classes like so: `ControlIn`
And it is unreadable! Inside it is just `L` and `i`, but we cannot tell it from the word.

We need to forbid lowercase `l` followed by uppercase `I`

## Reasoning

Readability matters!

[2020-02-26 21:18] sobolevn commented on #1191
Are there any other letters that behave like that?

[2020-02-27 00:41] circlecrystal opened #1192 "Error during installation"
# Bug report

## What's wrong

Error `ERROR: tensorflow 2.1.0 has requirement opt-einsum>=2.3.2, but you'll have opt-einsum 0+untagged.49.gdbede45.dirty which is incompatible.` during the pip installation.

## How is that should be

## System information
Ubuntu 18.04 LTS

### flake8 information

Contents of `flake8 --bug-report`:

### pip information

Contents of `pip install wemake-python-stylegu

[2020-02-27 06:27] NickVolynkin commented on #1191
`Fill1List.`

[2020-02-27 06:34] NickVolynkin commented on #1191
Also there are letters (Unicode codepoints) which are different but look just the same.
For example, there's Latin `A`, Greek `Α`, Cyrillic `А`.

But actually, let's just ban any letters outside the standard ASCII set. Anything which requires using non-English keyboard layout, anything which has modifiers. And emoji.

[2020-02-27 07:04] sobolevn commented on #1191
Thanks!

- `I` (`i` uppercase) and `l` (`L` lowercase) should be banned too!
- We have already banned all unicode chars in variable names.
- Can you please tell more about `1`? It does not look similar to `l` or `L`
- What  about `o` and `0` and `O`?

[2020-02-27 07:08] sobolevn commented on #1192
Thanks a lot for the bug report!

However, I have checked our dependency list and there's no `opt-einsum` in it.
All our deps (including transitive ones are here): https://github.com/wemake-services/wemake-python-styleguide/blob/master/poetry.lock

So, it is not related. I guess. It is always hard to tell. Can you provide reproductions steps, please? Or an example repo with this bug?

In the meant

[2020-02-27 07:47] NickVolynkin commented on #1191
`l1I` and `0O` are distinguishable, but still risky. Probably, a warning?

[2020-02-27 07:50] sobolevn commented on #1191
We don't have warnings. Errors are better!

[2020-02-27 10:01] adambenali commented on #337
@sobolevn here is a list of all the reasons why the build doesn't work on Windows (the ones I fixed to get it to work for me locally):
- `flake8-pytest` fails on `test_unicode.py` because of encoding. I have found no issue discussing this problem in the plugin's repo and it looks like it's been years since it has last been active.
- `flake8-plugin-utils` fails because of encoding. See https://gith

[2020-02-27 10:15] sobolevn commented on #337
Oh wow! Thank you for such a detailed report. I will open issues for

- `import-linter`
- `flake8-pytest`, but you know, this dependency can be easily dropped in favour of `flake8-pytest-style` (I will open an issue there as well). Feel free to send a PR with removed `flake8-pytest`
- `doc8`

About our local problems:

- we can skip `diff` tests on Windows, that's fine
- we can also skip formattin

[2020-02-27 10:20] sobolevn commented on #337
@adambenali can you please post a reproduction steps on Windows to have this encoding issues?

[2020-02-27 11:30] orsinium commented on #1174
Is explicit encoding still actual? In Python 3 it's UTF-8 by default, and there is no reason to make it non-UTF.

[2020-02-27 11:35] sobolevn commented on #1174
I start to agree with this point. We can completely remove this plugin.

But, I am kind of used to this little line 😢
`# -*- coding: utf-8 -*-`

[2020-02-27 11:43] orsinium commented on #1092
Great idea! We should allow import symbols:

1. From where they are defined.
1. From `__init__.py` (facade is good).

Cases, when the facade isn't `__init__.py`, are rare (do you have examples?).

[2020-02-27 12:12] sobolevn commented on #1092
@orsinium Sorry, I don't get your idea. Can you please provide some examples?

[2020-02-27 12:22] orsinium commented on #1174
We're just too old. Soon we'll be changed by the generation that has never seen Python 2 and hacks around encodings :grinning:

[2020-02-27 12:36] orsinium commented on #1092
Oh, wait. Sorry, I misinterpreted the issue (in particular, the "clash" word). I'll make a new one.

[2020-02-27 12:38] orsinium commented on #1092
BTW, Flake8 already will show a warning about such cases as described in the issue:

[code]

[2020-02-27 12:46] sobolevn commented on #1092
Then, this can be closed as solved from `flake8`.

@AlwxSin is it true?

[2020-02-27 12:52] paolofantozzi opened #1194 "Boolean default value in dict.get"
# Bug report
## What's wrong
Checking the code
[code]
we have
`WPS425 Found boolean non-keyword argument: False`
on the get. But the get method doesn't accept keyword argument.

## How is that should be
The rule WPS425 should ignore `.get` methods. Most of the time, the second argument of a method `.get` is considered the default value.

## System information

### flake8 information
[code]

### pi

[2020-02-27 12:56] orsinium opened #1195 "Forbid to import symbols from a wrong place"
# Rule request

## Thesis

In python, you can import from a module any symbol that defined for it.

[code]

Let's forbid indirect imports, except facades.

## Implementation

We should allow import symbols:

1. From where they are defined.
1. From `__init__.py` (facade).

Cases, when the facade isn't `__init__.py`, are rare (do you have examples?).

## Reasoning

1. Too many ways to import one thi

[2020-02-27 13:02] sobolevn commented on #1195
This is covered by `mypy`: see `implicit_reexport` from https://mypy.readthedocs.io/en/stable/config_file.html

We cannot handle this violation, because we cannot know what's behind `import something`
Since we do not resolve packages.

[2020-02-27 13:02] #1195 closed

[2020-02-27 13:03] sobolevn commented on #1194
Yes, I agree. Thank you!

Furthermore, `.get` cannot take keyword args:

[code]

[2020-02-27 13:16] kennycontreras commented on #1191
Anyone is working on this?

[2020-02-27 13:17] sobolevn commented on #1191
No, @kennycontreras feel free to take this one! Ask any questions you have.

[2020-02-27 13:19] adambenali commented on #337
Sure.
Reproduction steps for `flake8-plugin-utils`:
1. Install flake8
2. Install `flake8-plugin-utils`
3. Install any plugin that uses `flake8-plugin-utils`, like `flake8-pytest-style`.
4. Create a file with this content: `print('變量')`.
5. Run `flake8 filename.py`

Will fail with :
[code]
Basically the same steps for `flake8-pytest`.

By the way, `import-linter` is not the direct culprit. It fails

[2020-02-27 13:23] sobolevn commented on #337
@adambenali I would appreciate an issue from you to `gimp`. I am not qualified enough to do this 🙂

[2020-02-27 13:24] RandyRomero commented on #1194
The same thing I encountered with .pop() today (which also cannot take keyword args)

[2020-02-27 13:32] sobolevn commented on #1194
Thanks a lot for reporting! So, we would have to have a set of methods to ignore. We can go though all builtin dict and list methods to form the baseline. And not only methods, but builtin functions as well.

Oh, this great language design and C compatibility issues 🤦‍♂

[2020-02-27 13:46] sobolevn opened #1196 "Replace pkg_resources with importlib"
`python3.8` shipped builtin tool to work with versions: https://docs.python.org/3/library/importlib.metadata.html

We can use it instead of `pkg_resources`: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/version.py

And we can also use `importlib_metadata` package for Python versions prior to `3.8`

[2020-02-27 13:50] sobolevn commented on #1196
Related: https://hynek.me/articles/packaging-metadata/

[2020-02-27 13:59] RandyRomero opened #1197 "WPS601 in classes derived from Django models"
# Bug report

## What's wrong

Django 3.0.3
I have a model derived from Django standard model. Checking this code gives me WPS601 Found shadowed class attribute.

[code]
## How is that should be

The linter alarms about WPS601 because I didn't declare self.foo within dunder init method, it's understandable. But Django docs discourage programmers to reimplement dunder init within classes derived fr

[2020-02-27 14:08] adambenali commented on #337
I've opened an issue about `grimp` : https://github.com/seddonym/grimp/issues/75.

[2020-02-27 14:08] adambenali commented on #337
I've opened an issue about `grimp` : https://github.com/seddonym/grimp/issues/75.

[2020-02-27 14:09] sobolevn commented on #1197
Thanks a lot for the report!

This case is understandable. People do want and will override Django model class / instance fields. But, there's nothing we can do from our side. Because we cannot tell if that's a Django model or not.

So, the solution is to use `per-file-ignores` and just ignore `WPS601` for all your `models.py` where you do use this. Or if this is a one time problem: use `# noqa: W

[2020-02-27 14:09] #1197 closed

[2020-02-27 17:11] #1082 closed

[2020-02-28 10:20] Kvm99 commented on #1174
Hi! Could I take the issue?

[2020-02-28 10:23] sobolevn commented on #1174
Thanks a lot! Assigned.

[2020-02-28 11:34] leksuss commented on #1186
Hello!

Can I ask you about resolving this issue?
This fail happens because of ast can't parse string which is not ast-compatible. Why we parse string to get ast nodes? This is non-standard use. Is it for backward compatibility? Maybe just remove this condition statement?

If we still need to handle this case, is try-except with pass will resolve the problem? I'm trying make this, but received a l

[2020-02-28 11:48] sobolevn commented on #1186
It is ok to learn new things! Do not ever stop doing this 🙂

We use `ast.parse` because sometime people write annotations as strings. This happens due to how `python` evaluates names. Here's an example:

[code]

And the same with strings:

[code]

So, we have to parse these stings. But, on the other hand we should skip situations like:
[code]

I suggest to return `1` in this case of `SyntaxError`.

[2020-02-28 12:08] leksuss commented on #1186
Nikita, thank you for your answer. In function get_annotation_compexity we just count complexity of annotation. And this is make sense with the annotation as strings if it looks like:
[code]
In which cases somebody would write like this? Sorry if my question irrelevant of resolving.

And yes, I'll fix it. This would my first pull request, so I just need some time to understand the procedure.

[2020-02-28 12:19] sobolevn commented on #1186
@leksuss we cannot control why people would do that. But, we know that they will. And our goal is to help them not to make this mistake.

I appreciate your help! Thanks a lot! Since this one is the first PR for you, here are the steps:

1. You fork this repository: https://help.github.com/en/github/getting-started-with-github/fork-a-repo
2. Then (inside your fork) you add new failing tests here: h

[2020-02-28 12:41] sobolevn commented on #1174
@Kvm99 we would also need to remove `EmptyLineAfterCodingViolation`

[2020-02-28 12:53] #1192 closed

[2020-02-28 12:54] sobolevn commented on #1139
This can be now closed. Track individual issues.

[2020-02-28 12:54] #1139 closed

[2020-02-28 13:02] leksuss commented on #1186
@sobolevn thank you for so useful answer!

[2020-02-28 14:17] sobolevn opened #1200 "Ensure that `ConstantConditionViolation` counts `NamedExpr`"
Currently we don't handle `NamedExpr` in this violation.

One can write this code:

[code]

And it won't be handled properly.
We need to check that right sign of the walrus is not a constant.

File to fix: https://github.com/wemake-services/wemake-python-styleguide/blob/ea20c44bbbb8dcf70b3541b073cee25ae91a8354/wemake_python_styleguide/visitors/ast/compares.py#L347

We also need to test this violat

[2020-02-28 14:24] sobolevn opened #1201 "Ensure that `FalsyConstantCompareViolation` counts `NamedExpr`"
Currently we don't handle `NamedExpr` in this violation.

One can write this code:

[code]

And it won't be handled properly. Here's how direct values are compared:

[code]

File to fix: https://github.com/wemake-services/wemake-python-styleguide/blob/ea20c44bbbb8dcf70b3541b073cee25ae91a8354/wemake_python_styleguide/visitors/ast/compares.py#L151

We also need to test this violation. Make sure that

[2020-02-28 14:28] sobolevn opened #1202 "Ensure that `WrongIsCompareViolation` counts `NamedExpr`"
Currently we don't handle `NamedExpr` in this violation.

One can write this code:

[code]

And it won't be handled properly.

That's how correct code works:

[code]

File to fix: https://github.com/wemake-services/wemake-python-styleguide/blob/ea20c44bbbb8dcf70b3541b073cee25ae91a8354/wemake_python_styleguide/visitors/ast/compares.py#L192

We also need to test this violation. Make sure that you us

[2020-02-28 14:31] sobolevn opened #1203 "Ensure that `UselessLenCompareViolation` counts `NameExpr`"
Currently we don't handle `NamedExpr` in this violation.

One can write this code:

[code]

And it won't be handled properly.
That's how correct code works:

[code]

File to fix: https://github.com/wemake-services/wemake-python-styleguide/blob/ea20c44bbbb8dcf70b3541b073cee25ae91a8354/wemake_python_styleguide/visitors/ast/compares.py#L104

We also need to test this violation. Make sure that you use

[2020-02-28 14:34] sobolevn opened #1204 "Ensure that `ConstantCompareViolation` counts `NamedExpr`"
Currently we don't handle `NamedExpr` in this violation.

One can write this code:

[code]

And it won't be handled properly.

This is how correct code works:

[code]

File to fix: https://github.com/wemake-services/wemake-python-styleguide/blob/ea20c44bbbb8dcf70b3541b073cee25ae91a8354/wemake_python_styleguide/visitors/ast/compares.py#L347

We also need to test this violation. Make sure that you u

[2020-02-28 14:39] sobolevn opened #1205 "Ensure `UselessCompareViolation` counts `NamedExpr`"
Currently we don't handle `NamedExpr` in this violation.

One can write this code:

[code]

And it won't be handled properly.
Right example:

[code]

File to fix: https://github.com/wemake-services/wemake-python-styleguide/blob/ea20c44bbbb8dcf70b3541b073cee25ae91a8354/wemake_python_styleguide/visitors/ast/compares.py#L91

We also need to test this violation. Make sure that you use `pytest.skipif(P

[2020-02-28 14:47] sobolevn opened #1206 "Ensure that `CompareOrderViolation` counts `NamedExpr`"
Currently we don't handle `NamedExpr` in this violation.

One can write this code:

[code]

And it won't be handled properly.
Correct example:

[code]

File to fix: https://github.com/wemake-services/wemake-python-styleguide/blob/ea20c44bbbb8dcf70b3541b073cee25ae91a8354/wemake_python_styleguide/visitors/ast/compares.py#L274

We also need to test this violation. Make sure that you use `pytest.skipi

[2020-02-28 14:54] sobolevn opened #1207 "NestedTernaryViolation has invalid logic"
# Bug report

## What's wrong

One can nest ternary inside `if` keyword. The only hack that `ifexp` should be nested in some other expression like:

[code]

Or (related to #1137):

[code]

## How is that should be

We should not allow any `IfExp` nodes inside `ast.If.test` field.
Including inside `NamedExpr` for `python3.8+`

[2020-02-28 14:57] sobolevn opened #1208 "Ensure `InCompareWithSingleItemContainerViolation` counts `NamedExpr`"
Currently we don't handle `NamedExpr` in this violation.

One can write this code:

[code]

And it won't be handled properly.

File to fix: https://github.com/wemake-services/wemake-python-styleguide/blob/ea20c44bbbb8dcf70b3541b073cee25ae91a8354/wemake_python_styleguide/visitors/ast/compares.py#L450

We also need to test this violation. Make sure that you use `pytest.skipif(PY38, ...)` because thi

[2020-02-28 14:58] sobolevn opened #1209 "Ensure that `WrongInCompareTypeViolation` counts `NamedExpr`"
Currently we don't handle `NamedExpr` in this violation.

One can write this code:

[code]

And it won't be handled properly.

File to fix: https://github.com/wemake-services/wemake-python-styleguide/blob/ea20c44bbbb8dcf70b3541b073cee25ae91a8354/wemake_python_styleguide/visitors/ast/compares.py#L454

We also need to test this violation. Make sure that you use `pytest.skipif(PY38, ...)` because thi

[2020-02-28 15:00] sobolevn commented on #1207
Related to https://github.com/wemake-services/wemake-python-styleguide/issues/1137
See how other tasks should be implemented.

[2020-02-28 17:31] sobolevn opened #1212 "Add `NamedExpr` template to name testing"
We should test that `NamedExpr` follows all the same rules that other ways to assign values.

We should modify `tests/test_visitors/test_ast/test_naming/conftest.py` to add a new template there. I think, that it should be enough. All other tests will work from there.

Here's what this template should look like:

[code]

We should only add this template for `python3.8+`

Related #1137

[2020-02-28 18:45] jigi-33 commented on #1173
So...I couldn't figure out this issue. Please re-assign to another who will done it :( Sorry

[2020-02-28 19:01] jigi-33 commented on #1212
Hello, can I take this issue?

[2020-02-28 19:03] sobolevn commented on #1212
Sure! Thank you!

[2020-02-28 19:03] sobolevn commented on #1173
No problem, someone else can take it. Thank you for your time and effort!

[2020-02-28 19:19] sobolevn commented on #1212
And one more case: `lambda {0}, /: ...`

[2020-02-29 11:14] #1194 closed

[2020-02-29 12:20] skarzi commented on #1196
Can I take it?

[2020-02-29 13:00] skarzi commented on #1071
I have checked if it's possible to implement this violation with `libast` and it seems to be doable, so I will try to implement it in following week

[2020-02-29 14:27] skarzi commented on #1071
When do you plan to merge https://github.com/wemake-services/wemake-python-styleguide/pull/1147 to `master`?
I am asking, because this PR introduces few features I'd like to use in my PR.

[2020-02-29 15:04] sobolevn opened #1216 "Jones complexity is different for different python versions"
# Bug report

## What's wrong

This line is reported on `python3.6` and `python3.7`:

[code]

Result:

[code]

However, it is not reported on `3.8`.

Related:
- https://travis-ci.com/wemake-services/wemake-python-styleguide/builds/151172055
- https://travis-ci.com/wemake-services/wemake-python-styleguide/jobs/292545645

## How is that should be

We should count nodes the same way for different ver

[2020-02-29 15:22] #1216 closed

[2020-02-29 20:19] sobolevn commented on #1196
Sure! @skarzi, thank you!

[2020-02-29 20:24] sobolevn commented on #1071
@skarzi after `0.14` is released. I hope to finish it in two weeks.

[2020-02-29 20:49] gillesigot commented on #1209
Looks interesting, may I take this one?

[2020-02-29 21:52] sobolevn commented on #1209
Thank you! @gillesigot assigned! 👍

I was thinking about this one and all #1137 tasks in general. I guess that we should use somekind of `get_assigned_expr` logic function that returns the assigned part and can be reused for all these tasks. I am open for any feedback here.

[2020-02-29 22:20] #1196 closed

[2020-03-01 07:42] sobolevn opened #1220 "Forbid `__reduce__` and `__reduce_ex__` magic methods"
# Rule request

## Thesis

These two methods work with `pickle` module.
And we consider `pickle` unsafe. And discourage its usage.

Instead one should use `json` serialisation.

So, these two magic methods should be forbidden.

## Reasoning

Related:
1. https://pycharm-security.readthedocs.io/en/latest/checks/PIC100.html
2. https://stackoverflow.com/questions/150284/what-is-the-difference-between-

[2020-03-01 12:12] #1207 closed

[2020-03-01 15:27] sobolevn opened #1221 "Remove flake8-pytest, update flake8-pytest-style"
We need to:

- Remove `flake8-pytest` with `poetry remove --dev flake8-pytest`
- Remove `flake8-pytest` reference from the docs
- Update `flake8-pytest-style` to `0.2`, related https://github.com/m-burst/flake8-pytest-style/issues/5#event-3085567844

Related #337

[2020-03-01 23:07] gillesigot commented on #1209
Ok, I was thinking of doing something like this:
[code]
If you agree, I guess I can take all the related tasks (cf. #1137) since this function will be helping for those...

[2020-03-02 09:08] #1174 closed

[2020-03-02 09:10] sobolevn commented on #1209
I would prefer a function without a mutation. Because with mutation we can break things really badly.

Let's better `return` the correct node from it.

[2020-03-02 11:30] Kvm99 commented on #1191
Hi. Could I take the issue?

[2020-03-02 12:16] kennycontreras commented on #1191
@Kvm99 Yes please, I don't have much time at the moment so I'll leave it for now.

[2020-03-02 12:23] sobolevn commented on #1191
@kennycontreras no worries, come back when you will have the time! 👍

@Kvm99 thanks a lot! Assigned!

[2020-03-02 15:46] sobolevn opened #1223 "Forbid `lambda` to be in comprehension value part"
# Rule request

## Thesis

This code:

[code]

Should raise `WPS426`. But it is not raising it.

## Reasoning

It still gives the wrong result.

[2020-03-02 18:15] memery-imb commented on #1152
Thanks for doing this. I was about to post the exact same issue!

[2020-03-02 18:23] memery-imb commented on #1152
Just sent over $10 as a token of my appreciation. Keep up the great work!

[2020-03-02 19:42] sobolevn commented on #1152
@memery-imb thank you! That's awesome!

I feel so good from knowing that people actually use and benefit from this project! 👍

[2020-03-03 10:40] #1223 closed

[2020-03-03 12:00] sobolevn opened #1224 "Forbid implicit `enumerate` calls"
# Rule request

## Thesis

This code should raise:

[code]

But, it is not!

Why is it a bad idea? We are using some mutable state from outside world, when we can just use `enumerate`.

How to detect this pattern?

- variable is assigned as `0`
- variable then is used on `for` iterable as index
- variable is adjusted by `1` inside the loop's body

Related https://github.com/wemake-services/wemake-

[2020-03-03 18:52] #1186 closed

[2020-03-03 19:50] leksuss commented on #1187
Please, assign this issue to me.

[2020-03-03 20:46] #1221 closed

[2020-03-04 15:20] sobolevn opened #1228 "Make sure that `ast.FormattedValue` is supported everywhere `ast.Str` is supported"
# Bug report

We need to go through all rules and add `ast.FormattedValue` when we are missing it and `ast.Str` is involved. The same is applied to `ast.Bytes`.

We can even create a `StrNodes` helper to make sure this error is not happening again.

[2020-03-04 16:09] JazabC commented on #1220
Hi, I would like to work on this but am a beginner and would appreciate some assistance :)

[2020-03-04 16:13] sobolevn commented on #1220
Hi, @JazabC!

This is one of the easiest tasks. Here's what you need to do: Add these two methods to the blacklist here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/constants.py#L224

You can even use Github UI for this 🙂

So, can I assign you on this one?

[2020-03-04 16:14] JazabC commented on #1220
@sobolevn Yes i'd like to be assigned to this one. Thank you for the information!

[2020-03-04 16:25] sobolevn commented on #1220
Closed by #1229

[2020-03-04 16:25] #1220 closed

[2020-03-04 16:37] JazabC commented on #1188
@sobolevn Can I be assigned to this issue? If not is there an issue you recommend I should try to tackle? thanks

[2020-03-04 16:45] sobolevn commented on #1188
Sure! Thanks for your help!

[2020-03-04 16:46] sobolevn commented on #1188
Here's the guide that might be helpful to you: https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md

[2020-03-04 19:47] sobolevn opened #1233 "Add `pyflakes` to the list of forbidden libraries"
We need to add `pyflakes` to `forbidden_modules =` here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/.importlinter#L65

[2020-03-04 19:56] sergeycrisp commented on #1233
Hello, i can try to do it!)

[2020-03-04 20:12] sobolevn commented on #1233
Done! Thanks a lot!

[2020-03-05 02:27] JazabC commented on #1188
@sobolevn I made a pull request but I am unsure where to document these constants in violation docs

[2020-03-05 06:51] sobolevn opened #1235 "Check for `printf` style placeholders in strings"
# Rule request

## Thesis

We need to raise a violation when we see a string definition like `'my name is: %s'`
We don't care that it is not used yet. It is a sign that wrong formatting will be used.

## Reasoning

Since we are removing `flake8-pep3101` we are free to improve this field of our checks.
Related #1173

[2020-03-05 06:58] sobolevn opened #1236 "Check for ssh/amazon keys, diffs and other patterns in string variables"
# Rule request

## Thesis

There are several tools from which we can copy several checks to enforce better security:

1. https://github.com/landscapeio/dodgy/blob/master/dodgy/checks.py
2. https://github.com/Yelp/detect-secrets/tree/master/detect_secrets/plugins

There are several simple regexes to copy. And then we can add this check to our tool.

Plan:
1. A single violation for all of these chec

[2020-03-05 17:45] sobolevn commented on #1233
Closed by #1237

[2020-03-05 17:45] #1233 closed

[2020-03-06 05:12] sobolevn opened #1239 "Lint `f` strings better!"
# Rule request

## Thesis

Currently we just do not allow people to use `f` strings.
But, what if our user just ignores this violation? Now it is possible to do very bad things inside `f` strings and we do not cover it at all.

I suggest to add `TooComplexFormattedStringViolation` that will be throw in case of:
0. `f'{one_name}'` should raise: because we only a single name inside `f` string
1. Too

[2020-03-06 05:33] #1172 closed

[2020-03-06 06:14] #1188 closed

[2020-03-06 08:32] sobolevn opened #1241 "python3.9: forbid anything, but dotted names inside decorators"
# Rule request

## Thesis

After `python3.9` we would be able to use this as a decorator:

[code]

WHAT?! WHY?!

We need to add a rule that forbids it.
Only names, attributes, and calls should be allowed after `@`

## Reasoning

This is an extra complexity that is totally not required. I don't have any valid use-cases for this.
Use variables, functions, attributes. It is not that hard!

Related: h

[2020-03-06 10:52] sobolevn opened #1242 "Forbids classes with too high coupling"
# Rule request

## Thesis

Coupling is a very important concept in programming.

Currently, we don't enforce any rules about cohesion and coupling. But, we totally need to!

And while you can use https://github.com/mschwager/cohesion to measure cohesion, there's no tool to measure coupling.

I don't think that cohesion is important. Because the best class in my opinion is `@dataclass`:

[code]

Bu

[2020-03-06 11:29] AlwxSin opened #1243 "WPS114 Found underscored name pattern failes on cornercase"
# Bug report

## What's wrong
[code]
[code]

## How is that should be
Checker should ignore numbers concatenated with strings.

There was a question [here](https://github.com/wemake-services/wemake-python-styleguide/issues/205#issuecomment-427339146) but with no answer

[2020-03-06 12:04] sobolevn commented on #1243
Why do you think so?

The whole idea about this rule was to force `sw_episode2` instead of `sw_2episode`
You can also try `sw_2_episode`

[2020-03-06 12:28] AlwxSin commented on #1243
My personal problem is short abbreviations like `1c` or `360_security`.  I cant start a variable with a digit but I can't name it like `cotract_1c`  `firewall_360_security`

[2020-03-06 12:59] sobolevn commented on #1243
Let's make a PR with the experiment to allow this?

[2020-03-06 14:46] JazabC commented on #1239
@sobolevn Can I take this issue?

[2020-03-06 19:38] sobolevn commented on #1239
Sure, but I am not sure it is ready to be implemented yet.
Because I don't know complexity metrics to implement.

@AlwxSin do you want to share your thoughts on this one?

[2020-03-06 23:01] #1173 closed

[2020-03-06 23:01] #1235 closed

[2020-03-06 23:01] #1228 closed

[2020-03-06 23:49] sobolevn commented on #579
Related: https://github.com/PyCQA/pydocstyle/pull/456

[2020-03-07 10:59] #1187 closed

[2020-03-07 11:28] sobolevn commented on #724
Maybe this can be helpful: https://docs.python.org/3/library/symtable.html

[2020-03-07 12:02] #1137 closed

[2020-03-07 23:35] #1209 closed

[2020-03-08 10:41] sobolevn commented on #1120
@sponsfreixes friendly ping. Are you still planing to work on this task? Do you need any help?

[2020-03-08 11:02] sobolevn opened #1245 "Forbid implicit `all` or `any` pattern"
# Rule request

## Thesis

Sometimes you can find a code like this:

[code]

And this ugly imperative logic can be easily replaced with pretty `all()` or `any()` calls.

Notice that we don't care about `all` or `any` specifics. And treat them equally. Because they can be easily refactored into each other.

## Reasoning

It really improves readability of your code.
It should be a refactoring patter

[2020-03-08 11:13] sobolevn opened #1247 "Possibly forbid names with too low Levenshtein distance"
This is not a request at the moment. Just an idea. I invite everyone to discuss it.

Naming is hard. Sometimes people make bad decisions when giving names to their variables / functions / classes / etc.

Levenshtein distance: https://en.wikipedia.org/wiki/Levenshtein_distance

Here are some examples that I have seen in real code (luckily not in ours):
- `res_e` and `res_r` for `response_error` and

[2020-03-08 12:26] sobolevn opened #1248 "Disallow to ignore some violations on line level"
# Rule request

## Thesis

Sometimes developers inline ignore violations that should not be ignored. Like complexity violations, best practices, or any others that are important for this specific project.

So, we need to give users an option to provide a configuration hook with violations names (both short like `WPS` and full ones like `WPS102`) that cannot be ignored.

And when we find inline ign

[2020-03-08 12:36] sobolevn commented on #1247
@AlwxSin @kxepal @orsinium what do you guys think?

[2020-03-08 13:22] sobolevn commented on #1138
Related: https://gitlab.com/pycqa/flake8-docstrings/-/issues/42

[2020-03-08 13:35] sobolevn commented on #1138
Possibly blocked: https://github.com/tylerwince/flake8-bandit/issues/15

[2020-03-08 20:30] edytagarbarz commented on #1201
Let me fix this one

[2020-03-09 07:52] sobolevn commented on #1201
Sure! Thank you, @edytagarbarz! Make sure to read [our contributing guides](https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md)

I am here to help: ask anything you need.

[2020-03-09 08:09] AlwxSin commented on #1239
From my experience, one can easily read code like this
[code]

Anything more complex is hard to read like `f'{reverse('url-name')}?{"&".join("user="+uid for uid in user_ids)}'`

So:
* value of a variable itself
* value of a dict key by key lookup
* value of a list item by index lookup
* return value of a function or a method without arguments

[2020-03-09 09:39] lewisacidic commented on #1241
I would argue the PEP does provide a good example use case:

[code]

vs having to do

[code]

The second one looks confusing and hacky in my opinion, and I'm glad the PEP was accepted.

That said, I agree complex decorator expressions would destroy readability.  Perhaps requiring a low complexity for decorator expressions might be a more measured solution than a blanket ban?

[2020-03-09 10:00] sobolevn commented on #1241
@lewisacidic I am glad that you brought this up!

Let me explain the problem in this PEP example.

When you write `@buttons[0].clicked.connect` you are really making several very important assumptions:  `buttons[0]` is really special. Because it is the only one that is connected to this function. So, it should have a name! And a clear one. Not `button_0`. Let's say that it is a registration-relate

[2020-03-09 10:12] orsinium commented on #1247
This one isn't about the similarity of vars names but that they aren't descriptive enough. If only `res_e` is represented in the code, it's still the same error. A possible solution is to do an error not only on one-char var names but also on a one-char word inside snake_case variable (`res_e` is an error, `res_err` isn't).

Let's not do what we're not sure about. For example, `pi` is the best nam

[2020-03-09 10:35] sobolevn opened #1249 "Add flake8-spellcheck to docs"
Let's add this awesome plugin to the list of external plugin in the docs!
Docs: https://github.com/wemake-services/wemake-python-styleguide/blob/master/docs/pages/usage/integrations/plugins.rst

Link: https://github.com/MichaelAquilina/flake8-spellcheck

[2020-03-09 10:51] lewisacidic commented on #1241
I agree it is not a fantastic example, the variable name `button_0` is bad, and `button[0].anything` smells.  But what if you have a dictionary of buttons:

[code]

I do think index notation is more succinct and doesn't compromise readability in some contexts.

In any case, thanks for clarifying the reasoning behind this issue: it's a matter of enforcing explicit variable naming, rather than avoid

[2020-03-09 11:02] AlwxSin commented on #1243
@sobolevn I have made things. Allows characters after digit.

[2020-03-09 11:27] AlwxSin commented on #1247
As @orsinium said, there are a lot of corner cases. I doubt that it's possible to cover most of them.

[2020-03-09 11:53] #1243 closed

[2020-03-09 11:54] sobolevn commented on #1247
Ok, I agree. Let's close it for now.

[2020-03-09 11:54] #1247 closed

[2020-03-09 19:06] charleshayes commented on #1249
@sobolevn May I take over this issue? I am looking to make my first open source contribution, and this would be a great entry point for me.

[2020-03-09 19:14] sobolevn commented on #1249
@charleshayes absolutely! Thanks a lot!

[2020-03-10 16:04] sobolevn opened #1251 "Announce 0.15 release on ProductHunt"

[2020-03-12 08:49] Hiyorimi commented on #1212
On it

[2020-03-12 09:02] #1212 closed

[2020-03-12 10:21] #1204 closed

[2020-03-12 10:44] #1208 closed

[2020-03-12 10:46] sobolevn commented on #1200
Closed by https://github.com/wemake-services/wemake-python-styleguide/commit/c3818e6f7c21f6f7f3153fc851f77d8acd8bca87

[2020-03-12 10:51] #1203 closed

[2020-03-12 11:10] #1206 closed

[2020-03-12 11:12] sobolevn commented on #1201
@edytagarbarz friendly ping to make sure you don't have any problems with the task. But, if there's something I can help you with - feel free to ask! 👍

[2020-03-12 11:13] sobolevn commented on #1201
By the way, this commit does pretty much the same thing as you need: https://github.com/wemake-services/wemake-python-styleguide/commit/4fa9f411fbe5c24477f4b7d975ed84845b405e64 Check it out!

[2020-03-12 11:38] #1200 closed

[2020-03-12 11:38] #1202 closed

[2020-03-12 11:40] #1205 closed

[2020-03-12 19:05] edytagarbarz commented on #1201
Thank you @sobolevn! Configuration took me a while but now no problems at all :)

[2020-03-12 19:23] #1201 closed

[2020-03-12 21:44] sobolevn commented on #1249
@charleshayes friendly ping 🙂 Do you need any help from my side?

Just for to be helpful: you can use github website to do this task, no need to fork / clone it manually. See https://help.github.com/en/github/managing-files-in-a-repository/editing-files-in-your-repository

[2020-03-13 08:15] sobolevn commented on #688
Related: https://github.com/PyCQA/bandit/issues/589

[2020-03-15 09:52] sobolevn opened #1254 "Create a migration guide to 0.14"

[2020-03-15 10:45] sobolevn opened #1255 "Explain our principles better"
I have found a great article about code styles: https://habr.com/ru/post/236785/ (sorry non-Russian people, it is written in Russian. You can use google translate for it)

The thing I like about this is that a lot of principles are illustrated at one place. We have lots of rules. And sometimes it might be hard for people to understand these principles just reading the docs. I guess, that it is bet

[2020-03-16 11:29] #1189 closed

[2020-03-16 11:57] sobolevn opened #1256 "List should be treated as invalid unpacking targets"
# Rule request

## Thesis

Currently, this code passes our linter:

[code]

But, it is wrong. We need to force:

[code]

So, we need to disallow `ast.List` as an unpacking target.

## Reasoning

There's an already a working way of doing unpacking assignment: tuples.
We don't need one more way to do it.

I would say this is a consistency rule.

[2020-03-16 12:40] sobolevn opened #1257 "Allow %-format in docstrings"
Docstrings cannot be formatted. So, there's no need to catch this case.

But, this can help us to reduce false-positives.

[2020-03-16 12:42] sobolevn opened #1258 "Bump flake8-builtins"
New version of `flake8-builtins` is released: `1.5.2`

We need to update our dependency here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/pyproject.toml#L63
Here's how to do it: https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md#dependencies

[2020-03-16 18:06] skarzi commented on #1256
Can I prepare PR for this issue?

[2020-03-16 18:30] sobolevn commented on #1256
@skarzi sure! Thanks a lot!

[2020-03-16 19:37] sobolevn opened #1260 "Bump `flake-isort` to 2.9"
New version of `flake8-isort` is released: `2.9.0`

We need to update our dependency here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/pyproject.toml#L71
Here's how to do it: https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md#dependencies

[2020-03-16 21:16] #1258 closed

[2020-03-17 10:12] #1257 closed

[2020-03-17 10:17] sobolevn commented on #1249
@charleshayes feel free to send a PR in any case, but I will leave this issue for some other new-comer 🙂

[2020-03-17 10:21] sobolevn opened #1262 "Add flake8-coding to the docs"
Let's add this awesome plugin to the list of external plugin in the docs!
Docs: https://github.com/wemake-services/wemake-python-styleguide/blob/master/docs/pages/usage/integrations/plugins.rst

Link: https://github.com/tk0miya/flake8-coding

Related: https://github.com/wemake-services/wemake-python-styleguide/issues/1249

[2020-03-17 10:32] altvec commented on #1260
May I take over this issue?

[2020-03-17 10:35] sobolevn commented on #1260
Sure, thanks a lot!

[2020-03-17 10:45] Andrka commented on #1262
May I take over this issue?

[2020-03-17 11:04] sobolevn commented on #1262
@Andrka you are welcome! Thanks!

[2020-03-17 11:11] leksuss commented on #1249
Hello, let me take it :)

[2020-03-17 11:15] sobolevn commented on #1249
@leksuss thanks!

[2020-03-17 12:41] #1260 closed

[2020-03-17 12:42] #1262 closed

[2020-03-18 09:40] sobolevn opened #1265 "Executable violation should not be thrown for Windows"
Windows does not have the concept of "rights" AFAIK.
So, we need to exclude it from this check. As it was originally implemented in `flake8-executable`.

[2020-03-18 10:21] sobolevn opened #1266 "Enforce consistent comprehension structure"
# Rule request

## Thesis

Currently we can write comprehensions any way we want. I suggest to leave just two options:

1. Single-line comprehensions like `[some(number) for number in numbers]`
2. Properly structured one (action, for loops, and condition are all on different lines):

[code]

Wrong cases:

[code]

[code]

[code]

## Reasoning

This a consistency rule.

[2020-03-18 10:27] leksuss commented on #1249
@sobolevn should I add so minor changes to the `CHANGELOG.md` ?

[2020-03-18 10:30] sobolevn commented on #1249
No, this is not required 🙂

[2020-03-18 11:06] #1249 closed

[2020-03-18 11:55] #1191 closed

[2020-03-18 12:57] sobolevn commented on #1138
Current state: `:=` usage is allowed by WPS, but is failing with `pycodestyle` and `flake8`
There's nothing we can, because master versions of these tools are already working fine. But, there are no new releases.

I am going to ignore this for now, because `:=` is anyways not allowed with our styleguide.

[2020-03-18 12:57] #1138 closed

[2020-03-18 15:19] #1265 closed

[2020-03-18 17:28] skarzi commented on #1266
Sometimes I also see code using following formatting:

[code]

but I think it also should be restricted

[2020-03-18 17:33] sobolevn commented on #1266
I agree 👍

[2020-03-19 07:05] sobolevn opened #1268 "Improve .pyi files support"
Currently, we have a lot of rules that are not very aligned with `.pyi` files.

Here are some of them:
- `...` usage as a placeholder
- complexity rules like number of arguments, methods, etc (we cannot control things like it in annotations)

And probably others as well.

What we need to do here is ignoring this violations when `filename` has `.pyi` extension.
And better docs about this case.

Rel

[2020-03-19 07:05] sobolevn commented on #1268
Can be also tested on:
- https://github.com/typeddjango/django-stubs
- https://github.com/typeddjango/djangorestframework-stubs

[2020-03-19 11:08] sobolevn commented on #165
Related: https://github.com/asottile/yesqa

[2020-03-19 11:08] sobolevn commented on #165
We can also warn about unused `ignore=` and `per-file-ignores=`

[2020-03-19 13:13] sobolevn commented on #1268
We should also allow almost any names in `.pyi` files. We cannot control it either.

[2020-03-19 13:35] sobolevn opened #1269 "Comments like `# type: ignore[override]` are not allowed"
# Bug report

## What's wrong

Valid `mypy` comments like `# type: ignore[override]` or `# type: ignore[override,other]` are not allowed by this linter. It raises `WPS400` for it.

## How is that should be

We need to allow `ignore` comments with the extended syntax.

[2020-03-19 13:53] sobolevn commented on #1269
Related: https://gitlab.com/pycqa/flake8/-/issues/624

[2020-03-19 14:00] sobolevn commented on #1269
Related https://github.com/PyCQA/pyflakes/issues/475

[2020-03-19 14:07] sobolevn commented on #1268
Also ignoring:
- [ ] WPS605, because methods can have 0 arguments in stubs
- [ ] WPS604, because all magic methods can be used in stubs
- [ ] WPS602, because `@staticmethod` can be used in stubs
- [ ] WPS600, because classes can subtype builtins in stubs
- [ ] WPS431, because there can be nested classes
- [ ] WPS428, because we use `...` in stubs
- [ ] WPS412, because `__init__.py` can have logic

[2020-03-19 14:09] sobolevn commented on #1268
This is way too big for `0.14`.

[2020-03-20 10:34] #1269 closed

[2020-03-20 19:21] mschwager commented on #688
Dlint's rule [`DUO138`](https://github.com/dlint-py/dlint/blob/master/docs/linters/DUO138.md) will detect catastrophic regular expressions. There are still some false positives, but it's right for the most part. Since Dlint is built on `flake8` you can simply add `dlint` to your dependencies and it should work.

If you only want `DUO138` for now, then you can disable all Dlint rules and only enabl

[2020-03-22 12:15] sobolevn commented on #1120
Might be related: #1268

Maybe we can use some kind of `--tests-filename-pattern` (similar to http://doc.pytest.org/en/latest/reference.html#confval-python_files)? And disable some checks there by default?

I don't see much value in just updating the docs for this one. I suggest to add a feature that will solve this case.

[2020-03-22 14:18] #1254 closed

[2020-03-22 22:14] PrVrSs commented on #1236
I'll add this rule

[2020-03-22 22:16] sobolevn commented on #1236
Thanks a lot!

[2020-03-23 09:55] sobolevn opened #1274 "`--baseline` support"
Original issue: https://gitlab.com/pycqa/flake8/-/issues/602

[2020-03-23 20:24] sobolevn opened #1275 "`SOME = 1` is allowed"
Turns out our check is case sensitive.

It should should raise `WPS110` as `some = 1` does.

[2020-03-23 22:11] jnoortheen commented on #1145
It can be added at the end next to each errors when the combined error count is shown, much like eslint. Each of the major plugin has a documentation page for error codes. Even if pointing to the exact code is not possible, it could give the link to documentation.

[2020-03-23 22:41] ammarnajjar commented on #1275
I would like to give this a shot, if it's ok.

[2020-03-23 23:20] sobolevn commented on #1275
@ammarnajjar thanks a lot!

[2020-03-24 19:05] sobolevn opened #1277 "--cache support"
For large project linting can be really slow!

We need to use cache for excluding already checked unchecked files.
Original idea: https://gitlab.com/pycqa/flake8/-/issues/601

[2020-03-25 08:50] sobolevn opened #1279 "Enforce consistency with tuple brackets"
# Rule request

## Thesis

There are several cases when brackets for a tuple can be really important:

1. Single element tuples: `x,` vs `(x,)` the second one is easier to read and looks like tuple, the first one is tuple-ish enough.
2. Multiple elements in tuple: `x = 1, 2, 3` vs `x = (1, 2, 3)` I still prefer explicit brackets
3. Unpacking: `x, y = t()` vs `(x, y) = t()` I like the first one mor

[2020-03-25 08:50] sobolevn commented on #1068
Implementation: https://github.com/wemake-services/wemake-python-styleguide/pull/1147

[2020-03-25 10:48] orsinium commented on #1279
The first one: https://github.com/PyCQA/flake8-commas

I think I've seen remaining as well but can't recall. Should be checked.

[2020-03-25 13:31] #1275 closed

[2020-03-26 08:27] dependabot-preview[bot] opened #1290 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/wemake-services/update-logs/27601559).

[2020-03-26 08:27] dependabot-preview[bot] opened #1291 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/wemake-services/update-logs/27601557).

[2020-03-26 08:27] #1290 closed

[2020-03-26 08:27] dependabot-preview[bot] opened #1292 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/wemake-services/update-logs/27601555).

[2020-03-26 08:28] #1291 closed

[2020-03-26 08:28] dependabot-preview[bot] opened #1293 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/wemake-services/update-logs/27601558).

[2020-03-26 08:28] #1292 closed

[2020-03-26 08:28] #1293 closed

[2020-03-26 08:28] dependabot-preview[bot] opened #1294 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/wemake-services/update-logs/27601560).

[2020-03-26 08:28] #1294 closed

[2020-03-26 08:28] dependabot-preview[bot] opened #1295 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/wemake-services/update-logs/27601563).

[2020-03-26 08:28] dependabot-preview[bot] opened #1296 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/wemake-services/update-logs/27601556).

[2020-03-26 08:28] #1295 closed

[2020-03-26 08:28] #1296 closed

[2020-03-26 08:28] dependabot-preview[bot] opened #1297 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/wemake-services/update-logs/27601561).

[2020-03-26 11:45] #1297 closed

[2020-03-26 11:45] dependabot-preview[bot] opened #1298 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/wemake-services/update-logs/27621221).

[2020-03-26 12:08] #1298 closed

[2020-03-26 14:46] sobolevn commented on #1279
Related: `(original, )` vs `(original,)`

[2020-03-28 10:38] sobolevn commented on #1277
Cache from `eslint`:

[code]

[2020-03-28 18:12] jdrober9 commented on #1245
I am a student from U of M. My partner and I need to help patch an issue for our project, may we take this?

[2020-03-28 20:03] sobolevn commented on #1245
@jdrober9 you are more than welcome! 👍

[2020-03-28 20:03] sobolevn commented on #1245
Make sure to read [our contributing guides](https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md)

I am here to help: ask anything you need.

[2020-03-29 17:25] huangleo12 commented on #1164
Hi, I'm a student at Umich. Working with @jdrober for a HW assignment. Can we take this in our backlog after #1245?

[2020-03-29 18:45] sobolevn commented on #1164
@huangleo12 you sure can! Thanks a lot for your help! 👍

[2020-03-31 16:01] jdrober9 commented on #1266
Hello again! @sobolevn we would like to assign ourselves this issue as well. We will be taking on these three issues over the course of the next two weeks. We have already started reading the documentation and will reach out if we have any questions! Thank you again.

[2020-03-31 16:03] sobolevn commented on #1266
@jdrober9 done! Thank you!

[2020-04-01 13:46] chamaoskurumi opened #1303 "Setting up a wemake-python-styleguide GitHub action that respects a legacy code flakehell baseline"
Dear wemake-python-styleguide team,

first of all, thanks for the greatest of all python linters! m(＿＿)m

This is not Bug Report, but I have a wemake-python-styleguide specific question, that seems to require an answer by the people who actually know best about the wemake-python-styleguide - and that is obviously you.

So forgive me for misusing the Bug Report to pose my question here.

I posted t

[2020-04-01 15:29] sobolevn commented on #1303
@chamaoskurumi thanks a lot for your question! I would say that currently it is not possible. Because `flakehell` is an external tool. It is kinda supported, but it is not FULLY supported.

Currently, I am working on a baseline that is going to be native for `wemake-python-styleguide`.
Please, take a look at:
- #1276
- #1274

Best,
Nikita

[2020-04-01 18:47] noxxious opened #1304 "False positives for 'WPS323' on logging calls"
# Bug report
The WPS323 checks for "%" in the strings instead of the % operator classifies the python logging framework calls, which rely on the % pattern as positives. There's no easy migration path to fix these in as described in https://docs.python.org/3/howto/logging-cookbook.html#using-particular-formatting-styles-throughout-your-application

## What's wrong

The python logging calls are flag

[2020-04-01 19:31] sobolevn commented on #1304
Yes, this is working as intended. There are several things to do:

1. https://sobolevn.me/2020/03/do-not-log
2. https://stackoverflow.com/questions/13131400/logging-variable-data-with-new-format-string/36294984
3. Disable this check and use `flake8-pep3101` instead

Thanks a lot for your submission.

Maybe we can improve the docs?

[2020-04-02 09:31] chamaoskurumi commented on #1303
Thanks for your quick reply @sobolevn !

Looking at the two issues, it seems like the native baseline feature might be ready in the not too distant future. That's great!

So I'll just wait for the release and come back here if I encounter any problems with that `baseline` feature.

[2020-04-02 09:32] sobolevn commented on #1303
I hope to get this done by the end of this week. 👍

[2020-04-02 12:07] noxxious commented on #1304
Thanks for the pointers. I do think your comments would be a good additional documentation/knowledge base on the case. Linter errors should be a learning opportunity as much as automated check.

[2020-04-02 12:10] sobolevn commented on #1304
@noxxious are you willing to submit a doc fix? 🙂 🙏

[2020-04-02 14:31] ruwaid4 commented on #1241
Hello, could i take this one?

[2020-04-02 14:34] sobolevn commented on #1241
Nope, sorry. python3.9 is not even released. Let's wait 🙂

[2020-04-02 15:00] ruwaid4 commented on #1182
Hi again, me and my friend would like to try and take on this issue. What's the difficulty level for this one?

[2020-04-02 15:42] sobolevn commented on #1182
This one is not clear to me yet. You can select any issue from: https://github.com/wemake-services/wemake-python-styleguide/milestone/16

It would be easier 🙂

[2020-04-02 16:30] ruwaid4 commented on #1008
@sobolevn It is unclear whether this rule should be implemented or not.

[2020-04-02 18:45] sobolevn commented on #1008
Nope, we use a lot of `ifexpr` in our code. And basically I really like ternary expressions.

[2020-04-02 18:45] #1008 closed

[2020-04-03 09:39] kxepal opened #1307 "Lint Python distribution files"
# Rule request

There is an idea to add rules set upon project distribution files validation.

## Thesis

This project does great job on checking Python code. But code just remains in VCS, people uses it via distribution artifacts, like wheels or sdist. And even with ideal code style it can be broken for users because:

- You forgot include static files into dist;
- Your sdist includes README with

[2020-04-03 10:18] sobolevn commented on #1307
Thanks a lot for the idea! I will take some time to research this topic.

[2020-04-03 12:14] ruwaid4 commented on #1085
@sobolevn Should this rule be implemented? If not, could you recommend us an issue to work on? We have looked at most of them but aren't up to date on what should be implemented or not.

[2020-04-03 14:04] #1092 closed

[2020-04-03 14:05] sobolevn commented on #1085
@ruwaid4 here you go:

- https://github.com/wemake-services/wemake-python-styleguide/issues/864
- https://github.com/wemake-services/wemake-python-styleguide/issues/1025
- https://github.com/wemake-services/wemake-python-styleguide/issues/1239

[2020-04-03 14:36] ruwaid4 commented on #1239
Hi again @sobolevn, we would like to take this one on.

[2020-04-03 14:38] sobolevn commented on #1239
Thanks a lot!

[2020-04-03 23:50] radzak opened #1308 "Discrepancy between isort and flake8 line length settings"
I have a question about the configuration for [nitpick](https://pypi.org/project/nitpick/). Why is the line length different for flake8 and isort?

[code]

`isort --help`

                        The max length of an import line (used for wrapping
                        long imports).

`flake8 --help`

                        run. (Default: 79)

If you're changing the default for flake from 79 to

[2020-04-04 05:41] vikigenius opened #1309 "false positive for VagueImportViolation #WPS347"
Let us say I have the following structure

[code]

Let us say in `write.py` I try to import `read.py` like this

`from root_module.pipeline import read as read_pipeline  # VagueImportViolation`

Shouldn't it be okay since I am using an alias

[2020-04-04 05:45] sobolevn commented on #1309
Which version are you using? It is seemed to be fixed in `0.14`

[code]

[2020-04-04 05:55] sobolevn commented on #1308
Good question! Turns out you are right. There's an inconsistency.

Here's an example:

[code]

These are two 80 chars long lines:

[code]

Let's see how they treated with our settings:

[code]

When I use `isort` with `line_length = 80` - everything works fine.

I cannot remember the origin of this, but I remember that I had to fix this in all of my repos.
We can change this to be `80` in `WPS@0.1

[2020-04-04 10:55] ruwaid4 commented on #1239
@sobolevn @AlwxSin we were thinking about whitelisting the cases mentioned in this thread. Are there any new cases you've thought of that should be allowed?

[2020-04-04 23:50] vikigenius commented on #1309
@sobolevn You are right. Update to 14.0 fixed this. Closing.

[2020-04-04 23:50] #1309 closed

[2020-04-06 10:04] AlwxSin opened #1314 "False positive DirectMagicAttributeAccessViolation with __subclasses__"
# Bug report

## What's wrong
[code]

This piece of code raises
`WPS609 Found direct magic attribute usage: __subclasses__`

## How is that should be
`__subclasess__` method should be excluded from the check because it's a class method and can be used outside of class.

Maybe there are other methods that should be excluded?

[2020-04-06 10:06] sobolevn commented on #1314
`__name__`?

[2020-04-06 10:09] AlwxSin commented on #1314
`__name__` doesn't raise violation 😁

But it should be excluded too, of course.

[2020-04-06 10:11] AlwxSin commented on #1239
@ruwaid4 no more than I said before 🤷

[2020-04-06 15:07] ruwaid4 commented on #1239
@sobolevn Just to clarify, FormattedStringViolation should NOT be removed but TooComplexFormattedStringViolation should be added in case a user decides to ignore the former violation?

[2020-04-06 21:03] jdrober9 commented on #1164
When we run make test before adding our changes we are getting these kind of errors:

poetry run flake8 .
ERROR:darglint:Unexpected type in raises expression: <_ast.BinOp object at 0x10feb50b8>
ERROR:darglint:Unexpected type in raises expression: <_ast.Compare object at 0x111ffb7b8>
ERROR:darglint:Unexpected type in raises expression: <_ast.Compare object at 0x111ffb668>
ERROR:darglint:Unexpected

[2020-04-06 22:03] sobolevn commented on #1164
Yes, this is an issue with `darglint`: https://github.com/terrencepreilly/darglint/issues/78

You can temporarily downgrade its version.

[2020-04-07 20:02] #1308 closed

[2020-04-07 22:33] mattany commented on #1314
Hi, I have never contributed to an open-source project before but I would like to start here :) I have already forked the repository and cloned it.
This is probably really dumb but I am having trouble understanding in what file this actual bug resides.
cheers

[2020-04-08 06:44] sobolevn commented on #1314
@mattany thanks a lot! And congrats on your first open-source fork 🎉

I am going to help you!

1. We need to find the violation that @AlwxSin is talking about. It can be done even inside Github's search: https://github.com/wemake-services/wemake-python-styleguide/search?q=DirectMagicAttributeAccessViolation&unscoped_q=DirectMagicAttributeAccessViolation
2. Then we locate that it is used in for fil

[2020-04-08 07:56] jnoortheen opened #1317 "pylint like duplicate code detection"
# Rule request

Pylint has a feature to detect similar lines and report duplicate code. Is it possible to add such rule to flake8?

## Thesis

## Reasoning

lesser the code, lesser the bugs and lesser code to maintain

[2020-04-08 08:52] sobolevn commented on #1317
Sorry, I don't think so. At least it won't be easy. Why?

`flake8` operates with one file at a time. `pylint` does know about other modules.
So, we cannot get the contents of another file with `flake8` and AFAIK there's no way in saving the intermediate results.

But:
1. You can use https://github.com/kucherenko/jscpd or pylint with just this check
2. I will dig into it and possibly find some ways

[2020-04-08 09:17] sobolevn opened #1318 "Create `.. plugincodes` sphinx directive"
It should show:
1. Current plugin code with `WPS` prefix, so it would be easier to search
2. Code changes in history: we have `previous_codes` property for this

Example: https://github.com/sixty-north/added-value

[2020-04-08 09:19] sobolevn opened #1319 "TooDeepAccessViolation should also count nested subscripts"
# Rule request

Currently we track code like this:

[code]

But, we also need to raise errors on code like this: `a[b[c[d[e[f[g]]]]]]`
Currently, it is ignored.

[2020-04-08 10:58] sobolevn commented on #1319
On the other hand, we raise JonesComplexity violation for this line.
It is more than enough.

Otherwise, the implementation will be very hard.

[2020-04-08 10:58] #1319 closed

[2020-04-08 12:24] mattany commented on #1314
Thank you! I noticed that in attributes.py there is already a whitelist like what you suggested:
[code]
It already includes ```__name__``` but doesn't include ```__subclasses__```. I can't think of any other magic methods/attributes that should be called directly in some contexts, but I believe that adding ```__subclasess__``` to the set above would fix this specific issue. If other false positive

[2020-04-08 12:52] sobolevn commented on #1314
Let's also add `__mro__` in the list and it's done!

[2020-04-08 13:07] mattany commented on #1314
Great. I issued a pull request. Hope I did it right   😄

[2020-04-08 15:42] jdrober9 commented on #1164
I tried reverting back to 1.2.0 for darglint and still am producing these errors. Is there another work around for this?

[2020-04-08 16:46] webknjaz opened #1321 "WPS111 too strict inside comprehensions"
# Bug report

I think that WPS111 is too restrictive with vars that are only used in comprehension-like expressions.

## What's wrong

It says that `s` is too short here:
[code]

## How is that should be

it doesn't make sense for throwaway vars in list/dict/set comprehensions or generator expressions to be long.

[2020-04-08 18:54] sobolevn commented on #1321
Thanks a lot for the report, @webknjaz! I get your point.

But. Sometimes these comprehensions can grow. `[s.encode() for s in cythonize_args]` can become `[s.encode() for s in cythonize_args if s is not None]` and it can become `[normalize(s.encode()) for s in cythonize_args if s is not None]`.

And its final form can be `[normalize(s.encode()) for key, s in cythonize_args if s is not None and ke

[2020-04-08 18:59] webknjaz commented on #1321
I agree that comprehensions can grow but in such cases, Jones Complexity rule hits me instead. So I'd say this case is covered.
Also, here it's a comprehension of style "i don't care what the items are, i just want them converted".

I can easily rewrite this as `list(map(str.encode, cythonize_args))` and it will pass the linter but will be ultimately less readable. I mean, I'd be okay if there was

[2020-04-08 19:01] webknjaz commented on #1321
Also, this rule forces me to multiline the expression just because naming vars cause the line to not fit within limits while the cognitive complexity of the original line doesn't really require it.

[2020-04-08 19:12] webknjaz commented on #1321
Well, I think that most of the time unimportant var should be one-char. Sometimes it's `_` (I actually forgot to check it against this rule).

`xy`/`ss` seem to add some confusion visually because if after the first char there's the second one, it creates an impression that this var is a part of series of similarly-named vars (`su`, `st`, `ss` / `xx`, `xy`, `xz`) when its name doesn't resemble wor

[2020-04-08 19:35] sobolevn commented on #1164
@jdrober9 can you please try `1.2.2`?

[2020-04-09 17:12] sobolevn commented on #1307
Related https://github.com/jwodder/check-wheel-contents

[2020-04-10 08:48] sobolevn opened #1327 "False positive for WPS125 and attributes"
# Bug report

## What's wrong

[code]

It is not technically builtin shadowing.

[2020-04-10 10:01] #1314 closed

[2020-04-10 11:51] AlwxSin opened #1328 "Wrong copy paste in docs"
# Bug report

## What's wrong
[code]

## How is that should be
`Forbids to have try blocks with too long bodies.` should be deleted from `TooManyPublicAttributesViolation`

[2020-04-10 12:10] sobolevn commented on #1328
Whoops, sorry!

[2020-04-10 14:19] vmozhaev opened #1329 "False positive for WPS323 on date/time formatting"
# Bug report

Some date and time formatting cases are treated as violation:

    some_datetime.strftime('%Y-%m-%d-%H-%M')
    '{0:%Y-%m-%d-%H-%M}'.format(some_datetime)

But others are not:

    some_datetime.strftime('%H-%M')
    '{0:%H-%M}'.format(some_datetime)

## What's wrong

There is no easy to use alternative for custom date/time formatting except C standard codes.

## How is that should b

[2020-04-11 12:33] orsinium commented on #1182
[flake8-bugbear](https://github.com/PyCQA/flake8-bugbear) has `B950: line too long` rule.

https://github.com/PyCQA/flake8-bugbear/blob/5e541a8e7036cb43c97c86295eeb2c6498980f01/bugbear.py#L44-L52

The idea is a bit similar: to relax a bit line length limit.

[2020-04-11 15:46] jdrober9 commented on #1164
We cloned again and made a new fork based on the current version of the project and are still getting errors like:

Unexpected type in raises expression: <_ast.NameConstant object at 0x10cffaf10>

when we run make test before implementing our new changes.

Should we ignore these errors and make the changes and push up anyways or are there modifications that developers are making locally to combat

[2020-04-11 19:47] priyanshu20 commented on #1328
Hello,
Will updating the "complexity.py" file's comment update the documentation as well?
I am not very intimated with documenting a project.

[2020-04-11 22:14] sobolevn commented on #1328
Hi, @priyanshu20!

1. Yes
2. You have to replace it with something more meaningful

Thanks a lot for your interest in this project! 👍

[2020-04-12 07:27] #1328 closed

[2020-04-14 12:25] edytagarbarz commented on #1248
Hi, let me work on this!

[2020-04-14 12:47] sobolevn commented on #1248
@edytagarbarz you are welcome!

[2020-04-14 17:11] jdrober9 commented on #1164
Question:

we tried to add the functions to the existing class but are not able to bc it would require us to make 8 functions and only 7 are allowed. Creating this new class has caused the following error:

wemake_python_styleguide/visitors/tokenize/syntax.py:86: error: "WrongTupleVisitor" has no attribute "_check_space_before_open_paren"

we can't seem to resolve this error as our class looks ver

[2020-04-14 19:02] sobolevn commented on #1164
You should probably use `libst` to fix this issue. See #1068

[2020-04-15 17:08] jdrober9 commented on #1164
We noticed in that issue they implemented something similar to what we need to do like:

@final
 class AttributeCSTVisitor(BaseCSTVisitor):
     """"""

     def visit_Attribute(self, node: Attribute) -> None:
         """
         Checks whitespace around the dot.

         Raises:
             UnnecessarySpaceAroundDotViolation

         """
         self._check_dot(node.dot)

     def _check_do

[2020-04-17 07:16] sobolevn commented on #1329
Workaround can be: if there's also any datespecific `%` modifier as `%Y` or `%m` we can ignore this case.

[2020-04-17 07:17] #1317 closed

[2020-04-17 07:18] sobolevn commented on #1307
Related https://github.com/regebro/pyroma

[2020-04-17 07:19] sobolevn commented on #1307
However, this task is out of scope of this project. We can create a new one!
Possibly under https://github.com/moscow-python-beer

[2020-04-17 07:19] #1307 closed

[2020-04-17 07:19] sobolevn commented on #1303
Closing this for now. Stay tuned for new upcoming releases!

[2020-04-17 07:19] #1303 closed

[2020-04-17 10:26] sobolevn opened #1343 "Forbid to mix several argument types"
# Rule request

## Thesis

This code contains two types of similar but different arguments:

[code]

I would also say that these two groups does not work well together:

[code]

## Reasoning

It is really hard to call these functions, their arguments are confusing. The best practice is not to mix positional with defaults and kw-only, positional with default and args.

This is a best-practice rule.

[2020-04-17 11:21] sobolevn opened #1344 "Forbid compare with float"
# Rule request

## Thesis

This code might not work as one would think:

[code]

Because `x` can be `0.3 / 0.1` which is:

[code]

## Reasoning

This is a best practice rule.

[2020-04-17 12:05] AlwxSin commented on #1314
@sobolevn @mattany found the new one - `__version__`

[2020-04-17 12:09] sobolevn commented on #1314
@AlwxSin submit a PR then 🛷

[2020-04-18 18:07] jdrober9 commented on #1164
Is there anyway to pull from #1068 so we can incorporate our changes in with theirs? Or would we have to wait until the newest version is released with their changes?

[2020-04-18 18:27] sobolevn commented on #1164
No, currently I cannot merge this PR. I am working on a different feature.

But, you can send a PR to that repo / branch. And when it will be the time to merge, I will merge both of them together.