[2019-03-18 13:58] tatarinov1997 opened #520 ""Z456 Found incorrect `super()` call: not inside method" reported incorrectly"
# Bug report

## What's wrong
`Z456  Found incorrect `super()` call: not inside method` is reported when ANY function/class in the same file has nested functions / class definitions (super weird)
[code]
[code]

I would be glad to disable it, but unfortunately, another useful violation has the same code ("Z456 Found incorrect `super()` call: remove arguments").
For some reason `wps_context` of `_as

[2019-03-18 14:48] sobolevn commented on #520
I will fix it today, thanks a lot for the bug report.

[2019-03-18 14:49] sobolevn commented on #519
Thanks! Oh, this error happens quite often for some reason for other users. But it never actually happens for me. 😆

I assume that you were able to resolve it somehow, because I have created #520. Am I right?

[2019-03-18 15:39] tatarinov1997 commented on #519
I have pinned the flake-bandit version, but I am unsure about consequences.
I can provide you with poetry.lock if you want, so you could try to reproduce the bug with it.

[2019-03-18 17:29] sobolevn commented on #519
@tatarinov1997 yes, please. `poetry.lock` would be very helpful.

[2019-03-19 09:37] tatarinov1997 commented on #519
Here you go
[code]

[2019-03-19 16:50] sobolevn opened #521 "Ensure that we do not allow to use `__debug__`"
I am not sure if it is already forbidden or not.

[2019-03-20 11:37] #520 closed

[2019-03-20 11:49] sobolevn commented on #519
@tatarinov1997 I have copied the provided env, and was not able to reproduce the issue.

Here's my full log:

[code]

Actual run:

[code]

[2019-03-20 11:49] sobolevn commented on #519
@tatarinov1997 can you please provide a reproduction repo? So I can clone it and face this issue.
It would super-duper helpful! 👍

[2019-03-20 14:14] tatarinov1997 commented on #519
@sobolevn Do you want me to include virtual environment into repo?

[2019-03-20 14:31] sobolevn commented on #519
Nope, just `poetry` files. Virtualenv is not suited to be transported.
Thanks a lot!

[2019-03-20 14:45] tatarinov1997 commented on #519
Here you go, I have cloned it and reproduced succesfully.
[https://github.com/tatarinov1997/wemake-python-styleguide-519-issue](url)

I am using Ubuntu 16.04 if this matters.
Also I am using this commands
[code]

[2019-03-20 15:01] sobolevn commented on #519
It worked fine for me. It checked all `.venv` folder for violations and found millions of them.

The only difference is that I used:

[code]

I have also tried:

[code]

My wild guess is that `python3.6 -m venv environ` creates broken env.
To diagnose it you will need:

[code]

And I am pretty sure that you will find some packages there. Or it will discover any other packages.
Try to run `flake8`

[2019-03-20 16:17] tatarinov1997 commented on #519
Unfortunately, nothing new. I tried to allow poetry to create environment itself as you did (`poetry install &&
source .venv/bin/activate`), but the problem remains. I don't really want to spend our time anymore here, so I suggest closing the issue now.

[2019-03-27 20:12] #506 closed

[2019-03-28 11:36] sobolevn commented on #519
I have faced this issue today.

This code raises this error:

[code]

Things that I have done:
1. This is not our issue, because I have tried to `pip uninstall wemake-python-styleguide` and this error remains
2. I have removed `doctests = True` and everything works just fine

I will open a bug-report to `pyflakes`.

[2019-03-28 12:00] sobolevn opened #528 "False positive Z309 for keys"
# Bug report

## What's wrong

[code]

raises `Z309 Found reversed comparison order` violation

## How is that should be

It should not raise a violation. We use variables on both sides.

## System information

I am using `0.8.1` release.

[2019-03-29 09:14] sobolevn opened #533 "False positive for Z121 when using `_` for unused var names"
# Bug report

## What's wrong

This code triggers `Z121`:

[code]

Log: `test.py:4:11: Z121 Found usage of a variable marked as unused: _`
But it should not, since these variables are unused.

## How is that should be

It should not raise any `Z121` violations here.

## System information

I am using `8.0.1`

[2019-03-29 10:58] #528 closed

[2019-03-29 11:05] sobolevn commented on #533
Closed by accident

[2019-03-29 13:22] sobolevn opened #534 "Possibly disable ignore::PendingDeprecationWarning"
I am not sure about it.

[2019-03-30 11:21] #533 closed

[2019-04-01 22:26] sobolevn commented on #420
I really like the suggestion made by @astynax
@AndreyErmilov please, take a look.

[2019-04-03 18:53] DmytroLitvinov opened #538 "The "Usage" section was not found."
# Bug report

## What's wrong

Currently, in the [docs](https://wemake-python-styleguide.readthedocs.io/en/latest/) in the next phrase "See “Usage” section in the docs for examples and integrations." the ["Usage link"](https://wemake-python-styleguide.readthedocs.io/en/latest/pages/usage.html) is broken

## How is that should be
It should show the "usage" section instead, and not 404 :)

## System

[2019-04-03 18:54] DmytroLitvinov commented on #538
Also, in the phrase "But, you can [switch off](https://wemake-python-styleguide.readthedocs.io/en/latest/pages/usage.html#ignoring-violations) any rules that you don’t like" also is not found.

[2019-04-03 19:26] sobolevn commented on #538
Can you please fix it?  Usage should point to https://wemake-python-styleguide.readthedocs.io/en/latest/pages/usage/setup.html

Thanks!

[2019-04-03 20:20] #538 closed

[2019-04-10 11:00] sobolevn opened #545 "Enforce typing support"
Here are some typing rules that [are missing right now](https://github.com/wemake-services/wemake-python-styleguide/blob/master/setup.cfg#L68):

[code]

We need to refactor that.

[2019-04-10 11:09] sobolevn opened #546 "Z118 false positive on long attributes"
# Bug report

## What's wrong

[code]

This code raises a false positive violation:

[code]

## How is that should be

We should only check attributes for `self`, because other attributes might be a part of foreign API. That we cannot change.

[2019-04-11 10:03] sobolevn opened #547 "Fix links in web version of CONTRIBUTING doc"
Currently some docs generate broken links https://wemake-python-styleguide.readthedocs.io/en/latest/pages/contributing.html

Demo:
<img width="667" alt="Снимок экрана 2019-04-11 в 13 03 12" src="https://user-images.githubusercontent.com/4660275/55948933-30f9cc80-5c5a-11e9-8007-949df523b1c3.png">

[2019-04-12 22:35] Chinmaygoyal commented on #547
Can I work on this?

[2019-04-13 06:01] sobolevn commented on #547
@Chinmaygoyal sure! Feel free.

[2019-04-13 19:49] Chinmaygoyal commented on #547
I am new to open source so can you help me by providing a start?

[2019-04-13 20:24] sobolevn commented on #547
@Chinmaygoyal you can start with several things:
1. General tutorial about github: https://github.com/firstcontributions/first-contributions
2. The case here is too remove extra '`' chars from links
3. I am pretty sure, that you won't need it, but just in case. Here's our own technical doc: https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md

[2019-04-14 10:28] AndreyErmilov commented on #420
@sobolevn Thanks for reviewing the PR!
I can't make a complete issue description with the @astynax suggestion. Help me please.

[2019-04-14 11:15] sobolevn commented on #420
@AndreyErmilov what do you mean by "complete issue description"?

[2019-04-14 16:52] sobolevn commented on #420
@AndreyErmilov now I get it. Here's the full description:

[2019-04-15 09:44] sobolevn commented on #547
Closed via https://github.com/wemake-services/wemake-python-styleguide/pull/549

[2019-04-15 09:44] #547 closed

[2019-04-15 11:06] Chinmaygoyal commented on #471
Can I work on this issue?

[2019-04-15 11:26] SizovIgor commented on #471
@Chinmaygoyal I am on finish line to complete this issue

[2019-04-15 11:29] sobolevn commented on #471
@Chinmaygoyal feel free to take #545

[2019-04-15 17:55] KappaDistributive commented on #546
I'd like to take on this issue.

[2019-04-15 18:12] sobolevn commented on #546
@KappaDistributive please, feel free! Ask me any questions you have 🙂

[2019-04-15 21:51] KappaDistributive commented on #546
@sobolevn I've obtained a first overview of the inner workings and structure of this linter.

I do have a few questions:

1. Where would it be appropriate to include this check?
My best guess right now is that it should happen in the check_name function in `/wemake_python_styleguide/visitors/ast/namping.py` but I'm not sure.

2. Is there a good resource to learn about Python `ast`?
I've looked aro

[2019-04-16 13:14] SizovIgor commented on #546
1. I'm found TooLongNameViolation (it is Z118) in `/wemake_python_styleguide/visitors/filenames/module.py`
class `WrongModuleNameVisitor`
def `_check_module_name_length`

2. This is a good documentation. https://docs.python.org/3/library/ast.html

[2019-04-16 13:51] sobolevn commented on #546
Hi, @KappaDistributive!

Thanks for taking the time to work and think on this.
I had several conversations about this rules with my colleagues.
And we have decided that this case is valid. And nothing should be changed.

So, about your second question: we have a collection of tutorials in [`CONTRIBUTING.md`](https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md#tu

[2019-04-16 13:51] #546 closed

[2019-04-16 16:32] DmytroLitvinov commented on #471
Hello @sobolevn
The immediate value is good in the next case:
[code]
As for me, it is also understandable what from naming of value what we will return after calling of function.

[2019-04-16 16:49] sobolevn commented on #471
@DmytroLitvinov yes, this code is valid.

[2019-04-21 16:43] #471 closed

[2019-04-24 13:05] levonikitatech opened #557 "0xE produces Z310 Found bad number suffix violation."
# Bug report

## What's wrong
`
command = 0xE
`
This code produces Z310.
Maybe it's because E is another suffix.

## How is that should be

That code shouldn't produce Z310.

## System information

### flake8 information

Contents of `flake8 --bug-report`:
`{
  "dependencies": [
    {
      "dependency": "entrypoints",
      "version": "0.3"
    }
  ],
  "platform": {
    "python_implementation":

[2019-04-24 15:48] sobolevn commented on #557
@levonikitatech thanks for bringing this up. This is a bug indeed.

Do you want to fix it? 😄

[2019-04-24 18:29] levonikitatech commented on #557
Yes I want to try.

[2019-05-03 07:00] asottile commented on #519
I've triaged this here: https://gitlab.com/pycqa/flake8/issues/536

not sure if it's the same cause there, though it's likely

[2019-05-06 05:22] ripsandy commented on #545
Can I work on this?

[2019-05-06 19:00] sobolevn commented on #545
@ripsandy you are welcome!

[2019-05-12 07:54] SizovIgor commented on #557
Hi, @levonikitatech I hope you will not mind if I fix this issue.
I would be glad to see your decision :)

[2019-05-12 08:04] levonikitatech commented on #557
@SizovIgor Yes, of cource. Unfortunately I haven't even started to deside this problem, cause of university graduation. Thank's for PR.

[2019-05-13 09:19] proofit404 opened #565 "There is no possible way to write multiline byte string."
# Bug report

Consider we have this code snippet:

[code]

## What's wrong

There is no possible way to format code example above to make all linter rules pass.

[2019-05-18 20:51] orsinium opened #566 "Possible rules to restrict usage of several builtin modules, methods, etc"
If `datetime.now()` is called without `tz` argument, it returns the local time without timezone. This is mistake in most of cases. Right way not to break timezones is to use `datetime.utcnow()` or pass timezone into `datetime.now` call.

Sometimes you need local time and can ignore timezones, but this is rare cases that you can explicitly mark as noQA.

[2019-05-18 20:55] orsinium commented on #566
© [elements-of-python-style](https://github.com/amontalenti/elements-of-python-style/blob/master/README.md#the-standard-library)

[2019-05-18 21:04] orsinium opened #567 "Forbid getting known key from kwargs"
Sometimes I see code like this:

[code]

For all 3 cases 'name' should be regular argument in function:

[code]

Related to #425

[2019-05-20 09:30] ffedoroff commented on #454
Another false positive example:
`
    class Meta:
        model = User
        fields = (
            'id', 'username', 'first_name', 'last_name', 'email', 'created', 'modified', 'version',
            'address', 'city', 'state', 'zip', 'groups',
        )
`

[2019-05-20 09:34] sobolevn commented on #454
@ffedoroff this is not false positive. Correct one should be:

[code]

[2019-05-24 13:56] sobolevn opened #569 "Find overused strings"
# Rule request

## Thesis

We need to find overused strings.
https://github.com/SonarSource/eslint-plugin-sonarjs/blob/master/docs/rules/no-duplicate-string.md

## Reasoning

Use constants.

[2019-05-31 15:41] #461 closed

[2019-06-02 08:14] DmytroLitvinov commented on #471
https://github.com/sbdchd/flake8-pie

[2019-06-03 19:42] fullset commented on #534
What's wrong with it?

[2019-06-03 20:44] sobolevn commented on #534
I don't want to use deprecated API, but for some reason we use these filters https://github.com/wemake-services/wemake-python-styleguide/blob/master/setup.cfg#L43-L44

And we need to figure out why. And possibly disable it.

[2019-06-07 08:58] AlexTereshenkov opened #576 "Two issues raised by LGTM.com - need more details"
LGTM.com has found two issues in the project code base:

1. https://lgtm.com/projects/g/wemake-services/wemake-python-styleguide/snapshot/6f321524a3cd5ca4da7ead854765d87dcfc79b19/files/wemake_python_styleguide/types.py?sort=name&dir=ASC&mode=heatmap#L43 I see that you have used `# noqa: F401`. LGTM.com does support `noqa` comments (the comment should suppress raising alerts for the line) - but it

[2019-06-07 10:27] sobolevn commented on #576
1. We had problems with importing `final` long ago, while it was in `typing_extension`. I used dark magic to solve it. I would appreciate a PR with the fix. Probably just replace all imports to direct `typing_extension`
2. We use type there, not instance. See `cls: Type['BaseTokenVisitor']` annotation. And when we `return cls(` we just fire the `__init__` method there

Thanks for helping with the

[2019-06-07 10:29] sobolevn opened #577 "False positive with compare"
# Bug report

## What's wrong

[code]

Raise incorrect order violation:

[code]

[2019-06-07 13:37] AlexTereshenkov commented on #576
This makes sense, thank you. I'll work on that false positive raised.

[2019-06-07 13:39] AlexTereshenkov commented on #576
I am part of the team that runs LGTM at Semmle - there is a rule you've implemented that LGTM has [BaseExceptionViolation](https://github.com/wemake-services/wemake-python-styleguide/blob/153da5d2958e6b3a192aea61194d3e1e8fda0efa/wemake_python_styleguide/violations/best_practices.py#L556) :)

[2019-06-07 13:59] sobolevn commented on #576
@AlexTereshenkov awesome! 🌟

[2019-06-08 13:01] iproha94 opened #579 "ValueError: malformed node or string"
multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/usr/lib/python3.7/multiprocessing/pool.py", line 121, in worker
    result = (True, func(*args, **kwds))
  File "/usr/lib/python3.7/multiprocessing/pool.py", line 44, in mapstar
    return list(map(*args))
  File "/home/ilya/.virtualenvs/ds-backend/lib/python3.7/site-packages/flake8/checker.py", line 669, in _run

[2019-06-10 09:05] sobolevn opened #581 "Forbid to repeat instance variables on a class level"
# Rule request

## Thesis

https://github.com/amontalenti/elements-of-python-style/blob/master/README.md#dont-repeat-instance-labels-in-the-class

[code]

## Reasoning

This can cause errors and frustration.

[2019-06-13 12:22] levonikitatech opened #585 "False positive Z459 with negative numbers."
# Bug report

## What's wrong

This __init__ method raises Z459, because cluster_index is -1 by default.
[code]

## How is that should be
-1 is ast.Num, it shouldn't raise Z459.

## System information

### flake8 information

Contents of `flake8 --bug-report`:
`
{
  "dependencies": [
    {
      "dependency": "entrypoints",
      "version": "0.3"
    }
  ],
  "platform": {
    "python_implementati

[2019-06-13 12:25] sobolevn commented on #585
Indeed, are you willing to fix it?
I will accept a PR with a great pleasure.

[2019-06-15 12:02] sobolevn opened #586 "Bug: Z459 should accept Ellipsis"
# Bug report

## What's wrong

False positive for `./returns/maybe.pyi:79:5: Z459 Found complex default value`
It should accept `ast.Ellipsis` as a default value, since it is a standard for `.pyi` files.

## How is that should be

[code]

[2019-06-17 10:57] levonikitatech commented on #585
@sobolevn It's my mistake. In python3
`-1` translates into
`UnaryOp(op=USub(), operand=Num(n=1))` witch is not ast.Num

Let's close issue? We can allow unary minus before num.

[2019-06-17 11:15] sobolevn commented on #585
Yes, we should allow negative numbers. They are numbers after all!

[2019-06-17 11:50] orsinium opened #588 "Forbid mutable structures as constants"
In Python `UPPERCASE_VARIABLE` conventionally means constant. Let's forbid some known mutable structures to be used as constant.

1. `set` -> `frozenset`
2. `list` -> `tuple`
3. `dict` -> `types.MappingProxyType`

[2019-06-17 12:00] orsinium opened #589 "Prefer `dict(a=1)` to `{'a': 1}`"
I've seen this check in the Pycharm, but not in any flake8 plugin. If it's possible, use `dict(a=1)` instead of `{'a': 1}`.

Preconditions: all keys must be valid Python identifiers.

Motivation: readability and consistency.

This is the rule I'm not sure about, comments are welcome.

[2019-06-17 14:48] sobolevn commented on #589
I will just quote our old friend:

[2019-06-17 14:48] #589 closed

[2019-06-17 14:49] sobolevn commented on #589
😆

In reality, I really like `{}` in both `python` and `js`.
I will suffer without them.

[2019-06-17 14:50] sobolevn commented on #588
This is a good one! Like: really good one!
Thanks a lot.

[2019-06-17 16:37] orsinium commented on #589
Ok, every project needs a little bit of Kenneth :)

[2019-06-19 20:00] phoolish-philomath commented on #586
I can take care of this (:

[2019-06-19 20:04] sobolevn commented on #586
@phoolish-philomath awesome!

[2019-06-20 07:45] #586 closed

[2019-06-20 08:39] sobolevn commented on #579
Related: https://gitlab.com/pycqa/flake8-docstrings/issues/35

[2019-06-20 08:56] sobolevn commented on #576
Refactored. New release is coming.

[2019-06-20 08:56] #576 closed

[2019-06-20 08:59] sobolevn commented on #545
Done, will be shipped with `0.9.0`

[2019-06-20 08:59] #545 closed

[2019-06-20 09:06] sobolevn commented on #588
I would say it also makes sense to disallow mutable class level constants aka class fields.

[2019-06-20 09:31] sobolevn commented on #557
Closed with `0.9.0`. Release is coming.

[2019-06-20 09:31] #557 closed

[2019-06-20 09:42] sobolevn commented on #577
Closed with `0.9.0`

[2019-06-20 09:42] #577 closed

[2019-06-20 09:44] sobolevn commented on #519
Pinged `pyflakes` about the progress.

[2019-06-20 09:44] sobolevn commented on #518
Docs were added in `0.9.0`.

[2019-06-20 09:44] #518 closed

[2019-06-20 09:54] sobolevn opened #596 "`io.py` raises `Z102 Found incorrect module name pattern`"
I guess, that this should not happen if length is okay.

[2019-06-20 10:00] sobolevn commented on #596
Closed in `0.9.0`

[2019-06-20 10:00] #596 closed

[2019-06-20 10:19] sobolevn commented on #565
We now ignore `W504` in our configuration by default. And advise users to do the same.

That's how your code should look like:
[code]

[2019-06-20 10:19] #565 closed

[2019-06-20 10:21] sobolevn commented on #566
I think that should be a part of another project. Since we do not make any choices about library usages.

One can use `bellybutton` for this per project bases. Or we can collect different rules in a separate project called something like `better-stdlib` or similar. What do you think?

[2019-06-20 10:23] sobolevn commented on #566
Or it can be a part of our "Refactoring section" https://github.com/wemake-services/wemake-python-styleguide/issues/431

I am still more optimistic about the separate project.

[2019-06-20 10:26] sobolevn commented on #585
I have implemented it in the `0.9.0` release. Sorry for the delay.

[2019-06-20 10:26] #585 closed

[2019-06-20 10:49] sobolevn commented on #534
Closed in `0.9.0`

[2019-06-20 10:49] #534 closed

[2019-06-20 10:50] sobolevn commented on #143
Too complex and too restrictive. Unusable.

[2019-06-20 10:50] #143 closed

[2019-06-20 10:50] sobolevn commented on #139
Too complex and too restrictive. Unusable.

[2019-06-20 10:50] #139 closed

[2019-06-20 10:52] sobolevn commented on #409
We also need to adapt to `python3.8`.
It has a completely different `ast`.

So, I guess we will need to create a compatibility layer.

[2019-06-20 10:55] sobolevn commented on #521
Let it be.

[2019-06-20 10:55] #521 closed

[2019-06-20 11:05] sobolevn commented on #409
Version `0.9.0` is here: https://github.com/wemake-services/wemake-python-styleguide/releases/tag/0.9.0 🎉 🎉 🎉

[2019-06-20 11:41] orsinium commented on #588
It can be [registry](https://github.com/faif/python-patterns/blob/master/patterns/behavioral/registry__py3.py) pattern. One example by the link, more explicit example here:

[code]

It's how `django.admin.register` works, for example.

[2019-06-20 11:42] orsinium commented on #566
We can start collecting some rules in the separate tracker or this separate label and see, how many we will get.

[2019-06-20 12:46] sobolevn commented on #566
Let's collect them here.

[2019-06-20 12:47] sobolevn commented on #566
Related: https://www.python.org/dev/peps/pep-0594/

[2019-06-20 12:48] sobolevn commented on #588
Ok, let's leave classes alone for now.

[2019-06-20 13:58] sobolevn commented on #569
Related: https://github.com/wemake-services/wemake-python-styleguide/issues/453

[2019-06-20 13:59] sobolevn commented on #567
What if `name` is not provided? And we do not want to change the function's signature (we inherit something, use existing API)?

[2019-06-20 14:14] sobolevn opened #597 "Refactor how tree is visited"
Currently each new `visitor` does a new tree walk cycle.
It is very slow.

I need to change this logic to be able to add new rules without a large penalty.
To achieve this I plan to:

1. Add a new abstraction called `Rule` (and edit our `glossary.rst` as well)
2. Leave only three `Visitor`s: filenames, tokens, and `ast`
3. Each `Visitor` will register hooks from `Rule` to process a specific node/t

[2019-06-20 14:16] sobolevn commented on #597
## Performance information

### Current
Commit: https://github.com/wemake-services/wemake-python-styleguide/commit/0d5491b983cf141148d2cc47be191b31feb6ceb7
Command: `» time flake8 .`
Result: `37.60s user 1.15s system 238% cpu 16.227 total`

[2019-06-20 14:22] phoolish-philomath commented on #581
I can do this one.

[2019-06-20 14:44] sobolevn commented on #581
@phoolish-philomath awesome! Please, ask me any question you have 🙂

[2019-06-20 14:45] sobolevn commented on #581
Just to be clear, annotations are ok:

[code]

[2019-06-20 15:41] orsinium commented on #567
[code]

[2019-06-20 15:44] orsinium commented on #588
Why is it closed? Sorry, I've missed the point. In my example above `endpoints` variable is lowercase, it's ok. The original issue about forbidding it for UPPERCASE vars.

[2019-06-20 15:45] sobolevn commented on #588
Hm, it also makes sense. Ok, I will refactor it.

[2019-06-20 15:46] orsinium commented on #566
I don't think PEP-594 is related. It's about modules that nobody uses. To migrate from them developers will get `PendingDeprecationWarning`, we don't need to do something here.

[2019-06-20 16:42] sobolevn commented on #597
Bad idea, performance is quite good, new measurements do not show any significant speed-ups.

[2019-06-20 16:42] #597 closed

[2019-06-20 17:03] #588 closed

[2019-06-21 07:07] sobolevn opened #598 "False positive for `variable is only used in return`"
# Bug report

## What's wrong

[code]

Source: https://github.com/wemake-services/kira-setup/blob/master/kira_setup/logging.py#L11

## How is that should be

When variable is separated with an extra statement(s) from `return` it should be treated as a correct one.

## System information

I use `0.9.0`

[2019-06-21 12:14] #127 closed

[2019-06-21 12:14] #569 closed

[2019-06-21 12:25] sobolevn commented on #598
On the other hand, how can we confidently say that this is correct?
I would say that since value is not used - it is incorrect. Use `noqa` or `print` the value to fix it.

[2019-06-21 12:25] #598 closed

[2019-06-21 13:30] sobolevn commented on #567
I will think about it after #425 is implemented

[2019-06-21 13:33] sobolevn commented on #425
Here's my usage stats from a rather big project:

[code]

[2019-06-21 13:34] sobolevn commented on #425
Almost all of them fit. Others are clearly violations.

[2019-06-21 13:36] sobolevn commented on #425
From `dry-python/returns` project:

[code]

All fit.

[2019-06-21 13:38] sobolevn commented on #425
Self check:

[code]

All fit.

[2019-06-21 17:40] orsinium commented on #588
Thank you :)

[2019-06-21 19:45] sobolevn opened #599 "Create "Too many await" complexity rule"
# Rule request

## Thesis

We need to check that user does not have too many `await` statements in the source code.
Original idea: https://github.com/wemake-services/wemake-python-styleguide/issues/422
It should work the same way as `too many returns` and `too many yields` and be configurable.

[2019-06-21 19:49] sobolevn opened #600 "Do not allow to subclass builtins"
# Rule request

## Thesis

We should disallow things like:

[code]

## Reasoning

It is better to write a wrapper:

[code]

Or to implement several methods to make your API native: `Number(1) + Number(2) == Number(3)`

Related: https://github.com/troessner/reek/blob/master/docs/Subclassed-From-Core-Class.md
Original: https://github.com/wemake-services/wemake-python-styleguide/issues/422

[2019-06-21 19:51] sobolevn opened #601 "Do not allow to yield too long tuples"
# Rule request

## Thesis

Expressions like `yield foo, bar, baz, fling, flung` should not be allowed.

## Reasoning

We should use lists of similar type or wrapper objects instead.
Related: https://github.com/troessner/reek/blob/master/docs/Long-Yield-List.md
Original: https://github.com/wemake-services/wemake-python-styleguide/issues/422

[2019-06-21 19:52] #422 closed

[2019-06-21 19:56] sobolevn opened #602 "Consider using `in` instead of multiple `==`"
# Rule request

## Thesis

When we have more than two `==` operators it is time to use `in` operator.
https://github.com/PyCQA/pylint/blob/5a86fddcb815ebd08fbc3ffcbaf7b11c2ba2e107/pylint/checkers/refactoring.py#L157

## Reasoning

It makes your code more readable and allows to increase the `in` container even more without much pain.

Original: https://github.com/wemake-services/wemake-python-style

[2019-06-21 19:59] sobolevn opened #603 "Consider merging mutliple `isinstance()` calls together"
# Rule request

## Thesis

One can write code like:

[code]

When we have more than one `isinstance` call with the same argument and `or` condition - we can squash it to `isinstance(some, (int, str))`

## Reasoning

It is more compact and more readable.
Original: https://github.com/wemake-services/wemake-python-styleguide/issues/431
Related: https://github.com/PyCQA/pylint/blob/5a86fddcb815ebd08fb

[2019-06-21 20:26] sobolevn commented on #431
Comprehensions are handled with

[2019-06-21 20:27] sobolevn opened #604 "Force to use ternary instead of `and` and `or` chain"
# Rule request

## Thesis

We need to replace

[code]

with

[code]

Original: https://github.com/wemake-services/wemake-python-styleguide/issues/431
Related: https://github.com/PyCQA/pylint/blob/5a86fddcb815ebd08fbc3ffcbaf7b11c2ba2e107/pylint/checkers/refactoring.py#L556

[2019-06-21 20:28] #431 closed

[2019-06-22 08:34] sobolevn opened #605 "Find similar / exact expressions in the source code"
To implement several new features we need to find similar / exact expressions in the source code.

Related: https://github.com/wemake-services/wemake-python-styleguide/issues/422

What can be done?
1. Look how `pylint` does it
2. Look how https://github.com/kucherenko/jscpd does it
3. Look for formal algorithms around this topic

[2019-06-22 08:38] sobolevn opened #606 "Forbid to have data clump"
# Rule request

## Thesis

We need to forbid cases like this:

[code]

See? All these functions have the same parameters. It can be rewritten as:

[code]

## Reasoning

This rule allows to create concrete data-types and use them properly.

Related: https://github.com/troessner/reek/blob/master/docs/Data-Clump.md
Original: https://github.com/wemake-services/wemake-python-styleguide/issues/422
Block

[2019-06-22 11:04] sobolevn opened #607 "Ensure that `breakpoint()` is forbidden in our code"
# Bug report

## What's wrong

[code]

This code should not pass.
We must check if any of the plugins do check for it.
Otherwise, we can add it to forbidden builtins calls.

PEP: https://www.python.org/dev/peps/pep-0553/

[2019-06-22 11:52] #607 closed

[2019-06-23 07:25] hemanthsavasere commented on #602
Hi @sobolevn,
I would love work on this issue.

Thanks and Regards,
Hemanth Savasere

[2019-06-23 07:48] sobolevn opened #608 "Add flake8-executable"
https://github.com/xuhdev/flake8-executable

See how plugins should be added here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md#adding-new-flake8-plugins

[2019-06-23 07:49] sobolevn commented on #608
@xuhdev thanks for writing it!

[2019-06-23 07:53] sobolevn commented on #602
Awesome! @hemanthsavasere please, feel free to ask any questions or to send WIP pull requests to check the direction. 👍

[2019-06-23 08:06] xuhdev commented on #608
Thanks!

[2019-06-23 08:24] sobolevn commented on #608
@xuhdev btw, send a PR if you like 🙂

[2019-06-24 20:28] sobolevn opened #609 "Add a note about pylint"
The same as here: https://wemake-python-styleguide.readthedocs.io/en/latest/pages/usage/integrations.html#black

[2019-06-24 20:32] sobolevn opened #610 "Add a quick comparison table about pylint and black"
I receive questions about `black` more than any other questions.
I need to create a simple and visually recognisable table to answer this question.
I should also cover `pylint`.

[2019-06-24 22:41] sobolevn commented on #600
* Except `object`, it can and should be subclassed.

[2019-06-25 07:53] sobolevn opened #612 "Consider adding darglint"
https://github.com/terrencepreilly/darglint/issues/26

We will need to lint docstrings even better.
But, we have to wait when the proposed feature will be implemented.
Since it does not match our style for now.

[2019-06-25 09:18] sobolevn opened #613 "Consider adding flake8-rst-docstrings"
Blocked by: https://github.com/peterjc/flake8-rst-docstrings/issues/7
Other options:
1. we can just ignore `RST303` and `RST304` locally
2. we can ignore them globally (for all our projects)

[2019-06-25 10:15] #613 closed

[2019-06-25 17:51] ditansu commented on #566
what about a django timezone middleware and therefore `from django.utils import timezone`  could  we take it in account?

[2019-06-25 20:29] sobolevn commented on #566
The hard thing about this rule is that we cannot be sure that `datetime` or `.now()` is what we expect it is.

So, I would say that it is better to write a `mypy` plugin for this. Since `mypy` knows everything about method calls.

[2019-06-25 20:29] #566 closed

[2019-06-25 21:13] AlwxSin commented on #409
@sobolevn how about using [github projects](https://github.com/wemake-services/wemake-python-styleguide/projects) instead of this issue?

[2019-06-26 06:13] vineetred commented on #604
What exactly needs to be done here?

[2019-06-26 06:49] orsinium commented on #566
I don't think mypy team would accept this as a thing mypy should do. Mypy for types, not for this type of checks.

I like the idea to collect this kind of rules in some place. When we will have at least 10, we will be able to choose most suitable framework for implementation.

[2019-06-26 09:04] sobolevn commented on #566
No, I meant by

is that we should do it in a separate project.
I can provide you an example on how to do it in `mypy`: https://github.com/dry-python/returns/blob/master/returns/contrib/mypy/decorator_plugin.py

Here we find calls of some functions and do some logic. But, instead we can run `.fail()` on places where some incorrect functions are called.

Easy!

[2019-06-26 09:08] sobolevn commented on #604
@vineetred we need to find patterns like this:

[code]

We can do it here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/comparisons.py
Create a new visitor  and raise a newly created violation that this code is allowed.

[2019-06-26 14:47] fullset commented on #601
@sobolevn Can I work on this?

Is it necessary also to add param which will be manage the maximum length of yield-tuple to config?

[2019-06-26 16:13] sobolevn commented on #601
@fullset you are welcome!

Nope, let's make it concrete. I would say that `5` is max. `6` should raise a violation.

[2019-06-26 16:14] sobolevn commented on #601
`7+-2` is the important number for this project!

[2019-06-26 16:25] sobolevn opened #614 "Forbid compares like `False == False in [False]`"
# Rule request

## Thesis

This piece of code is truly unreadable.
We already have something similar for compare cases, but it does not work for this case.

The code to forbid is: `False == False in [False]`

I would say that the rule is:
- we allow multiple `==` calls
- we allow multiple `>`, `<`, `<=`, `>=` calls

Violations:
- we disallow any multiple cases with `in`
- we disallow to mix catego

[2019-06-26 17:12] DjaPy commented on #603
Hi. Sorry of my English.

I have questions:

1. Do I understand correctly, that the error number is 431?
2. In the beginning you need to create a `violation`, after `visitor`?
3. How can I call a violation? Something like `MergingIsinstanceViolations`?
4. How can a link to pylint help me?
5. When writing visitor it is better to inherit from BaseNodeVisitor?

Sorry about the noob questions.

[2019-06-26 17:32] sobolevn commented on #603
1. Kind of. It should be `4xx` but the exact number is not important. Just use `previous + 1`
2. Order of `violation` / `visitor` is not important. You need to create both as a result. I would recommend to start with a violation
3. You can call it `ConsecutiveTypeCheckViolation`
4. It has some inspiration to the code you need. Our `ast` implementation is different (they use `astor`, we use `ast`),

[2019-06-27 15:33] #609 closed

[2019-06-27 15:33] #610 closed

[2019-06-27 15:53] sobolevn opened #615 "Add more plugins for editors and IDEs"

[2019-06-27 19:22] #615 closed

[2019-06-28 12:59] sobolevn opened #616 "Incorrect line number for Z331"
# Bug report

## What's wrong

[code]

Error:

[code]

## How is that should be

Should be reported on the ` return unverified_payload` line.

[2019-06-28 13:08] antauren commented on #614
`if access.is_protected(varname) or varname == UNUSED_VARIABLE:`
It's true code?

[2019-06-28 13:22] sobolevn commented on #614
Yes, it is.

[2019-07-01 09:21] #601 closed

[2019-07-02 08:25] #616 closed

[2019-07-02 13:49] #599 closed

[2019-07-03 05:16] sobolevn opened #624 "Leave a note about using prospector"

[2019-07-03 07:05] sobolevn commented on #581
Well, actually I had a lot of thoughts about this one. And actually we don't need this rule.
Why? Because we can use `ClassVar` type. And this type is better than anything we can achieve.
Why? Because it works with the subclasses. And we can only work in the context of a single class.

[2019-07-03 07:37] sobolevn opened #625 "Enhance README with opencollective and issuehunt"
[code]

[![List of contributors](https://opencollective.com/wemake-python-styleguide/contributors.svg?width=890&button=false)](https://github.com/wemake-services/wemake-python-styleguide/graphs/contributors)

We also need to add a section about financial support.

[2019-07-03 09:05] #600 closed

[2019-07-03 09:05] sobolevn commented on #600
And `type` is fine.

[2019-07-03 11:18] sobolevn commented on #625
Related https://github.com/OpenCollective/OpenCollective/issues/282

[2019-07-04 14:49] sobolevn opened #626 "Create "Funding roadmap""
As @orsinium said I need to create a ROADMAP for funding (similar to #409).

There I can describe what I am going to use money for.
Like:
- $10 will allow to pay for a domain
- $100 will allow to pay for one new rule
- $500 will allow me to not work for a day and spend it for `wemake-python-styleguide` development or write an article (it usually takes ~1 day for me to write a big article)
- $1000

[2019-07-04 14:52] sobolevn commented on #626
These are not concrete ideas, just an example.

I also need to state that funding is:
1. Optional, we do not force users to pay us anything. Bugs will be fixed no matter are funding user or not, new features are going to be implemented no matter who suggested them, when discussing new ideas funding will not be taken in account
2. Appreciated, we will help you with this, this, and that. We will pro

[2019-07-04 14:56] sobolevn commented on #626
I also need to state that I am going to pay other core-members and repetitive contributors.
I am also going to fund some issues to be implemented via issue-hunt.

[2019-07-04 15:13] orsinium commented on #626
It should be also in the roadmap.

And this. It should be planned in the roadmap how much and when will be founded in every topic.

[2019-07-05 09:02] sobolevn opened #627 "Configure a custom domain name"
https://docs.readthedocs.io/en/stable/custom_domains.html

I bought `wemake-python-stylegui.de` for this project.
❤️ buying new domains!

[2019-07-05 13:56] aj7-ent commented on #614
Hey I am very sorry if this will seem stupid  but may you please describe in brief what this project is about? I am fresh to programming . I know all basics of Python and am fluent in basic OOP. I have also completed the Sololearn Python course. If I can help you with anything then I would really be delighted because I want to enhance my skills now onwards in  real projects.

[2019-07-05 16:44] sobolevn commented on #614
@aj7-ent this project find bad patterns and inconsistencies in your codebase. That's what linters generally do.

Feel free to take any task that feels right for you. I can help you with the suggestions and reviews, but we only merge code that passes all the quality requirements.
I would recommend to start with #608 since it is the easiest one.

Ask any questions you have, I am here to help.

[2019-07-05 17:11] sobolevn commented on #627
https://wemake-python-stylegui.de

Done!

[2019-07-05 17:11] #627 closed

[2019-07-05 17:28] aj7-ent commented on #614
hey! thanks for such generous feedback. I would love to contribute but it
seems like I need to learn more first. Can you suggest me what in python
should I learn so I can contribute in such and other OSSs. And a good
learning platform.
Thanks again!

On Fri, Jul 5, 2019 at 10:29 PM Nikita Sobolev <notifications@github.com>
wrote:

[2019-07-05 21:06] elkku26 commented on #603
Hi, I'd love to help out. I'm a bit new and I was wondering where I could find the code in question here. Thanks in advance!

[2019-07-05 21:10] sobolevn commented on #603
What do you mean by

?

[2019-07-05 21:20] elkku26 commented on #603
@sobolevn I think I figured it out. If I'm not completely lost I think I'm supposed to find the kinds of redundant if-statements you mentioned in the refactoring.py and fix them, right?

[2019-07-05 22:57] sobolevn commented on #603
@elkku26 I guess, that you have completely missed the point of this library.
We are writing a linter - a tool to find bugs in your code - and this task is to create a new rule for this linter.

So, the goal is to write some check that will find bad code in other people's projects.
Not to find it here.

[2019-07-07 23:40] sobolevn opened #628 "Consider choosing `a < x < b` or `b > x > a`"
# Rule request

## Thesis

These two expressions are the same: `a < x < b` and `b > x > a`
It is way easier to read the first one.

Let's enforce the consistency in this expression.

[2019-07-07 23:40] sobolevn commented on #625
Done!

[2019-07-07 23:40] #625 closed

[2019-07-07 23:41] sobolevn commented on #624
`prospector` does not support `flake8`

[2019-07-07 23:41] #624 closed

[2019-07-07 23:44] sobolevn opened #629 "Playground link maybe?"
I wonder if there are any `flake8` playgrounds right there.
It would be nice to have one.

[2019-07-08 13:56] sobolevn opened #631 "Find expressions like `if not number > 1:`"
# Rule request

## Thesis

We had a lot of these violations in the source code:
<img width="1033" alt="Снимок экрана 2019-07-08 в 16 55 18" src="https://user-images.githubusercontent.com/4660275/60815890-37d4a480-a1a1-11e9-908a-5c92a953ffec.png">

## Reasoning

It is 100% incorrect.
We should forbid expressions that start from `not` and contain `in`, `>`, `<`, `<=`, `>=`, `==`

[2019-07-08 14:08] sobolevn opened #632 "Forbid `lambda x: len(x)`"
# Rule request

## Thesis

We need to forbid expressions like `map(lambda x: len(x),` ...)`
Because it should be written as `map(len, ...)` without `lambda`.

So, the rule is:
1. When `lambda` is used with a some arguments
2. And these arguments are passed to some other function call unmodified and in the same order
3. We raise a violation

[2019-07-08 14:25] sobolevn opened #633 "Forbid `len(...) > 0` expressions"
# Rule request

## Thesis

We all know that `if len(x) > 0` is an anti-pattern.
It should be replaced with `if x` or `if not x:` for `if len(x) == 0` or `if len(x) <= 0`

So, the rule is when we find `len(...)` and its compare with zero or `>= 1`, then we raise a violation.

## Reasoning

That's simply not pythonic, it is also shorter to write correctly.

[2019-07-08 17:27] sobolevn opened #634 "Build codeclimate engine to be used with their platform"
https://codeclimate.com/blog/build-your-own-codeclimate-engine/

Then we can fill their form to suggest the engine: https://codeclimate.com/dev_form/

[2019-07-08 17:28] sobolevn commented on #634
Here are the specs: https://github.com/codeclimate/spec

[2019-07-09 10:10] dumbturtle commented on #628
Assign me this issue

[2019-07-09 10:20] sobolevn commented on #628
@dumbturtle you are officially assigned! 🙂

[2019-07-09 10:25] Tishka17 opened #636 "Not working due pydocstyle error"
# Bug report

## What's wrong

Not running at all. Gor error:
[code]

[2019-07-09 10:28] sobolevn commented on #636
Original issue: https://gitlab.com/pycqa/flake8-docstrings/issues/36

You can pin `pydocstyle<4` as a work-around for now.

[2019-07-09 10:32] Tishka17 commented on #636
[flake.report.txt](https://github.com/wemake-services/wemake-python-styleguide/files/3372519/flake.report.txt)
[out.txt](https://github.com/wemake-services/wemake-python-styleguide/files/3372520/out.txt)
[pip.freeze.txt](https://github.com/wemake-services/wemake-python-styleguide/files/3372521/pip.freeze.txt)

[2019-07-09 12:16] sobolevn opened #637 "Forbid to have the same condition"
# Rule request

## Thesis

Currently one can write:

[code]

We need to check that all items in `and` and `or` cases are unique.

## Reasoning

There's no need to write things like:
- `a and a`
- `b or a and b`
- `c or c`

All of them can be reduced to just `a`, `b or a`, `c`
Having this conditions is error-prone.

[2019-07-09 13:38] sobolevn commented on #502
Document: `git diff origin/master... | flake8 --diff`

[2019-07-09 14:18] sobolevn commented on #632
This one was very complex!

[2019-07-09 14:18] #632 closed

[2019-07-09 14:30] orsinium commented on #614
@aj7-ent, I'm sure, #608 is the best place to start. Just add [flake8-executable](https://github.com/xuhdev/flake8-executable) into `dependencies` section in `pyproject.toml` and update documentation. It's a good opportunity to have a look at [poetry](https://github.com/sdispater/poetry/) and [flake8](https://github.com/PyCQA/flake8). Use tutorials like [this](https://hisham.hm/2016/01/01/how-to-m

[2019-07-09 15:09] sobolevn commented on #581
Nope, my logic is incorrect.

Some people might not use `ClassVar` for a mistake. Or they might not use `mypy`.
So, we need to protect them from this error.

[2019-07-09 15:50] sobolevn opened #638 "Support Codacy"
https://support.codacy.com/hc/en-us/articles/207994725-Tool-Developer-Guide

[2019-07-09 17:35] #633 closed

[2019-07-09 17:35] #637 closed

[2019-07-09 17:36] sobolevn commented on #634
Related #638

[2019-07-09 18:12] #631 closed

[2019-07-09 18:45] sobolevn opened #639 "Forbid to have too many compares in one expression"
# Rule request

## Thesis

We need to forbid expressions with too many `ast.Compare` parts:

[code]

I would say, that we need to allow `3` or `4` elements max.
It is also possible to keep `==` with `4` elements. And other compare elements can have only `3` parts: `z > x > y`.

## Reasoning

It is hard to read elements with multiple compare cases.

[2019-07-09 19:13] kxepal commented on #639
Does `0 < x <= 1 and 0 < y <= 1` violates this rule idea?

[2019-07-09 19:14] sobolevn commented on #639
Nope, `<` can be used with `<=` and `>` with `>=`

[2019-07-09 19:17] kxepal commented on #639
So it's just about > / < comparison chain length?

[2019-07-09 19:17] sobolevn commented on #614
Closed by https://github.com/wemake-services/wemake-python-styleguide/commit/d024a5d8d6ffa55a563be90bc81081129bf76970

Messed up issue numbers.

[2019-07-09 19:17] #614 closed

[2019-07-09 19:18] sobolevn commented on #639
Yep, that's exactly it.

P.S. I have meant to close https://github.com/wemake-services/wemake-python-styleguide/issues/614 instead

[2019-07-10 17:21] sobolevn commented on #602
@hemanthsavasere how's your progress? I can take this over.
I am planning a release pretty soon. And I want to have all compare related stuff in there.

[2019-07-10 17:22] sobolevn commented on #581
Closed by https://github.com/wemake-services/wemake-python-styleguide/commit/eb727926e3eea2429fefe98b6315aabd78990117

[2019-07-10 17:22] #581 closed

[2019-07-10 17:24] sobolevn commented on #603
@DjaPy and @elkku26 how's your progress? I can take this over.
I am planning a release pretty soon. And I want to have all compare related stuff in there.

[2019-07-10 18:00] #639 closed

[2019-07-10 18:01] sobolevn commented on #453
Duplicate: https://github.com/wemake-services/wemake-python-styleguide/issues/605

[2019-07-10 18:01] #605 closed

[2019-07-10 18:02] sobolevn commented on #453
Related: #422

[2019-07-10 18:42] proofit404 opened #640 "Running all intended tests should be possible by one shell command."
# Bug report

After I clone this repository, I want to be sure my local environment setup is correct. It is unbelievably hard without a single straightforward command to run all tests.

## What's wrong

To run tests on a local machine, we should open `.travis.yml` file and copy past 8 commands into a terminal. Each time I want to run tests.

## How is that should be

I should type as much as `tox`

[2019-07-10 19:16] sobolevn commented on #640
Well, I am not used to these tools. Because I like the full control on things I run.
But, you can indeed setup a `Makefile` with the same commands as in `.travis.yml`

[2019-07-10 19:33] #608 closed

[2019-07-10 19:39] sobolevn commented on #606
That's too `java`ish. It is perfectly fine in `python`.

[2019-07-10 19:39] #606 closed

[2019-07-10 19:48] sobolevn opened #643 "Forbid to use `if len(...):`"
# Rule request

## Thesis

The same as in #633

## Reasoning

The same as in #633
Related https://github.com/PyCQA/pylint/issues/2684
Related https://github.com/PyCQA/pylint/pull/2815

[2019-07-10 20:01] #640 closed

[2019-07-10 20:20] #636 closed

[2019-07-11 09:34] sobolevn opened #645 "Forbid to use ternary inside `if` clause"
# Rule request

## Thesis

One can write code like this:

[code]

## Reasoning

This is unreadable.
Use nested ifs instead.

[2019-07-11 09:49] sobolevn commented on #628
@dumbturtle how's your progress? I can take this over.
I am planning a release pretty soon. And I want to have all compare related stuff in there.

[2019-07-11 10:02] sobolevn commented on #645
Well, actually the rule is even stricter.
We should not be able to nest ternary anywhere except:
- `ast.Assign` and `ast.AnnAssign` as a value
- open to suggestions

[2019-07-11 10:38] AlwxSin commented on #645
@sobolevn Why you forbid to use ternary but allow in some cases? It's kinda weird.

[2019-07-11 10:52] sobolevn commented on #645
@AlwxSin yeap, since it is absolutely fine to write:

[code]

But it is not ok to nest ternary inside a condition:

[code]

[2019-07-11 11:26] sobolevn commented on #645
Ok, after some thinking, let's return to the original idea: we will only disallow ternaries inside:
- `if`
- `compare`
- `boolop` (>, +, *, ==, etc)
- `unary`: `-(x if cond() else y)`

[2019-07-11 11:37] sobolevn commented on #636
Solution: fix `pydoctyle<4` in your requirements for now.

[2019-07-11 12:12] #645 closed

[2019-07-11 12:25] #643 closed

[2019-07-11 12:44] sobolevn opened #646 "Force people to use `a > b > c` instead of `a > b and b > c`"
# Rule request

## Thesis

This should only work for `>`, `<`, `>=`, `<=`, `!=`, and `==` signs.

## Reasoning

This should bring consistency to the compare statements.

[2019-07-11 13:14] sobolevn opened #647 "Add a note about black configuration that works for us"
I need to research how to configure `black` the way we use `wps`.

[2019-07-11 14:27] #604 closed

[2019-07-11 16:55] sobolevn opened #648 "Forbid string concat with anything than other strings"
# Rule request

## Thesis

These are fine:

[code]

These are not fine:

[code]

## Reasoning

We should enforce consistency in string formatting:
- We already forbid `%`
- We forbid `f''`
- We forbid implicit concat: `'a' 'b'`
- Now we need to forbid explicit concatenation

And the only way for string to format will be `.format()`
We also allow to use multi-line strings, since it is quite common

[2019-07-11 17:14] sobolevn commented on #646
Correct:
`a > c and c > b` +
`a > c and c >= b` +
`a >= c and c > b` +
`a > c and c >= b` +

Wrong:
`a >= c and c <= b` - (will be `a >= c <= b` and it is forbidden)
`a < c and c != b` -

The basic rule is: we should check that the resulting compare is homogenous.

[2019-07-11 17:17] sobolevn commented on #646
`a == c and c == b` +, the reason is that:
`a == c and c == b and c == d` is also valid

[2019-07-11 18:30] sobolevn opened #649 "Forbid useless `return` and `return None` at the end of the function"
# Rule request

## Thesis

Some functions return values: `return value`, some have only early returns `if ...: return`
Some `return None` as a value, some just can have it as the last statement.

This is wrong:

[code]

These are correct:

[code]

[code]

[code]

The rule is related to #378
The rule is:
1. Check if `return` is the last statement
2. Check if using pure `return`, then raise a violat

[2019-07-11 21:13] sobolevn commented on #646
`a > c and a > b` -
`a > c and a < b` -> `b > a > c`

Related: https://github.com/PyCQA/pylint/blob/5a86fddcb815ebd08fbc3ffcbaf7b11c2ba2e107/pylint/checkers/refactoring.py#L743

[2019-07-11 23:31] sobolevn opened #650 "Document jupyter integration"
https://www.npmjs.com/package/jupyterlab-flake8

[2019-07-11 23:33] sobolevn opened #651 "Document other auto-formatters such as yapf and autopep8"

[2019-07-11 23:36] sobolevn opened #652 "Document Wing plugin"
https://wingware.com/doc/edit/pep8

[2019-07-11 23:36] sobolevn commented on #651
https://github.com/google/yapf
https://github.com/hhatto/autopep8

[2019-07-11 23:38] sobolevn commented on #647
None of it works for us 🙂
Things that are seriously messed up:
- line length
- quotes (double quotes in python!)
- trailing comma

Like the half on black features does not work as they should.

[2019-07-11 23:38] #647 closed

[2019-07-12 01:10] sobolevn opened #653 "Forbid to use `in []` explicit checks"
# Rule request

## Thesis

We all know that we should use `set` as a default container.
But, it is not used by default. I see a lot of code that uses `[]` and `()`.

The rule is: when we see explicit `in []` or `in {}` or `in ()` - we should raise a violation.
We should also raise on list, generator and dict comprehensions.

## Reasoning

This is slow. Moreover, we need a consistent way to do `in`

[2019-07-12 01:12] sobolevn opened #654 "Ensure the order of methods inside a class"
# Rule request

## Thesis

We need to make sure that all classes have ordered methods:

1. `__init__` and `__new__`
2. all public and magic methods
3. all protected methods
4. all private method (if some)

We should not care about anything else.

See #139

## Reasoning

This is done for readability and consistency.

[2019-07-12 01:17] sobolevn opened #655 "Add explanation to all violation messages"
We need to improve the developer experience. How?
1. There should be a new mode to show error messages turned on by default: detailed one
2. In the detailed mode all violations must contain
2.1 Link to the docs
2.2 Solution section from the docs
2.3 Correct and incorrect examples (we need to lint them in the docs as well)

[2019-07-12 01:21] sobolevn opened #656 "Release 0.9.1 with pydocstyle bugfix"
A lot of users are affected by #636

I need to back-port the current solution to `0.9.1`

[2019-07-12 01:27] sobolevn opened #657 "Change violations number and groups"
In the next release we will only have one change:
- We will replace `Z` with `WPS` code
- We will change the ordering inside groups
- We will create new groups: `oop`, `refactoring`, `functional`, `patterns`

I will also write:
- old codes to the `previous_codes = {123, 124}` prop of each violation
- migration guide with shell script to replace old code with new ones

[2019-07-12 15:14] sobolevn opened #658 "Create `TooManyImportedNamesViolation`"
# Rule request

## Thesis

We can write: `from a import b`
Or you can write:

[code]

We need to count individual imported names.
Where `import a` counts as 1 imported name.
And `from a import b, c` counts as 2

## Reasoning

Injecting too many names inside your context is bad.

[2019-07-12 15:25] sobolevn commented on #658
I am not sure about the default value.
This rule 100% should be configurable. But, the value should be guessed.

[2019-07-12 16:53] sobolevn opened #659 "Force to use `for ... in (...):` instead of `for ... in [...]:`"
# Rule request

## Thesis

Tuple takes less memory than list or set.
It will also improve consistency.

We should also disallow `for single_arg in {'key': value}:`
Since it does not make any sense.

Related to #653

## Reasoning

It is literally the same thing. But, tuples are better, because they are faster to create and take less memory.

[2019-07-12 18:09] #646 closed

[2019-07-12 18:44] #628 closed

[2019-07-12 18:59] sobolevn commented on #656
Closed https://github.com/wemake-services/wemake-python-styleguide/releases/tag/0.9.1

[2019-07-12 18:59] #656 closed

[2019-07-12 18:59] sobolevn commented on #656
https://pypi.org/project/wemake-python-styleguide/0.9.1/

[2019-07-12 22:56] #659 closed

[2019-07-12 23:38] sobolevn opened #661 "Update mypy and enable `--warn-unreachable`"
https://mypy-lang.blogspot.com/2019/07/mypy-0720-released.html

[2019-07-12 23:45] #661 closed

[2019-07-12 23:45] #653 closed

[2019-07-13 07:35] sobolevn opened #662 "Forbid to use `raise StopIteration()` inside generators"
# Rule request

## Thesis

We need to check async and regular functions that they contain `yield`, `yield x` or `yield from` to count them as generators.

Next, we need to find all `raise` nodes and check:
- if the context is a generator
- if the exception is `StopIteration` or `StopIteration()` or `StopIteration(some)`
- raise a violation if so

## Reasoning

One should use `return value` instead

[2019-07-13 07:36] sobolevn commented on #662
Related: https://github.com/PyCQA/pylint/blob/5a86fddcb815ebd08fbc3ffcbaf7b11c2ba2e107/pylint/checkers/refactoring.py#L118-L123

[2019-07-13 08:20] #652 closed

[2019-07-13 09:04] sobolevn opened #663 "Forbid to use `isinstance(some, (some,))`"
# Rule request

## Thesis

We need to forbid using `isinstance` with single tuple element.

## Reasoning

There's no need to do it.

[2019-07-13 10:19] NanduTej commented on #649
Hey @sobolevn! Can I pick this up?

[2019-07-13 10:27] sobolevn commented on #649
Sure, feel free to ask me any questions. Thanks for your help!

[2019-07-13 10:54] #603 closed

[2019-07-13 10:54] #663 closed

[2019-07-13 14:28] #602 closed

[2019-07-13 16:35] sobolevn commented on #655
We will need to write a custom formatter:
1. https://flake8.pycqa.org/en/latest/_modules/flake8/formatting/default.html#Default
2. https://flake8.pycqa.org/en/latest/_modules/flake8/main/options.html?highlight=--show-pep8
3. https://github.com/PyCQA/flake8/blob/master/docs/source/plugin-development/formatters.rst

[2019-07-13 16:36] sobolevn commented on #164
See `--append-config` option that we can monkey-patch.

[2019-07-13 16:37] sobolevn commented on #164
Closed by a misclick.

[2019-07-13 19:13] AlwxSin commented on #164
That's will force me to not use `wps`.

This linter is good, very good in comparison with naked flake8 or even with flake8 with plugins. But several rules are very opinionated. And it's good I can disable them, just a few.

[2019-07-13 19:57] sobolevn commented on #164
This is not the point of this issue, I am only talking about configuration options like `quotes`, `max-line-length`, `isort` config and so on.

It is not related to `ignore`, `per-file-ignores` or complexity rules.
We also use these settings on literally every project: https://github.com/wemake-services/wemake-python-styleguide/blob/master/setup.cfg#L31-L41

[2019-07-13 19:58] sobolevn opened #664 "Add `--show-source` to default configuration"
But, make sure that tests do not use this setting.

[2019-07-13 21:13] AlwxSin commented on #164
Ah, that's ok =)

[2019-07-14 10:25] #664 closed

[2019-07-14 11:50] #651 closed

[2019-07-14 11:56] sobolevn commented on #655
https://github.com/astj/flake8-formatter-junit-xml/blob/master/flake8_formatter_junit_xml/formatter.py

[2019-07-14 13:01] sobolevn commented on #650
https://gitlab.com/pycqa/flake8/issues/446
https://stackoverflow.com/questions/26126853/verifying-pep8-in-ipython-notebook-code

[2019-07-14 13:04] sobolevn commented on #650
Ok, I am not going to document it. There are no clean ways AFAIK.

[2019-07-14 13:04] #650 closed

[2019-07-14 13:11] sobolevn opened #666 "Test that pipe lint works"
We should test both `noqa.py` and `external_plugins.py`

Related: #502

[2019-07-14 13:13] sobolevn opened #667 "Test that linting doctests work"
That's an integration test with a module with doctests in:
- Module docstring
- Class docstring
- Method docstring
- Function docstring

[2019-07-14 13:23] sobolevn opened #668 "Tweak performance"
Current (`0.10.0`) version is executed with these results:

[code]

Commit: https://github.com/wemake-services/wemake-python-styleguide/commit/8b87ac3f6c406f9458dc4dd3f11ee8d5c89c22d8

[2019-07-14 14:11] #666 closed

[2019-07-14 14:46] sobolevn commented on #667
TIL: that only `pycodestyle` checks that syntax in doctests is valid.
There's no need to lint or test that.

[2019-07-14 14:46] #667 closed

[2019-07-14 21:18] sobolevn opened #670 "Fix `Incorrect` vs `Wrong` in the violation names"

[2019-07-15 07:23] sobolevn opened #671 "Do not count type annotations as strings"
# Bug report

## What's wrong

When running 0.10 over https://github.com/dry-python/returns I get:

[code]

Which is not correct. Because these are types, not strings.
It would be incorrect to use them as constants.

[2019-07-15 07:33] sobolevn opened #672 "Incorrect error message when over-using empty string"
# Bug report

## What's wrong

Right now:

## How is that should be

I am using `0.10`

[2019-07-15 07:43] NanduTej commented on #649
Hey @sobolevn! Can you guide me where I could start for this?

[2019-07-15 07:50] sobolevn commented on #649
@NanduTej sure!

There are several things to start with:
1. Have a look at https://github.com/PyCQA/pylint/blob/5a86fddcb815ebd08fbc3ffcbaf7b11c2ba2e107/pylint/checkers/refactoring.py#L1039
2. Understand the principle: we first visit `AnyFunction` nodes (which are `AsyncFunctionDef` + `FunctionDef`)
2.1 Then we look at the last node in functions `body` (we can iterate for all nodes in `node.body`

[2019-07-15 07:51] sobolevn commented on #649
I would say that ` ConsistentReturningVariableVisitor` is the best class to use

[2019-07-15 08:00] NanduTej commented on #649
Should this function be added in visitors/ast/exceptions.py?

[2019-07-15 08:02] sobolevn commented on #649
`visitor/ast/keywords.py::ConsistentReturningVariableVisitor`

[2019-07-15 11:23] sobolevn opened #673 "Find packages with too many modules"
# Rule request

## Thesis

We need to lint packages that contain too many modules.
How?

0. We cannot access the number of modules in a package directly
1. Flake8 executes each checker only once (and in one
2. Checker does not maintain state for all modules
3. We can save all filenames somehow (I guess in a global variable, sorry)
4. When the check is completed (how can we know that?) we can trigg

[2019-07-15 21:31] sobolevn opened #674 "Z331 raised twice"
# Bug report

## What's wrong

This code:

[code]

Raises two violations:

[code]

I am using `0.10`

[2019-07-16 04:55] DjaPy commented on #672
Hey!
I wrote a new test. And test falls.
[code]
I add the following rule to the code
[code]
Then the previous test falls.
How to catch an empty line for a visitor?

[2019-07-16 07:34] sobolevn commented on #672
I would simplify your code to:

[code]

That's it. Tests should just be fixed. Make sure that `assert_error_text` works.

[2019-07-16 09:39] NanduTej commented on #649
Earlier, tests for these cases seem to have been written here. https://github.com/wemake-services/wemake-python-styleguide/blob/49e232d785a12259fcf8ed0e6b69fc625a166b23/tests/test_visitors/test_ast/test_keywords/test_consistency_returning/test_consistency_return.py#L14. Should these tests be removed from there and added to test_consistent_returning_variable.py? I am not yet done with my work. I ju

[2019-07-16 09:40] sobolevn commented on #649
Yes, they should change. I wrote them because it was fine before this rule.

[2019-07-16 10:41] NanduTej commented on #649
Hey! I was trying to reproduce some of the tests code in my terminal. I could not figure out where we are getting default_options https://github.com/wemake-services/wemake-python-styleguide/blob/49e232d785a12259fcf8ed0e6b69fc625a166b23/tests/test_visitors/test_ast/test_keywords/test_consistency_returning/test_consistency_return_variables.py#L140 from. Can you help me out?

[2019-07-16 10:55] sobolevn commented on #649
We are using `pytest`'s fixtures to do that.
Docs: https://docs.pytest.org/en/latest/fixture.html

Code: https://github.com/wemake-services/wemake-python-styleguide/blob/master/tests/conftest.py#L77-L98

[2019-07-17 12:11] sobolevn commented on #655
`wemake` formatter does that.

[2019-07-17 12:11] #655 closed

[2019-07-17 12:17] #670 closed

[2019-07-17 13:34] proofit404 opened #676 "InconsistentReturnVariableViolation is a bad rule."
# Rule request

Force everyone to extract return value to the local variable.

## Thesis

[code]

## Reasoning

1. Better debugging
- I can set a print statement easily!
- I can use [q](https://github.com/zestyping/q) easily!
- I can see the exact value of this variable in the Sentry traceback view in the upper frames.
- It is **PDB** friendly! If after `d` evaluation `c` were changed, I can go to

[2019-07-17 14:43] sobolevn commented on #676
Yes, I kind of agree, but on the other hand I disagree.

While I completely agree that it might help with the debugging, I cannot agree that it is a good practice to leave your code in this shape after a debugging. Let me explain.

For example you have this function:

[code]

Let's see what can go wrong with a new variable.

[code]

Names can improve the context or spoil it. It is hard to take car

[2019-07-17 17:58] proofit404 commented on #676
If a user decides to give variables with useless names, it doesn't matter where this variable takes place.

It can be anywhere in the function.

Type annotation gives us a clue about "what kind" of an object it is.

But variable name gives us "the purpose of this exact instance" reasoning.

[2019-07-17 18:07] proofit404 commented on #676
By the way, with a huge codebase, I need to extract this variable each time I want to set pdb in front of it, but with this rule applied I can use it right the way.

When something breaks Sentry will provide this information right the way. Without extra variables, I'll need to change the code, deploy, reproduce the bug, rollback the code.

The feedback loop is way too long.

[2019-07-18 07:44] #672 closed

[2019-07-18 09:40] #671 closed

[2019-07-18 09:43] sobolevn commented on #676
Sounds reasonable! 👍

Debugging is indeed better in some cases.

You can turn off this check for this case. But, I am not going to support the opposite, that's how a lot functional languages do, and I am used to this way of thinking.

[2019-07-18 09:43] #676 closed

[2019-07-18 09:58] #674 closed

[2019-07-18 13:36] #502 closed

[2019-07-18 19:53] #658 closed

[2019-07-18 20:36] serhii73 opened #680 "Incompatible attrs version"
[code]
Ok, I remove all from my virtual environment.
And then I am installing `wemake-python-styleguide`
[code]
But after I see a red message
[code]

[2019-07-18 20:37] #662 closed

[2019-07-18 20:43] sobolevn commented on #680
Ok, that's an issue with `flake8-eradicate`. Luckily, I am fixing it right now.
I will release new `flake8-eradicate` version in 30 minutes.

Sorry for that!

[2019-07-18 20:47] serhii73 opened #681 "Why double quotes is bad?"
[code]
And
[code]
Sorry, I don't understand, why double quotes are bad?
`black` for format my code use double quotes and then I want to use `wemake-python-styleguide`.
But why you think double quotes is not good?

[2019-07-18 21:23] sobolevn commented on #673
https://flake8.pycqa.org/en/latest/internal/checker.html#flake8.processor.FileProcessor.checker_state

[2019-07-18 21:45] sobolevn commented on #681
And why do think that double quotes are good? 🙂

The thing is: it is absolutely equally good or bad to use `'` or `"` in your project.
We just have to make a choice here. And use this type of quotes consistency.

Several things here:
1. You can configure https://github.com/zheller/flake8-quotes the way you like (again, it does not really matter)
2. You can use `black -S` to force single quotes wit

[2019-07-18 21:45] #681 closed

[2019-07-18 22:17] #680 closed

[2019-07-19 14:56] sobolevn opened #682 "Add docs about CI integrations"

[2019-07-19 14:57] sobolevn commented on #682
https://github.com/duo-labs/dlint#integrating

[2019-07-19 15:03] sobolevn opened #683 "Consider adding Dlint"
https://github.com/duo-labs/dlint

It is a security oriented linter.

But, there are problems:
1. No clear violations listing. It would be hard for users to guess what happened and what to do to fix it

(I can extend this list whenever I find new ones)

[2019-07-19 16:35] sobolevn opened #684 "Forbid magic methods to be async"
# Rule request

## Thesis

Only several magic method can be `async`. Other method should be just functions.

## Reasoning

Having `async __lt__(self, ...) -> ...` is incorrect. It cannot be used like so.
The same applies to almost all other method including `__init__`, `__new__`, `__bool__`, etc.
Only `__aenter__`, `__aexit__` and possibly some other can be `async`.

We must have an explicit list

[2019-07-19 16:36] sobolevn commented on #684
@bellum I guess this might be interesting to you 🙂

[2019-07-19 18:03] bellum commented on #684
@sobolevn might be :) according to this link https://docs.python.org/3/reference/datamodel.html there are next async dunder methods:
- `__anext__`
- `__aenter__`
- `__aexit__`

Should this list be hardcoded in `wemake_python_styleguide/constants.py` under the name like `ASYNC_MAGIC_METHODS_WHITELIST`?

[2019-07-19 18:04] sobolevn commented on #684
I think so 👍

[2019-07-19 18:34] #654 closed

[2019-07-20 09:24] sobolevn opened #685 "Add coala to the list of integrations"
https://coala.io/

[2019-07-20 09:28] sobolevn commented on #164
For `isort` to work we can patch defaults: https://github.com/timothycrosley/isort/blob/develop/isort/settings.py#L76

It is safe, since any custom defined options will take priority over these values.

[2019-07-20 09:37] sobolevn commented on #164
Related: https://gitlab.com/pycqa/flake8/issues/555

[2019-07-20 10:01] sobolevn commented on #685
https://github.com/coala/coala-bears/issues/169

[2019-07-20 10:05] sobolevn commented on #685
Closing for now, since `coala` does not support `flake8`.

[2019-07-20 10:05] #685 closed

[2019-07-20 11:50] sobolevn commented on #164
The obvious problem with patching `isort` config this way is that it won't work for autoformatter part. `isort filename.py` won't produce the same results.

I will look into plugin system of `isort`. Or ugly hacks 🙂

[2019-07-20 13:00] sobolevn commented on #420
Ok, after reviewing two PRs, thinking hard, and playing around, I have made a decision about this rule.

We are not going to support any leading zeros. If someone wants formatting, switch off this rule for this file, line, etc.

We value consistency more.

[2019-07-21 09:18] #684 closed

[2019-07-21 09:29] sobolevn opened #688 "Lint regex"
# Rule request

## Thesis

We need to find existing plugin to lint regex in python.
Currently it might contain issues.

## Reasoning

Regex is the important part of python development. And we do not lint it anyhow.

[2019-07-21 11:23] #420 closed

[2019-07-21 11:32] sobolevn opened #689 "Forbid to use `range(len(...))`, use `enumerate` instead"
# Rule request

## Thesis

We should forbid to use `range` as:
- `range(len(some))`
- `range(0, len(some))`

Related: https://github.com/PyCQA/pylint/search?q=consider-using-enumerate&unscoped_q=consider-using-enumerate

## Reasoning

It is unpythonic. `enumerate` is pythonic.
We should enforce `enumerate` usage where possible.
This is a refactoring rule.

[2019-07-21 11:34] sobolevn opened #690 "Forbid to use `type(...) == '...'`, use `isinstance` instead"
# Rule request

## Thesis

Comparing types with `type(some) == 'builtin.str'` is incorrect.
We should use `isinstance(some, str)`

## Reasoning

This is a refactoring rule which enforce best practice for python code.
Using `type()` in this way is unpythonic.

[2019-07-21 11:48] sobolevn opened #691 "Forbid classes with too many public instance attributes"
# Rule request

## Thesis

Having classes with too many public instance attribute is not great.
It means that this should be either:
1. Refactored as a dataclass (which is explicit DTO)
2. Split into multiple classes
3. Inherited from some other class or mixin

Bad code:

[code]

I guess that allowing six element is ok, more than six - should raise a violation.

What is ok?

1. class attributes
2.

[2019-07-21 11:52] sobolevn opened #692 "Forbid to use escape chars in regular strings, prefer `r` strings"
# Rule request

## Thesis

Forbids to use strings like `'\\n'`.

[code]

Use `r'\n'` instead.

Things we should allow: `'\n', '\a'`, etc.
These values have a special meaning.

Consider looking at https://github.com/PyCQA/pylint/blob/3dd27c907b1230f889d0c010de51a99e9291a60f/pylint/checkers/strings.py#L594

## Reasoning

This is a consistency rule. `r'\n'` reads better than `'\\n'`

[2019-07-21 12:15] sobolevn opened #693 "Forbids binary strings with unicode escape chars"
# Rule request

## Thesis

We should forbid strings like `b'\u0042'`

Related #692
Related: https://github.com/PyCQA/pylint/search?q=anomalous-unicode-escape-in-string&unscoped_q=anomalous-unicode-escape-in-string

## Reasoning

This is incorrect. Use regular strings instead: `'\u0042'`
This is a best practices rule.

[2019-07-21 16:59] sobolevn commented on #425
I will think about it again.

[2019-07-21 17:05] sobolevn opened #694 "Change how "return" in "finally" works"
I am pretty sure that currently we are doing it wrong: we check that both `try` and `finally` return something.

Things to checks:
1. That any `break`, `raise` ?, and `return` in finally is restricted
2. `try` and `else` cannot both have `return`, `break`, `raise` ? statements

Sorry for the bad description, it is more like a research task.

Related: http://pylint.pycqa.org/en/latest/technical_ref

[2019-07-21 17:09] sobolevn opened #695 "Forbid expressions like `FIRST, FIRST = (1, 2)`"
# Rule request

## Thesis

We need to forbid variables with the same name in unpacking.
It is unclear what this variable should be. 1 or 2?

## Reasoning

This clearly indicates a mistake. Solutions:
1. Write `FIRST, _ = (1, 2)
2. Write `FIRST, SECOND = (1, 2)`
3. Write `FIRST = (1, 2)`

[2019-07-21 17:14] sobolevn opened #696 "Forbid incorrect `__slots__` names"
# Rule request

## Thesis

We need to lint names in slots. Rules are:
- names are non-empty
- they should be valid python identifiers
- they should have valid attribute names (`snake_case`) we can reuse logic from `pep8-naming`

## Reasoning

Otherwise names defined in `__slots__` will be incorrect and will result in incorrect objects.
This is OOP rule

[2019-07-21 17:16] sobolevn commented on #696
By the way, `python` already handles this case:

[code]

Will result in:

[code]

[2019-07-21 17:20] sobolevn opened #697 "Forbid useless methods"
# Rule request

## Thesis

We need to forbid methods like:

[code]

The rule is:
1. If method consists of a single call
2. This call is `super`
3. With the same method: `.some`
4. And same params: `(param)`
5. We raise a violation

We can reuse logic from `UselessLambda` for finding the same params.

## Reasoning

This method does not do anything. It should be removed.
See `useless-super-delegatio

[2019-07-21 17:23] sobolevn opened #698 "Forbid properties with parameters"
# Rule request

## Thesis

Code like this:

[code]

Should be forbidden. Since this class definition is incorrect.
`.b` won't work at all.

## Reasoning

This is OOP rule that checks that properties are defined correctly.

[2019-07-21 17:30] sobolevn opened #699 "Forbid self import"
# Rule request

## Thesis

Modules can actually import self. Like this:

[code]

Running:

[code]

## Reasoning

This is useless and can be error-prone.
See `import-self` from http://pylint.pycqa.org/en/latest/technical_reference/features.html

[2019-07-21 17:50] sobolevn commented on #698
We should use `@property` and `abc.abstractbaseproperty` as decorators.

[2019-07-21 19:21] bellum commented on #697
@sobolevn I had wanted to mention that is important to note that super() arguments should be Test and self to mark this method as useless but I found W608 violation. Does it mean I should assume super() does not have any arguments always?

[2019-07-21 19:26] bellum commented on #697
@sobolevn Also one more thing is that it seems to me that something like this should not be considered useless:

[code]

What do you think?

[2019-07-21 19:42] sobolevn commented on #697
@bellum yes, indeed. We discourage usage of arguments to `super()`, but if they are provided, then yes - parameters should match.

Decorators are also important! Thanks for bringing this up.
Do you want to take this one?

[2019-07-21 19:49] bellum commented on #697
@sobolevn Yes, I do. Thanks.

As `wemake_python_styleguide.visitors.ast.functions.FunctionDefinitionVisitor` has already 7 methods I would like to move part related to generator check to `GeneratorDefinitionVisitor` and also probably move wemake_python_styleguide.visitors.ast.functions.FunctionDefinitionVisitor#_get_variable_name to logic/variables.py.

So the changes related to this issue would b

[2019-07-21 20:53] sobolevn commented on #697
@bellum 👍

[2019-07-22 08:12] sobolevn opened #700 "Change how we define `__slots__`"
# Bug report

## What's wrong

I have made a mistake when decided to use tuples for slots (#379). That's more performant but semantically incorrect.

Now when we rework how `__slots__` are defined in #696 I guess it is a pretty good idea to:
1. Enforce `set` for `__slots__`
2. Drop unique check for tuple elements in `__slots__`, since we already check all sets to be correct

[2019-07-22 09:45] sobolevn commented on #700
Oh, I see. Tuples are actually correct. Because sets do not have `+` operator.
And you cannot create cases like this:

[code]

[2019-07-22 09:45] #700 closed

[2019-07-22 10:53] #694 closed

[2019-07-22 14:05] #692 closed

[2019-07-22 14:05] #693 closed

[2019-07-22 16:16] sobolevn commented on #698
`mypy` also catches this:

[code]

Returns:

[code]

[2019-07-22 16:16] #698 closed

[2019-07-22 16:17] sobolevn commented on #698
We do not assume or check types.

[2019-07-22 17:29] sobolevn opened #701 "Forbid too many statements inside a try block"
# Rule request

## Thesis

We should forbid too statements inside a try block.

## Reasoning

When `try` block has too many lines we can somehow miss an exception.
It is a good practice to write only things that are actually important inside a `try` block.
We need to provide a configuration for it. The default is `2`.
More than `2` elements should raise a violation.

This is a complexity related r

[2019-07-22 17:32] sobolevn opened #702 "Forbid compares with `0` and `''`"
# Rule request

## Thesis

We can omit compare with `0` and `''`, because `not something` is enough.
We should forbid `is`, `not is`, `==`, `!=`

## Reasoning

This is a best practice from python world.

[2019-07-22 17:38] sobolevn opened #703 "Forbid `is` compare with constants"
# Rule request

## Thesis

We need to forbid compares with `is` and `not is` with:
- numbers
- strings and bytes

And complex types empty or with constants only:
- lists, dicts, sets (and comprehensions)
- tuples and generator expressions

We still force `is` to compare with `False`, `True`, `None`.

## Reasoning

The best practice from python is to use `==` to compare with constants.
Link: https:

[2019-07-22 17:41] sobolevn opened #704 "Forbid `else if` sequence"
# Rule request

## Thesis

We should forbid code like:

[code]

Instead we should use:

[code]

## Reasoning

This is a refactoring rule.

[2019-07-22 20:12] #704 closed

[2019-07-22 22:09] #701 closed

[2019-07-23 08:38] sobolevn opened #705 "Forbid to use comprehensions in `for` declaration"
# Rule request

## Thesis

We need to forbid to use comprehensions in `for ... in [x for x in some()]:`
This looks ugly, looses a lot of context and is unreadable.

What to do instead?

[code]

## Reasoning

As I said, it is unreadable.
This is a refactoring rule.

[2019-07-23 08:43] sobolevn opened #706 "Add xenon code quality check"

[2019-07-23 09:13] DjaPy commented on #702
Cool rule. I'll take.
I'm surprised it hasn't been implemented yet.

[2019-07-23 09:14] sobolevn commented on #702
Me too 😅

[2019-07-23 12:36] sobolevn commented on #702
@DjaPy sorry, but I haven't mention `[]`, `()`, `{}` as constants. Also, make sure that `""`, `0.0`,  `0.` and `.0` are also covered. We have a lot of ugly stuff in python!

[2019-07-23 12:50] #705 closed

[2019-07-23 17:11] #696 closed

[2019-07-24 04:23] DjaPy commented on #702
Ок!

[2019-07-24 04:52] DjaPy commented on #702
I need clarification.
Are we checking explicitly `0, '', [], {} ...`? Or should I check the variables for their contents of values?
Example:
[code]
Therefore, I need to check that the `clear_list` is an empty list.

[2019-07-24 05:45] kxepal commented on #702
The `thing == 0` and `not thing` are different comparisons and cannot be counted as the same. First involves a) explicit type assumption and b) `__eq__` usage to get the answer. The former one just `__bool__` check and don't care what the `thing` is.

Also, there is `numpy` thing where you may compare with `0` with easy and with legal result:
[code]

While you'll have difficult times if you'll try

[2019-07-24 08:15] sobolevn commented on #702
@kxepal This happens just because `numpy` does stupid things. What kind of an API is that?
`__eq__` should return bool, not new arrays.

It is always a best practice to:
1. Explicitly check for `is None` if a value is `Optional`
2. Check if `not value` if you need a false branch

For cases when we are working with wrong APIs this check can be turned off.

@DjaPy no, we check for values only. We do

[2019-07-24 08:18] kxepal commented on #702
Should return for whom? It's a DSL. It does what it does. Same happens for almost all ORM.

[2019-07-24 08:20] sobolevn commented on #702
To python API 🙂

[2019-07-24 08:23] kxepal commented on #702
What is Python API?
https://docs.python.org/3/reference/datamodel.html#object.__eq__

So, it's all about `bool()` call on comparison result.

[2019-07-24 08:26] kxepal commented on #702
Eventually, you can throw away some homemade pet projects with weird magic methods behaviour, but numpy and friends are eventually common standard to do math things. By denying their API you will leave users no chose but to drop your linter for good.

[2019-07-24 08:29] kxepal commented on #702
Also, same things will happens on various ORM projects. I don't have any by a hand, but I did see a lot `thing == False` or `thing != 0` before. Any linters complains about that, but in terms of DSL it's the only (well, not true, some provides special methods for such comparisons) way to handle things. And you'll have to accept that.

[2019-07-24 08:34] sobolevn commented on #702
That's totally reasonable! But, the point of this linter is not to accept that some classes have the wrong API, but to enforce all the best practices possible.

In case something does not work for you: like `numpy` with `== 0`, ORMs with `== False` (by the way a lot of them support `kwargs` based queries like `field=0` which is correct), or `stories` with expression based API; you have to switch o

[2019-07-24 08:36] kxepal commented on #702
Feels like you would have to create some documentation page about how to work aound those stupid API's and stay on Pythonic land making all the linters happy. Without such this restriction could be harmful.

[2019-07-24 08:39] sobolevn commented on #702
@kxepal sounds fair! Thanks! 👍

[2019-07-24 11:20] sobolevn opened #708 "Make sure that `alias` raises an error if aliased attribute exists"

[2019-07-24 11:26] sobolevn opened #709 "Add mypy and "Finds bad style?" to README"

[2019-07-24 12:47] sobolevn opened #710 "Enable deepsource coverage"
https://deepsource.io/docs/guides/cq-github-python-travis.html

[code]

[2019-07-24 12:58] sobolevn opened #711 "Forbid `open()` not inside `with`"
# Rule request

## Thesis

We should forbid this way of calling `open()`:

[code]

Or:

[code]

Use:

[code]

## Reasoning

This is a best practice in python.
This is a refactoring rule.

[2019-07-24 13:12] sobolevn opened #712 "Consider adding xenon"
Related: https://github.com/rubik/xenon/issues/29#issuecomment-514622694

[2019-07-24 14:52] #709 closed

[2019-07-24 14:52] #710 closed

[2019-07-24 14:52] #712 closed

[2019-07-24 14:52] #708 closed

[2019-07-24 15:51] silvererudite commented on #689
Hi...I would like to work on this issue. can this be assigned to me? Also Can you please give me some directions as to how to go about implementing it?

[2019-07-24 16:19] sobolevn commented on #689
@silvererudite awesome! Assigned it to you.

This is how it should be implemented:

0. Read the docs: https://wemake-python-stylegui.de/en/latest/pages/api.html
1. You create a new violation called `RangeOnLenCallViolation` here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/violations/refactoring.py#L588 (at the end of this file)
2. Then you crea

[2019-07-24 21:32] sobolevn commented on #668
In 10 days that's how it has changed:

[code]

[2019-07-25 10:14] dmitrymishanov commented on #711
Hello, Nikita!
I would like to work on this issue.

[2019-07-25 10:15] sobolevn commented on #711
Awesome! @dmitrymishanov you are officially assigned 👍

Feel free to ask any questions you have or ask for any help you need.

[2019-07-25 19:32] sobolevn opened #715 "Forbid to use `*[]`, `*()`, and `**{}` in calls"
# Rule request

## Thesis

Using code like:

[code]

Does not make any sense. It should be forbidden.
There's no need in using explicit `*[]` or `*{}` or `*()` since call that expect `*args` will just receive empty tuple. There's also no point in using `**{}` in your code.

## Reasoning

This is a refactoring rule. This kind of calls is just pointless.

[2019-07-26 08:17] sobolevn opened #716 "Make sure that we test `ast.Starred` more often"

[2019-07-26 09:45] sobolevn opened #717 "Check other magic methods not to be generators, not just `__init__`"
# Rule request

## Thesis

We have this rule: https://wemake-python-stylegui.de/en/latest/pages/violations/best_practices.html?highlight=YieldInsideInitViolation#wemake_python_styleguide.violations.best_practices.YieldInsideInitViolation

It only checks that `yield` is not contained inside `__init__`, but actually `yield` cannot be contained inside `__lt__`, `__new__`, `__bool__` and other magic m

[2019-07-26 10:12] sobolevn opened #718 "Change how `AsyncMagicMethodViolation` works"
After creating #717 I got and idea that `AsyncMagicMethodViolation` (implemented by awesome @bellum in #684) also works incorrectly. Let me show an example of what's wrong:

[code]

In this case some other library defines that custom magic method `__protocol__` should be `async`. And we will raise a violation for that. It is a false-positive.

We should work with magic methods blacklist instead of

[2019-07-26 16:47] sobolevn commented on #401
[code]

[2019-07-26 16:48] sobolevn commented on #401
[code]

[2019-07-26 19:23] sobolevn commented on #399
Closed by https://github.com/wemake-services/wemake-python-styleguide/commit/b43e738c4527219f03c2eec420fe2e20cfd4c8cc

[2019-07-26 19:23] #399 closed

[2019-07-27 11:16] #695 closed

[2019-07-27 12:11] #716 closed

[2019-07-28 07:51] ea-volkov commented on #715
Hello, Nikita! I would like to work on this issue.

[2019-07-28 10:08] sobolevn commented on #715
Awesome, @ea-volkov! You are assigned. Please, feel free to ask any questions, show your progress with pull requests, and ask for help. 👍

[2019-07-28 10:34] sobolevn opened #720 "Replace layers-linter with import-linter"
We also need to forbid imports from `tests/` and update docs including `CONTRIBUTING.md` and architecture description.
Related to #719

[2019-07-28 11:17] #720 closed

[2019-07-28 11:33] sobolevn commented on #673
That's impossible. And I do not want to use dirty hacks.

[2019-07-28 11:33] #673 closed

[2019-07-28 11:36] sobolevn commented on #425
Well, this is too complex. I have spent several days thinking about it: and the solution is to open a new feature request to `mypy`.

Example:

[code]

[2019-07-28 11:36] #425 closed

[2019-07-28 11:36] sobolevn commented on #567
Closing, since we won't implement #425

[2019-07-28 11:36] #567 closed

[2019-07-28 11:37] sobolevn commented on #688
Out of scope. And too complex. We even can't tell what string is regex and what is not.

[2019-07-28 11:37] #688 closed

[2019-07-28 11:38] sobolevn commented on #668
After 3rd (!) attempt performance did not improve. Fuck it 🙂
I have wasted too much time on this.

[2019-07-28 11:38] #668 closed

[2019-07-28 11:39] sobolevn commented on #579
Also related: https://github.com/PyCQA/pydocstyle/issues/368

[2019-07-28 11:44] sobolevn commented on #453
Literature / code:
1. https://github.com/kucherenko/jscpd/blob/2aea00c8d3197bf30aaa3e12ca706b70e822b0e1/src/detector.ts
2. https://github.com/PyCQA/pylint/blob/master/pylint/checkers/similar.py

[2019-07-29 13:32] sobolevn opened #723 "Document debugging process"

[2019-07-29 16:20] sobolevn opened #724 "Forbid to use variables from conditional blocks"
# Rule request

## Thesis

This code does not raise a single violation that `x` might not be defined:

[code]

One more example:

[code]

With `for`:

[code]

With `while`:

[code]

## Reasoning

We need to forbid to use variables that are only defined in `try`, `if`, `for` body.
It might not be defined at all. `mypy` also does not complain about it.

Cases like:

[code]

are fine.

[2019-07-29 16:54] sobolevn opened #725 "Forbid to use `while False` and equivalents"
# Rule request

## Thesis

Currently code:

[code]

Does not a violation on `while False`. But, that's 100% incorrect. This code will never be executed.

We need to forbid: `False`, `0`, `''`, `[]`, `()`, `{}`, `None` with `while` condition.

## Reasoning

This rule is related to `WrongLoopDefinitionVisitor` and `WrongLoopIterTypeViolation`

[2019-07-29 16:58] sobolevn opened #726 "Forbid to use `as _` naming style in blocks"
# Rule request

## Thesis

`with` and `except` blocks can use something like that:

[code]

Why? In case you don't need this variable - don't use it. Remove `as` and that's it.
No need to mark these variables as unused.

[2019-07-29 16:59] kxepal commented on #725
Can rule be a bit more general, like "Forbid unreachable code"? The same case applies as well for `if`, partially to `for` and allows to catch more things like code at the same block after return / raise etc. pylint does that good.

[2019-07-29 17:01] sobolevn commented on #725
This rule already exists. We already know about `if`, `for`, and unreachable blocks. The issue is just in `while`. We have missed it.

[2019-07-29 17:02] kxepal commented on #725
Ah, good then.

[2019-07-29 21:06] #401 closed

[2019-07-29 21:25] sobolevn opened #727 "`{1, True, 1.0}` should be recognised as set with duplicates"
The same goes for `{1: 1, True: 1, 1.0: 1}`, dict keys should also be unique.

[2019-07-29 21:28] sobolevn opened #728 "Do not allow to multiply lists"
# Rule request

## Thesis

https://github.com/satwikkansal/wtfPython#-a-tic-tac-toe-where-x-wins-in-the-first-attempt

[code]

Multiplying lists on numbers is always a bad idea.
Do not do that.

## Reasoning

It is a popular error that we must find and report.

[2019-07-30 07:58] sobolevn opened #729 "Enforce a single way how to write complex numbers: `3j` vs `3J`"
# Rule request

## Thesis

We need to enforce `j` over `J`

## Reasoning

Numbers should be consistent.

[2019-07-30 08:02] sobolevn opened #730 "Forbid expressions like `3 + -4`"
# Rule request

## Thesis

Currently linter ignores expressions like this. But, that's incorrect. It should be written as: `3 - 4`

The rule is:
1. If we use `Add` or `Sub`
2. the second node can not be a `Unary`

Also forbidden:
1. `3 - +4`
2. `3 - -4`
3. `3 - ~4` (wtf?)

Allowed:
1. `-3 + 4`
2. `-3 - 4`

## Reasoning

This is a consistency rule.

[2019-07-30 08:40] sobolevn opened #731 "Find non-unique dict keys"
# Rule request

## Thesis

For some reason it does not work at all.
I had a feeling that some of our plugins did support it.
But ok, let's reuse code in `set` check.
Related #727

## Reasoning

Having the same key in keys is error prone.

[2019-07-30 11:08] sobolevn commented on #727
Closed by https://github.com/wemake-services/wemake-python-styleguide/commit/6fb5128f7c7aa73f97ca31f0123f710fe9e25f4c

[2019-07-30 11:08] #727 closed

[2019-07-30 11:27] sobolevn commented on #731
Plugin works for simple values as `1`, `1.0`, etc.
But our version works even for `(1, 1)` and detects unhashable values as well.

[2019-07-30 18:22] #731 closed

[2019-07-30 19:02] #729 closed

[2019-07-30 20:48] #723 closed

[2019-07-31 08:53] ea-volkov commented on #715
Hi, @sobolevn! I'm not sure of the chosen path of realization for the visitor. Can you comment current logic PR?

[2019-07-31 11:32] sobolevn opened #735 "Forbid `assert False` and equivalents"
# Rule request

## Thesis

We need to forbid `assert` with false statements inside: `False`, `None`, `[]`, etc.

So, code:

[code]

Should raise a violation.
Similar to #725

## Reasoning

This won't work.

[2019-07-31 11:34] sobolevn opened #736 "Forbid too many `assert`s in a function"
# Rule request

## Thesis

We need to introduce a new complexity rule: `TooManyAssertsViolation`
It should be configurable and count all `assert` statements in functions.
Useful for tests: when we need to make sure that there are not too many `assert`s in a single test.

I guess the default value might be `5`.

## Reasoning

Multiple asserts create implicit branching in your code. It is hard to te

[2019-07-31 11:53] sobolevn opened #737 "Forbid too deep subscript and attribute usages"
# Rule request

## Thesis

Code like:

[code]

And code like:

[code]

When counting access level we count:
1. `ast.Subscript`
2. `ast.Attribute`

Things we do not count:
1. `ast.Index` complexity
2. `ast.Call` (since there are a lot of `call`-based APIs like `django` ORM: `.filter().exclude().annotate().values().first()` which we do not want to break)

That's how it works:

[code]

Should be forb

[2019-07-31 11:55] sobolevn opened #738 "Forbid too deep attribute usages"
# Rule request

## Thesis

Code like:

[code]

Should be forbidden, related #737
The default configuration for this complexity rule is `4`

## Reasoning

It indicates a bad design. Too deep attributes shows that your OOP is not so OOP.
This is a complexity rule.

[2019-07-31 19:06] #453 closed

[2019-07-31 20:56] sobolevn commented on #699
Some people use `src/`, some people patch `PATH`, some `sys.modules`.
We won't detect a lot of cases. Moreover, it is not a common mistake. Closing.

[2019-07-31 20:56] #699 closed

[2019-08-01 09:21] sobolevn commented on #724
What about this cases?

[code]

1. It is pretty popular among python developers to write code like this one
2. All branches are covered (I will need to check how `mypy` handles that, but do not fully rely on it)
3. It might over-complicate the rule and implementation

The same applies to `for/else`, `try/except/else/finally`
Blocks `with` and `while` are always dangerous:

[code]

[2019-08-01 09:23] sobolevn opened #739 "Forbid zero divison"
# Rule request

## Thesis

For some reason no one checks for that:
- If we use `BinOp` with `/` the divisor should not equal to `0` or `0.0` or `False`

## Reasoning

This is incorrect math. You cannot divide by zero.

[2019-08-01 09:41] sobolevn commented on #724
Steps I see:
1. All top-level `AssignNodes` are added to list of names that are free to use: `{context: {var_name: True}}`
2. If branched (`if`, `for`, `try`) has all branches with the same assigned name it is added to the same list
3. Partially assigned name is added to the list with `False` flag

Then we look at the usage pattern:

[code]

If variable is used within the same block of code, that

[2019-08-01 16:49] sobolevn commented on #739
Ok, but what about `+ 0` or `- 0`? How `* 0` is useful?
@kxepal, what do you think?

[2019-08-01 18:00] kxepal commented on #739
Well...
[code]

But such operations looks meaningless in anyway.

[2019-08-01 18:17] sobolevn commented on #739
@orsinium also suggested that `* 1` (not `* -1`) and `/ 1` should be forbidden as well.

[2019-08-01 18:24] #697 closed

[2019-08-01 19:35] #739 closed

[2019-08-01 20:32] sobolevn commented on #730
Also: `-= -3`

[2019-08-02 07:19] kootenpv commented on #702
This is wrong! What if I can expect a `0` or `""`. There is then no way to distinguish between them anymore.

[2019-08-02 07:23] kxepal commented on #702
That means you mix two different types with completely different behaviour within a single variable, what is already an issue.

[2019-08-02 07:29] sobolevn commented on #702
I agree with @kxepal

In case you work with `Optional[int]` - you need to check these cases:

[code]

[2019-08-02 07:30] sobolevn commented on #702
But, if you work with `Union[str, int]` and then explicitly check for `0` and `''` cases - then, you should:
1. fix you code
2. use `# noqa` comment to disable this check inline

[2019-08-02 09:18] sobolevn opened #741 "Forbid to name variables as `__`, `___`, etc"
# Rule request

## Thesis

We allow to reuse a single `_` for all unused cases.
There's no need to create extra `__` and `___`

## Reasoning

They look ugly and can be easily mixed up.
This is a naming rule.

[2019-08-02 09:39] sobolevn opened #742 "Forbid to raise exceptions that are caught in except cases"
# Rule request

## Thesis

We need to disallow code like this:

[code]

This is just a `goto` statement.

Related:

[code]

From: https://github.com/hchasestevens/astpath

## Reasoning

We do not need a `goto` in our code.

[2019-08-02 09:41] sobolevn opened #743 "Find `sum` candidates"
# Rule request

## Thesis

[code]

Quote from: https://github.com/hchasestevens/astpath

Instead use `sum(call for call in callers.values())`, etc

## Reasoning

No need to write an extra `for` loop.
This is a refactoring rule.

[2019-08-02 11:50] #741 closed

[2019-08-02 15:12] sobolevn commented on #726
`except Exception as _e:` is also covered with `F841  local variable '_e' is assigned to but never used`

[2019-08-02 15:15] sobolevn commented on #726
imports won't be covered, since it might be a module level attribute.

[2019-08-03 18:01] r19m89s commented on #743
I can pick this up if no one else is currently working on this.

[2019-08-03 18:13] kxepal commented on #743
Assume:
[code]

Then would this rule suggest to rewrite this code:
[code]
into this:
[code]

while correct form would be:
[code]
?

This example shows that initial value is important and suggestion to use just `sum(...)` may be wrong.

[2019-08-03 18:15] sobolevn commented on #743
Ok, @r19m89s you are assigned! Feel free to ask any questions and ask for help.

@kxepal agree. This should be listed in the violation docs. Also, link to the official python docs is required.

[2019-08-03 18:49] #726 closed

[2019-08-03 18:56] sobolevn opened #745 "Forbid name shadowing from different scopes"
# Rule request

## Thesis

We need to forbid all name shadowing:

[code]

## Reasoning

Name shadowing is not great, it creates a room for all kinds of bugs.
Use different names, do not allow shadowing.

[2019-08-03 18:58] sobolevn opened #746 "`a, *(b, c) = 1, 2, 3` breaks flake8-builtins"
Original issue: https://github.com/gforcada/flake8-builtins/issues/40

[2019-08-03 19:06] sobolevn opened #747 "Forbid to use ``__`` and ``___`` as unused variables"
# Rule request

## Thesis

Currently you can create variables like `______` with no consequences.

## Reasoning

This is a naming rule to enforce `_` usage for all explicit unused variables.
It is also possible to use names like `_name` as unused.

[2019-08-03 21:54] #747 closed

[2019-08-03 23:32] #730 closed

[2019-08-03 23:54] #728 closed

[2019-08-04 11:24] #745 closed

[2019-08-04 16:09] artemiy312 commented on #737
Hi @sobolevn! May I take the issue?

[2019-08-04 16:24] artemiy312 commented on #737
@sobolevn Should we forbid non-consecutive deep subscript usages? This expression won't break the rule, but it is still overcomplicated data without API: `my_matrix[0][0][0].foo[0][0][0].bar[0][1]`

[2019-08-04 18:24] sobolevn commented on #737
@artemiy312 good catch. Maybe we can join two rules together? This one and #738
Any too long access should be forbidden.

[2019-08-05 08:11] #736 closed

[2019-08-05 08:31] sobolevn commented on #702
@DjaPy friendly ping. How is that going? Do you need any help?

[2019-08-05 09:44] dmitrymishanov commented on #711
@sobolevn, I tried to understand how it works and how to solve this, but my knowledge level is apparently too low for contributing your project. Hope to return later and to help here.
Sorry.

[2019-08-05 10:40] #648 closed

[2019-08-05 10:41] sobolevn commented on #648
We still allow `b'b' + 'a'`, since it did not feel right to add this check to this rule.
Moreover, it feels like type-checking that is out of scope.

[2019-08-05 10:42] sobolevn commented on #711
@dmitrymishanov no problems! If you have any feedback about the codebase, docs, or structure - feel free to share.

Hope that you will still use `wemake-python-styleguide` in your projects.

[2019-08-05 12:23] sobolevn commented on #724
Algorithm prototype that I am working on:

[code]

[2019-08-05 12:51] artemiy312 commented on #737
@sobolevn Sure, let's join these rules

[2019-08-05 12:52] sobolevn commented on #742
Nope, this is not going to be implemented for two reasons:
1. We still can't catch things like `raise IndexError()` and `except LookupError:` in one of the cases
2. Sometimes this `goto` is useful

Sorry.

[2019-08-05 12:52] #742 closed

[2019-08-05 12:53] #738 closed

[2019-08-05 12:53] sobolevn commented on #738
Joined with #737

[2019-08-05 12:58] sobolevn commented on #737
@artemiy312 have a look at this module: https://github.com/wemake-services/wemake-python-styleguide/tree/master/wemake_python_styleguide/logic

[2019-08-05 13:00] sobolevn commented on #689
@silvererudite Hi, how is it going? Do you need any help?

[2019-08-05 16:08] silvererudite commented on #689
Hi @sobolevn, had my hands full past week for exam hence the delay. Hope it's ok. I've been trying to read the docs and yes I think I have an issue. I don't quite understand which base class while creating the violation. I see in : https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/violations/refactoring.py#L588  that  ASTViolation class is used extens

[2019-08-05 16:09] silvererudite commented on #689
I see that in each violation class there's a parameter called node? Can u pls clarify what kinda input goes in it?

[2019-08-05 16:24] sobolevn commented on #689
You need this one for a violation: https://wemake-python-stylegui.de/en/latest/pages/api/violations.html#wemake_python_styleguide.violations.base.ASTViolation

You need this one for a visitor: https://wemake-python-stylegui.de/en/latest/pages/api/visitors.html#wemake_python_styleguide.visitors.base.BaseNodeVisitor

`node` is an `ast` node that is the source of the violation. Here's a clear example

[2019-08-06 12:13] sobolevn commented on #724
This is **very** hard. And I am quite tired to implement it.

[2019-08-06 12:33] silvererudite commented on #689
hey @sobolevn ...so I have written the details of the violation following the docs but where do I get these criteria from the docs?

- Each violation must have “versionadded” policy
- If violation error template should have a parameter it should be the last part of the text: : {0}

[2019-08-06 16:02] sobolevn commented on #689
@silvererudite add

- ``.. versionadded:: 0.12.0`` to the docs of your new violation
- Ignore it completely

[2019-08-06 16:28] #717 closed

[2019-08-06 16:28] #718 closed

[2019-08-06 16:35] silvererudite commented on #689
why are we creating visitor in violations/refactoring.py ? Shouldn't it be in visitors/ast module ?

[2019-08-06 16:37] sobolevn commented on #689
You are right, I have copied a wrong link. Fixed

[2019-08-07 11:32] #735 closed

[2019-08-07 11:32] #725 closed

[2019-08-07 12:15] #711 closed

[2019-08-07 12:16] sobolevn commented on #711
Hey, @dmitrymishanov! Check out my commit: https://github.com/wemake-services/wemake-python-styleguide/commit/eec9a14de916cb9051fa847e62d331d53fbcf914 where I solve this issue. Maybe you will learn something new! 👍

[2019-08-07 13:06] #690 closed

[2019-08-07 17:52] silvererudite commented on #689
hey..so creating the visitor is frying my brain. Let me just list the things as far as I understood and pls correct me and/or suggest better ways if possible

1.  we create the a visitor to check for the violation we wrote in violations.py and if it finds a case where the the rule was violated the violation would be raised (kind of like the try catch logic in simple terms)

2. So I need to create

[2019-08-07 18:28] sobolevn commented on #689
Yes! I have already created this `visitor` to check `open()` and `type()` calls.
All you need to do is to detect `range(len())` calls.

Here's the visitor I am talking about: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/functions.py#L120

[2019-08-07 18:51] silvererudite commented on #689
Oh I see..but why do I not get this visitor in my local repository even after updating it using

`git pull origin master`

should I just copy paste the structure of this visitor and start writing code then ?

[2019-08-07 18:55] sobolevn commented on #689
Nope, you need to rebase the original repo: https://help.github.com/en/articles/syncing-a-fork

[2019-08-07 18:59] silvererudite commented on #689
Yeah fixed it now thanks btw

[2019-08-08 08:19] orsinium opened #750 "WPS115 (Found upper-case constant in a class) in enum.Enum."
# Bug report

## What's wrong

WPS115 violation forbids uppercase attributes for classes.

## How is that should be

However, [according to official documentation](https://docs.python.org/3/library/enum.html#creating-an-enum), `enum.Enum` attributes should be uppercased.

BTW, checker for `enum.Enum` attributes case can be a separate violation.

[2019-08-08 08:20] orsinium commented on #750
It's not only about style.

[2019-08-08 08:42] sobolevn commented on #750
Hm, I was actually using `snake_case` for `enums` for my whole life.

[2019-08-08 10:49] #737 closed

[2019-08-08 10:53] sobolevn commented on #724
@artemiy312 do you want to give this a try? This one is very hard, but it would be so satisfying to solve it!

[2019-08-08 12:59] #691 closed

[2019-08-08 13:09] orsinium commented on #750
`¯\_(ツ)_/¯`

I think official Python documentation has value here. Enum isn't a regular class.

[2019-08-08 13:28] sobolevn commented on #750
I agree. Let's do it!

[2019-08-08 15:49] artemiy312 commented on #724
@sobolevn Yes, sure. Let me try :)

[2019-08-09 09:24] sobolevn commented on #164
I guess we have found a solution: https://github.com/andreoliwa/nitpick

[2019-08-09 12:45] orsinium opened #751 "ValueError: malformed node or string"
# Bug report

[code]

## flake8 --bug-report

[code]

## Steps to reproduce

Can't make a clean environment to reproduce, sorry. I hope, the traceback will help.

[2019-08-09 13:25] sobolevn commented on #751
Thanks!

[2019-08-09 13:53] orsinium commented on #751
I've run wemake against `cpython/Lib`. It fails on `cpython/Lib/_pydecimal.py`. However, when I run it against only this file, everything works. So, I'm not sure how to reproduce it, yet.

[2019-08-09 13:56] orsinium commented on #751
Also, in some cases `flake8_string_format` fails with assertion error on this fail, that blocks the investigation (because wemake depends on it, and flake8 runs everything installed). To be honest, that's quite buggy plugin. It's the second assertion I've caught in it.

[2019-08-09 14:04] orsinium commented on #751
Yeah, I've reproduced it.

[code]

[2019-08-09 14:08] orsinium commented on #751
[code]

[2019-08-09 14:32] andreoliwa commented on #164
I'm glad `nitpick` has a practical use outside my own projects. 🙂
It's still beta and with rough edges though.
Let me know if you find more bugs.

[2019-08-09 17:33] sobolevn commented on #454
Related: https://github.com/jsfehler/flake8-multiline-containers/issues/9#issuecomment-519936744

I guess, that we can switch to `flake8-multiline-containers` when this feature will be ready.

[2019-08-09 18:23] silvererudite commented on #689
@sobolevn how do I run this linter in my local machine ? (for testing purposes)

[2019-08-09 20:00] sobolevn commented on #689
Everything is described in depth inside https://wemake-python-stylegui.de/en/latest/pages/api/contributing.html

But, I would say that `poetry run pytest` is enough. `poetry run make test` to run everything before the PR.

[2019-08-09 23:13] sobolevn opened #755 "Incorrect line number for WPS400"
# Bug report

## What's wrong

Incorrect line for `WPS400`

[code]

[2019-08-10 11:24] sobolevn commented on #750
Ok, I have tried several solutions, but we cannot statically tell that this class is enum or not.
We can only check for `enum.Enum` or `Enum` (and subtypes) in class bases. But, that's not enough. We cannot find custom `Enum` subtypes, aliases (`import enum as en`), etc.

So, we cannot make this rule reliable. The our philosophy - that's not how we define rules.

I have updated docs, that we will

[2019-08-10 11:24] #750 closed

[2019-08-10 12:33] #755 closed

[2019-08-10 12:33] #751 closed

[2019-08-10 13:25] #649 closed

[2019-08-10 13:26] sobolevn commented on #649
Hey, @NanduTej, thanks for your help! Check out the final solution.

[2019-08-11 10:03] #715 closed

[2019-08-11 12:14] sobolevn opened #756 "Document nitpick and create sharable configurations"
https://github.com/andreoliwa/nitpick

[2019-08-11 12:14] sobolevn opened #757 "Document flakehell and improve legacy guide"
https://github.com/life4/flakehell

[2019-08-12 06:14] Tranced commented on #703
Hey @sobolevn, was just wondering if you needed any help on this. I'd love to work on it!

[2019-08-12 08:12] sobolevn commented on #703
Here you go! But, please keep in mind that the release date is coming: 1 Sep.

Ask for any help you need!

[2019-08-13 07:57] sobolevn opened #763 "Add flake8-pytest-style"
We need it as a dev dependency to lint out `pytest` code.

[2019-08-13 08:44] sobolevn opened #764 "Create optional dependencies"
I see several groups:

- django: with `flake8-django`
- pytest: with `flake8-pytest` and `flake8-pytest-style`

Requires extra configuration, won't be included:
- config: with `nitpick`
- legacy: with `flakehell`

[2019-08-13 09:21] #756 closed

[2019-08-13 11:42] orsinium commented on #764
I think, only zero-config flake8 plugins can be dependencies. In this example, `flake8-django`, `flake8-pytest`, and `flake8-pytest-style`. Tools like `nitpick` and `flakehell` require additional configs and knowledge. It's better to recommend them, not depend.

[2019-08-13 11:45] orsinium commented on #764
Because when you're directly working with some tool (writing a special config for it), it's already not a dependency of wemake, but a dependency of the project.

[2019-08-13 11:57] sobolevn commented on #764
Agree. Updated.

[2019-08-13 11:59] sobolevn commented on #764
On the other hand: how many tools can we put in these optional sections? What is the difference with `pip install wemake-python-styleguide flake8-django`?

I am closing it, since the value is not clear to me.

[2019-08-13 11:59] #764 closed

[2019-08-13 15:54] #763 closed

[2019-08-13 16:21] #757 closed

[2019-08-13 18:06] sobolevn commented on #682
Oops.

[2019-08-13 18:06] #682 closed

[2019-08-13 18:08] sobolevn commented on #689
Closed via https://github.com/wemake-services/wemake-python-styleguide/commit/e6dd86df5a3763eae8a7c3e4b3824db8797ea549

Sorry, @silvererudite, but the release schedule is coming. And I don't have much time left.

[2019-08-13 18:08] #689 closed

[2019-08-14 10:41] #743 closed

[2019-08-14 10:43] sobolevn commented on #612
Very sorry, but it won't make its way into `0.12`
Because there's a mismatch in two linters.

Scheduling for `0.13`

[2019-08-14 10:50] sobolevn commented on #579
Related: https://github.com/PyCQA/pydocstyle/pull/381

[2019-08-14 11:37] sobolevn commented on #702
Ok, I agree that this rule is not a good one. I have analysed several projects that we use. Here are the results:

[code]

So, let's concentrate on `[]`, `{}`, `()`. And allow simple types: `0`, `''`, `None|True|False`.

[2019-08-14 12:21] #702 closed

[2019-08-14 13:08] #703 closed

[2019-08-15 11:29] sobolevn opened #766 "Respect `@overload` decorator"
Currently I have to ignore all `@overload` cases from block-overlap manually:

[code]

I guess, that this should be applied automatically. And functions with `@overload` (or `@typing.overload`) decorator should be allowed.

[2019-08-15 11:52] GreyZmeem opened #767 "Split the rule that checks using `*()`, `*[]` and `**{}` in calls into different rules"
# Rule request

## Thesis

Divide the [WPS517](https://github.com/wemake-services/wemake-python-styleguide/blob/9105869ee4d38775ffbf4348ef29492794c1177f/wemake_python_styleguide/violations/refactoring.py#L704) rule into different rules, which individually check `*()` /  `*[]` and `**{}` expressions.

Related issue: https://github.com/wemake-services/wemake-python-styleguide/issues/715

## Reasonin

[2019-08-15 12:38] sobolevn commented on #767
Yes, @GreyZmeem. I agree. We need to check `**{}` differently.

[2019-08-15 12:59] sobolevn opened #768 "Consider adding `ignore` to nitpick styles"
We need to see how well the default ignores merge with custom ones.

[2019-08-15 13:15] GreyZmeem opened #769 "False positive `WPS417 Found non-unique item in hash: None`"
# Bug report

## What's wrong

When using dictionary unpacking operator to merge dicts:

[code]

Causes liter to complain with message:

[code]

## System information

### flake8 information

[code]

[2019-08-15 13:39] sobolevn commented on #769
@GreyZmeem thanks!

[2019-08-15 13:41] sobolevn opened #770 "Fix urls in nitpick docs"
# Bug report

## What's wrong

When I paste:

[code]

into `pyproject.toml` of my custom projects that what I get:

[code]

## How is that should be

[code]

## System information

### flake8 information

Contents of `flake8 --bug-report`:

### pip information

Contents of `pip freeze`:

[2019-08-15 15:53] sobolevn opened #771 "Add `reveal_type` to forbidden functions"
Now it is not recognised as invalid.
However, there's no reason to use it in production.

[2019-08-17 14:30] sobolevn opened #774 "Sync mypy settings from returns"

[2019-08-17 14:45] sobolevn opened #775 "False positive for `WPS345 Found meaningless number operation`"
# Bug report

## What's wrong

False positive for `1 / some`:

[code]

## How is that should be

`1 / ANY` should be allowed.

[2019-08-18 09:43] serhii73 commented on #690
![Screenshot from 2019-08-18 12-41-36](https://user-images.githubusercontent.com/24910277/63222850-a13ece80-c1b5-11e9-9123-120532416859.png)
Sorry, https://deepsource.io/blog/python-common-mistakes/ - recommends use `type` =)
What do you think about that @sobolevn?

[2019-08-18 09:47] serhii73 commented on #771
Hello, @sobolevn. I can do it.
But I'm a newbie in python world and can you tell me more about this task?
Thank you =)

[2019-08-18 09:48] sobolevn commented on #690
There's an important point here: you should not do this at all.

Correct solution:

[code]

And run `mypy` to make sure your types is correct. In this case `isinstance` is more than enough. And using `type()` for compare is invalid.

[2019-08-18 09:49] sobolevn commented on #771
@serhii73 add this function here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/constants.py#L15

That's all.

[2019-08-18 09:55] serhii73 commented on #771
plz assign this issue to me on the GitHub UI. Thanks =)

[2019-08-18 10:36] #771 closed

[2019-08-18 10:39] serhii73 commented on #775
Hello, @sobolevn. I can do it.
Can you tell me more about this task?
Because I do not fully understand when False-positive happen.
Thank you =)

[2019-08-18 11:02] sobolevn commented on #775
@serhii73 here's the full explanation:

1. This code: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/operators.py#L98-L111 produces incorrect result. It treats `1 / some` as useless math operation. But it is not. You can and should be able to use it.
2. These tests do not check it: https://github.com/wemake-services/wemake-python-style

[2019-08-18 11:16] serhii73 commented on #775
Thank you very much!
plz, assign this issue to me on the GitHub UI. Thank you =)

[2019-08-18 18:49] #774 closed

[2019-08-18 18:49] #770 closed

[2019-08-18 20:24] serhii73 commented on #690
![Screenshot from 2019-08-18 23-22-30](https://user-images.githubusercontent.com/24910277/63229962-22767f80-c20f-11e9-9e40-79f9988bd573.png)
mypy don't show an error in this case.
Maybe use `type` make sense?

[2019-08-19 11:45] orsinium commented on #767
As stayed in #589, we can recommend using `dict(...)` instead of `{...}` if all keys are correct literals not only for unpacking :thinking:

[2019-08-19 12:02] orsinium opened #780 "Unnecessary literals"
# Rule request

## Thesis

Bad:

[code]

Good:

[code]

[flake8-comprehensions](https://github.com/adamchainz/flake8-comprehensions) does the same, but only for dict, list, and tuple.

## Reasoning

[2019-08-19 12:03] orsinium commented on #780
[code]

:see_no_evil:

[2019-08-19 12:04] orsinium commented on #780
Oh, also `bytes` (use `b''` instead).

[2019-08-19 12:14] orsinium opened #781 "Forbid `.readlines()` in `for`"
There is an issue in PyLint, but it's 4 years old. However, it sounds easy. So, let's do it here.
https://github.com/PyCQA/pylint/issues/696

[2019-08-19 13:48] orsinium commented on #724
PyLint has a rule for `for`:

[code]
https://docs.pylint.org/en/1.6.0/features.html#id18

[2019-08-19 13:49] orsinium commented on #724
And

[code]

[2019-08-19 13:53] orsinium commented on #724
We can drop every loop (including body) one-by-one and see for undefined variables as usual.

[2019-08-19 14:00] sobolevn commented on #724
@orsinium sorry, I did not quite get the last idea. What do you mean?

[2019-08-19 15:54] sobolevn commented on #781
Sounds like a very hard task to implement.
See pylint's cases.

[2019-08-19 15:55] sobolevn commented on #768
Related: https://github.com/andreoliwa/nitpick/issues/77

[2019-08-19 15:59] #768 closed

[2019-08-19 16:34] #769 closed

[2019-08-19 19:56] orsinium commented on #767
Keys must be not just strings to use it as keyword arguments for dict(). It also must be srt.isidentifier()

[2019-08-19 19:58] orsinium commented on #781
As always, I think, it's OK to cover only some really simple cases for the beginning.

[2019-08-19 20:17] sobolevn commented on #767
Yes, good catch!

[2019-08-20 08:45] sobolevn opened #782 "Forbid to unpack values like `**{'@': 1}`"
# Rule request

## Thesis

Related to #767

This should be forbidden:

[code]

To validate this we need to use `str.is_identifier`

## Reasoning

This is simply wrong.

[2019-08-20 08:46] sobolevn commented on #767
Ok, that's how we will handle it: for now all string keys will be reported as `WPS517`
Later we will also check that `print(**{'@': 2})` is a separate violation: https://github.com/wemake-services/wemake-python-styleguide/issues/782

[2019-08-20 08:46] #767 closed

[2019-08-22 07:05] sobolevn opened #784 "Add sphinx-version-warning"
https://sphinx-version-warning.readthedocs.io/en/latest/

We need to warn users that they are using the latest version of the docs that might be different from their version.

[2019-08-22 07:39] sobolevn opened #785 "Build a github action to run this linter"
We need to create a github action to run this linter on pull requests for python source.

[2019-08-23 13:32] serhii73 commented on #775
Sorry @sobolevn can you help me?
[code]
I don't understand how to right write a list of expressions.
[code]
or
[code]
it is not right.

[2019-08-23 13:33] sobolevn commented on #775
[code]

Are both correct according to this rule. But:

[code]

Are not correct.

[2019-08-23 14:31] sobolevn opened #787 "Forbid approximate constants"
# Rule request

## Thesis

We should disallow code like `my_pi = 3.14` because this constant is already defined: https://docs.python.org/3/library/math.html#constants

See the whole list of defined values.

There might be other constants and modules we should check.
https://rust-lang.github.io/rust-clippy/master/index.html#approx_constant

## Reasoning

No need to write them again, use existing va

[2019-08-23 14:34] sobolevn opened #788 "Forbid incorrectly swapped variables"
# Rule request

## Thesis

We need to forbid code like:

[code]

And:

[code]

The first one indicates a failed attempt to swap variables.
The second one should be rewritten to: `a, b = b, a`

https://rust-lang.github.io/rust-clippy/master/index.html#almost_swapped

## Reasoning

[2019-08-23 14:38] sobolevn opened #789 "Forbid incorrect assign pattern"
# Rule request

## Thesis

We need to enforce:

[code]

instead of:

[code]

The same applies for all other operators: `-`, `&`, `**`, etc
https://rust-lang.github.io/rust-clippy/master/index.html#assign_op_pattern

## Reasoning

The first version is correct and short. This is a consistency rule.

[2019-08-23 14:52] sobolevn opened #790 "Forbid misrefactored assign op"
# Rule request

## Thesis

We need to forbid code like:

[code]

It is most likely an error. Refactor it to:
1. `x += 1`
2. `x *= 2; x += 1`

https://rust-lang.github.io/rust-clippy/master/index.html#misrefactored_assign_op
Related: #789

## Reasoning

This is a refactoring rule.

[2019-08-23 14:55] sobolevn opened #791 "Modulo operation with 0 and 1 is allowed"
# Bug report

## What's wrong

This code now does not raise a `WPS345` violation:
[code]

https://rust-lang.github.io/rust-clippy/master/index.html#modulo_one

[2019-08-23 14:56] sobolevn commented on #791
Related #775

[2019-08-23 15:06] sobolevn opened #792 "Forbid `Union[T, None]`, use `Optional[T]` instead"
# Rule request

## Thesis

One can write `Optional[T]` to indicate that `T` and `None` can be returned.
This is a valid way to do it.

But `Union[T, None]` is invalid. And should be forbidden.

I have to note that `Union[A, B, C, None]` is ok.

## Reasoning

This is a consistency rule.

[2019-08-25 00:30] sobolevn opened #793 "WPS440 Found block variables overlap: false positive"
# Bug report

## What's wrong

Consider this code:

[code]

## How is that should be

This code explicitly uses the same name on both sides. We cannot refactor it to use `+=`, because the order is important.

I am not sure how to treat it.

[2019-08-25 08:44] sobolevn opened #794 "Formatter fails with an exception when no colours are available"
# Bug report

## What's wrong

[code]

This happens when there's `show-source = True` and `format = wemake` inside the CI with no colours: https://travis-ci.org/wemake-services/wemake-django-template/builds/576395129

## How is that should be

There should be no exception for it.
@orsinium, please also take a look. `flakehell` is also affected.

[2019-08-25 09:13] #775 closed

[2019-08-25 09:13] #791 closed

[2019-08-25 09:26] serhii73 commented on #780
@sobolevn I can take this issue?
But can you please tell me what needs to do? Which the file and test need change and how it would be work?
Thank you.

[2019-08-25 09:26] serhii73 commented on #780
Also, plz, assign this issue to me on the GitHub UI. Thank you =)

[2019-08-27 09:18] sobolevn opened #798 "nitpick's API has changed"
https://github.com/andreoliwa/nitpick/issues/82#issuecomment-525203943
Related: #796

[2019-08-27 15:51] sobolevn commented on #683
Done: https://github.com/duo-labs/dlint/tree/master/docs

[2019-08-29 07:33] #794 closed

[2019-08-29 07:33] #798 closed

[2019-08-30 11:55] sobolevn opened #800 "Restrict .flake8 and .isort.cfg config files for nitpick"
We also need to forbid `flake8` and `isort` configuration inside `tox.ini`
There should be only one place to place your config.

[2019-08-31 10:06] bellum commented on #785
@sobolevn Hello, I am not familiar with Github Actions enough but it would be interesting for me. I have signed up for beta using my own account (have not got it yet) but as I understand it's possible to define them for this repo. Am I right that by this issue you want to have defined workflow:
- which runs `wemake-python-styleguide` on source code
- which could be imported by any other python rep

[2019-08-31 10:52] sobolevn commented on #785
@bellum I had already built a PoC here: https://github.com/sobolevn/devoops-conf-2019/actions

Feel free to copy and redistribute the code as installable Github Action! 👍

[2019-09-03 15:33] artemiy312 commented on #724
I am working on prototype for the issue, and I already have implemented `safe_var` collector for `For, AyncFor, If, While, FunctionDef, AsyncFunctionDef, ClassDef` scopes.
Progress can be found [here](https://github.com/artemiy312/wemake-python-styleguide/tree/issue-724)

[2019-09-03 16:26] sobolevn commented on #724
Awesome work, @artemiy312! Thanks!

[2019-09-04 14:24] ea-volkov commented on #782
Hello, Nikita! I would like to work on this issue.

[2019-09-05 07:16] #784 closed

[2019-09-05 07:16] #800 closed

[2019-09-05 17:25] ea-volkov commented on #766
Hello, @sobolevn
I would like to work on this issue.

[2019-09-05 17:48] sobolevn commented on #766
Please, feel free! I really want this to be solved! 👍

[2019-09-08 14:05] sobolevn commented on #766
Closed via https://github.com/wemake-services/wemake-python-styleguide/pull/804

[2019-09-08 14:05] #766 closed

[2019-09-08 15:41] ea-volkov commented on #793
Hello, @sobolevn! I would like to work on this issue.

[2019-09-08 16:43] sobolevn commented on #793
Thanks a lot, @ea-volkov ! 👍

[2019-09-09 12:21] sobolevn opened #805 "Add wemake-python-styleguide to awesome-python"
We are ready for the first public release.
To make sure we cover everything, we need to add this project to https://github.com/vinta/awesome-python

To achieve this, we need to upvote this PR to 20 👍 https://github.com/vinta/awesome-python/pull/1348

I am sure that regular contributors are interested in this as much as I am.
So, I make a decision to ping you guys.

[2019-09-09 12:24] sobolevn commented on #805
@novikovfred @thesimanjan @lk-geimfari @AndreyErmilov @bellum @ea-volkov @SizovIgor @valignatev @TyVik @Roxe322 @AlexArcPy @AlwxSin

After this is merged, I will closed this issue and limit the conversation - so no new notifications will be created. 👍

[2019-09-09 12:33] sobolevn commented on #409
Closed, we now use milestones.

[2019-09-09 12:33] #409 closed

[2019-09-09 12:43] lk-geimfari commented on #805
Well, almost done!

[2019-09-11 11:48] orsinium opened #806 "Forbid nested comprehensions"
# Rule request

## Thesis

Python allows the use of nested comprehensions with 2 or more cycles:

[code]

Let's forbid it.

## Reasoning

I think, this construction makes code more difficult to read:

1. The order of cycles isn't intuitive. When you have nested comprehensions (`[[i + j for i in list1] for j in list2]`), you will get cycles order from right to left, but that construction makes it l

[2019-09-12 07:16] sobolevn opened #807 "Forbid lambdas that return initial type values"
# Rule request

## Thesis

Forbid `lambda: ''`, `lambda: 0`, `lambda: []`, `lambda: 0.0`, etc.
These all can be replaced with `int`, `list`, `str`, and other simple type calls.

That's the original code I saw using this: https://github.com/numpy/numpy-stubs/blob/master/tests/test_stubs.py#L54

What we need to check:
- `lambda` has 0 args
- `lambda` returns default type value

## Reasoning

This is

[2019-09-12 07:18] kxepal commented on #807
How about to forbid `lambda: fun()` as  well as it redundant?

[2019-09-12 07:21] sobolevn commented on #807
We already forbid it, see `UselessLambdaViolation`

[2019-09-12 07:21] kxepal commented on #807
Great!

[2019-09-12 11:25] lapshin1988 opened #808 "WPS431 Found nested class: allow define additional allowed classes"
Hi! We are using `graphene-python` package. This library introduces a definition of additional nested classes (for example, `Arguments`, `Input `,..). For now, rule WPS431 prevent these nested classes. I think, that it will be cool to allow to modify `NESTED_CLASSES_WHITELIST` for adding such classes (and any other custom nested classes). Thank you for the linter!

[2019-09-13 10:35] serhii73 commented on #780
Sorry, @sobolevn what the files need change for resolve this issue?

[2019-09-13 13:19] sobolevn commented on #780
Something about `visitors/ast/functions.py` I guess.

[2019-09-14 11:03] ea-volkov commented on #793
@sobolevn I need fix cases with one binary operation only?

[2019-09-14 11:06] sobolevn commented on #793
Nope, with any name usage:
- `some = some.upper()`
- `some = [...] + some`
- `some = call(some)`
- etc

[2019-09-14 17:35] serhii73 commented on #780
First - I want to add a test and then add a code.

What the function will be showing an error after wrong-code in `wemake_python_styleguide/visitors/ast/functions.py`?

Do I need to add tests for this problem here - `tests/test_visitors/test_ast/test_functions/test_wrong_function_calls.py`?

[2019-09-14 18:37] sobolevn commented on #780
Here: `tests/test_visitors/test_ast/test_functions/test_unnecessary_literals.py`

[2019-09-15 07:03] Sam-wyre commented on #789
I would like to work on this

[2019-09-15 07:31] sobolevn commented on #789
You are assigned!

[2019-09-16 20:54] kyleseto2 commented on #807
I wanna work on this!

[2019-09-17 07:08] sobolevn commented on #807
@kyleseto2 you are on it! Thanks!

[2019-09-19 10:24] #785 closed

[2019-09-19 13:59] #793 closed

[2019-09-19 14:00] sobolevn commented on #793
Sorry, I had some time to release new version today, so I have implemented this myself.

@ea-volkov thanks again for your time and effort! Check out new Github Actions!

[2019-09-19 19:38] sobolevn opened #813 "Forbid multi-line for and while loops"
# Rule request

## Thesis

Code [like this](
https://github.com/sobolevn/itmo-2019/pull/24/files#diff-5ad37df7dcdec8d4aeb51aac0bde8387R51-R54) should be forbidden:

[code]

## Reasoning

`for`s should be simple and readable. The correct way to rewrite the same code is:

[code]

This is a consistency rule for `ast.For`, `ast.AsyncFor`, and `ast.While` nodes.

[2019-09-19 19:42] sobolevn commented on #214
Related:
- https://gist.github.com/snoack/e78963516d93e55add32fc1f8237b0e4
- https://stackoverflow.com/questions/56956892/how-to-check-for-redundant-parentheses-with-flake8

[2019-09-20 09:39] orsinium opened #814 "Forbid `from-import` for meaningless names"
# Rule request

## Thesis

Some packages designed to be imported only as module, and functions inside have name that completes module name.

Bad:

[code]

## Reasoning

When you see `datetime(...)` in the code, you know that it's from `datetime`. When you see `BaseView` in a Django project, you know that it's from Django framework. When you see `loads`, it can be anything: yaml, toml, json, custom

[2019-09-20 16:40] sobolevn commented on #814
Awesome!

[2019-09-22 07:54] lapshin1988 commented on #808
Sorry for the delay: I was on vacation. I have implemented the feature. Please allow me to create a branch in the repo (or I should fork the repo?)

[2019-09-22 09:20] sobolevn commented on #808
@lapshin1988 please, create a fork - then create a PR. Thanks! 👍

[2019-09-22 23:24] kyleseto2 commented on #807
I didn't find any instances of lambda returning type values

[2019-09-23 05:12] sobolevn commented on #807
That's correct! We don't have any of them in the source code.

[2019-09-23 05:57] kyleseto2 commented on #807
Sorry I'm new to this. I dont think I fully understand the task

[2019-09-23 08:19] sobolevn commented on #807
@kyleseto2 no problem. Thanks for your effort!

[2019-09-27 05:15] sobolevn opened #819 "Update mypy to the latest version"
Some old type errors are gone: https://github.com/wemake-services/wemake-python-styleguide/pull/818

[2019-09-27 05:24] sobolevn opened #820 "Make `OveruseOfNoqaCommentViolation` configurable"
Some people just use `noqa` for all the things. They write wrong code for no reason and later just put `noqa` to ignore it.

We need to be strict here: some projects totally require that `noqa` limit should be lower.
So, I guess we should make this configurable in the `[0, 10]` space.

[2019-09-27 05:27] sobolevn opened #821 "Make sure `WrongMagicCommentViolation` also catches `noqa WPS100` comments"
There are wrong comments that are widely used by newcomers: `# noqa WPS100`
But, it is simply wrong.

We need to be sure that `WrongMagicCommentViolation` catches that.

[2019-09-27 21:12] alisher-matkurbanov opened #822 "Contribution link in README.md is broken"
# Bug report
[This link](https://wemake-python-stylegui.de/en/latest/pages/contributing.html) that is appeared in README.md is broken and no longer points to the contribution guide.

As I can see you created guide in [CONTRIBUTION.md](https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md) file and changed this guide in [docs](https://wemake-python-stylegui.de/en/l

[2019-09-27 22:55] AvianAnalyst commented on #821
Am I understanding that it currently there's a check for `# noqa` comments, but it doesn't catch comments that state `# noqa WPS200` (and possibly other additions?

If not could you elaborate a bit, I think i'd be interested in taking this one, I just want to be sure I understand the issue first. Thank you, @sobolevn!

[2019-09-27 22:57] AvianAnalyst commented on #820
Hey! I'd be interested in looking at this, but I might need some guidance. Is this related to #821?

[2019-09-28 08:16] sobolevn commented on #822
@alisher-matkurbanov please, refer to the documentation. Thanks for the report!

[2019-09-28 08:19] sobolevn commented on #821
@AvianAnalyst yes, you are right. We catch several types of incorrect `noqa` options. But not `# noqa WPSXXX`. We need to fix it.

You can have a look at https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/tokenize/comments.py
And the docs on how to contribute: https://wemake-python-stylegui.de/en/latest/pages/api/index.html

[2019-09-28 08:20] sobolevn commented on #820
Sort of. It is not directly related, but just works with the same problem.

Let's start with #821 since it is easier. And come back to this one later.

[2019-09-28 18:13] AvianAnalyst commented on #820
Ok, sounds good!

[2019-09-28 18:39] #822 closed

[2019-09-28 18:41] #808 closed

[2019-09-28 19:44] AvianAnalyst commented on #821
Thanks for the response!

I started trying to setup a dev environment, and I have the repo forked and cloned but I'm running into issues with poetry.

I'm on ubuntu 19.04, with python 3.7. I installed poetry using `sudo -H pip3 install poetry`, started a shell with `poetry shell` and then ran `poetry install`, but i get a
[code]

I found a bug on poetry's github about this issue: https://github.co

[2019-09-28 21:56] eternalgum commented on #813
I think I can handle it

[2019-09-29 06:04] sobolevn commented on #813
Assigned! Thanks a lot, @eternalgum!

[2019-09-29 06:07] sobolevn commented on #821
You can try this solution:

[code]

[2019-09-30 22:31] tamarbuta commented on #819
I'd like to give this one a try.

[2019-10-01 07:36] sobolevn commented on #819
@tamarbuta thanks! 👍

[2019-10-01 18:19] Soniyanayak51 commented on #792
Hi @sobolevn , I would like to work on this. Do I need to add checks wherever I find an` Union[ ]`?

[2019-10-01 18:22] sobolevn commented on #792
@Soniyanayak51 awesome! Yes, you need to check that `Union[ ... ]` subscript does not contain `None`.

Assigned 👍

[2019-10-01 18:41] Soniyanayak51 commented on #792
@sobolevn should I just raise an error with a message?

[2019-10-01 19:10] sobolevn commented on #792
@Soniyanayak51 you should create a new violation here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/violations/consistency.py

And raise it like so: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/builtins.py#L169

I think that `wemake_python_styleguide.visitors.ast.builtins:WrongSubsc

[2019-10-01 19:38] Soniyanayak51 commented on #792
@sobolevn one more question, in `wemake-python-styleguide/wemake_python_styleguide/violations/consistency.py`, should be a ASTViolation or TokenizeViolation? Sorry I am not familiar with the codebase.

[2019-10-01 19:54] sobolevn commented on #792
This should help you: https://wemake-python-stylegui.de/en/latest/pages/api/tutorial.html#writing-new-visitor

TLDR: `ASTViolation`

[2019-10-01 23:03] sobolevn opened #829 "Forbid to use `Literal[None]`"
# Rule request

## Thesis

`Literal[None]` is just the same as `None`. There's no need to use the first version.
It is not type related, it is a consistency rule.

[2019-10-01 23:26] sobolevn commented on #829
Related to #792

[2019-10-01 23:39] sobolevn opened #830 "Setup rebase pipeline"
https://github.com/marketplace/actions/automatic-rebase

[2019-10-01 23:43] sobolevn commented on #830
PRs from forks are not supported:

[code]

[2019-10-01 23:45] sobolevn commented on #830
Solution: https://github.com/cirrus-actions/rebase/issues/12

[2019-10-01 23:50] #782 closed

[2019-10-02 05:05] dinolinjob commented on #790
I would like to work on this issue

[2019-10-02 05:56] Soniyanayak51 commented on #792
@sobolevn
in the line you referenced,
[code]
I am having trouble in adding Union to the argument list.

I was thinking of using `__args__` attribute but I don't know how to use ast.

[2019-10-02 07:10] sobolevn commented on #790
Awesome! @dinolinjob you are on!

[2019-10-02 07:13] sobolevn commented on #792
We have severals guides on `ast` just inside our docs: https://wemake-python-stylegui.de/en/latest/pages/api/contributing.html
We also have helper tools to visualise the tree you are working with: https://wemake-python-stylegui.de/en/latest/pages/api/contributing.html#helpers
And here's our debugging guide: https://wemake-python-stylegui.de/en/latest/pages/api/debugging.html

[2019-10-02 09:34] lensvol commented on #829
I can take this.

[2019-10-02 09:36] sobolevn commented on #829
@lensvol glad to see you again! Assigned.

[2019-10-02 10:08] sobolevn commented on #806
After thinking about this rule for sometime, I made a decision to decline this suggestion. Sorry.

Why?
1. Because we already have `WPS224` that forbids to use more than two `for` loops inside a comprehension
2. Because we use two `for`s a lot in our code base; and it seems fine by me

Anyway, thanks for your time and effort to put this together! I have made a huge contribution to the project with

[2019-10-02 10:08] #806 closed

[2019-10-02 10:09] sobolevn commented on #724
@artemiy312 how's it going? Do you need any help from my side?

[2019-10-02 10:10] sobolevn commented on #780
@serhii73 how's it going? Do you need any help from my side?

[2019-10-02 11:11] #164 closed

[2019-10-02 11:52] artemiy312 commented on #724
@sobolevn Sorry, I had to pause due lack of time. Fortunately, I will be able to continue during this week.

[2019-10-02 11:53] sobolevn commented on #724
Awesome!

[2019-10-02 12:28] artemiy312 commented on #724
I am almost done with `SafeVars` class that collects variable assignments for a given node and reduces them to a set of safe variables. But there are cases I still haven't covered.

The next step will be implementation of visitor with this logic:
1) Collect safe vars
    - Collect local safe vars to check vars from local scopes
    - Collect safe vars for module, classes and functions to check var

[2019-10-02 15:08] sobolevn opened #835 "`if` after `else` in `try` raises false positive WPS513"
# Bug report

## What's wrong

Code:

[code]

Output:

[code]

## How is that should be

It should not raise this violation. It is not a part of `if` / `else` case.

[2019-10-02 15:56] #807 closed

[2019-10-02 17:09] serhii73 commented on #780
Sorry, Nikita.
I will write to you in a few days.
I am a little busy this week.

[2019-10-02 17:40] milg15 commented on #788
I might give it a try later

[2019-10-02 18:30] orsinium opened #837 "Forbid nested `typing.Literal` and `typing.Union`"
# Rule request

## Thesis

From PEP-586:

Let's follow the last one.

The same applies for:

- `Annotated`
- `Union`

## Reasoning

Consistency :upside_down_face:  Heavily related to #829

[2019-10-02 19:08] dinolinjob commented on #790
I  understood that I have to create a violation in [https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/violations/refactoring.py](https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/violations/refactoring.py).
Should I raise an error as soon as I come across some line consisting `x += x + 1` exists?
Does it

[2019-10-02 19:15] sobolevn commented on #790
@dinolinjob it is a `ASTViolation`. Then you should create a method inside `visitors/ast` to find these cases.

[2019-10-02 19:18] sobolevn commented on #788
Please, feel free to send a PR in case you will have the time! 👍

[2019-10-02 19:22] Soniyanayak51 commented on #792
@sobolevn I added the violation `NoneInSubscriptViolation`. This is the class I want to add to `builtins.py` . Can you please tell how to use Union as targets? pytest fails because I am using `ast.AST` wrongly as union argument.
[code]

[2019-10-02 19:29] sobolevn opened #838 "Prefer `float` over `Union[int, float]`"
# Rule request

## Thesis

We should use `float` and not `Union[int, float]`. Because it is the same thing.
Taken from: https://github.com/psf/black#typing-stub-files

I guess we even need the special violation group for types!

[2019-10-02 19:35] sobolevn commented on #792
Sorry, I don't understand your question.

[2019-10-02 19:46] Soniyanayak51 commented on #792
I mean how can i iterate over the Union[..] subscript. I use targets as the Union arguments. How do i declare the arguments of the _check_none_targets function.

[2019-10-02 22:53] sobolevn commented on #792
Please, have a look at the docs. We have three ways of looking at the internal structure of an object:
1. Debugging, the link is available in the comment above
2. Documentation about the `ast`, it is available in the contributing docs
3. Helper scripts inside the `./scripts` folder. The docs are also available

[2019-10-03 01:39] AvianAnalyst commented on #821
After `poetry config settings.virtualenvs.in-project true` i get the same error as before.

[2019-10-03 06:47] KOLANICH opened #839 "Get rid of poetry and replace it with setuptools"
poetry is not a de-facto-standard build tool and is completely unneeded.

[2019-10-03 08:22] sobolevn commented on #839
No, sorry. We use `poetry` for literally all our projects and it works perfectly:
- Manages `venv`
- Works with dependencies
- Stores settings
- Publishes packages

In case you need a `setup.py` file for some reason, you can use: https://github.com/orsinium/poetry-setup or https://github.com/dephell

[2019-10-03 08:22] #839 closed

[2019-10-03 08:27] sobolevn commented on #821
@AvianAnalyst can you please try to uninstall and clean everything? And them install `poetry` via `curl` as we do in `.travis.yml`

[2019-10-03 08:28] orsinium commented on #792
@Soniyanayak51 nice to see you take care of it! I think, you can see at merged PRs for good examples how to do such stuff. For example, #836 looks good. Try to see examples, documentation, it will help you a lot.

If this is your first-time contribution, I recommend starting from something less complex. For example, https://github.com/life4/flakehell/issues/17 related to this project, has example

[2019-10-03 08:33] #819 closed

[2019-10-03 08:35] orsinium commented on #839
Poetry is an official alternative to setuptools:

https://packaging.python.org/tutorials/packaging-projects/

There is no "standard", even de-facto. There are alternatives, and any project free to choose one that fits best for project goals. Setuptools is outdated because doesn't support PEP-517 and PEP-518

[2019-10-03 08:55] dinolinjob commented on #790
@sobolevn should I write a new visitor?

[2019-10-03 09:19] sobolevn commented on #790
Try to write a `_check_*` method first on an existing visitor to check the logic. Then we can decide on a new visitor.

[2019-10-03 09:21] orsinium commented on #839
You should share your thoughts about what must be standardized, and what's not in [Python mailing list](https://www.python.org/community/lists/), not in a random project. We can't change it for you even if we want. Python changes, do new standards, and community drives such changes through discussions in the right places.

I think, that discussion can be locked.

[2019-10-03 11:00] dinolinjob commented on #790
@sobolevn In which file under `visitors/ast/` should I write my `_check_*` method?

[2019-10-03 11:04] sobolevn commented on #790
`visitors/ast/statements.py`

[2019-10-03 11:55] sobolevn commented on #789
@Sam-wyre hey, how's it going? Do you need any help from my side? Feel free to ask for help or drop this task in case you are willing to.

[2019-10-03 15:34] maikefischer commented on #838
Can I pick this up?

[2019-10-03 15:42] sobolevn commented on #838
Sure! Thanks a lot!

[2019-10-03 16:37] sobolevn commented on #805
Done!

[2019-10-03 16:37] #805 closed

[2019-10-04 13:15] viveksoundrapandi commented on #790
@sobolevn I am trying to do a TDD, i have written a test in test_statements.py . But when i run it inside the docker image, it takes the installed wemake_python_styleguide. How do one configure the tests to run?

[2019-10-04 13:30] sobolevn commented on #790
@viveksoundrapandi oh, I must document this. This `Dockerfile` is for GithubActions, not the local development.

[2019-10-04 14:33] hhsdev commented on #837
Can I work on this?

[2019-10-04 14:35] viveksoundrapandi commented on #790
Ahh! Thanks for the clarification

[2019-10-04 14:49] slapshin opened #840 "WPS604: allow "pass" inside class body"
Hi! For now, WPS604 check doesn't allow using `pass` keyword inside the class body. For example,
[code]

raise the error. But using `pass` sometimes necessary. For example, combine many mixins in one base class (Django-style: views, serializers,...). Maybe it will be better to allow using `pass` inside the class body?

[2019-10-04 15:11] slapshin commented on #840
Sorry, wrong issue: I am agreed with https://wemake-python-stylegui.de/en/latest/pages/usage/violations/best_practices.html#wemake_python_styleguide.violations.best_practices.WrongKeywordViolation

[2019-10-04 15:11] #840 closed

[2019-10-04 16:56] sobolevn commented on #837
Sure, @hhsdev! Thanks a lot!

[2019-10-05 12:14] lensvol commented on #835
Can I take this?

[2019-10-05 13:39] Roxe322 commented on #787
Hello, can I take this one?

[2019-10-05 14:06] kxepal commented on #787
What if I need `pi` with specific precision? And it's 3.14 no more, no less, because otherwise my school teacher will not accept my homework?

Or what if my constant looks like some predefined math constant (like pi), but it means something completely different? Causing collision on some precision is not a crime.

[2019-10-05 14:40] Roxe322 commented on #787
@kxepal, I think first case is rare. If you need math constant - you should use math constant, in any specific reason - just turn off linter rule :)

About second case - I think, we should check not only value of constant but also its name, something like "if name contains pi and it equals 3.14 then forbid".

[2019-10-05 16:24] #829 closed

[2019-10-05 16:25] sobolevn commented on #835
@lensvol sure! Do you have any ideas how to implement it? Because, I don't 😞

[2019-10-05 16:31] sobolevn opened #842 "Forbid too long call chains"
# Rule request

## Thesis

In case you work with a really strange API that uses a lot of nested decorator functions (or with lots of partial application and curing) you can end up with something like this in your code base:

[code]

Well, that's not pythonic. This is a complexity rule to limit this kind of situations.

What do we need?
1. Option to regulate the complexity threshold, let's name it

[2019-10-05 16:34] sobolevn commented on #787
@kxepal Good question! You can use `round(ANY_CONSTANT, PRECISION)` in case you need some specific precisions. For now we will only work with three constants: `pi`, `e`, `tau`. But, this list is opened for any other additions!

@Roxe322 thanks! Assigned.

[2019-10-05 17:19] lensvol commented on #835
I do have an idea and it will sound _weird_. Here it is:

The cause of the problem is the assumption that `else` token can only be applied to `if` statement, but `except` and `for` can also be followed by this token. So to prevent this error we should introduce an additional check that `else` is part of the previous `if` statement.

Here it gets tricky.

To achieve this I propose we use a heuristi

[2019-10-05 18:31] sobolevn commented on #835
Awesome, let's do it!

[2019-10-05 18:46] serhii73 commented on #780
Hello @sobolevn How are you?

[code]
First I want create a test and then to write code in `wemake_python_styleguide/visitors/ast/functions.py`.

It is the top of my future test.
Then I need to add code as:
[code]
This is SomeClass from `wemake_python_styleguide/violations/consistency.py` ?
What the class from `wemake_python_styleguide/violations/consistency.py` I need to use in my test?
Do you kno

[2019-10-05 19:06] sobolevn commented on #780
Well, you need at first create a violation in `consistency.py`
Then you write a test, where:
- `SomeClass` is your visitor from `functions.py`
- You use your violation from `consistency.py`

[2019-10-06 09:39] lucaionescu commented on #842
Hi, can I be assigned to this issue?

[2019-10-06 11:37] lensvol commented on #781
Can I take this one?

[2019-10-06 11:45] lensvol commented on #814
Can I take it?

[2019-10-06 17:51] sobolevn commented on #814
Sure! Thanks a lot!

[2019-10-06 17:51] sobolevn commented on #842
@lucaionescu sure! Thanks a lot for your help!

[2019-10-06 18:38] lensvol commented on #814
I assume this new violation goes under "Best practices"?

[2019-10-06 19:03] sobolevn commented on #814
I will say that it is a consistency rule.

[2019-10-06 19:11] #835 closed

[2019-10-06 19:27] dinolinjob commented on #790
@sobolevn Can you suggest me some ideas on how to approach while writing this rule. Is there a way to compare variables before and after assignment operators?

[2019-10-06 19:51] sobolevn commented on #790
Yes, you need to visit `ast.AugAssign` and fetch variables from the right part. If the left variable is contained in the right part - then we raise a violation.

That's how `ast.AugAssign` looks like for this simple case:

[code]

[2019-10-06 21:35] lensvol commented on #820
I can take this one if there are no objections.

[2019-10-07 08:45] sobolevn commented on #820
Done! 👍

[2019-10-07 08:55] sobolevn opened #853 "Test that violations with `previous_code` field have `.. versionchanged` directive"
Some violations do change their codes once in a while. When this happens we do two things:
1. We set `previous_codes` class attribute with the value of the previous codes inside (might contain multiple values), so it would be easier for users to search the docs: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/violations/oop.py#L91
2. We set `.. vers

[2019-10-07 11:02] sobolevn opened #854 "Forbid to have empty lines before and after the brackets"
# Rule request

## Thesis

### Wrong

Currently it is possible to write code like this:

[code]

It shows that no violations are raised for this code (from our linter + dependencies).

We also have this code:

[code]

It should not be allowed for consistency reasons. I assume that we should use `tokenize` to check that.

### Correct

But, there are exceptions:

[code]

Note that a single empty lin

[2019-10-07 11:39] lmonyelle commented on #854
I can work on removing some spaces. Is this across all documents or specific ones?

[2019-10-07 12:19] sobolevn commented on #854
Hi, @lmonyelle! This is not about deleting empty lines. This is about creating a new linting rule to enforce python code consistency across our users' codebases.

[2019-10-07 20:16] #814 closed

[2019-10-08 07:46] QQ-88 commented on #854
@sobolevn I'd like to give it a try.

[2019-10-08 07:47] sobolevn commented on #854
@QQ-88 you are welcome! Feel free to ask for help.

[2019-10-08 07:51] #820 closed

[2019-10-08 08:11] QQ-88 commented on #854
Had a look at the code @sobolevn, that's unfortunately above my skill level.

[2019-10-08 08:23] sobolevn commented on #854
Ok, no problem!

[2019-10-08 08:32] #787 closed

[2019-10-08 09:36] #837 closed

[2019-10-08 09:49] isidentical commented on #461
It really simplifies depraction process over packages. It was used in the `collections` (to expose `collections.abc`) until 3.9  👎

[2019-10-08 10:07] sobolevn commented on #461
@isidentical I agree, that's why we use `I_CONTROL_CODE` setting to disable it when dealing with packages.

[2019-10-08 10:12] sobolevn opened #858 "I_CONTROL_CODE setting is not respected for BadMagicModuleFunctionViolation"
# Bug report

## What's wrong

We need to ensure that `I_CONTROL_CODE` setting is respected for the `BadMagicModuleFunctionViolation`. It happens here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/modules.py#L88

Related #461

## How is that should be

It should not raise this violation when `I_CONTROL_CODE` is set to false.
All we n

[2019-10-08 10:45] raghav-ys commented on #858
@sobolevn Hello, I would like to  work on this issue.

Based on my understanding changing the if condition at https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/modules.py#L88 to

 if node.name in constants.MAGIC_MODULE_NAMES_BLACKLIST **and self.options.i_control_code**:

please suggest

[2019-10-08 11:08] sobolevn commented on #858
Yeap, that's right! The only thing: I would prefer to have two separate `if`s. Firstly we check for settings, then for the value.

We also require to test it here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/tests/test_visitors/test_ast/test_modules/test_magic_module_functions.py

See how we work with settings: https://github.com/wemake-services/wemake-python-styleguide

[2019-10-08 11:34] raghav-ys opened #859 "dead link in contributing.md"
# Bug report

## What's wrong

Developer's documentation link at
https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md#developers-documentation doesn't exists.

Incorrect url is https://wemake-python-stylegui.de/en/latest/pages/api.html .

## How is that should be

## System information

### flake8 information

Contents of `flake8 --bug-report`:

### pip informati

[2019-10-08 11:50] sobolevn commented on #859
@raghav-ys can you please fix it? The correct link is https://wemake-python-stylegui.de/en/latest/pages/api/index.html

[2019-10-08 11:53] raghav-ys commented on #859
@sobolevn - Sure, will do.

[2019-10-08 12:15] #859 closed

[2019-10-08 17:02] bwdrebing commented on #853
I'll take a look into this issue!

[2019-10-08 17:05] sobolevn commented on #853
Awesome!

[2019-10-08 22:42] sobolevn commented on #813
@abyss143 feel free to ping me in case you are still on it.

[2019-10-08 22:42] sobolevn commented on #821
@AvianAnalyst hey, how's it going? Do you need any help?

[2019-10-08 22:43] sobolevn commented on #838
@maikefischer hey, how's it going? Do you need any help?

[2019-10-08 22:44] sobolevn commented on #792
@novikovfred do you want to take this up?

[2019-10-09 05:10] raghav-ys commented on #858
@sobolevn - I have made the change based on your inputs. When i ran "pytest" in my local, code coverage came to 99%. Coverage report shows issues in couple of other files which I haven't touched. Attaching the report. Please help.
[htmlcov.zip](https://github.com/wemake-services/wemake-python-styleguide/files/3705644/htmlcov.zip)

[2019-10-09 07:12] orsinium opened #861 "Forbid float as key/index"
# Rule request

## Thesis

For lists/tuples float as key produces TypeError:

[code]

For dicts float is a bad idea because of accuracy:

[code]

So, let's catch simple cases:

[code]

## Reasoning

The motivation is the same as in #739. Let's detect as many runtime errors statically as possible.

[2019-10-09 07:17] orsinium opened #862 "Forbid a[len(a)-1]"
# Rule request

## Thesis

That's a common mistake of gophers. Golang has no negative index ([yet?](https://github.com/golang/go/issues/33359)), but Python has.

Bad:

[code]

Good:

[code]

The floor division is ok. Plus len and minus len isn't

## Reasoning

`a[len(a)-1]` is slow, `a[len(a)+1]` is IndexError.

[2019-10-09 07:23] orsinium opened #863 "Forbid range(len(a))"
# Rule request

## Thesis

That was my number one mistake when I was junior. After all, I can't remain cases when I really needed it.

Bad:

[code]

Good:

[code]

The same for comprehension.

## Reasoning

The list has O(n) complexity for getting the element index. That the reason why `for` loop in Python looks different from languages with arrays. So, always think about effective list iterating

[2019-10-09 07:28] novikovfred commented on #792
Yep, I would like to do it.

[2019-10-09 07:28] orsinium opened #864 "Forbid len from lazy comprehension"
# Rule request

## Thesis

Iterators have no `len`, and sometimes I forgetting it.

Bad:

[code]

Better:

[code]

Good:

[code]

Twice slower, but also ok:

[code]

## Reasoning

Detect runtime `TypeError` in advance. We could also detect `len` from `yield`-like iterators, but resolving symbols in python always is a non-trivial thing, unfortunately.

[2019-10-09 07:43] orsinium opened #865 "Detect when str method is called as property"
# Rule request

## Thesis

Some str methods look like properties, but they are not. I can easily remain cases when I forgot to call them.

Bad:

[code]

Good:

[code]

It's cool also resolve simple variables:

[code]

## Reasoning

Runtime errors make me sad. Especially when it's `if 'a'.isupper: ...` (that's always truely).

[2019-10-09 08:31] sobolevn commented on #864
Good idea!

But, we don't assume types as the best practice. `mypy` catches this case perfectly:

[code]

Output:

[code]

But, `sum` is the whole new case. That's about performance and the best practice.
That's something I want to have.

We can forbid to use `x in y` inside value part of the comprehension. And force people to write `1` or `True` and `if x in y`.

[2019-10-09 08:33] sobolevn commented on #864
We need to measure the speed for different types with `timeit`
And make a decision based on the results.

[2019-10-09 08:35] sobolevn commented on #863
That's already supported:

[code]

Check:

[code]

[2019-10-09 08:35] #863 closed

[2019-10-09 08:36] sobolevn commented on #862
Awesome!

[2019-10-09 08:37] sobolevn commented on #861
Well, I would say that this is not actually a type error. That's a best practice: don't use `float`s as key, it will hurt you. So, I am all for it!

[2019-10-09 08:41] sobolevn commented on #858
Sorry, @raghav-ys I am not sure about what happened. Locally everything works fine.
The CI is also green: https://travis-ci.org/wemake-services/wemake-python-styleguide/jobs/595353375#L1030

Can you please send a PR as is and we will go from there?

[2019-10-09 08:43] sobolevn commented on #865
Sorry, but that's `mypy` job. From our perspective these a valid calls in several cases. It only makes sense when you know the context (and we don't know the context).

[2019-10-09 08:43] #865 closed

[2019-10-09 08:51] sobolevn opened #866 "Forbid to start lines with `.`"
# Rule request

## Thesis

Currently there's an inconsistency between how people might split complex expressions into separate line.

There are basically three ways:

1. The one with `\`
[code]
  which is forbidden by `flake8-broken-line`

2. The one which should be used:
[code]
3. And the one that can be currently used and should be forbidden by this new rule.
[code]

We need to have a one way of

[2019-10-09 08:56] CUBERLEON commented on #866
Hi, please assign it to me. Thanks.

[2019-10-09 08:58] sobolevn commented on #866
Awesome! Please, feel free to ask for help.

[2019-10-09 09:01] orsinium commented on #861
In the case of sequences, it's TypeError. In the case of maps, it's dangerous. In both cases, it's bad after all.

[2019-10-09 09:01] orsinium commented on #863
Cool, thank you :)

[2019-10-09 09:05] sobolevn commented on #861
I guess we should forbid setting and getting `float` keys. That's what should be checked:

[code]

[2019-10-09 09:09] orsinium commented on #864
[code]

[2019-10-09 09:12] orsinium commented on #864
The last one has a big std deviation. So, I'm not sure is it really the best or some optimization for repetitive list creation.

[2019-10-09 09:25] ManishAradwad commented on #864
Would like to take this! Can u plz assign this to me

[2019-10-09 10:54] serhii73 commented on #780
Ok, I need to change 3 files?
`wemake_python_styleguide/visitors/ast/functions.py`
`tests/test_visitors/test_ast/test_functions/test_unnecessary_literals.py`
`wemake_python_styleguide/violations/consistency.py`
Right?
In my test will be
[code]
Then I will create `visitor`
[code]
This `CLASS` from what the file? From `wemake_python_styleguide/visitors/ast/functions.py` ? Right?

[2019-10-09 10:54] serhii73 commented on #780
[code]
It is right class from `wemake_python_styleguide/violations/consistency.py`?

[2019-10-09 10:55] serhii73 commented on #780
[code]
This is a class from `wemake_python_styleguide/visitors/ast/functions.py`
What need to put in this class?

[2019-10-09 10:58] orsinium commented on #780
Make it work, do tests, and put PR on review. We'll have a look and say if something wrong :+1: It's difficult to spot something in small pieces of code out of context.

[2019-10-09 11:00] orsinium commented on #780
Also, merged PRs could be really helpful as an example of violations implementation.

[2019-10-09 11:09] slapshin opened #867 "WPS317: handle tuples, lists,... in parameters"
Hello! I have a suggestion for this violation. For example, we have the code:
[code]

And we have violation WPS317. I understand that "top-level" arguments should be placed vertically, but each argument is a tuple and it will be more beautiful to place members horizontally. Maybe this rule for each nested argument should be processed separately?

[2019-10-09 11:18] sobolevn commented on #867
This is a well known bug, I am still not able to fix it. See #https://github.com/wemake-services/wemake-python-styleguide/issues/454

[2019-10-09 11:18] #867 closed

[2019-10-09 11:18] sobolevn commented on #867
I am going to provide a different logic, but I am not sure about the time frame.

[2019-10-09 11:33] serhii73 commented on #780
I got it.

[2019-10-09 13:53] sobolevn commented on #862
@kxepal do you have any comments on this?

[2019-10-09 17:33] raghav-ys commented on #858
@sobolevn Hello, I have submitted the PR. It failed in CI.

[2019-10-10 18:01] maikefischer commented on #838
Sorry I didnt have time, I want to pick it up this week! Can you give me a proper issues description? Where exactly do you want to replace Union?

[2019-10-10 18:02] sobolevn commented on #838
We want to write a linting rule that raises a violation when it finds `Union[float, int]`, the solution to the problem would be just `float`

[2019-10-11 03:20] Ben-Drebing commented on #813
Happy to try this out :)

[2019-10-11 04:43] sobolevn commented on #813
Thanks 👍

[2019-10-11 06:04] sobolevn opened #870 "Forbid to use `+=` with list arguments"
# Rule request

## Thesis

We can detect when people write code like this:

[code]

What happens here? `+=` works like `append()` method.
But, why do you want to use this `+=` stuff at all? Why not use just `.append()`?
It is inconsistent and should be forbidden.

[2019-10-11 06:15] sobolevn commented on #842
Hi, @lucaionescu! How's it going? Do you need any help?

[2019-10-11 06:16] sobolevn commented on #724
@artemiy312 do you need any help on this one?

[2019-10-11 09:32] lucaionescu commented on #842
Hey, thanks for checking in, it's all good for now! I was diving into the documentation and the contribution guide for the past days, just wanted to make sure I understand everything before I start to code.

[2019-10-11 13:39] maikefischer commented on #838
Okay I will look at this tonight and tomorrow!

[2019-10-11 14:20] nndii opened #871 "Reading from a closed stdin buffer error"
# Bug report

## What's wrong

Opening a file in emacs+flycheck just raises `ValueError: I/O operation on closed file`.
Though it's not an issue with WPS, but with some flake8 plugins, I want this to get off from the ground somehow.

Plugins that are responsible for that:

- [x] flake8-bandit (I already had made a [PR](https://github.com/tylerwince/flake8-bandit/pull/14) and it was merged)
- [x] f

[2019-10-11 14:20] Ben-Drebing commented on #813
@sobolevn Quick question. Should I be adding the check for this violation to the `WrongLoopVisitor`? It looks like that visitor will get the job done, but I wanted to make sure that is the correct one to use.

[2019-10-11 16:23] novikovfred commented on #792
I'm working on this problem, I need some more time to solve it.

[2019-10-11 16:40] sobolevn commented on #813
Yes, looks fine

[2019-10-11 16:41] sobolevn commented on #871
Thanks a lot for reporting this! I will have to wait until it is resolved. We update dependencies as soon as they are released.

[2019-10-12 07:54] sathachao commented on #870
Hi! Can I try this one?

[2019-10-12 10:27] sobolevn commented on #870
Sure, @sathachao! Please feel free to ask for help in case you need it.

[2019-10-12 11:25] sobolevn opened #875 "Forbid `Optional[Union[A, B]]`, use `Union[A, B, None]` instead"
# Rule request

## Thesis

These two types are equal: `Optional[Union[A, B]] == Union[A, B, None]`

For consistency reasons we need to enforce the second form over the first one.
Related to #792

[2019-10-12 11:54] ko3luhbka commented on #875
Hi, I'd like to try to implement this.

[2019-10-12 12:12] sobolevn commented on #875
Thanks, @ko3luhbka! You are on it.

[2019-10-12 14:47] hhsdev opened #876 "Rule forbidding ``Literal[None]`` doesn't work if ``typing.Literal[None]`` is used."
# Bug report

## What's wrong

Usage of `Literal[None]` annotation is forbidden (as per #841) but if `typing.Literal[None]` is used, no violations will be raised.

## How is that should be

A violation should be raised for both `Literal[None]` and `typing.Literal[None]`.

## System information
Ubuntu 18.04 64-bit

I would like to take up on this one if possible.

[2019-10-12 17:51] sobolevn commented on #876
@hhsdev are you willing to take this one? If this is the case, then please sync with #874

[2019-10-12 17:57] hhsdev commented on #876
Will do so. Thanks.

[2019-10-13 05:12] artemiy312 commented on #724
@sobolevn No, thank you! The visitor is done. I only need to adapt the unit tests, which were convenient for development, to e2e tests and open PR.

[2019-10-13 08:22] ManishAradwad opened #879 "Just a couple of typo errors in official documentation..."
While going through the docs for ["Creating a new rule tutorial"](https://wemake-python-stylegui.de/en/latest/pages/api/tutorial.html), I found a couple of typo errors.

- 2nd point under "Writing a new plug-in"
- Another one in "Writing a new visitor"

[2019-10-13 08:22] ManishAradwad commented on #879
I'll start working on this one right away if its ok..

[2019-10-13 08:25] ManishAradwad commented on #864
So, which one should be considered as a best practice??

[2019-10-13 09:16] sobolevn commented on #879
Thanks a lot, @ManishAradwad!

[2019-10-13 09:18] sobolevn commented on #864
`sum(1 for a in elements if a in b)` wins!

It means that it is better to use `sum(1 for a in elements if a in b)` then `sum(a in b for a in elements)`. And this rule is perfectly valid.

[2019-10-13 09:39] sobolevn opened #880 "Forbid `[0:x]` and `[1:None]`, prefer `[:x]` and `[1:]`"
# Rule request

## Thesis

We need to enforce consistency in several cases:
- `[0:x]` which copies all elements from the first one to `x`. We need to use `[:x]` instead. Because it is way more readable.
- `[1:None]` which copies all elements from the second to the very last one. We need to use `[1:]` instead. It is also more readable.

So, the rule is: we must omit the starting `0` and the leading

[2019-10-13 10:11] sobolevn commented on #858
Closed in https://github.com/wemake-services/wemake-python-styleguide/pull/878

[2019-10-13 10:11] #858 closed

[2019-10-13 10:11] sobolevn commented on #858
Related: https://github.com/wemake-services/wemake-python-styleguide/pull/868

[2019-10-13 10:45] #879 closed

[2019-10-13 10:58] sobolevn commented on #724
@artemiy312 Thanks a lot! Then we will include this task into `0.13`. It would be a great addition!

[2019-10-13 12:34] cronos2 commented on #880
Can I take this?

[2019-10-13 13:04] abyss143 commented on #862
Can I take this?

[2019-10-13 13:05] abyss143 commented on #861
I can try out this

[2019-10-13 13:33] sobolevn commented on #861
You are welcome! @abyss143

[2019-10-13 13:34] sobolevn commented on #862
Let's start with #861
Later you can take as many as you want 🙂

[2019-10-13 13:34] sobolevn commented on #880
Sure, @cronos2! Thanks a lot!

[2019-10-13 14:08] ko3luhbka opened #882 "Wrong and correct examples of nested annotations mixed up in docs for Union type"
# Bug report

## What's wrong

From ``NestedAnnotationsViolation`` class docstring:
[code]
There is a mistake: correct and wrong examples for ``Union`` type are mixed up. If I run flake8 passing it a file which contains ``Union[int, str, float]`` annotation, no error will be raised. And for ``Union[Union[int, str], float]`` WPS702 is raised. Both are expected behaviour I guess, just a mismatch in

[2019-10-13 15:18] cronos2 commented on #880
Great! I believe I have my local setup complete and I'm ready to implement, but I'm not quite sure as to how to approach it.

I think I need to create a new violation as well as a new (AST) visitor (since the only visitor regarding subscripts is about levels/depth in the complexity section, which is not really related to this). Where should I put it, though? Does `operators.py` make sense? Should

[2019-10-13 16:11] sobolevn commented on #880
Yes, you are 100% correct. That's exactly how it should be done.

[2019-10-13 16:12] sobolevn commented on #882
@ko3luhbka can you please send a PR with the fix?

[2019-10-13 17:12] ko3luhbka commented on #882
@sobolevn , yes, of course. Just wasn't shure about the issue workflow.

[2019-10-13 18:32] #882 closed

[2019-10-13 21:12] sobolevn commented on #788
Closed by https://github.com/wemake-services/wemake-python-styleguide/pull/877

[2019-10-13 21:12] #788 closed

[2019-10-14 07:55] lensvol commented on #862
Can I take this one?

[2019-10-14 07:56] sobolevn commented on #862
Done! Thanks! 👍

[2019-10-14 07:57] kxepal commented on #862
LFGM, except this case is quite rare one and mostly relates to migration from some Golang to Python. I can't find any similar issues in real Python code.

[2019-10-14 08:02] kxepal opened #888 "Forbid functions with undefined / unknown result order"
# Rule request

Forbid or annoy on iteration over the functions which returns result with unknown order.  First line candidates are about file listing functions like `glob.glob` or `os.listdir` and the simiar onces.

## Thesis

Relay on filenames ordering on FS caused a critical bug, which could be easily prevented. Linter must known such edge cases and at least warn user about them.

## Reasoning

[2019-10-14 08:15] sobolevn commented on #888
What solution should we suggest?

[2019-10-14 08:17] kxepal commented on #888
I only could imagine the one about list of such functions which has documented warnings about unstable result and then: 1) warn about unstable result 2) force to wrap their calls into sorted or apply sort function in other way.

[2019-10-14 09:06] sobolevn commented on #888
Ok, using explicit sorting sounds fine.

[2019-10-14 13:31] Soniyanayak51 commented on #792
@sobolevn Extremely sorry I couldn't complete this.

[2019-10-14 14:43] sobolevn commented on #792
@Soniyanayak51 no problems! 👍 Glad that you have tried to! That's a big success on its own.
Come back anytime you want.

[2019-10-14 16:14] #870 closed

[2019-10-14 17:07] uhbif19 opened #890 "Outdated information about black incompatibilities"
# Bug report

# What's wrong

Documentation states that project is is not compatible with black. As far, as I know, some points are not relevant now.

There is option for skipping this check now: https://github.com/psf/black/issues/118#issuecomment-393298377

Black now supports changing line length too. In our setup it has not problems with flake8.

There is still issue with trailing commas, I gue

[2019-10-14 17:17] sobolevn commented on #890
@uhbif19 thanks for the clarification! Do you want to send a PR with the `black` for the official support? See how we support `autopep8` here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/Makefile#L7

[2019-10-14 18:09] uhbif19 commented on #890
I am not sure what does `official support` means here. Does this Makefile task used for linting this repo?

I can make PR if waiting couple of weeks is okay.

Also looks like black is now leaving trailing commas, if python36 support is enabled, if I understand objective  in your doc correcly. Black doc says:

[code]

https://black.readthedocs.io/en/stable/the_black_code_style.html?highlight=flake8

[2019-10-14 18:44] slapshin commented on #789
Good evening! Let's I'll do it.

[2019-10-14 19:23] sobolevn commented on #890
Yeap, `official support` in this context means that we check that all our code is compatible with the autoformatter we support. We guarantee it by adding this check inside the CI. And since we support `python3.6+` we are also fine with the trailing comma feature.

Several weeks are totally fine, no pressure here.

[2019-10-14 19:24] sobolevn commented on #789
Thanks a lot, @slapshin! You are on it.

[2019-10-14 21:41] sobolevn opened #891 "Forbid mutable class fields"
# Rule request

## Thesis

We already forbid to use mutable arguments in functions and modules. But, I guess it is safe to say that mutable class-level variables are also bad.

Like here:

[code]

Or here:

[code]

What to do instead? Well, use immutable datatypes! Or use instance-level variables.

Original idea: https://github.com/thg-consulting/inspectortiger/issues/19

[2019-10-14 21:47] sobolevn opened #892 "Forbid incorrect exception order"
# Rule request

## Thesis

Currently we are allowed to write this code:

[code]

What happens here? `except ValueError` will never be reached, because all exception will be covered by `except Exception`.

But, we have a limitation here. Since, we don't know and cannot know any other exception types except the builtin ones, we only check builtin exceptions for now.

## Reasoning

This is a best pra

[2019-10-14 21:52] sobolevn opened #893 "Enforce consistent `yield from` syntax"
# Rule request

## Thesis

This code is bad:

[code]

Because we can rewrite it like so:

[code]

## Reasoning

This is a consistency rule.
Original idea: https://github.com/thg-consulting/inspectortiger/blob/6b9736b22528493cd41d0bf92f9fdcdd6c7cd129/inspectortiger/plugins/upgradeable.py#L25

[2019-10-14 21:57] sobolevn opened #894 "Forbid `map` where list or set comprehension can be used"
# Rule request

## Thesis

These two code samples are identical:

[code]

And:

[code]

But, the second version is more python-friendly and way faster. We should enforce it.
This is a refactoring rule.

Implementation already exists here: https://github.com/thg-consulting/inspectortiger/blob/6b9736b22528493cd41d0bf92f9fdcdd6c7cd129/inspectortiger/plugins/upgradeable.py#L165 But, it should be adapt

[2019-10-14 21:59] sobolevn opened #895 "Forbid to use alphabet as a string"
# Rule request

## Thesis

We should disallow strings with **full** alphabet inside it:

[code]

Instead we should use:

[code]

## Reasoning

This is a best practice, similar to #787
Original idea: https://github.com/thg-consulting/inspectortiger/blob/6b9736b22528493cd41d0bf92f9fdcdd6c7cd129/inspectortiger/plugins/upgradeable.py#L191

[2019-10-14 22:56] PeterSherk commented on #895
Hello! Can I work on this?

[2019-10-15 05:20] Amyth07 commented on #895
Can you assign this issue to me?

[2019-10-15 05:20] Amyth07 commented on #894
Can I take this?

[2019-10-15 05:24] Amyth07 commented on #892
Can I take this?

[2019-10-15 05:59] serhii73 commented on #780
Hello @sobolevn How are you?
Can you, plz, un-assign this issue to me on the GitHub UI?
Because I tnink I don't have time this month for open source.
Maybe someone takes this issue and do it.
Sorry about that.
Happy Hacktoberfest!

[2019-10-15 06:27] sobolevn commented on #780
No problem, @serhii73! Thanks for your help and your time. See you next month 🙂

[2019-10-15 06:27] sobolevn commented on #892
Yes, sure, @Amyth07! Thanks a lot

[2019-10-15 06:28] sobolevn commented on #894
Let's start with https://github.com/wemake-services/wemake-python-styleguide/issues/892 and later you can take as many as you with. But, we really encourage one-person-one-issue rule, since it allows to concentrate on the task better.

[2019-10-15 08:26] antlu opened #899 "Underscore is forbidden as an alias for gettext"
# Bug report
## What's wrong
The use of `_` as an alias for **gettext** is considered a violation of the rule [WPS121](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/naming.html#wemake_python_styleguide.violations.naming.UnusedVariableIsUsedViolation).

[code]

## How is that should be
`_` should be allowed as an alias for **gettext()** and **gettext_lazy()**, as this is conven

[2019-10-15 08:35] sobolevn commented on #899
Well, yes, that's a bug! But, I am not sure how to fix it.

Let's ask our fellow experts: @lensvol @kxepal @orsinium

[2019-10-15 09:28] lensvol commented on #899
Well, that one is interesting.

On the surface, we can use simple heuristic that looks for the import of the `gettext` (or `gettext_lazy` imported as an underscore. If we've had access to a corresponding AST, then it would be relatively easy.

But since we only have stream of tokens at our disposal, I would suggest looking for a sequence of token corresponding to `gettext as _` and use it as condi

[2019-10-15 11:57] sobolevn commented on #899
@lensvol we actually have `ast` access. But, I don't agree that checking import is a good idea. `flask-babel` uses the same technique. And there are libraries as well.

Maybe we can allow `_(STRING)` calls and `_(STRING.format(...))` as well? I guess this will cover this case perfectly.

[2019-10-15 12:05] lensvol commented on #899
@sobolevn My bad, somehow missed that this is an `ASTViolation`. :)

Yes, your approach would be more appropriate here. The only problem that I see is that string can also be passed as a variable, how will we proceed in that case?

[2019-10-15 12:10] sobolevn commented on #899
Good point. I don't know :)

In my projects I use `i18n` alias instead of `_`. But, it has some problems: sometimes messages are not collected because of this rename.

[2019-10-15 12:10] sobolevn commented on #899
Maybe we can create a separate violation for `_()` case? And just silence it for `django` in the user's config.

[2019-10-15 14:01] MLNW opened #901 "WPS440 Property false positive or missing solution"
# Bug report

## What's wrong

The following code will raise WPS440 even though it is the pythonic way (as far as I understand the documentation):

[code]

## How is that should be

It should either not raise WPS440 or there should be a solution on how to deal with properties or more specifically property setters/getters.

## System information

### flake8 information

Contents of `flake8 --bug-re

[2019-10-15 14:05] sobolevn commented on #901
Yes, that's correct. We should respect properties. We already do respect `@overload` decorator in this rule, adding new one should be simple enough.

@MLNW do you want to contribute? To fix this, we need to add new check here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/blocks.py#L91

And a new test here: https://github.com/wemake-s

[2019-10-15 14:46] MLNW commented on #901
If I find the time I may have a look but the probability is slim in the near future. For now I will ignore the warning on the affected parts.

[2019-10-15 15:45] sobolevn opened #902 "Allow `super()` as overused expression"
We need to add a new predicate to allow `super()` calls here: https://github.com/wemake-services/wemake-python-styleguide/blob/39a3caeb9883c3112d878a88038e8b7331389265/wemake_python_styleguide/visitors/ast/complexity/overuses.py#L114

It is obviously allowed.

Then we need to add a unit test here: https://github.com/wemake-services/wemake-python-styleguide/blob/ed1afeb3366525f0b3f1adc346a189a3c0f3

[2019-10-15 16:00] #880 closed

[2019-10-15 18:57] sobolevn opened #904 "Forbid positional-only arguments"
# Rule request

## Thesis

They don't make any sense to me. I haven't seen a need for them in all my python life.

## Reasoning

Good linter should decrease an amount of features and syntax sugar that you are allowed to use. This is a best practice rule.

[2019-10-15 19:23] sobolevn opened #905 "`not not True` is not detected as `WPS330`"
# Bug report

## What's wrong

This code does not raise `WPS330`, but it should:

[code]

[2019-10-15 19:28] #905 closed

[2019-10-16 07:02] slapshin commented on #789
Hi! Should we handle such situations `a = a + b - c` -> `a += b - c`?

[2019-10-16 07:04] sobolevn commented on #789
Yes.

[2019-10-16 07:21] #853 closed

[2019-10-16 09:35] slapshin commented on #789
Sorry, another question. For example:

* `a = a + b` can be shortened to `a += b`

* `a = b + a` also can be shortened to `a += b`, because `+` is commutative operation. But need some code analyzing. Should linter do it? It can leads to potentials problems on complex expressions.

What do you think?

[2019-10-16 09:40] sobolevn commented on #789
No, we don't need to analyse the code. We should turn both `a = a + b` and `a = b + a` into `a += b`

[2019-10-16 11:43] kxepal commented on #789
[code]
` ¯\_(ツ)_/¯ `

[2019-10-16 11:44] sobolevn commented on #789
@kxepal great point! I start to agree to that `a = b + a` is a different case, that should not be covered.

[2019-10-16 14:31] sobolevn commented on #626
Ok. The first idea is to send swag to contributors. Set of stickers and a t-shirt.

[2019-10-16 18:57] sobolevn commented on #902
@hhsdev sure! Thanks for your help!

[2019-10-16 21:40] sobolevn opened #908 "`super()` with other methods and properties"
# Rule request

## Thesis

An interesting idea I got this evening. I usually see code like this:

[code]

And it is perfectly fine. That's why we have `super()` in the first place. But, I also saw this code today:

[code]

Wait, what? Why `Child.some()` uses `super().other()` and not `self.other()`?
I think that it is important to enforce the following rule: one can only use `super()` method that

[2019-10-16 21:47] cmppoon commented on #908
I want to help with this one. Can I take this?

[2019-10-16 21:49] sobolevn commented on #908
Sure, thanks a lot! @cmppoon please, feel free to ask any questions you have.

[2019-10-16 21:52] sobolevn commented on #876
Fixed in https://github.com/wemake-services/wemake-python-styleguide/commit/861308aac67083412b2fd350d9afb0ba2396b5c4

[2019-10-16 21:52] #876 closed

[2019-10-17 02:58] Ben-Drebing commented on #854
I can give this one a try.

[2019-10-17 07:12] ko3luhbka commented on #875
I'm working on it, just have some stupid issues with my environment.

[2019-10-17 07:21] sobolevn commented on #789
@slapshin see https://github.com/wemake-services/wemake-python-styleguide/pull/852

[2019-10-17 07:24] sobolevn commented on #875
@ko3luhbka thanks! Do you need any help?

[2019-10-17 07:42] slapshin commented on #789
@sobolevn ok. Thanks!

[2019-10-17 07:55] sobolevn commented on #789
It is quite related and you can take some inspiration from it.

[2019-10-17 07:59] ko3luhbka commented on #875
@sobolevn well, yes, I actually think that it's time to ask for help :).
I'm sure that it's very simple issue.
So, I just want to make some tracking of what's happening in ../visitors/ast/annotations.py and other modules, by now is just adding ``print`` statements here and there. I've created 'ex.py' file in the project's root dir with code violating a lot of WPS rules (like short variable names,

[2019-10-17 13:07] slapshin commented on #789
Hi! Simple cases (a = a + b, a = a - b,...) are done. There are difficulties with more complex expressions. For example,
[code]

Also, there are cases with brackets. I have no big experience in auto code analyzing, but it looks like we need more deep research here. Maybe you can help me with an idea? Maybe already exists something like this in the system?

[2019-10-17 14:31] sobolevn commented on #789
Let's start with simple cases. Later we can adjust this rule for more than one math sign.

[2019-10-17 17:36] #902 closed

[2019-10-17 18:03] hhsdev opened #915 "Typos in Docstrings"
Probably not super important but there is a fair bit of typos accumulated in the docstrings of various violations. Here is all the typos and word misuses I gathered from *one* file:

(Misspelled words are *italicized*. Words that should be added
are __bolden__. Words that should be removed are ~~crossed out~~.)

### wemake_python_styleguide/violations/consistency.py

### Misspellings
* Line 426: F

[2019-10-17 18:04] sobolevn commented on #915
Wow 😢

Can you please fix them?

[2019-10-17 18:05] hhsdev commented on #915
Alright, leave it to me!

[2019-10-17 18:10] themayurkumbhar commented on #915
Hi @hhsdev i will take this

[2019-10-17 18:11] hhsdev commented on #915
Lol, that was fast. Guess I gotta find new issues now.

[2019-10-17 18:30] hhsdev commented on #821
Hey, can I take this one?

[2019-10-17 19:34] sobolevn commented on #915
Closed by https://github.com/wemake-services/wemake-python-styleguide/pull/916

[2019-10-17 19:34] #915 closed

[2019-10-17 19:36] sobolevn commented on #821
Sure! Thanks a lot!

[2019-10-17 19:46] ko3luhbka commented on #875
@sobolevn I finally found what causes this.
My ``ex.py`` test file contains syntax error:
`def invalid_func()`
i.e. function without body and colon after brackets. In this case ``wemake-python-styleguide`` doesn't work while others do.
Isn't it a bug? I know it's hardly a usecase and flake8 actually complained about that ("E999  SyntaxError: invalid syntax").

[2019-10-17 19:51] sobolevn commented on #875
No, it is not a bug. That's how it should be. We cannot work with syntax errors. That's what `flake8` does for us. I am glad that your problem is fixed now.

Sorry that I was not able to help you earlier.

[2019-10-17 20:39] ko3luhbka commented on #875
@sobolevn thank you for your patience, and actually it was a good lesson for me.

[2019-10-18 05:51] sobolevn opened #917 "Update mypy version"
We need to update the `mypy` version.

Here's the related PR: https://github.com/wemake-services/wemake-python-styleguide/pull/910

But, when updated `mypy` finds new problem:

[code]

Link to the CI: https://travis-ci.org/wemake-services/wemake-python-styleguide/jobs/599096909

So, what do we need to do?
1. Bump `mypy` version
2. Fix the warning in the source code

This is an entry-level task for

[2019-10-18 06:23] hhsdev commented on #821
Ok, before I add the code, I just wanted to make sure I understand what this really means. You want `# noqa: WPS100` comments to raise `WrongMagicCommentViolation` the same way `# noqa` without the prefixes do. However, other `# noqa: XXX` comments will still be ignored by the violation. Am I getting this right?

[2019-10-18 11:20] ammarnajjar commented on #917
I would like to give this a shot, if it's ok 😄

[2019-10-18 11:58] sobolevn commented on #917
Closed by https://github.com/wemake-services/wemake-python-styleguide/pull/919

[2019-10-18 11:58] #917 closed

[2019-10-18 12:12] #789 closed

[2019-10-18 12:24] slapshin opened #920 "Force using tuples in frozenset constructor"
# Rule request

## Thesis

Force using tuples in frozenset constructor. For example,

[code]
should be rewritten as

[code]

## Reasoning
Immutable types in constructors are more consistent then mutable

[2019-10-18 12:29] slapshin opened #921 "Forbid single item in "in" operators"
# Rule request

## Thesis

These two code samples are identical:

[code]

and

[code]

But, the second version is more clear. We should enforce it.

## Reasoning

"in" operator with single item look like overhead. Let's do things more clear!

[2019-10-18 12:59] sobolevn commented on #920
What else except `frozentuple` can we check?

[2019-10-18 13:22] slapshin commented on #921
Let's I'll do it

[2019-10-18 16:07] isidentical commented on #904
PEP 570 explains why developers should use positional arguments when needed, of course this feature can be abused but that counts for every other feature.

https://www.python.org/dev/peps/pep-0570/#challenges-for-library-authors

[2019-10-18 17:08] sobolevn commented on #904
Yes, thanks for the link!

I have seen this PEP already, and I still don't see much value in this feature. It might be a good idea in one case in a thousand. But, it is surely a bad idea for all other cases.

[2019-10-18 20:47] PrVrSs commented on #780
will do

[2019-10-18 22:13] sobolevn commented on #780
Thanks, @PrVrSs!

[2019-10-19 10:43] #821 closed

[2019-10-19 10:56] ManishAradwad commented on #864
So, I'm done with the local setup and ready to implement the changes. But, I'm quite confused about how should I approach the issue...
I suppose I should create a new visitor and violation, or is there another simpler way to do this??
Any help is appreciated, Thanks!

[2019-10-19 11:07] sobolevn commented on #864
@ManishAradwad you need to create a new violation in `best_practices`, then we can create a new visitor here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/loops.py

We need to visit:
- `ast.ListComp`
- `ast.SetComp`
- `ast.DictComp`
- `ast.GeneratorExp`

You can add a new method in the visitor: `self._check_slow_in_expression(node)`

[2019-10-19 14:40] #875 closed

[2019-10-19 14:53] sobolevn commented on #864
@ManishAradwad sorry for misleading you. This is a refactoring violation.

[2019-10-19 15:22] ko3luhbka opened #925 "Type annotation check doesn't work for type aliases"
# Bug report

## What's wrong
Type annotation check doesn't work if type aliases are used. For example, this code
[code]
passes flake8 checks without raising `WPS701` error, while this code
[code]
makes flake8 complain: "WPS701 Found useless `Literal[None]` typing annotation".
## How is that should be
Type annotation errors should be raised whether type aliases are used or not.

## System informat

[2019-10-19 15:31] sobolevn commented on #925
Thanks! That's true.

Do you want to fix it?

[2019-10-19 15:42] ko3luhbka commented on #925
@sobolevn well, I'd like to try but I guess it'll take too much time and it's better to be fixed by someone more experienced.

[2019-10-19 15:53] sobolevn commented on #925
I can make a guess, that one would need to:

- add `visit_Assign` here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/annotations.py#L26
- cover two assign cases: `T = Literal[None]` and `T, R  = Literal[None], Other`
- add a regression test, in a form of these two new templates here: https://github.com/wemake-services/wemake-python-s

[2019-10-19 17:27] #895 closed

[2019-10-19 21:41] #780 closed

[2019-10-20 01:46] ManishAradwad commented on #864
We are using both `sum(1 for a in elements if a in b)` and `len([1 for a in elements if a > 0])` to find the length of the list, right??

Then what do u mean by

[2019-10-20 02:24] ManishAradwad commented on #864
Also are you saying that I should add the function `self._check_slow_in_expression(node)` in the `Wrong ComprehensionVisitor`??

[2019-10-20 07:33] sobolevn commented on #864
We don't check `sum` or `len` function. We check a comprehension inside it: `1 for a in elements if a in b`. And yes, we check it inside `WrongComprehensionVisitor`

[2019-10-20 12:33] sobolevn opened #927 "False positive for `WPS413`"
# Bug report

## What's wrong

This code produces incorrect results:

[code]

Output:

[code]

## How is that should be

It should work correctly: it is not a module level ` __getattr__`, it is a class-level method.

## System information

I am using `0.12.5`

[2019-10-20 13:56] sobolevn commented on #34
Good example of why we should forbid it: https://github.com/vlevieux/Walrus-Operator-Use-Cases

[2019-10-20 15:25] slapshin commented on #920
Sorry, can't give an example from built-in functions

[2019-10-20 23:23] sobolevn commented on #908
Closed by #922

[2019-10-20 23:23] #908 closed

[2019-10-21 07:08] sobolevn commented on #891
Thanks! @PrVrSs 🎉

[2019-10-21 16:53] meda123 commented on #894
Hi - May I work on this issue? This is my first Hacktoberfest issue :)

[2019-10-21 20:39] sobolevn commented on #894
Sure! Feel free to ask any questions you have. And, please, ask for help if you need to 🙂

Happy Hactoberfest! 🎃

[2019-10-21 21:47] meda123 commented on #894
@sobolevn Awesome! Thank you. I’m going to read through the Contributing guidelines first so I don’t ask something covered there. Thank you!!

[2019-10-22 08:43] cmppoon commented on #892
Hi,

Can you assign this to me?

[2019-10-23 05:20] tbrlpld opened #933 "WSP318 conflict with isort I001 and E128"
# Bug report

## What's wrong

There is no way of formatting a multi-line import without violating either WSP318 or I001 and E128.

[code]

Does not yield I001 and also not E128, but it does violate WSP318.

Fixing it so WSP318 is not violated creates violations against I001 and E128.
[code]

## How is that should be

WSP318 should respect visual indent (E128) and isort order (I001).

## System in

[2019-10-23 08:34] sobolevn commented on #933
@tbrlpld thanks for raising this!

I guess, we should update the docs of `WSP318` to link the `isort` multiline mode, so it would be clear for future users.

That's how it works. `isort` has multiple modes for multiline output. Our preferred mode is `3`: https://github.com/wemake-services/wemake-python-styleguide/blob/master/setup.cfg#L71

And it is 100% compatible. All our code is checked for it.

[2019-10-23 09:24] tbrlpld commented on #933
Great, thank you for the clarification. Is there a way to make this the standard configuration through `wemake_python_styleguide`?

I am definitely happy to update the docs to make it clear for other users!

[2019-10-23 10:31] sobolevn commented on #933
Yes, we enforce the same configuration for everyone via `nitpick`: https://wemake-python-stylegui.de/en/latest/pages/usage/integrations/nitpick.html
Here's our `isort` config: https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/isort.toml

Assigned you on this task, thanks a lot!

[2019-10-23 10:32] sobolevn commented on #892
Done! Thanks a lot!

[2019-10-23 10:47] #901 closed

[2019-10-23 17:23] #925 closed

[2019-10-23 17:24] #921 closed

[2019-10-23 18:30] sobolevn commented on #629
https://welcome.rootnroll.com/

[2019-10-23 22:15] tbrlpld commented on #933
Ok, i'll update the documentation.

I also found a broken link, that is supposed to point to the `isort.toml, but instead points to the `flake8.toml`.
I will update that as well, since the topic is related.

[2019-10-23 23:57] tbrlpld commented on #933
When running `flake8` on the project it takes quite some time. That's why I tried `flake8 -v` for more output. This shows me a lot of warnings like this:
[code]

The same warnings repeat over and over. Am I doing something wrong?

[2019-10-24 02:57] azdanov opened #937 "flake8-eradicate: 'Checker' object has no attribute 'options'"
# Bug report

## What's wrong

When I try to use this tool in [my project](https://github.com/azdanov/automate_stuff) I get this error:
`"flake8-eradicate" failed during execution due to "'Checker' object has no attribute 'options'"
Run flake8 with greater verbosity to see more details
(.venv)`

<details>
  <summary>Verbose Output</summary>

[code]
</details>

## How is that should be

I tried to

[2019-10-24 07:05] sobolevn commented on #937
Sorry, I am not able to reproduce your problem. Even with your project. It works for me:

[code]

Can you please try to reproduce this bug somewhere in CI? Then I will be able to provide a fix.

[2019-10-24 10:37] #813 closed

[2019-10-24 20:22] sobolevn opened #938 "WPS324 false-positive with nested functions"
# Bug report

## What's wrong

This code produces false positive `WPS324`:

[code]

## How is that should be

These two returns are completely different cases. We should check `.wps_context` of the node.
See:
- https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/keywords.py#L133
- https://github.com/wemake-services/wemake-python-styleguide/

[2019-10-25 01:29] azdanov commented on #937
I've tried to reproduce it in TravisCI, but no luck.

The issue seems to happen only if `pyenv` is used. With a locally installed `python3` this doesn't happen.

[2019-10-25 07:34] s4kh commented on #938
i'll take this one

[2019-10-25 07:46] sobolevn commented on #937
Ok, I will then close it for now. If it happens to continue, please reopen this issue.

Thanks for sharing the problem!

[2019-10-25 07:46] #937 closed

[2019-10-25 15:58] ulturt commented on #938
I'd like to fix it

[2019-10-25 16:03] sobolevn commented on #938
Thanks! Assigned 🙂

[2019-10-26 13:50] #938 closed

[2019-10-28 09:57] sobolevn opened #951 "Make `WPS113` respect `i_control_code` setting"
Currently `WPS113` raises a violation on

[code]

Note this part: `typeclass as typeclass`
Why do we use it? Because we use `mypy` with `implicit_reexport = False` setting on.
So, when we define public interface for a module we need to use explicit reexport in a form of `from classes.typeclass import typeclass as typeclass`

So, that's why we need to tweak `WPS113` not to highlight these errors wh

[2019-10-28 14:41] ko3luhbka commented on #951
Hi, can I take this issue?

[2019-10-28 15:59] orsinium opened #953 "Forbid yield-from that can be replaced by yield without cycle"
# Rule request

## Thesis

Forbid yield-from that can be replaced by yield without cycle and in less than 3 lines.

[code]

Also bad:

[code]

It's only about explicit lists. It's not about calling other generators, yielding from a variable, long lists etc.

[code]

Statements:

1. Let's enforce `yield from` to use `tuple` as a source. Not lists, not sets, but tuples
2. Let's enforce that we prefe

[2019-10-28 21:23] sobolevn commented on #953
I agree with this rule. But:

[code]

It is not the same thing:

[code]

[2019-10-28 21:23] sobolevn commented on #951
Done! 👍

[2019-10-29 12:18] orsinium commented on #953
Sure, that's just a typo. Fixed.

[2019-10-29 21:52] #951 closed

[2019-10-30 04:16] Ben-Drebing commented on #893
Hey @sobolevn, I'm happy to try this one out.

[2019-10-30 06:06] ko3luhbka opened #957 "Add separate test for violations controlled by `i_control_code` option"
Some violations are ignored when `i_control_code` options is set to `True` (like WPS113). Thus, we have to disable them in `SHOULD_BE_RAISED` list because e2e tests run with `i_control_code = True`. So these violations are actually not completely tested.
Why not to have a separate list of violations which only raise when `i_control_code = False`? And run separate test(s) with `--i_control_code=Fal