[2021-02-11 20:39] sobolevn opened #1872 "WrongKeywordConditionViolation is not reported with `:=` operator"
This code raises a `WrongKeywordConditionViolation` as it should:

[code]

This one does not:

[code]

[2021-02-12 07:59] sobolevn opened #1873 "WrongKeywordConditionViolation is not reported for simple math operators"
For example, `assert 1` raises a violation, but `assert 1 + 1` does not.

[2021-02-12 08:13] sobolevn commented on #1873
Not going to happen until #1009 and #1056 are implemented.

[2021-02-12 08:13] #1873 closed

[2021-02-12 08:46] #1857 closed

[2021-02-12 08:46] #1871 closed

[2021-02-12 08:46] #1872 closed

[2021-02-12 14:34] impadalko opened #1874 "Reassigning variable to itself error (WPS434) false positive"
# Bug report

## What's wrong

Flake8 fails on the following code with the error: `WPS434 Found reassigning variable to itself: dx`
[code]

However, flake8 passes when changing the order of the assignments
[code]

## How it should be

There is no reassignment, the first case should also pass this rule.

## System information

### flake8 information

[code]

### pip information

[code]

[2021-02-12 17:02] sobolevn commented on #1874
Thanks for the report!

It is related to: https://github.com/wemake-services/wemake-python-styleguide/issues/1807

[2021-02-16 13:09] strmwalker opened #1879 "Improve WPS323 diagnostics"
## What's wrong
Right now this code triggers WPS323 violation ([documentation](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.html#wemake_python_styleguide.violations.consistency.ModuloStringFormatViolation)):

[code]
Running flake8 on this code gives this:
[code]

Python documentation suggests using `%` for log formatting ([link](https://docs.python.org/3/howto/log

[2021-02-16 16:40] sobolevn opened #1880 "Constant condition is not detected when used with `and` or `or`"
This code does not raise:

[code]

This one raises:

[code]

[code]

[2021-02-17 17:19] vnmabus opened #1883 "Invalid WPS518 Found implicit enumerate() call outside for loop"
# Bug report

## What's wrong

The following code generates a WPS518 violation

[code]

## How it should be

I think that it should not report an error because the alternative

[code]
is more verbose and less performant.

[2021-02-17 18:09] sobolevn commented on #1883
Yes! Thanks a lot for the report.

PRs are welcome!

[2021-02-18 11:42] cbows opened #1884 "false positive for new union types"
# Bug report

## What's wrong

[PEP604](https://www.python.org/dev/peps/pep-0604/) allows `|` to be used for union types. you can now write `str | int` instead of `Union[str, int]` or `str | None` instead of `Optional[str]` and even `isinstance(foo, str | int)` will work. This feature is accepted for Python 3.10, but you can use it already with mypy>=0.800 and `from __future__ import annotations`

[2021-02-18 12:12] orsinium opened #1885 "Enforce constants to be SCREAMING_SNAKE_CASE"
# Rule request

## Thesis

According to PEP-8:

Examples:

[code]

PyLint has `C0103` rule to validate it.

## Reasoning

Follow PEP-8

[2021-02-18 12:18] orsinium opened #1886 "Forbid types in variable name"
# Rule request

## Thesis

Forbid using built-in type name in the variable name, either as prefix or suffix. It applies to all variable definitions: function arguments, assignments, `with`.

[code]

The rule should be applied to built-in types only: str, int, float, set, dict, and so on. Having `context = Context()` is fine.

## Reasoning

Type annotations are better, they can be statically checke

[2021-02-18 12:58] sobolevn commented on #1886
Good one! Are there any exceptions?

I guess there are: like `list` - it can me a lot of things, not just `list()` type.

[2021-02-18 12:59] sobolevn commented on #1884
Oh wow! Thanks for the report! I was not aware that this is already possible. 👍

[2021-02-18 13:00] sobolevn commented on #1884
Btw, PRs are welcome!

[2021-02-18 13:00] orsinium commented on #1886
I'd be confused if variable `somethiing_list` has type `set` or whatever ;)

[2021-02-18 13:04] sobolevn commented on #1886
It can have other types as well, for example: `module_list = ModuleList()`

[2021-02-18 13:13] orsinium commented on #1886
Good point. Let's try to classify then

+ Abbreviated, can be safely banned: `int` (integer), `bool` (boolean), `dict` (dictionary).
+ Joined words, can be banned: `frozenset` (frozen set), `bytearray` (byte array).
+ Real words but rarely used, consider banning: `float` (hard to imagine context where it means something except floating point number), `tuple` (I know it is used for database entitie

[2021-02-18 14:45] ramast opened #1887 "False positive WPS122 when using _ in a for loop"
# Bug report

## What's wrong

[code]

## How it should be

Using `_` inside for loop is actually recommended by WPS123 so it shouldn't be an error.

## System information

Linux localhost 5.4.72-gentoo #6 SMP Fri Oct 23 11:12:21 EET 2020 x86_64 Intel(R) Core(TM) i7-3517U CPU @ 1.90GHz GenuineIntel GNU/Linux

### flake8 information

[code]

### pip information

Contents of `pip freeze`:

amqp==2.5

[2021-02-20 13:49] #1884 closed

[2021-02-20 21:44] AlexandrKhabarov opened #1891 "Windows 10 Tests Failed"
# Bug report

## What's wrong

I have an issue connected with tests.

Currently, I have 7 failed tests. I didn't make any changes in the code.

Can you help me investigate the source of this issue?

================================================================================ short test summary info =================================================================================
FAILED tests/t

[2021-02-21 08:19] sobolevn commented on #1891
That's ok, because `test_wrong_shebang_executable` checks unix-specific things.
To be specific it checks that a given file is executable if it has a shebang.

[2021-02-21 12:23] AlexandrKhabarov commented on #1891
Oh, Thanks!

[2021-02-21 20:37] AlexandrKhabarov commented on #1891
I will fix it.

[2021-02-21 21:11] sobolevn commented on #1891
@AlexandrKhabarov thanks a lot!

We can also add `windows` job on GitHub Actions.
See: https://github.com/HypothesisWorks/hypothesis/blob/master/.github/workflows/main.yml#L67

[2021-02-23 09:22] orsinium opened #1901 "Forbid initializing 2 or more variables on one line"
# Rule request

## Thesis

[code]

## Reasoning

Decrease unnecessary code line complexity.

[2021-02-23 11:08] AlexandrKhabarov commented on #1733
Is it correct that this check should find situations like this?
[code]
I mean that it should not distinguish lambda assignemnts inside __init__ or anywehere.

[2021-02-23 12:48] sobolevn commented on #1901
One more thing, unpacking is a good thing and should be allowed: `a, b = some_tuple()`
The thing about this example is that `[], []` does not look like a real tuple. But, for example: `x, y = (1, 2)` looks pretty readable to me.

So, we need to find a balance between an obviously good idea - one assignment per line - and some real-world usages, when this rule is not applicable.

[2021-02-23 12:49] sobolevn commented on #1733
We only treat `self`, `cls`, and `mcs` as self-like objects. So, we only check them. See https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/constants.py#L150

[2021-02-24 07:28] orsinium commented on #1901
Exactly 👍🏿

I don't think it will drop readability if it is on separate lines. Moreover, now I work on a codebase that has plenty of it and I always miss where the initialization of the second variable (`y` in your example) happens. So, I don't have cases in mind when one-line initialization is useful.

Ok, there is one case: swapping variables (`x, y = y, x`). However, I can't recall any case whe

[2021-02-24 07:53] sobolevn commented on #1901
Yes, sometimes I use this when doing non-recursive things like tree traversal.

[2021-02-24 12:12] orsinium opened #1904 "Forbid effectless try-except"
# Rule request

## Thesis

[code]

## Reasoning

Code simplification.

[2021-02-24 12:14] orsinium commented on #1904
PyLint has W0706 "The except handler raises immediately". Looks like it is the same. Good to have it re-implemented on WPS side, I think.

[2021-02-24 12:18] orsinium commented on #1904
Another interesting case:

[code]

[2021-02-25 07:43] sobolevn opened #1909 "WPS232 triggering for a single-item module"
# Bug report

## What's wrong

Module with just one function reports this violation:

[code]

This is not right. Because we already have a check for a single funtion and it passes.
Modules should be analyzed only if we have more than one element.

[2021-02-25 08:15] #1909 closed

[2021-02-25 16:04] shwetana commented on #1853
Hello, Greetings from me! I am interested to contribute.  Can I continue with the code??

[2021-02-25 22:32] sobolevn commented on #1853
@shwetana sorry, but this task is already implemented! See #1905 (Sorry, I have missed to link the PR properly to this task).

Please, feel free to choose any other task in our bugtracker! And feel free to ask me any questions you have, I am here to help! 🙂

[2021-02-26 08:15] sobolevn opened #1912 "Enforce consistent ternary expressions"
# Rule request

## Thesis

We need to fix how we write ternary expressions, currently it has too many options:

[code]

[code]

[code]

[code]

[code]

Probably, there are other cases as well.

So, we should decide which ones we allow and which ones are going to be violations.
I know that single line ternary is always good.

To decide - we can analyze the code inside this project.

Related #1266
R

[2021-02-26 08:25] orsinium opened #1913 "Report bad collection creation"
# Rule request

## Thesis

[code]

## Reasoning

Simpler, shorter, faster

[2021-02-26 08:31] orsinium opened #1914 "Report redundant str() and repr() for str.format args"
# Rule request

## Thesis

For most of the objects (for all objects and builtins, until redefined explicitly), the default result of `__format__` is the same as `__str__`, so wrapping arguments of `str.format` into `str()` or `repr()` is redundant.

[code]

## Reasoning

Simplification.

[2021-02-26 09:15] AlwxSin commented on #1913
Here is a common case in my practice.
[code]
Does linter able to detect these cases?

[2021-02-26 09:27] sobolevn commented on #1913
This will go into `typed-linter` at some point. It is impossible to reason about with raw ast.

[2021-02-26 09:27] #1913 closed

[2021-02-26 12:24] orsinium commented on #1913
Even if it is on the neighbored lines? My proposal is to ignore cases when there is anything in between.

[2021-02-26 12:25] orsinium commented on #1913
Sure thing, the task is only about explicit unconditional `list.append`, when it is right next to the variable initialization. I was lucky to face it a few times in the new project I work on :)

[2021-02-26 18:51] pawamoy commented on #1581
I've forked the project here: https://github.com/pawamoy/wps-light
It's the same thing (and will always stay the same), but without the extra flake8 plugins :slightly_smiling_face:

[2021-02-26 20:05] sobolevn commented on #1581
@pawamoy awesome! Can you please send a PR to the docs with the link?

[2021-02-26 20:12] #1880 closed

[2021-02-27 08:50] pawamoy commented on #1581
Sure! Note that I will only publish it when you release 0.15.2 :slightly_smiling_face:

[2021-02-27 09:48] pawamoy commented on #1581
Where would you like to see that link? "Extras" does not seem like the right place:

The home page would be a bit pretentious :sweat_smile:

[2021-02-27 10:35] sobolevn commented on #1581
Maybe https://wemake-python-stylegui.de/en/latest/pages/usage/integrations/plugins.html ?

[2021-02-27 12:15] #1779 closed

[2021-02-27 12:15] sobolevn commented on #1779
Thanks, @vnmabus for the suggestion! You have contributed a lot of useful ideas 👍

[2021-03-02 03:26] nnuzaba commented on #1887
Should be fixed in latest version. See https://github.com/wemake-services/wemake-python-styleguide/issues/1406

[2021-03-02 08:26] #1887 closed

[2021-03-02 08:26] sobolevn commented on #1887
@nnuzaba thanks!

[2021-03-02 16:30] Andrew-Sheridan opened #1921 "WPS237 Found a too complex `f` string - this may be too strict"
### What's wrong

The following line raises WPS237
[code]

[code]

### How it should be

It should not do that, as that does not seem an overly complex f-string.

It is formatting an int as a comma separated value: `f"count={count:,}"` -> `"count=1,234"`
- this is the same as `"count={count:,}".format(count=count)`

### Flake8 version and plugins

[code]

### pip information

pip 21.0.1

cannot sh

[2021-03-04 11:05] vnmabus opened #1924 "WPS345 and custom types"
### What's wrong

WPS345 should not be raised when custom types are involved. Code such as
[code]
cannot be replaced by 0, and the object may not allow assigning 0 to it directly.

### How it should be

These checks should only work for builtin types, and maybe a user-defined list of custom types (e.g. Numpy arrays).

### Flake8 version and plugins

Irrelevant.

### pip information

Irrelevant.

#

[2021-03-04 11:07] sobolevn commented on #1924
What `my_custom_obj` is exaclty? Why does it behave this way?

[2021-03-04 11:15] vnmabus commented on #1924
In my particular case, it is a set of discretized functions, but in general it could be an arbitrary element of a ring, I guess. I currently do not have implemented `__setitem__` for this type, nor a function like `np.zeros_like`, so multiplying by zero is a nice way to obtain a zero function with the same discretization points as another. Sure, I could add that functionality, but I am not sure th

[2021-03-04 14:43] sobolevn commented on #1924
😆 I like this!

In case of `wps` - it probably will do this.

The thing about type of `my_custom_obj` is that we cannot really know about it in `flake8`
But, the rule of thumb is not to relly on `* 0` to produce something meaningful.

[2021-03-04 15:08] vnmabus commented on #1924
Yes, I guess that it is difficult to know the types in a flake8 plugin. I think that I can take a different approach, at least for my types, or simply ignore it with `noqa` as this pattern is not that common.

Feel free to close this issue if you want.

[2021-03-04 15:20] sobolevn commented on #1924
Thanks a lot for the report! 👍

[2021-03-04 15:20] #1924 closed

[2021-03-05 03:55] uhbif19 commented on #1731
@sobolevn So am I understanding correctly, that the issue realization must just add full `TooLongYieldTupleViolation` analog but for `return`?

[2021-03-05 09:44] orsinium commented on #1731
Exactly! I don't see a reason why `return` is any different from `yield` from this perspective :)

[2021-03-05 12:16] agatti opened #1926 "Stray WPS601 warning on class member reassignment"
### What's wrong

Reassigning a value for dataclass member variable from a dataclass member function triggers a  stray WPS601 warning.

Here is a code snippet that shows the issue:

[code]

### How it should be

In the code snippet in question there is no shadowing happening, since all instances of `string_value` are scoped with `self`.

### Flake8 version and plugins

{
  "dependencies": [],
  "p

[2021-03-07 21:17] uhbif19 commented on #1824
I add PR for this (github did not link it, I do not know why) :

https://github.com/wemake-services/wemake-python-styleguide/pull/1927

[2021-03-09 21:16] koutsenko opened #1934 "Missing isort rules in setup.cfg configuration"
### What's wrong

You have an README https://github.com/wemake-services/wemake-python-styleguide/blob/master/README.md .

The setup.cfg configuration link points to https://wemake-python-stylegui.de/en/latest/pages/usage/configuration.html .
Only the [flake8] section described here, no [isort] configuration.
So, if you launch isort from CLI with default rules, e.g. for multiline imports, you'll ge

[2021-03-10 08:01] orsinium commented on #1934
AFAIK, the configuration docs mention the following:

[2021-03-10 08:11] orsinium opened #1937 "Report mixed multiline signatures style"
# Rule request

## Thesis

[code]

## Reasoning

For short one-line signatures, the reader will read it from left to right. For long multiline signatures, it will be read vertically. However, a mixed approach means that second arguments on every line have a chance to be missed during visual scanning. The issue becomes apparent when type annotations are longer:

[code]

Here, it's easy to `arg2` th

[2021-03-10 09:02] sobolevn commented on #1937
We already do that! 👍

[code]

Produces:

[code]

[2021-03-10 09:02] #1937 closed

[2021-03-10 09:14] sobolevn commented on #1934
I agree that we should empathize more that there are other tools to configure.
Tools we use with their own configuration: `darglint`, `isort`

[2021-03-10 09:35] orsinium opened #1938 "Detect redundant comments"
# Rule request

## Thesis

A redundant comment is a comment that says exactly the same as the code. Since comments are written in natural language, only humans can subjectively reason good enough about how informative it is. However, we can do objective heuristics that can find some of the cases. The heuristic I have in mind: all the words in the comment (or all except one, I find it a good tolera

[2021-03-10 09:41] sobolevn commented on #1938
@orsinium can you please run your POC over source code of some our projects? What will it detect?

[2021-03-10 10:31] orsinium commented on #1938
Code:

[code]

A few results:

[code]

[2021-03-10 10:37] orsinium commented on #1938
Nothing for poetry, nothing for WPS :)

[2021-03-10 10:41] orsinium commented on #1938
[code]

[2021-03-10 19:24] uhbif19 commented on #1731
Please assign me, I am finishing PR for this task.

[2021-03-11 19:35] uhbif19 opened #1940 "Introduce markdown linter to CI"
## Thesis

I propose adding markdown linter to project CI. Initial discussion was [here](https://github.com/wemake-services/wemake-python-styleguide/pull/1927#discussion_r591257409).

One possibility is to add it to Makefile, the second is to add github action, as was suggested [here](https://github.com/wemake-services/wemake-python-styleguide/pull/1927#discussion_r591458412).

Also, there is a qu

[2021-03-12 07:26] sobolevn commented on #1940
@uhbif19 you are more than welcome! 👍

The only thing to keep in mind: it should adapt to existing spoken rules.

[2021-03-14 18:49] vnmabus opened #1942 "WPS508 and chained comparisons"
### What's wrong

The following code raises a WPS508 code (Found incorrect `not` with compare usage):
[code]
The alternative would be:
[code]
which is probably harder to understand.

The problem is aggravated for longer chains of comparison, or if `my_num` was a function call (because in that case the second way is not even valid, as the function would be called multiple times).

### How it should

[2021-03-14 19:03] vnmabus commented on #1921
I also have a problem with the strictness of this rule regarding `len`. Somehow `f"The length is {len(l)}."` is considered a too complex f-string.

[2021-03-16 15:02] Sxderp commented on #724
Does this include `with` blocks? I think the following is common, no?

[code]

[2021-03-16 15:05] Sxderp opened #1948 "Require specifying encoding when using "open" (re: PEP597)"
# Rule request

Inspired by https://www.python.org/dev/peps/pep-0597

The PEP is still draft, but I think WPS can implement before adoption. Even if the PEP is rejected I think this is a good idea.

Required specifying "encoding" to `open`. Even if it's just `None`.

## Thesis

Not specifying the encoding could be considered a bug. Making the effort to choose which encoding is better. At the momen

[2021-03-16 15:15] sobolevn commented on #1948
Great idea, I will totally do this (either here or in `typed-linter` that I am developing right now)!

Why not just implementing it here? Because `typed-linter` will support auto-fixing problems. And this looks like it can be autofixed.

[2021-03-16 15:16] Sxderp commented on #1886
I'm not sure about this one. I feel like there's a valid use case. Suppose you have a consuming API that takes a string but your data structure is using an int and the API doesn't auto-cast. Performing a cast every time seems silly. What would you propose the variable name be?

[code]

[2021-03-16 15:20] sobolevn commented on #1886
We can probably move this to `typed-linter`, because it has type information, which will make the implementation way easier.

[2021-03-17 05:44] sobolevn opened #1951 "Check that generator expressions are safe"
# Rule request

## Thesis

We can create generator expression that produce a different result from what we expect.

[code]

Link: https://twitter.com/asmeurer/status/1371952741728194561

## Reasoning

Comprehensions like this should be safe. We should not be able to reassign values that comprehensions rely on.

[2021-03-17 09:26] orsinium commented on #1886
1. My philosophy is "something is better than nothing". It's ok to cover only some cases, not all.
1. The issue is about the type information in the name independently of the actual type. If the name says `str` but the actual type is `int`, It's even worse.

[2021-03-17 09:32] orsinium commented on #1886
In your sample, `user_id` doesn't conflict with anything, so it should be just `user_id`, why not.

I can't recall such API, TBH, where int should be explicitly cast to str. For instance:

[code]

[2021-03-21 22:16] maltevesper commented on #165
I think there is another related option: https://pypi.org/project/flake8-noqa/

[2021-03-21 22:26] maltevesper commented on #1268
WPS211 is another complexity rule to consider for ignoring, It should already trigger on the actual implementation in the .py file.

Would it make sense to ignore WPS211 (too many args) and WPS428 (Ellipsis as unused code) on `@overload` stubs in .py files too?
The logic for WPS211 is  that it is already caught in the actual implementation, warning in other places requires cluttering `#noqa` comme

[2021-03-23 23:50] maltevesper opened #1957 "@Overload stubs are flagged with to many args(WPS211) and useless statement(WPS428)"
### What's wrong

On Overload specificaitons of functions WPS211 and WPS428 is reported

[code]

### How it should be

WPS211 and WPS428 should be silenced for function stubs marked with `@overload`.
The `useless` statement in the stub is needed (WPS428), and the too many args violation should only be flagged on the actual implementation (WPS211).

### Flake8 version and plugins

$ flake8 --bugrep

[2021-03-23 23:51] maltevesper commented on #1957
I dont think the system info I was asked to paste did anyone a favour.
Can this please be assigned to me?

[2021-03-24 07:06] sobolevn commented on #1957
@maltevesper thanks!

One note from me: `WPS211` is legit, because, well, functions do have a lot of arguments. It is not dependent on what annotation you use. `WPS428` is also legit. You should use `"""Docstring describing this overload case."""` instead

Related #1779

[2021-03-24 22:44] maltevesper commented on #1957
Ok, while I can understand your point that WPS428 can and should be worked around with docstrings, I think I would like to clarify WPS211 a bit more:

If I have three overloads I would potentially get four warnings `WPS211`: one for the function itself and up to one for each overload. In a legit use case, I now have to write four `# noqa: WPS211` comments.

This clutters the code with WPS211 comme

[2021-03-24 23:12] sobolevn commented on #1957
Please, also consider the case with `.pyi` files, where a function does not have the body, only `@overload` cases.

[2021-03-27 18:47] pawamoy opened #1958 "WPS503 on for ... else"
### What's wrong

wps reports a useless `else` clause after a `for`, but I don't think the clause is useless: I don't see any way to remove it without writing *more* code:

[code]

This code will raise an exception if the relative file path does not exist in any of the search paths.
Doing this without the `else` clause of the `for` would require using an additional variable and condition.
Note tha

[2021-03-27 20:12] sobolevn commented on #1958
Yes, we should exclude `ast.Break` from this boolean check: https://github.com/wemake-services/wemake-python-styleguide/blob/1f94c390491374ef88a483de66e88228c3104bac/wemake_python_styleguide/visitors/ast/conditions.py#L204-L207

[2021-03-28 08:40] cyber1998 commented on #1958
Hello @sobolevn , I would like to take this issue up as a first contributor. Could you please assign this to me? :)

[2021-03-28 09:55] sobolevn commented on #1958
Thanks a lot, @cyber1998!

[2021-04-01 09:42] #1958 closed

[2021-04-05 10:51] psychonaute opened #1971 "pyproject.toml Cannot inherit from [tool.flakehell] remote config"
### What's wrong

trying to follow the doc, when adding the following to my pyproject.toml

[code]
I got the following error when running the linter
[code]

### How it should be

get no stack trace :)

### Flake8 version and plugins

[code]

### pip information

arrow==1.0.3
astor==0.8.1
attrs==20.3.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
backports.shutil-get-terminal-s

[2021-04-05 12:37] sobolevn commented on #1971
Sorry, but it does not look like we have `!` somewhere in https://github.com/wemake-services/wemake-python-styleguide/blob/master/styles/flakehell.toml

Can you please create a new issue in https://github.com/andreoliwa/nitpick ?

[2021-04-06 07:20] psychonaute commented on #1971
is nitpick used under the hood?

[2021-04-06 08:09] sobolevn commented on #1971
Oh, no. Looks like you are using `flakehell`.

It is deprecated: https://github.com/life4/flakehell#the-project-is-archived

[2021-04-06 08:09] #1971 closed

[2021-04-06 09:04] orsinium opened #1974 "Detect bare `raise` outside of `except` block"
# Rule request

## Thesis

Report `raise` statements outside of `except` block

[code]

## Reasoning

It causes runtime error:

[code]

It is possible that the function `smth` is meant to be called only from `except` block and so it won't fail but I'd say it is quite obscure and is a bad practice.

[2021-04-06 12:17] sobolevn commented on #1971
@psychonaute I will do it soon! 👍

[2021-04-06 12:19] sobolevn commented on #1974
Ok, we used to detect this one, I can surely remember it. But for some reason, it is now gone.

[2021-04-06 17:40] amansr02 commented on #1974
Hi. We are first-time contributors (@bhargavi247) and were wondering if we could take a look at this issue if possible? Do let us know if we can work on it. Thank you!

[2021-04-06 18:45] sobolevn commented on #1974
Sure, @amansr02! Thanks a lot for your help!

[2021-04-07 01:23] amansr02 commented on #1706
Hello @sobolevn. I would also like to work on this issue apart from #1974 with @bhargavi247. We are students who are working on an assignment to fix Issues for open source projects. Do let us know if this issue is still open! Thank you!

[2021-04-07 08:35] sobolevn commented on #1706
Yes, it is! Thanks!

[2021-04-07 19:31] amansr02 commented on #1706
Awesome! Let us get started on this issue as well. If you could assign it to @bhargavi247 that would be great.

[2021-04-07 23:59] bhargavi247 commented on #1706
Thanks @sobolevn ! Would love to get assigned to this task :)

[2021-04-08 15:33] dadwin commented on #32
Hey, folks :wave:

about **Readability**

What's the big difference between this two lines?
`
'v={v}'.format(v=random.randint(1, 12))
f'{random.randint(1, 12)}'
`
from the perspective of putting _logic_ inside these seems quite the same, no?

[2021-04-08 16:05] sobolevn commented on #32
No,

the template part is pure: `v={v}`, so you can write this code like this:

[code]

[2021-04-08 16:16] dadwin commented on #32
well, i can, but not forced to.
am i right the key point here: template and formatting can be separated for 'format', bot not for 'f-string'?

[2021-04-08 19:46] sobolevn commented on #32
Yes 👍

[2021-04-12 06:59] orsinium opened #1980 "Ban `subprocess.call`"
# Rule request

## Thesis

Ban old subprocess API:

+ `call`
+ `check_call`
+ `check_output`

## Reasoning

[According to the documentation](https://docs.python.org/3/library/subprocess.html#older-high-level-api):

Namely:

+ `subprocess.call` is the same as `subprocess.run(...).returncode`
+ `subprocess.check_call` is the same as `subprocess.run(..., check=True)`
+ `subprocess.check_output` is th

[2021-04-12 09:04] sobolevn commented on #1980
`#typed-linter`

[2021-04-12 09:29] orsinium commented on #1980
Do you think so? It should be always `subprocess.call`, and it is a unique enough name. And we can forbid `from subprocess import call` in WPS347, I think it would make sense.

[2021-04-21 04:42] bhargavi247 commented on #1974
Hello @sobolevn ! @amansr02 and I are making good progress! Just a quick question - we added a new violation that is called with an illegal bare raise. Are we supposed to add a new violation or use an existing violation?

[2021-04-21 06:45] sobolevn commented on #1974
Please, add a new one.

[2021-04-21 14:53] ma-sadeghi opened #1994 "conda-forge support?"

[2021-04-25 17:55] MarcoGorelli commented on #1704
closed in #1798 ?  Looks like I'd forgotten the "closes #1704" tag there

[2021-04-25 20:44] #1704 closed

[2021-04-27 08:43] Pfeifenjoy commented on #681
Actually the typing depends on your keyboard layout and you can easily remap your keyboard.

I prefer double quotes since in many other programming languages like Java or C/C++
single quotes are associated with characters and not strings.

[2021-05-12 09:00] astynax opened #2026 "WPS335 rejects list-of-lists comprehensions"
### What's wrong

I'm trying to produce a list of lists but getting a false-positive warning:
[code]
Here is a code
[code]

### How it should be

It should be possible to produce the list of lists.

### Flake8 version and plugins

[code]

### pip information

pip 20.2.3 from /home/astynax/Projects/hexlet/hexlet-exercise-kit/exercises/course-python-declarative-programming/python_declarative_program

[2021-05-12 09:43] sobolevn commented on #2026
Yes, this should be allowed for comprehensions.

[2021-05-18 17:23] ujju20 commented on #2026
Hello, I am a beginner in the Open source world and I found this issue to be good first so I would like to take this guide. So please guide me.

[2021-05-18 17:36] ujju20 commented on #1825
Hello, I am a beginner in the Open source world and I found this issue to be good first so I would like to take this issue. So please guide me.

[2021-05-18 19:54] sobolevn commented on #1825
Hi @ujju20!

Make sure to read [our contributing guides](https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md)

Next, you will need to create a new `violation` and a new `visitor`, see our glossary what these things mean.

I am here to help: ask anything you need.

[2021-05-18 19:55] sobolevn commented on #2026
@ujju20 let's focus on https://github.com/wemake-services/wemake-python-styleguide/issues/1825 🙂

[2021-06-01 09:03] sshishov opened #2053 "Python 3.10: ImportError"
### What's wrong

Trying to run the code and getting the following exception:
[code]

### How it should be

There should be no exception, the import should be properly handled for Python 3.10

### Flake8 version and plugins

Not installed

### pip information

21.0.1

### OS information

MacOS

[2021-06-02 09:47] orsinium commented on #1994
What's the motivation? Conda supports PyPI out of the box: https://docs.anaconda.com/anacondaorg/user-guide/tasks/work-with-packages/#using-package-managers

[2021-06-02 16:24] ma-sadeghi commented on #1994
@orsinium Thanks for your reply.

The motivation is that for a conda-forge package to work, all its dependencies must be on conda-forge as well.

[2021-06-03 05:16] orsinium commented on #1994
You can install Python packages into conda environment using pip, and so all dependencies will be installed as well:
![image](https://user-images.githubusercontent.com/9638362/120590922-94977300-c43b-11eb-96a3-4650f58dca43.png)

[2021-06-03 06:15] orsinium commented on #1938
I made a separate plugin to give the experiment a life:
https://github.com/orsinium-labs/flake8-comments
I'll see how it performs and how many there are false positives. I'd be more than happy if eventually, it will land into WPS.

[2021-06-03 06:24] #1938 closed

[2021-06-03 06:27] orsinium commented on #1938
BTW, a few results for WPS:

[code]

[2021-06-03 07:20] rudranshsharma123 commented on #2053
Hello, I am new to open source would love to make a contribution to this issue. Can you provide guidance on how to proceed with this issue?

[2021-06-03 07:23] sobolevn commented on #1938
Pretty good result! In tests we use `# Correct` comment to define correct templates. So, this is fine.
The only potential problem is in `wemake-python-styleguide/wemake_python_styleguide/visitors/ast/statements.py:134:5`

[2021-06-03 07:25] sobolevn commented on #2053
Hi @rudranshsharma123 !

You need to fix import error on Python3.10. To do that:
1. Install python 3.10 alpha or beta
2. Install `wemake-python-styleguide` the usual way
3. Try to lint any file, it should break with the same message
4. Fix it! I think that `Hashable` was moved or renamed
5. Try once again, everything must work correctly!

[2021-06-03 08:08] orsinium commented on #1938
Sure, no judgment 🙃 I suppose, there will be a lot of false positives. I'm still happy with how it performs, though. We'll see.

[2021-06-03 12:06] sshishov commented on #2053
Please read the first paragraph [here](https://docs.python.org/3/library/collections.html#module-collections).
It was moved from `collections` to `collections.abc` since Python 3.3. It supported the old location till Python 3.9. But in python 3.10 it was removed.

It depends what type of python is supported by this tool. If it is python 3.5+ then it is safe to just change the import and not to pol

[2021-06-03 12:38] ma-sadeghi commented on #1994
@orsinium Sorry I was not clear enough. Indeed, on your local machine that works fine.

My point was that if you want to contribute a package to conda-forge (so people can install it using `conda install your_package`), all the dependencies need to be hosted on conda-forge as well. For instance, our package [`porespy`](https://github.com/PMEAL/porespy/) is hosted on conda-forge. Now, if we want to

[2021-06-03 13:09] sobolevn commented on #1994
@ma-sadeghi this would be really hard to make! Because, `wps` has lots of dependencies and it would be hard to copy all of them to `conda`.

[2021-06-04 04:27] harshakhmk commented on #1706
I would like to work on this issue, I am a first time contributor

[2021-06-04 08:21] sobolevn commented on #1706
Hi @harshakhmk!
Please, take a look at https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md

[2021-06-05 05:52] orsinium commented on #1994
Sure, the question is why one would need it in conda if WPS already can be installed in conda environment using pip? There is not much difference to type `conda install` or `pip install`

[2021-06-05 11:57] ma-sadeghi commented on #1994
@orsinium Because you can explicitly include C/Fortran dependencies if you ship your package in conda, and not in pip.

[2021-06-06 06:19] orsinium commented on #1994
Sure, I know why one needs conda 👍🏿 However, WPS doesn't have any C-dependencies, so you can deploy in 2 commands:

[code]

What do you use for deployment? Ansible, Docker, Taskfile, Makefile? In any case, one more command isn't a big deal. Even if WPS would come into Anaconda Cloud, there are [tons of good flake8 extension](https://github.com/DmytroLitvinov/awesome-flake8-extensions) that aren't

[2021-06-06 10:15] ma-sadeghi commented on #1994
@orsinium Fair enough and agreed :)

[2021-06-06 10:15] #1994 closed

[2021-06-11 12:10] praneethratna commented on #1874
Hi , I want to contribute to this issue , Could You provide guidance on how to proceed further?

[2021-06-12 07:29] sobolevn opened #2064 "Forbid consecutive slices"
# Rule request

## Thesis

We should forbid consecutive slices.

## Reasoning

Consider this code:

[code]

What it does?
1. `a[1:]` is `[2, 3, 4]`
2. `[2, 3, 4][:2]` is `[2, 3]`

It is much more readable and effective to use
[code]

Related https://twitter.com/m_ou_se/status/1403426221367627777

[2021-06-14 20:24] Edald123 commented on #2064
Hi! I'm new and I would like to work on this issue. May I ask for more info?

[2021-06-14 21:42] sobolevn commented on #2064
@Edald123 yes, sure! Thanks!

Please, take a look at https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md
Feel free to ask any questions.

[2021-06-14 22:00] Edald123 commented on #2064
Thank you! I'm on it

[2021-06-14 22:19] GibranHL0 commented on #1951
Hey 👋 , I'm new to the project and I'd like to contribute.
Could you assign me this issue?

[2021-06-14 22:20] GibranHL0 commented on #1948
I'd like to take this issue as well, pls 😌

[2021-06-14 22:47] sobolevn commented on #1951
Thanks, @GibranHL0!

[2021-06-15 15:26] GibranHL0 commented on #1951
Great. I'll make the proposal as soon as possible.

[2021-06-17 08:06] sobolevn commented on #2026
I am looking through the bug reports and now I thing that this is one is invaldid. Your initial example should be written as:
[code]

Maybe you have other examples in mind?

[2021-06-17 08:08] #2053 closed

[2021-06-17 11:08] astynax commented on #2026
O, rly? This is just a minimal example! And why it's invalid? One may want to iterate from the subcomprehension!
Here is a real example if you want:
[code]
And here should be the lists! Not tuples, not genexps, the lists!

[2021-06-17 16:57] GibranHL0 commented on #1951
Hey @sobolevn, I got my approach to the issue. 👋
According to the [PEP 289](https://www.python.org/dev/peps/pep-0289/), the code uses a generator expression, which after a single usage, the memory is free. Then, we should allow the assignment of the involved variables after the generator usage, as they no longer affect it.

[code]
**The code works fine!**

So, my solution would be:

1. Identify a

[2021-06-17 19:07] sobolevn commented on #1951
Looks great! But, I think that `ASTVisitor` is easier to work with in this case.

[2021-06-17 22:39] GibranHL0 commented on #1951
Sure, I was checking, and I think is a better idea to use the `ASTVisitor` instead of the `TokenVisitor`.

I'll upload the PR as soon as possible. ✌️

[2021-06-18 15:59] Edald123 commented on #2064
Hi, I have already checked the resources from the contributing file. I would like to check if my approach would be correct or not. I understood that I would have to create a new visitor and violation, not necessarily a new flake8 plugin. From there I would choose an ast based visitor using the already created one: BaseNodeVisitor. Then I would write only a violation and check logic.

Would this be

[2021-06-18 16:48] sobolevn commented on #2064
Correct.

Not a plugin, correct!

Yes 👍

Correct! I will be glad to review your code and help with any questions you have.

[2021-06-18 16:53] Edald123 commented on #2064
Thank you!, I will be sharing my progress then.

[2021-06-18 23:40] DecodersLord commented on #1525
Hello, Is the issue resolved? I can contribute if needed.
Can you please confirm the files that need to be edited are

- `.rst `files: https://github.com/wemake-services/wemake-python-styleguide/tree/master/docs and https://github.com/wemake-services/wemake-python-styleguide/tree/master/docs/pages

- `.py` files, like: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_

[2021-06-19 07:10] orsinium commented on #1525
This is the issue with natural languages, you can never be sure :) Just have a look at the documentation and docstrings and fix every grammar issue you find. There are definitely more of them all over the project, we're just humans and make mistakes all the time.

[2021-06-19 07:13] sobolevn commented on #1525
@DecodersLord I think that this issue cannot be resolved completely because:
- There's always something to fix (even in existing code)
- New code appears quite frequently

So, please feel free to improve any wordings you find!

Yes, correct.

P.S. You can also take a look at https://github.com/dry-python/
I think that there are a lot of things to fix there.

[2021-06-21 08:18] sobolevn opened #2071 "WPS333 false positive on different expressions"
### What's wrong

Code: `if len(names) <= 1 and len(var_values) > 1: ...`
Raises: `WPS333 Found implicit complex compare`

Related https://github.com/wemake-services/wemake-python-styleguide/pull/2070

### How it should be

It should not raise this issue, because this `Compare` has different expressions.

[2021-06-21 09:04] sobolevn commented on #2071
Ok, I see. Actually, it works correctly.
Should be: `if len(names) <= 1 < len(var_values)`

[2021-06-21 09:16] sobolevn commented on #2071
Or we may allow it, because for me `if len(names) <= 1 and len(var_values) > 1:` is way more readable than `if len(names) <= 1 < len(var_values)`

[2021-06-21 10:06] sobolevn commented on #1921
These two are different:
- Original problem by @Andrew-Sheridan is about formatting, it should be allowed
- Problem @vnmabus is about putting logic into `f` strings, it won't be ever allowed. We even made an exceptional rule for people who like to use them (still `wps` does not recommend it), but prefer to keep them as simple as referencing variables. So, that's the only use-case we support

I am

[2021-06-21 10:35] sobolevn commented on #1921
Ok, I was wrong 🙂 Sorry, I am not using `f` string, so I forgot about it.

We do allow some simple expressions: and yes, `len(a)` should be allowed.

[2021-06-21 10:53] #1807 closed

[2021-06-21 10:53] #1874 closed

[2021-06-21 10:53] #2071 closed

[2021-06-21 10:53] #1921 closed

[2021-06-21 13:12] #1883 closed

[2021-06-23 08:29] sobolevn opened #2075 "False negative comprehension structure for `WPS361`"
### What's wrong

This code does not raise a `WPS361` violation:

[code]

### How it should be

It should

### Flake8 version and plugins

`wps@0.15.3`

[2021-06-23 08:58] #2075 closed

[2021-06-23 09:17] sobolevn commented on #2075
Ok, it is better to release this under `0.16.0`, because it may produce new violations.

[2021-06-24 15:14] fpuga commented on #1416
Can this ticket be reopened?

I'm still getting a `WPS440` in code like the shown in the first comment:

[code]

[2021-06-24 16:14] sobolevn commented on #1416
Reproduction:

[code]

<img width="752" alt="Снимок экрана 2021-06-24 в 19 14 09" src="https://user-images.githubusercontent.com/4660275/123297592-5ebc4a80-d520-11eb-8a10-bc2e121e6500.png">

[2021-06-24 17:51] fearsd opened #2078 "Github action doesn't create PR review"
### What's wrong

Github action doesn't create PR review as it described in docs. You can check it there https://github.com/fearsd/idea_tracker_bot/pull/8

### How it should be

It should create PR reviews

### Flake8 version and plugins

[code]

### pip information

[code]

### OS information

macOS 11.3.1 - local machine
github action - ubuntu-latest

[2021-06-24 18:33] sobolevn commented on #2078
Hi!

Things to check:
1. GitHub Permissions
2. Whether there are any actual violations
3. But, not too many of them, because it won't comment on more than ~50 of them
4. That configuration is the same we have here, because it works for us: https://github.com/wemake-services/wemake-python-styleguide/pull/2070#pullrequestreview-688133292

[2021-06-24 19:06] fearsd commented on #2078
1. I think workflows have right permissions
![image](https://user-images.githubusercontent.com/46864568/123316252-11eb6a80-d546-11eb-8b5b-d055e9ae3b2d.png)

2. Can you send a link to recognize the actual violations? Logs in pipeline for wemake-python-styleguide:
[code]

I suppose the problem in
`reviewdog: this is not PullRequest build.`
I found only one case in the internet https://stackoverflow.

[2021-06-24 19:23] sobolevn commented on #2078
Yes,

Looks like the root of this problem! 👍

[2021-06-25 02:01] fearsd commented on #2078
Ok, it was my mistake 😅. I put in workflow file `on: push`, when reviewdog only works with `on: pull_request`. After this fix, action started making reviews. https://github.com/fearsd/idea_tracker_bot/pull/8. Thanks!

[2021-06-25 08:23] sobolevn commented on #2078
Glad it worked!

[2021-06-25 08:23] #2078 closed

[2021-06-28 17:55] Edald123 commented on #2064
Hi!
Just as an update. I'm still working on the issue. I got stuck at creating the logic for the violation. I'll be trying to solve this to give you and update later.

[2021-06-28 18:00] sobolevn commented on #2064
Sure! Thanks!

@Edald123 do you need my help?

[2021-06-29 00:34] GibranHL0 commented on #1948
#2082 Opened

[2021-07-08 03:00] Edald123 commented on #2064
Hi!
I actually worked on a solution with [Gibran](https://github.com/GibranHL0).

So far we have implemented a solution in wemake_python_styleguide/visitors/ast/subscripts.py.
In the class SubscriptVisitor we added:
`python
def _check_consecutive(self, node: ast.Subscript) -> None:
        """Check if subscript node has a slice and a subscript"""
        if isinstance(node.slice, ast.Slice) and is

[2021-07-08 07:46] sobolevn commented on #2064
Hey, send a work-in-progress PR! It would be super helpful! 👍

[2021-07-08 21:14] GibranHL0 commented on #2064
Hey @sobolevn

Like @Edald123 commented, we worked in a pair together to solve the issue. A PR is going to be uploaded in a few seconds.

[2021-07-08 21:15] Edald123 commented on #2064
Hi!
@GibranHL0 will submit the PR in a minute. We will be waiting for your comments, thank you!

[2021-07-10 09:10] monosans opened #2095 "Method could be a function"
# Rule request

I think it would be nice if there was a rule which checks that method could be a function (or a static method, but they are forbidden by WPS602).

## Thesis

[code]

## Reasoning

If a method doesn’t use its bound instance, it could be written as a function.
This rule exists in **pylint**. Its code there is **R0201 (no-self-use)**.

[2021-07-10 09:39] sobolevn commented on #2095
Hi! Thanks a lot for the idea!

I was really thinking about it some time ago.

I don't think that deciding whether something should be a function or a method is a feature of a linter.
It should be done as the result of your desiging process.

It involves DDD, OOP best practices and readability.
It is not related to `self` usage at all.

I am going to close this as "wontfix", but feel free to provi

[2021-07-10 09:39] #2095 closed

[2021-07-10 09:56] monosans commented on #2095
@sobolevn I think this rule shouldn't be necessarily enforceable. It should just be kinda recommendation, so the person could easier find methods which could be functions.

[2021-07-10 10:04] sobolevn commented on #2095
@monosans this is a good idea for you own plugin 😉
I would be happy to add a link to it in our docs!

[2021-07-12 16:54] GibranHL0 opened #2102 "Wrong Getter and Setter example"
### What's wrong

I believe that the example within the `UnpythonicGetterSetterViolation` is not well explained. A getter function should retrieve an attribute value without specifying the value itself, and a setter function should provide a value for the attribute. The current example is:
[code]

### How it should be

The correct example should be:

[code]

### Flake8 version and plugins

There's

[2021-07-12 18:20] sobolevn commented on #2102
Correct should be:

[code]

Can you please create a PR with the fix? 🙂

[2021-07-12 18:32] GibranHL0 commented on #2102
Sure, I'll create the PR right away. 😌

[2021-07-13 03:06] #2102 closed

[2021-07-30 14:48] GirZ0n opened #2127 "WPS000 on several code fragments"
### What's wrong

If I run WPS on such code fragments, then the error WPS000 appears, although the code is correct.

**Fragment №1:**
[code]

**Output №1:**
[code]

**Fragment №2:**
[code]

**Output №2:**
[code]

I also checked this problem occurs on version 0.15.3 and in wps-light-0.15.2.

### How it should be

I expect there should be no WPS000 error on these fragments. :slightly_smiling_face:

[2021-07-31 00:50] MadLittleMods opened #2128 "Disallow reassignment of function parameters"
# Rule request

## Thesis

Add a lint rule similar to [ESlint `no-param-reassign`](https://eslint.org/docs/rules/no-param-reassign) for JavaScript which disallows reassignment of function parameters.

When a function parameter gets re-assigned, it masks the original argument passed in. With a sufficiently long function, it's not obvious that the variable was assigned to something different than wh

[2021-07-31 07:31] sobolevn commented on #2128
Oh wow! Great issue description! Thank you!

I have one specific usecase in mind that we need to cover / explain:

[code]

What do you think about it? It is very common.

[2021-08-02 21:19] MadLittleMods commented on #2128
I looked back at the original ESLint rule proposal and someone asked a similar question, https://github.com/eslint/eslint/issues/1599#issuecomment-81735849 but it was just described as a code smell with no proper code alternative suggestion.

The AirBnB JavaScript style guide also inherits `no-param-reassign` and looking at their examples, they suggest using the default parameter syntax where poss

[2021-08-02 22:28] MadLittleMods commented on #2128
I've just learned about the [PEP 591](https://www.python.org/dev/peps/pep-0591/) which adds `typing.final` and a `@typing.final` decorator!

 - https://www.python.org/dev/peps/pep-0591/
 - https://mypy.readthedocs.io/en/stable/final_attrs.html
 - https://stackoverflow.com/a/57596202/796832
 - https://stackoverflow.com/a/65706030/796832

This works great for patching over the last loophole of re-as

[2021-08-03 08:11] sobolevn commented on #2128
[code]

This is not the best practice, see: https://florimond.dev/en/posts/2018/08/python-mutable-defaults-are-the-source-of-all-evil/

This use-case is the only concern I have for now, we need to figure out how to handle it.

[2021-08-03 16:57] MadLittleMods commented on #2128
Thanks for the great context around this! Such an easy pitfall.

We could do the same parameter rename, `inputA`, `_a` 🤷

[code]

There is a related issue where someone wanted to allow re-assigning if it had the default value: https://github.com/eslint/eslint/issues/14189. Maybe we could just allow re-assigning if the default is `None` since that only allows the mutable scenario to slip through.

[2021-08-03 17:17] sobolevn commented on #2128
We can't do it. Here are two example:

1. With methods, when we subclass things

[code]

2. With functions that are using named arguments, where name is an important part of the contract

`noqa` is also not an option here 😞
Because this pattern is really common and it is something you can hardly replace.

[2021-08-03 17:41] MadLittleMods commented on #2128
I'm running out of my known ideas here. Do you see any way out?

Is this one an option?

[2021-08-03 18:37] Manthanjain commented on #2064
Hi @sobolevn I am new to open source and wanted to get started with contributing to good first issues, but i am facing a little difficulty in how to get myself more invoved in the project. Can you suggest me what steps do i need to follow after going through contributing docs.

[2021-08-03 20:20] sobolevn commented on #2128
There are other corner cases:
- Non-none sentinel values: https://mail.python.org/archives/list/typing-sig@python.org/thread/NDEJ7UCDPINP634GXWDARVMTGDVSNBKV/
- `Result`-based composition things we use with: https://github.com/dry-python/returns Like `a = a.bind(...).rescue(...)`
- etc

So, I really like this idea, but I need to think about the possible limitations.
I will try to ask `mypy` team a

[2021-08-03 23:17] MadLittleMods commented on #2128
Sounds great, please link any discussions 🙂

I was curious on why the limitation was there in the first place but all I have found is from the [PEP 591 PR on GitHub](https://github.com/python/peps/pull/990). I'm not finding the pre discussion in the mailing list about it though (mailing list noob).

I'm not sure what is meant there 🤔

Related mailing list threads I could find but not what I was af

[2021-08-04 10:07] sobolevn commented on #2064
Hi @Manthanjain! Sure!

Read this:
- https://wemake-python-stylegui.de/en/latest/pages/api/index.html
- https://wemake-python-stylegui.de/en/latest/pages/api/index.html#creating-a-new-rule

But, looks like someone else is working on this issue, feel free to choose any other one.

[2021-08-05 03:02] danielboghean commented on #2127
Hi! I'm new here, but I would like to take a look at this issue. Would it be okay if I try to solve it?

[2021-08-05 09:16] sobolevn commented on #2127
@danielboghean sure! You can start with the very first code sample: copy it to some file, run `flake8` on it.
It will reproduce the bug. Then, solve it and write a regression test case. Done!

[2021-08-09 11:39] sobolevn opened #2133 "Forbid to `raise` exception from itself"
# Rule request

We need to forbid code like `raise exc from exc`, because it does not make much sense and works the same way:

[code]

And with `from`:

[code]

We need to explicitly test two cases:
1. New `raise`
2. Re-raising inside `except`

[2021-08-17 16:51] shruthi223 commented on #2133
Hi! Could you please assign me this? Im new and would like to know more!

[2021-08-17 18:02] sobolevn commented on #2133
Hi! @shruthi223 thanks a lot! Take a look at https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md

[2021-08-19 19:03] Dreamsorcerer commented on #1817
I no longer need the baseline functionality, so don't plan to do further development on it. However, the PR is still ready for review, and I'm happy to answer any questions about the code.

I think it is good enough for a public release, but with a few ideas that could be implemented to improve future releases (in particular see https://github.com/wemake-services/wemake-python-styleguide/pull/1276

[2021-08-19 20:04] sobolevn commented on #1817
@Dreamsorcerer thanks a lot for your time and effort! 👍

I am working on another static analysis tool where I consider "baseline" as a core feature.
I am not sure that I will ever add such a complex thing into `wps`, maybe as a 3rd-party plugin.

[2021-08-21 08:00] sobolevn opened #2151 "Early return should not take `return None` form when it is not required"
# Rule request

## Thesis

Right now this code:

[code]

passes our style check. Note `return None` part there. It is the only `return`. And it means that `None` part is not required.
Moreover, it should not be allowed`. Simple early returns must be just `return`.

[2021-08-21 10:21] #2127 closed

[2021-08-21 23:03] siddharth1704 commented on #2151
so we need just change that from `return None` to `return`

[2021-08-22 08:02] sobolevn commented on #2151
@siddharth1704 yes!

I think that we can formulate this rule as:

[2021-08-22 12:12] sobolevn commented on #1912
I like this one:

[code]

[2021-08-25 14:20] DhirajChauhan40 commented on #2151
@sobolevn but if we have return none in a function then it means it's meant for later use, since we don't have the value to return we do return none? please correct me if I'm wrong.

[2021-08-25 14:20] DhirajChauhan40 commented on #2151
also i would like to change the code and contribute.

[2021-08-25 14:22] DhirajChauhan40 commented on #2151
also i would like to change the code and contribute.

[2021-08-25 15:35] sobolevn commented on #2151
We allow:

[code]

We don't allow:

[code]

[2021-08-25 15:47] DhirajChauhan40 commented on #2151
@sobolevn can you tell me the process to contribute?
i am a beginner and i didn't understand much from contribute.md. thanks!

[2021-08-29 10:07] DhirajChauhan40 commented on #2151
hey @sobolevn I understood the concept(thesis) and I did comprehend how ``` ast ```  works but I'm still not able to get how to implement
can you provide me a sample code for some other issue that is easy to understand
will be really helpful for a beginner like me, Thanks!

[2021-08-29 11:07] sobolevn commented on #2151
Ok, we also need to take a closer look at:

[code]

I would re-formulate the rule as: if all function `return` nodes are `return None` -> than we must use plain `return`.

@DhirajChauhan40
Something like (untested):

[code]

You can put it here: https://github.com/wemake-services/wemake-python-styleguide/blob/d41d4b9d70dcad0ece5e7ed7320560de58999fcf/wemake_python_styleguide/visitors/ast/keywords.p

[2021-08-29 11:26] DhirajChauhan40 commented on #2151
@sobolevn
thank you so much!!

[2021-08-31 16:43] cdhiraj40 commented on #2151
@sobolevn so i was tryna run the file and I got this error in confest.py inside tests folder
[code]

[2021-08-31 18:53] sobolevn commented on #2151
Are you running pythno3.9?

[2021-09-01 16:36] cdhiraj40 commented on #2151
oh yes installing the 3.9 version solved the error but after that running test cases were giving this error
[code]
sorry if I'm asking a dumb doubt and sorry again for the late reply, I had studies.

[2021-09-01 17:36] cdhiraj40 commented on #2151
yes after installing the 3.9 version, it was working thanks!
sorry for the late reply i had work, i have written the test cases and now im working on the post part.

[2021-09-02 06:00] sobolevn commented on #2151
Can you please open a PR?

[2021-09-02 06:01] cdhiraj40 commented on #2151
yes sure

[2021-09-02 08:56] lxmnk opened #2172 "WPS437 forbids access to private attributes of the same class"
### What's wrong

[code]

When I'm accessing private attribute of the same class, I'm getting a warning:

[code]

### How it should be

This rule should permit access to private attributes of the same class.

### Flake8 version and plugins

{
  "dependencies": [],
  "platform": {
    "python_implementation": "CPython",
    "python_version": "3.9.6",
    "system": "Linux"
  },
  "plugins": [
    {

[2021-09-02 10:34] sobolevn commented on #2172
It would require type inference from our part 😞
Currently it is not possible. Stay tuned for `#typed-linter`

[2021-09-08 13:46] #2151 closed

[2021-09-08 19:24] MadLittleMods commented on #2128
Created https://github.com/python/mypy/issues/11076 to propose it in on the `mypy` side. Also found a bit more discussion there around the original limitation.

In `mypy`, I could find that `Final` was added in https://github.com/python/mypy/pull/5522 which mentions:

In a previous revision of the documentation, it mentioned this example:

[2021-09-14 21:14] sobolevn commented on #1701
Finally! You can now use GitHub Sponsors: github.com/sponsors/wemake-services/

[2021-09-14 23:48] danielboghean commented on #1974
@sobolevn I'm taking a look at this issue and was able to add a new violation and visitor, but I have a few clarifying questions.

Is the intent to disallow any calls to `raise` unless it is from an `except` block? What about an `if` block? Something like
[code]

Are there any other blocks that `raise` should be allow to be called from?

Second, I ran my first implementation of the visitor, and th

[2021-09-15 00:08] sobolevn commented on #1974
Hi, @danielboghean

We only need to forbid bare `raise` without any arguments outside of `except` 🙂

[2021-09-15 00:13] danielboghean commented on #1974
Ah, I understand now, I totally misread the 'bare' except. Thanks for clearing that up, that should help!

[2021-09-15 12:53] #1974 closed

[2021-09-21 05:13] whysage opened #2187 "WPS503 on for ... else with except in loop"
### What's wrong

wps reports a useless else clause after a for, but I don't think the clause is useless

[code]

I got
[code]

### How it should be

I think the for ... else clause here is valid and should not be reported as a violation.

### Flake8 version and plugins

{
  "dependencies": [],
  "platform": {
    "python_implementation": "CPython",
    "python_version": "3.8.10",
    "system": "L

[2021-09-21 05:18] whysage commented on #2187
If it is really a bug, please assign it to me.

[2021-09-21 07:22] sobolevn commented on #2187
Hi, @whysage! Thanks a lot for raising this.

[code]

What I see here:
1. Iterate over all actions
2. Contibue to the next one only if it raises `ValueError`
3. If any action does not raise `ValueError`, `break` and stop
4. If all actions do raise `ValueError`, go to `else` and raise new `ValueError`

Do I understand this correctly?

It looks like a valid case, I don't have any simple alternatives

[2021-09-21 12:10] aleksey-sergey commented on #165
It's a nice package indeed. Added it to one of my projects and it "just worked"!

[2021-09-21 12:10] sobolevn commented on #2187
Yeap 🙂

[2021-09-23 19:59] pawamoy opened #2189 "False positive 434: toggling a boolean"
### What's wrong

The following code triggers a WPS434 violation warning.

[code]

### How it should be

No warning. There's no better way to toggle a boolean.

### Flake8 version and plugins

[code]

### pip information

pip 21.2.4 from /home/pawamoy/.local/lib/python3.8/site-packages/pip (python 3.8)

Not using pip to manage packages.

### OS information

GNU/Linux 5.14.6

[2021-09-23 20:41] sobolevn commented on #2189
Clear bug! Thanks a lot for the report.

Do you want to work on it?

[2021-09-23 20:50] pawamoy commented on #2189
I guess it should be fixed somewhere here: https://github.com/wemake-services/wemake-python-styleguide/blob/de7aedbdd8f72f998033c40b8a9fc1f894f7179b/wemake_python_styleguide/visitors/ast/naming/variables.py#L87

I'll try to do that in the next few days :slightly_smiling_face:
Any additional hint appreciated!

[2021-09-23 21:23] sobolevn commented on #2189
Yes, somewhere there! 👍

[2021-09-24 05:10] aceking007 commented on #1861
Hi! @sobolevn  Can I work on this issue for Hacktoberfest 2021?

[2021-09-24 06:32] sobolevn commented on #1861
@aceking007 sure! Thank you!

[2021-09-24 17:21] whysage opened #2191 "Error in tests fixtures"
### What's wrong

In test fixtures, one variable is rewritten.

tests/test_visitors/test_ast/test_conditions/test_useless_else/test_useless_loop_else.py:28

[code]

and also correct examples from 1 to 4(first 4 :) ) do not contain else, so may be we do not need them. But i'm not sure.

### How it should be

correct_example4 should be assigned once

may be correct_example1 - correct_example4(first

[2021-09-24 17:23] whysage commented on #2191
Please assign issue to me, and advise if we really need  correct_example1 - correct_example4(first one)

[2021-09-24 18:33] #2187 closed

[2021-09-25 07:07] #2191 closed

[2021-09-25 08:33] sobolevn opened #2193 "`recommonmark` is deprecated"
https://github.com/readthedocs/recommonmark#recommonmark

We should switch to `myst`: https://github.com/executablebooks/MyST-Parser

[2021-09-25 18:56] ShehanAT commented on #2193
Hi @sobolevn can I work on this issue?

[2021-09-26 08:15] sobolevn commented on #2193
We are going to use deprecate parser, `myst` just does not work for us:
1. It cannot include `md` files with `html` in it
2. It raises lots of errors for our `md` formatting: it requires empty lines in random positions: `Definition list ends without a blank line; unexpected unindent.`
3. It cannot parse our valid `CONTRIBUTING.md` markup
4. It raises strange `Inline literal start-string without en

[2021-09-26 08:15] #2193 closed

[2021-09-26 08:17] sobolevn opened #2195 "We use `wemake_python_styleguide.options.defaults.FORBIDDEN_NOQA` when we should use `wemake_python_styleguide.options.defaults.FORBIDDEN_INLINE_IGNORE`"
### What's wrong

Our docs is wrong, we need to update `wemake_python_styleguide/options/config.py`
The incorrect default is in `forbidden-inline-ignore` option

[2021-09-26 08:55] DireWolf707 commented on #2195
Hye, I am new to open source and want to contribute to this issue for hacktoberfest.
So, can you assign this issue to me?

[2021-09-26 09:59] sobolevn commented on #2195
Sure! Thanks!

[2021-09-27 18:55] aceking007 commented on #1861
I'll get to work:
- [ ] fix python => Python
- [ ] Describe why "strict" is cool
- [ ] Add examples to readme

[2021-09-30 16:28] Sxderp commented on #2026
Doesn't this create an extra generator?
[code]

In many contexts generators are /slow/. In some they're only a little slower than a list, but in others (like when you need length) they're way slower. I'd argue that replacing the generator with a list is also valid.

[code]

You /can/ break this out into two steps and the linter is happy with it. I don't know. seems a bit excessive.
[code]

[2021-09-30 16:31] Sxderp opened #2202 "false positive in wps361 , inconsistently structured comprehension"
### What's wrong

I'm not sure why this would be invalid.

[code]

### How it should be

I'd like my comprehension to work?

### Flake8 version and plugins

{
  "dependencies": [],
  "platform": {
    "python_implementation": "CPython",
    "python_version": "3.6.8",
    "system": "Linux"
  },
  "plugins": [
    {
      "is_local": false,
      "plugin": "flake8-bandit",
      "version": "2.1.2"

[2021-09-30 17:27] sobolevn commented on #2202
Thanks for the report!

[2021-10-01 15:14] lensvol commented on #2189
If this is not taken already, I would like to work on it.

[2021-10-01 15:39] pawamoy commented on #2189
Not taken :slightly_smiling_face:

[2021-10-01 17:02] sobolevn commented on #2189
@lensvol awesome! I was hoping I will return for another hactoberest season! This is a good tradition! 😊

[2021-10-02 04:36] aceking007 commented on #1861
Hey @sobolevn, how many examples should I add to the readme?

[2021-10-02 13:12] #1861 closed

[2021-10-03 05:11] singhaditya28 commented on #2133
Hi, I am an aspiring Hacktoberfest newbie. Can I take on this? and is this eligible for hacktoberfest ?

[2021-10-03 06:09] sobolevn commented on #2133
@singhaditya28 yes, sure! Thank you!

[2021-10-03 08:31] singhaditya28 commented on #2195
@sobolevn is the pr correct? or can i take this too?

[2021-10-03 08:37] singhaditya28 commented on #2189
@pawamoy Can you please tell me what is type(in_code_block) . Is it <class 'bool'>?

[2021-10-03 08:58] singhaditya28 opened #2204 "Typos & Grammar Fixes in changelog"
I am a newbie in Hacktoberfest so starting with this. Please assign it to me and add the label. I would also be looking into other code related issues

[2021-10-03 09:02] DireWolf707 commented on #2195
@singhaditya28 I am an active contributor and will make suggested changes further if any are required to my PR :)

[2021-10-03 09:23] singhaditya28 commented on #2204
Please don't merge it without adding the label. Looking Forward to work more!

[2021-10-03 10:27] pawamoy commented on #2189
It is a boolean indeed!

[2021-10-03 11:10] karlmarx commented on #1245
I would like to work on this please.

[2021-10-03 17:15] #2195 closed

[2021-10-03 17:16] sobolevn commented on #2195
Thanks a lot, @DireWolf707 for the fix! And @singhaditya28 for the ping! 🙂

[2021-10-03 17:30] #2204 closed

[2021-10-03 17:34] #2189 closed

[2021-10-03 17:36] sobolevn commented on #1245
@karlmarx awesome! Thanks!

[2021-10-03 18:06] lensvol commented on #1825
If this is not taken by anybody, can I take it over?

[2021-10-04 06:16] orsinium commented on #1825
Sure, go on :)

[2021-10-04 17:40] 0anton opened #2209 "Add exception to WPS226 to allow commas and dots"
# Rule request

I suggest adding comma `,` and dot `.` to the list of allowed exceptions for WPS226

## Thesis

Forcing defining a constant for dot and comma strings worsen the code readability without need.

## Reasoning

It is a [classical](https://realpython.com/python-string-split-concatenate-join/#going-from-a-list-to-a-string-in-python-with-join) pattern to build a sentence with the code lik

[2021-10-04 17:52] sobolevn commented on #2209
@0anton do you want to send a PR with the fix? 🙂

[2021-10-05 08:11] 0anton commented on #2209
Yes, sure! Just give me a couple of days for that.

On Mon 4. Oct 2021 at 19:53, Nikita Sobolev ***@***.***>
wrote:

[2021-10-07 07:48] orsinium commented on #1904
Sure! Go on :)

[2021-10-08 22:48] lensvol commented on #1980
Can I take this?

[2021-10-09 07:12] sobolevn commented on #1904
Yeap, should be closed: https://github.com/wemake-services/wemake-python-styleguide/blob/a404bc01a304fe7dfc70389e55696f0d1cc68ce0/wemake_python_styleguide/violations/consistency.py#L1222

Thanks!

[2021-10-09 07:12] #1904 closed

[2021-10-09 08:10] thepabloaguilar commented on #634
I've started with WPS, I scraped its documentation and exported a JSON file. My idea is to build an "index" with all the codes, many scrapers one for each plugin! I think it's worth since people doesn't change the documentation structure a lot (maybe never).

If you want to see the initial format:
[code]

Btw, WPS has __234__ checks!

[2021-10-09 08:17] sobolevn commented on #634
This might help you as well https://flake8.codes/

[2021-10-10 07:51] sobolevn commented on #1754
For example, this is fine:

[code]

This is not (but will work the same way):

[code]

Source: https://pydantic-docs.helpmanual.io/usage/model_config/

[2021-10-10 10:32] lensvol commented on #2064
Is this issue still being worked on? Can I take it over if it's not?

[2021-10-10 10:42] sobolevn commented on #2064
We have an unofficial policy to reassign tasks after a ling period of inactivity.

Thanks a lot to everyone who wanted to help! I appreciate it ❤️

[2021-10-11 19:49] sobolevn commented on #2064
Oups, sorry! I've totally missed it (because it was not linked to this issue).
This PR is merged: https://github.com/wemake-services/wemake-python-styleguide/pull/2220

[2021-10-11 19:49] #2064 closed

[2021-10-14 11:14] TaridaGeorge opened #2224 "What's the reasoning of WPS613"
### What's wrong

As I understand, WPS613 says that given a method called "methodA" in a child class, in this methodA there should be no calls to other methods from the parent class rather than "methodA". So for example, as WPS613 says, doing this:

[code]
would be incorrect.
I was wondering about the reasoning behind this. Why is this considered to be a bad practice?

[2021-10-16 14:24] TaridaGeorge commented on #2224
`implies that we call supertype's methodB directly ignoring our own methodB`
ignoring our **own** methodB? The methodB is defined only in the super class and it's logic is useful in multiple child classes.

This is how my classes are:

[code]

I can understand why this could be a code smell. In Java, for example, the super keyword can be used only on the first line of a method's body.

What's the

[2021-10-16 21:06] TaridaGeorge commented on #2224
Got it! Thank you!

[2021-10-16 21:06] #2224 closed

[2021-10-17 21:44] Dreamsorcerer opened #2227 "raw strings with regular expressions"
### What's wrong

https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.html#wemake_python_styleguide.violations.consistency.RawStringNotNeededViolation

This forbids using raw strings if there is no backslash. However, it is very easy to make a mistake when using strings for regular expressions.

I would suggest instead, that all strings used in a regular expression (in t

[2021-10-22 18:01] Dresdn opened #2228 "Allow hasattr() function"
### What's wrong

WPS421 forbids calling some built-in functions, which includes `hasattr()`.

### How it should be

The function `hasattr()` should be allowed. There are certain scenarios where using `hasattr()` makes sense, and sometimes is even faster (as even outlined in the [referenced video](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/best_practices.html#wemake_python_

[2021-10-25 00:49] vnmabus commented on #1344
I would say that order comparisons should be allowed. How do you tell that one of the operand does not already correspond to an absolute value or a distance, and that small epsilons are not important?

At the very least, they should be independent checks, so that one could disable comparisons and still have warnings for equality checks.

[2021-10-26 08:18] pomcho555 opened #2230 "False positive I004 isort found an unexpected blank line in imports"
### What's wrong

My lines.
[code]

Reviewdog on GitHub actions say `False positive I004 isort found an unexpected blank line in imports`

However, if I run isort and flake8-isort on the same content on my local environment, I get no errors as expected.

#### Githubactions
- wemake-services/wemake-python-styleguide@0.15.3

#### Local
- flake8: 4.0.1 (flake8_isort: 4.1.1, mccabe: 0.6.1, pycodestyle

[2021-10-26 09:30] #2230 closed, assigned to nobody

[2021-10-30 00:03] ma-sadeghi opened #2239 "Only show recommendations for files changed in a PR"
Is there a way to force the wemake-python-styleguide action to show recommendation only for those files that have been changed in the PR? Currently, the action log shows recommendations for the entire repo.

[2021-10-30 05:52] sobolevn commented on #2239
I guess that it can be done via https://github.com/reviewdog/reviewdog#filter-mode
We can also support this as a parameter to our action.

Contributions are welcome!

Ping to @mgrachev

[2021-11-01 16:59] sobolevn opened #2241 "Detect the same `if` conditions"
Today I saw this code:

[code]

The thing is that `isinstance(x, int)` is duplicated. And the second branch won't ever be called.

We need to detecct this kind of problems and report them.

[2021-11-11 11:31] ariebovenberg commented on #1778
Also a frequent violation in typing stubs: WPS112:

[code]

[code]

However, this is the _only endorsed_ way to define positional-only arguments according to mypy docs (at least pre-python 3.8). [link](https://mypy.readthedocs.io/en/stable/protocols.html#callback-protocols)

[2021-11-12 12:51] dreamflasher opened #2252 "Forbid `print` statements"
# Rule request

In our code we want to completely forbid `print` statements and thus enforce usage of logging.

## Reasoning

We are opinionated that `print` statements are bad code quality.

Is there a way to achieve this with WPS or any plugins?

[2021-11-12 12:54] dreamflasher commented on #2252
Ah excellent you agree on this one: https://wemake-python-stylegui.de/en/latest/pages/api/constants.html#wemake_python_styleguide.constants.FUNCTIONS_BLACKLIST

[2021-11-12 12:54] #2252 closed

[2021-11-13 09:50] dreamflasher opened #2253 "Provide Flake8 4 support"
### What's wrong

`wemake-python-styleguide 0.15.3 requires flake8<4.0,>=3.7, but you have flake8 4.0.1 which is incompatible.`

### How it should be

Support flake8 4 and higher

### Flake8 version and plugins

[code]

### pip information

`pip 21.3.1`

pip freeze is a bit too much, how about you go for more specific packages you care about?

### OS information

Ubuntu 20 LTS

[2021-11-13 10:06] sobolevn commented on #2253
@dreamflasher can you please try to bump it? What would happen?

[2021-11-13 10:14] dreamflasher commented on #2253
Unfortunately, I can't find the version constraint. I looked into poetry.lock and pyproject.toml. Where are those defined?
I'd assume it just works, because it works even if I have conflicting packages (and flake8 4).

[2021-11-13 10:20] sobolevn commented on #2253
https://github.com/wemake-services/wemake-python-styleguide/blob/master/pyproject.toml#L58

[2021-11-13 10:22] dreamflasher commented on #2253
The line you are pointing at states `flake8 = "^3.7"`. There is no upper bound to 4.0.

[2021-11-13 10:23] sobolevn commented on #2253
We can change that to `>=3.7,<5` 🙂

[2021-11-13 10:26] dreamflasher commented on #2253
Ah, I wasn't aware that poetry does automatic version constraining.

[2021-11-13 13:42] #2253 closed

[2021-11-19 00:27] Dreamsorcerer commented on #2241
Isn't this a case for mypy? It should warn that the 3rd statement is unreachable (if you've enabled that option).

[2021-11-19 08:37] sobolevn commented on #2241
Yes, mypy can catch some cases. But, not this one for example:

[code]

[2021-11-19 20:46] dreamflasher commented on #2253
@sobolevn May I kindly ask for a new release of wemake? We'd love to see this change being integrated in a release, currently wemake is creating build conflicts (we need flake8 4), and I would love to convince my team of wemake! :)

[2021-11-19 21:09] sobolevn commented on #2253
@dreamflasher yes! Thanks for the reminder!

I will release it before the dec.

[2021-11-19 21:34] dreamflasher commented on #2253
Amazing, thank you so much!

[2021-11-22 14:32] Denis-Alexeev opened #2263 "ValueError: <ast.If object at 0x10e922d40> is not in list"
### What's wrong

I get  0:   1 WPS000 Internal error happened, see log. Please, take some time to report it

Minimum reporducible example:
[code]

[code]

Also it is reproducible in python 3.9

### How it should be

Internal error shouldn't be

### Flake8 version and plugins

{
  "dependencies": [],
  "platform": {
    "python_implementation": "CPython",
    "python_version": "3.10.0",
    "syste

[2021-11-22 14:57] Denis-Alexeev commented on #2263
Yep. It does not happen if lib is installed as
`pip install git+https://github.com/wemake-services/wemake-python-styleguide.git@master`
I assume it can be closed then.

[2021-11-22 14:58] sobolevn commented on #2263
Thanks!

[2021-11-22 14:58] #2263 closed

[2021-11-23 11:12] dreamflasher opened #2265 "Option to promote info level to warning level"
This is not a rule request, but a feature request.

## Thesis

For example B006 has info level ("Do not use mutable data structures for argument defaults"), and we would like to have it warning level. We'd actually be fine to promote all info messages to warning level (they are good!).

## Reasoning
People have different opinions about which violations they find important enough to consider.

[2021-11-23 13:36] sobolevn commented on #2265
Hi! Thanks for the idea!

But, looks like there's nothing we can do here. We rely on `flake8` to report all errors for us.
And it does not support warnings.

So, you can try to suggest this feature on their repo.

[2021-11-23 13:36] #2265 closed

[2021-11-23 13:48] dreamflasher commented on #2265
Don't you determine the severity level? I get errors, warnings and info level severities from wemake.

[2021-11-23 13:51] sobolevn commented on #2265
😨 No

Can you please show me your output?

[2021-11-23 14:00] dreamflasher commented on #2265
It appears to be a VS Code thing. Nothing from the command line flake8 output shows any categories. I wonder how VS Code decides this…

[2021-11-27 14:55] ariebovenberg opened #2268 "Additional allowed magic attributes; consider 'blocklist' over 'allowlist' approach (WPS609)"
I'd like to suggest some exceptions to rule WPS609 (disallow accessing magic attributes/methods):
- `__bases__` (the base classes of a class)
- `__path__` (present in Python packages)
- `__dict__` (present in all non-slots classes)
- `__module__` (present on all Python classes, functions)

These methods are part of established Python standards and are explicitly documented as being readable (and s

[2021-11-28 15:27] ariebovenberg commented on #2268
@sobolevn I'm happy you gave your blessing to add extra allowed attributes(https://github.com/dry-python/returns/pull/1147#pullrequestreview-817210189) 🙏 . How do you feel about maintaining a list of 'forbidden attributes' instead of a list of 'allowed' ones? Valid ones are easily missed, while we can find all 'forbidden' ones [here](https://docs.python.org/3/reference/datamodel.html).

[2021-11-28 20:30] sobolevn commented on #2268
Yes, this actually looks like a great idea! Because there might be extra magic attributes that are exposed as 1-party API members. This seems like being too strict for no valid reason.

We can safe forbig all magic methods that have other ways to be called. Possibly, some extra ones.

Thanks a lot for another great feature request! 👍

[2021-11-30 15:16] sobolevn opened #2276 "flake8-commas no longer maintained"
We need to fork [flake8-commas](https://github.com/PyCQA/flake8-commas) because it is not maintained anymore.

[2021-11-30 15:17] orsinium opened #2277 "flake8-commas is archived"
# Rule request

## Thesis

Flake8-commas, which is in the dependency list of WPS, is archived. Should it be re-implemented on the WPS side? The plugin has MIT license.

## Reasoning

[Why you should enforce Dangling Commas for Multiline Statements](https://medium.com/@nikgraf/why-you-should-enforce-dangling-commas-for-multiline-statements-d034c98e36f8). Also, Python has implicit string concatenati

[2021-11-30 15:17] orsinium commented on #2277
Duplicate of #2276

[2021-11-30 15:17] #2277 closed

[2021-11-30 15:26] sobolevn commented on #2241
This is a different issue, I guess 🙂
We can detect similar conditions that go as the next statement.

[2021-12-02 22:22] #2268 closed

[2021-12-10 21:45] webknjaz opened #2287 "Document `darglint`'s performance issues"
### What's wrong

While integrating WPS into yet another project, I've hit a case where it caused flake8 to run for over 11 minutes on a relatively performant laptop. Having not seen this before, it was a bit challenging to figure out the cause but I've armed myself with py-spy, and after an hour of staring at the terminal and helpful visualizations, I've discovered that some of the `darglint`'s s

[2021-12-11 09:44] sobolevn commented on #2287
Oh wow, thanks a lot for the report! I hope that this can be fixed on `darglint`'s side.

[2021-12-11 13:36] cidrblock opened #2288 "[RFE] Include actual WPS code in docs"
New to wemake here, great stuff.

I noticed that if I google WPS326 no good results are found, I suspect this is because in the docs, only '326' can be found.

I don't know if it's possible, but including a WPS326 somewhere might make it easier to go directly from the error I'm seeing to the docs where it is described if the WPSXXX code got picked up by a search engine.

It could go inline or even

[2021-12-11 13:40] sobolevn commented on #2288
Thanks a lot! I think that we can do that.

[2021-12-11 14:38] webknjaz commented on #2288
I think it's possible to add per-document metadata for HTML keywords in RST. If this is generated from docstrings, this could go into the module-level one.

[2021-12-11 17:29] webknjaz commented on #2287
I hope so too but that project is in maintenance mode and unless people who use the affected styles contribute, it'll take time. This is why I propose to mark this as `good first issue` and let somebody contribute a small docs note pointing at these issues.

[2021-12-13 16:09] webknjaz commented on #2253
`^` is Poetry's way of implementing `~=` IIRC. So `~= 3.7` is equivalent to `>= 3.7, < 4.0`, which should be the same as `^ 3.7` in Poetry. In general, it seems to promote the ideas from npmjs and rust ecosystems assuming that every project in the world follows SemVer (which is not always the case but is true for flake8 — https://flake8.pycqa.org/en/latest/internal/releases.html#releasing-flake8).

[2021-12-13 16:25] webknjaz commented on #2253
Dec started 13 days ago FYI.

[2021-12-13 16:55] #1009 closed

[2021-12-13 17:16] #2209 closed

[2021-12-13 20:15] #1731 closed

[2021-12-13 20:16] #1274 closed

[2021-12-15 19:26] edmondo1984 opened #2298 "Cannot make autopep8 and wemake-python-styleguide agree on formatting"
### What's wrong

Files formatted via autopep8 trigger a violation to wemake-python-styleguide:

./tests/test_config_factory.py:7:38: WPS318 Found extra indentation
./tests/test_config_factory.py:7:61: WPS319 Found bracket in wrong position

[code]

The offending problem seems to be table_1 tabbing and the last bracket

### How it should be

I should either be able to configure autopep8 to respect

[2021-12-15 20:10] sobolevn commented on #2298
Will

[code]

work? 🤔

[2021-12-16 15:32] Clemens-Kialo opened #2301 "WPS472 only detecting one pure variable assignment"
### What's wrong

WPS472 detects `name, *_ = get_address()`.
When it comes to slightly more complex value assignments, it does not work:
1. `names[0], *_ = get_address()`
2. `self.name, *_ = get_address()`
3. `(name, street), *_ = get_address()`

Also when extracting a second (or more values) the detection fails:
1. `name, street, *_ = get_address()`
2. `name, _, city, *_ = get_address()`
3. `name

[2021-12-16 16:51] thecnoNSMB opened #2302 "Forbid implicit slice"
# Rule request

Forbid looping constructs over indexes that are equivalent to slice operations.

## Thesis

I recently encountered a point in my code where I was using a comprehension to iterate over a `range` to index into a list. Here is a basic example that currently passes all checks:

[code]

A trickier example closer to what I found:

[code]
## Reasoning

These are redundant, probably slower

[2021-12-17 19:08] edmondo1984 commented on #36
Is there a reason why using __all__ is discouraged?

[2021-12-17 19:10] edmondo1984 commented on #2298
That would solve one of the two problems, but how do you get autoPEP 8 to format file according to that? I am getting WPS319 WPS318 violations everywhere autopep8  :(

[2021-12-17 19:18] sobolevn commented on #36
@edmondo1984 because it is basically used together with `import *`, which is not allowed.
We also ask people to use `_protected` convention over managing public / protected via `__all__`. So, it is not useful at all in our case.

[2021-12-17 19:18] sobolevn commented on #36
If you find that docs do not explain this, please, feel free to send a PR 🙂

[2021-12-17 19:28] sobolevn commented on #2298
Sorry, I don't personally use `autopep8` or any other code formatters, but here's what we do:
1. We test that all valid WPS code is valid `autopep8` code: https://github.com/wemake-services/wemake-python-styleguide/blob/master/Makefile#L7
2. I've manually tried to run it on our codebase (it is pretty large), it had nothing to fix

Maybe `autopep8` has some extra options to configure? 🤔

[2021-12-17 21:19] edmondo1984 commented on #2298
@sobolevn thanks, can you share with me your pyproject.toml section ?

[code]

[2021-12-17 21:21] edmondo1984 commented on #36
How do you expose the public api of a package?

`
`

[2021-12-17 21:40] sobolevn commented on #36
[code]

so, this would be compatible with `mypy`'s `implicit_reexport` rule.

[2021-12-17 22:10] sobolevn commented on #2298
We don't use any https://github.com/wemake-services/wemake-python-styleguide/blob/master/setup.cfg

[2021-12-18 10:03] edmondo1984 commented on #2298
Do you format the code manually?

[2021-12-18 10:38] sobolevn commented on #2298
Let's put it the other way: I don't like any tools that change my code 🙂

[2021-12-19 19:08] edmondo1984 commented on #36
This fails with complaints :

  3:1      WPS113 Found same alias import: read_file
  4:1      F401  '. reader. read_file' imported but unused

[2021-12-19 21:28] sobolevn commented on #36
Yes, you can disable `WPS113` per all `__init__.py` files or per line.

[2021-12-21 11:52] bergerx commented on #2288
I came here to create this issue to find it was created ten days ago 👍 .

The suggestion would be helpful if the search engine results for a violation code in google take me to the immediate section of the violation doc.

Currently, developers usually search the violation code in their favorite search engine, end up in a GitHub issue, trying to figure out their problem from there. I quite often tr

[2021-12-21 12:04] sobolevn commented on #2288
I have also mention other projects that do kinda similar things:
- https://flake.ale.sh/WPS332
- https://flake8.codes/WPS226

I think the proper solution to this problem would be:
1. Adding custom `sphinx` plugin to inject proper "WPS" code to final docs. Somewhere at the top of docs. Like this:
<img width="1280" alt="Снимок экрана 2021-12-21 в 14 59 39" src="https://user-images.githubusercontent.

[2021-12-26 14:54] sobolevn opened #2310 "Do not allow `super()` without parameters in generator expressions"
This bug: https://bugs.python.org/issue46175

We need to require `super(cls, self)` in this case.

[2022-01-03 13:16] nasdev-cmd commented on #2310
Hi ! I would like to work on this issue :)

[2022-01-03 13:39] sobolevn commented on #2310
@nasdev-cmd thank you!

[2022-01-07 11:27] sathieu commented on #2151
How should I write the following code without noqa?

[code]

This function is overriden in child classes.

See https://gitlab.com/gitlabracadabra/gitlabracadabra/-/merge_requests/233

[2022-01-07 12:07] sobolevn commented on #2151
[code]

🙂

[2022-01-07 12:15] sathieu commented on #2151
@sobolevn Now I have:
[code]

[2022-01-07 12:35] sobolevn commented on #2151
Hm, can you please open a new bug? Looks like when we have `Returns:` spec, we have a false positive.

[2022-01-07 13:39] sathieu opened #2323 "Allow to return None without noqa"
### What's wrong

How should I write the following code without noqa?

[code]

This function is overriden in child classes.

I tried using `return` (without `None`). But mypy fails with:
[code]

I tried without the return line:
[code]

See https://gitlab.com/gitlabracadabra/gitlabracadabra/-/merge_requests/233

### How it should be

A way to write this code with both flake8 and mypy being happy, a

[2022-01-07 13:39] sathieu commented on #2151
@sobolevn I created https://github.com/wemake-services/wemake-python-styleguide/issues/2323.

[2022-01-10 18:01] dreamflasher opened #2326 "Check for unused function arguments"
# Rule request

## Thesis

Check for unused function arguments. See:
https://pypi.org/project/flake8-unused-arguments/
With the following settings:
* don't show warnings for abstract functions
* don't show warnings for empty functions
* don't show warnings for unused *args and **kwargs

## Reasoning

It's in most cases a forgotten argument, Pylance detects this, similar reasoning as with unused va

[2022-01-10 18:40] dreamflasher opened #2327 "Forbid tuples without parenthesis"
# Rule request

## Thesis
[code]

## Reasoning

It shocked me to learn that in Python tuples are defined by commas and not parenthesis. This rule request will find a very likely bug that is `a = 1,`, a one element tuple. Also it improves readability.

[2022-01-10 19:19] sobolevn commented on #2327
Good one! But, this is hard to do right now. Due to how AST works.

[2022-01-10 19:31] dreamflasher commented on #2327
Interesting! Could you elaborate?

[2022-01-10 19:41] sobolevn commented on #2327
The AST is identical for these two cases:

[code]

So you either need:
- CST (unstable)
- Token-based solution (really hard to do)

[2022-01-11 06:18] dreamflasher commented on #2327
Thank you! There is https://pypi.org/project/flake8-tuple/

[2022-01-11 08:26] sobolevn commented on #2327
Yes, it is using tokens: https://github.com/ar4s/flake8_tuple/blob/3d706b0f4ae6a7dda516677031af86a2b72b19c8/flake8_tuple.py#L102-L124

[2022-01-19 07:48] cruisen commented on #2276
However, as said in https://github.com/PyCQA/flake8-commas#flake8-extension-to-enforce-better-comma-placement:

So from my point of view, we are keeping sort of a redundancy here. And hence, what is the motivation to do so?

---
See also: https://github.com/DmytroLitvinov/awesome-flake8-extensions/issues/81#issuecomment-1016167528:

[2022-01-19 07:53] sobolevn commented on #2276
Not all people use `black` 🙂
For example, I don't use it. But I still want my CI to catch this.

[2022-01-20 07:21] sobolevn opened #2335 "Take a closer look at perflint"
https://github.com/tonybaloney/perflint

It might contain some great ideas that we can port to flake8's world.

[2022-01-22 19:35] cruisen commented on #2276
Ok, point taken.

[2022-01-26 12:46] dreamflasher commented on #2326
@sobolevn what do you think about this?

[2022-01-26 12:51] dreamflasher opened #2338 "Forbid local variables that are referenced only once"
# Rule request

## Thesis

Instead of:

[code]

do

[code]

## Reasoning
My opinion is that the added variable adds unnecessary complexity. But I could also see the argument that if the variable is named well it is part of the documentation/make the code better understandible. What are your thoughts?

[2022-01-26 18:30] sobolevn commented on #2338
Thanks a lot for the idea!

But, I belive that this is the opposite of what I recommend. Why?
1. Extra names add extra context, it is better for readability
2. Sometimes you have to split complex expressions into simplier ones and add intermediate variables. This allows us to keep exression complexity at min
3. This might contains lots of corner cases and false positives

I am going to close this

[2022-01-26 18:30] #2338 closed

[2022-01-26 18:33] dreamflasher commented on #2338
Thank you for your feedback. This makes sense.

[2022-01-26 23:01] kitsiosvas commented on #2310
Hello, is this issue still open?
If so, I would appreciate it greatly if I could provided with the information of where is the code linked to this behavior located.

[2022-01-27 06:50] sobolevn commented on #2310
@kitsiosvas I think that we can add this check here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/classes.py

Are you familiar with python's AST?

[2022-01-27 11:55] kitsiosvas commented on #2310
@sobolevn I am somewhat familiar with AST indeed. Are there any other similar checks that I could consult?
I've been studying the code you included in your previous message to understand what exactly I will need to implement.
Thank you.

[2022-01-27 12:59] sobolevn commented on #2326
Hi! Thanks for raising this!

Context: https://github.com/wemake-services/wemake-python-styleguide/issues/317

So, why did I revert this? Because argument names are a part of a function signature.
Consider this example:

[code]

Now, we change it to be `def some(x, _y)` to follow our rule (or even `def some(x)`). But, with this change `some(x=1, y=2)` won't work! I know that in this example it wil

[2022-01-27 12:59] #2326 closed

[2022-01-27 13:30] kitsiosvas commented on #2310
If I understand it correctly, I need to somehow check if super() exists as a node with parent a generator expression and it's kids
are not in the form you have pointed out initially (super(cls, self)).
I don't know if I am missing something. Any input is more than welcome.

[2022-01-27 13:35] sobolevn commented on #2310
Yes, sounds right!

If `super` call:
- is inside a gen expr
- and does not have two args

We raise a violation.

[2022-01-27 14:16] sobolevn commented on #2310
I would go this way:
1. Find `ast.Call` nodes, check name to be `super`
2. Check args count (it is fast and cheap)
3. Then `get_closest_parent(call, ast.GeneratorExpr)`

[2022-01-27 15:36] kitsiosvas commented on #2310
In order to get the node's name I would have to use `given_function_called(node, to_check: Container[str])` method.
What would I use as Container in this case. I couldn't find anything clear on this. Or maybe there is another way of getting the name of the node?

[2022-01-27 15:37] sobolevn commented on #2310
`given_function_called`(node, {'super'})`

[2022-01-27 17:02] kitsiosvas commented on #2310
I have implemented the feature. Should I issue a Pull Request for review?

[2022-01-27 17:53] sobolevn commented on #2310
Please! 👍

[2022-01-27 20:02] kitsiosvas commented on #2310
According to the "Raise a violation" part, I tried doing something similar to the comment https://github.com/wemake-services/wemake-python-styleguide/issues/2310#issuecomment-1023135723 , but it raises errors apparently. I couldn't figure out what is the proper way of achieving this, so far. Will keep searching, but any help is amazing.
Thank you.

[2022-01-28 06:42] sobolevn opened #2340 "Detect leaking `for` loops in `ClassDef` and `Module`"
Right now we can have two problems:

[code]

and with modules:

[code]

This is not users want in 99.9% of cases. There are other - functional - solutions which don't leave extra vars in the scope.

Moreover, `for` is already forbidden in class bodies.

[2022-01-28 07:20] orsinium opened #2341 "AttributeError: 'Raise' object has no attribute 'value'"
### What's wrong

[code]

### How it should be

--

### Flake8 version and plugins

[code]

### pip information

[code]

### OS information

Linux rock 5.4.0-91-generic #102-Ubuntu SMP Fri Nov 5 16:31:28 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2022-01-28 07:41] sobolevn commented on #2341
@orsinium can you please also show a code sample to reproduce this? 🤔

[2022-01-28 08:21] orsinium commented on #2341
I'll try. I was running it on the whole site-packages by accident when it happened, it's something there 👀

[2022-01-28 08:46] orsinium commented on #2341
Here you go:
https://github.com/pypa/pip/blob/main/src/pip/_internal/utils/subprocess.py

[2022-01-28 08:49] sobolevn commented on #2341
Thanks!

[2022-01-29 09:23] #2341 closed

[2022-01-29 15:11] sobolevn commented on #2301
Thanks! @Clemens-Kialo I hope to fix it in `0.16.1`

[2022-01-29 15:18] sobolevn commented on #2228
I confirm that this no longer produce unexpected result:

[code]

`x` is not evaluated, when `x` is a `@property`.

But, when `x` is a descriptor it still does this ugly thing:

[code]

Why is that important? Because semantically `hasattr` is not very expected to run this code.
But, `getattr` has clear semantics: get me this argument and run all the machinery ⚙️ 🔥

So, I am still not completely so

[2022-01-30 21:11] sobolevn commented on #2301
Just to clarify, cases like `name, street, *_ = get_address()` are ok, because we only forbid getting first and last items implicitly.

[2022-01-30 21:15] sobolevn commented on #2227
It is hard for us to detect all possible `re.compile` functions at the moment. This is probably a task for `typed-linter`.

[2022-01-30 21:15] #2227 closed

[2022-01-30 21:15] #2128 closed

[2022-01-30 21:16] #2298 closed

[2022-01-30 21:22] sobolevn commented on #2323
So, I've got back to this! Sorry for the late response.

I cannot reproduce this at all:

[code]

This code is perfectly fine:
1. `flake8 ex.py --isolated --strictness=long --docstring-style=numpy` passes
2. `mypy ex.py` also passes with the config we have in this repo

I am going to close this as non-repro. Please, feel free to reopen if you have a working reporduction 🙂

[2022-01-30 21:22] #2323 closed

[2022-01-30 21:22] #2301 closed

[2022-01-30 22:52] Dreamsorcerer commented on #2227
Sounds interesting, how much will this overlap with or replace wemake-python-styleguide?

[2022-01-31 02:20] Dresdn commented on #2228
These are good points. However, `getattr` outputs `wow` just like `hasattr` does. By that logic, `getattr` should be added to the [FUNCTIONS_BLACKLIST](https://wemake-python-stylegui.de/en/latest/pages/api/constants.html#wemake_python_styleguide.constants.FUNCTIONS_BLACKLIST) as well then, yes?

To be clear, I don't advocate blacklisting `getattr` as there are semantic and performance reasons for

[2022-01-31 05:46] sobolevn commented on #2227
It is a good companion, I am working on it for quite some time now. There are still big problems which I am unable to solve though 🤔

[2022-01-31 08:44] sathieu commented on #2323
@sobolevn I can reproduce with:

[code]

[code]

NB: Using [tox.ini](https://gitlab.com/gitlabracadabra/gitlabracadabra/-/blob/fb037fc68d6ce0d8395886b036147da9a93b5cc6/tox.ini).

[2022-01-31 08:58] sobolevn commented on #2323
@sathieu try adding `--strictness=long --docstring-style=numpy` 🙂

[2022-01-31 10:12] sathieu commented on #2323
@sobolevn This removes the warnings, but only because it's less strict (see https://github.com/terrencepreilly/darglint#strictness-configuration).

Also, my intention is `return None` (and not `return` or no return at all), the description of the method says `If None, uploaded as body`.

I'll keep the noqa for now, without it I would get:

[code]
[code]

[2022-02-09 00:42] thatbirdguythatuknownot commented on #32
Even though this is closed, I want to reply to this:
There are *many* things in Python that has more than one obvious way to do. You're telling me that you're picking on this one feature that was recently added?

[2022-02-09 05:43] sobolevn commented on #32
No, we also try to forbid all other things 🙂

[2022-02-09 05:55] thatbirdguythatuknownot commented on #32
O.K. then.

[2022-02-26 14:43] dreamflasher opened #2362 "WPS204: Overused expression should not count -1"
### What's wrong

WPS complains about -1 being used to often as overused expression. Example: `position = (0, -1)`

### How it should be

No violation should be raised.

See https://github.com/wemake-services/wemake-python-styleguide/issues/1753

### Flake8 version and plugins

{
  "dependencies": [],
  "platform": {
    "python_implementation": "CPython",
    "python_version": "3.9.10",
    "syst

[2022-02-26 18:03] sobolevn commented on #2362
Totally! Would you like to send a PR? 🙂

[2022-02-28 12:38] dreamflasher commented on #2362
I looked at it, and it looks doable. The easy solution would be to exclude -1 here: https://github.com/wemake-services/wemake-python-styleguide/pull/1766

This explicitely names -1 as something that should be named: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/logic/complexity/overuses.py#L105 – but I don't think so. We often use -1 for indexing

[2022-03-11 14:03] SweetVishnya opened #2369 "Broken GitHub Actions"
### What's wrong

Hi!

I am using your GitHub Actions plugin:

[code]

And it seems to be broken:

[code]

### How it should be

It should work in GitHub CI

### Flake8 version and plugins

[code]

### pip information

[code]

### OS information

GitHub Actions

[2022-03-11 17:32] sobolevn commented on #2369
Thanks for the report.

See https://github.com/wemake-services/wemake-python-styleguide/pull/2368 for the solution.

[2022-03-11 17:32] #2369 closed

[2022-03-11 17:37] SweetVishnya commented on #2369
And how can I use latest master in GitHub Actions?

[2022-03-11 17:44] sobolevn commented on #2369
[code]

🙂

I am releasing `0.16.1` right now.

[2022-03-13 17:50] akshaybhadange commented on #2310
does this issue still exists , I want to contribute in this project , actually its my first opensource contribution , so any help regarding this really appreciated

[2022-03-18 14:09] notpushkin opened #2374 "Violation shortlinks in the formatter"
I've set up a short URL for violations at https://pyflak.es/. It works like this:

- for WPS violations, it links to the specific violation in the WPS docs: https://pyflak.es/WPS235
- for violations present on Grant McConnaughey's [Flake8 Rules][1], it links to the respective page: https://pyflak.es/E117
- for other violations, it links back to the respective Flake8 plugin docs: https://pyflak.es/

[2022-03-19 17:38] sobolevn commented on #2374
Totally! PR is welcome. But, please make this configurable and turned off by default.

[2022-03-22 08:47] mketer1 commented on #1706
Hi! I'm fairly new to open source contribution but would like to give this issue a try. If this issue is unclaimed, could I possibly be assigned. Also, if I do need assistance, would I be able to receive guidance from other contributors in this repository?

[2022-03-26 18:30] Dreamsorcerer opened #2381 "609: Allow __enter__() inside an __enter__()"
### What's wrong

One design pattern is to wrap a context manager. It would be nice to avoid WPS609 errors with this code, which seems to require accessing the direct magic methods.

### How it should be

Allow code like:
[code]

I guess the same for aenter/aexit as well.

[2022-03-26 18:34] Dreamsorcerer opened #2382 "433: Import under try"
### What's wrong

WPS433 seems to be given when `try`ing an import, due to it being an optional dependency.

Code I produced this on:
[code]

### How it should be

No violation when import is under a `try`, but otherwise still top-level.

[2022-03-27 09:22] sobolevn commented on #2381
Yeah, I guess that calling the same magic method inside a magic method is fine.

[2022-03-27 09:45] sobolevn commented on #2382
I agree, this is way too common.

[2022-04-07 19:16] smac89 opened #2392 "Incorrect detection of string constant overuse (WPS226)"
### What's wrong

String usage is detecting strings used inside list of dictionaries as being overused. For example in a django project, the following configuration will trigger the rule violation on `NAME`:

[code]

---

Additionally, there is a documentation mismatch. The docs for `max-string-usages` [here](https://wemake-python-styleguide.readthedocs.io/en/latest/pages/usage/configuration.html)

[2022-04-07 19:36] sobolevn commented on #2392
Oh, sorry!

Can you please make a PR with the fix?
It should be 5 indeed.

[2022-04-07 20:02] sobolevn commented on #2392
Yeap. Here's what's wrong:

https://github.com/wemake-services/wemake-python-styleguide/blob/1b654fbe027efd3a6522a799ad76c1efe8279dea/wemake_python_styleguide/options/config.py#L102-L104

[2022-04-08 11:18] #2374 closed

[2022-04-08 17:23] JulianOrteil opened #2394 "WPS211: Ignore self and cls"
### What's wrong

For class methods and instance methods, WPS211 should not consider `cls` or `self` as these are not user-defined variables, but required variables by python.

### How it should be

Ignore `cls` and `self` variables for class and instance methods. Depending on how robust you want to be, instead ignoring the first variable of these types of methods, regardless of name, might be pre

[2022-04-08 17:26] JulianOrteil commented on #2394
A short MRE:
[code]
![image](https://user-images.githubusercontent.com/23083317/162491858-9be201ef-f797-411d-8bda-57316471822c.png)

[2022-04-18 19:12] bryzgaloff opened #2398 "bandit==1.7.4 wps==0.15.3 TypeError: __init__() missing 1 required positional argument: 'metrics'"
### What's wrong

When running a Github Action for `wemake-services/wemake-python-styleguide@0.15.3`, an error occurs:

[code]

### How it should be

The reason in bandit latest version being installed: `bandit==1.7.4`. When installing `bandint==1.7.2` everything works fine.

### Flake8 version and plugins

[code]

### pip information

pip 20.0.2 from /tmp/wps-fail-venv/lib/python3.8/site-packages

[2022-04-18 20:23] sobolevn commented on #2398
Yes, this is a known bug. Please, update WPS, or `flake8-bandit`

[2022-04-18 20:23] #2398 closed

[2022-04-19 09:25] bryzgaloff commented on #2398
How to do it in case of Github Action? Is it completely unusable for version 0.15.3 now?

[2022-04-19 10:42] sobolevn commented on #2398
Yes, looks like it. This is a problem on `flake8-bandit` / `bandit`'s side.

[2022-04-20 14:11] Sxderp opened #2399 "WPS610 (async magic) false positive on __aiter__"
### What's wrong

In Python 3.7+ a class `__aiter__` must return an async iterator object (an object that implements `__anext__`). An async generator (an async function with `yield`) is considered an async iterator object.

The following is valid and should not be flagged as an incorrect async definition.

[code]

The following is invalid and should be flagged as incorrect (it'll also throw a type

[2022-04-21 08:03] sobolevn commented on #2399
PR is welcome!

[2022-04-28 21:09] mschoettle commented on #1574
I just ran into the same problem when I tried to document a constant. Docstrings for variables are part of the docstring PEP257 (and PEP258 I guess).

Besides WPS428 and WPS322 there is also WPS462 being reported on the preceding line (the constant declaration).
It is of course possible to ignore these violations but then I loose these violations for all other cases.

[2022-04-29 10:36] Bobronium opened #2410 "Add `__init_subclass__` to the order of methods in WPS338"
# Rule request

## Thesis

`__init_subclass__` ([PEP 487](https://peps.python.org/pep-0487/)) should be added to `WPS338` order. The resulting list would look like this:
- `__init_subclass__`
- `__new__`
- `__init__`
- `__call__`
- `__await__`
- public and magic methods
- protected methods
- private methods (we discourage using them)

## Reasoning
In current order I see that construction and initi

[2022-04-29 11:34] sobolevn commented on #2410
I agree, please, send a PR ;)

[2022-04-30 11:20] #2410 closed

[2022-04-30 17:01] #1145 closed

[2022-04-30 17:01] #2288 closed

[2022-05-04 12:05] vkurilin opened #2412 "Exclude from the MagicNumberViolation check keyword arguments inside a constructor."
# Rule request

Exclude from the MagicNumberViolation check keyword arguments inside a constructor.

## Thesis

[code]

## Reasoning

Function keyword arguments are excluded from this check. And just like in the case of functions, keyword arguments for a constructor are also self-descriptive.

If we allow using magic numbers in constructor keywords, we achieve both consistency with the usage of fu

[2022-05-04 13:26] sobolevn commented on #2412
Probably, any named arg can count as a name 🤔
The only downside here is that you can use it twice:
[code]

[2022-05-04 15:05] vkurilin commented on #2412
I would argue that if a rule checks for magic constants, in an ideal world we shouldn't rely on it to protect us from constant overuse. Maybe it's a job for another rule :)

[2022-05-04 18:38] sobolevn commented on #2412
We already have one ;)

But, we don't two usages as "overuse".

[2022-05-07 08:05] vkurilin commented on #1817
I would add that `flakehell` has a community-maintained fork [`flakehaven`](https://github.com/flakeheaven/flakeheaven). Maybe instead of deleting all mentions, we can replace them with `flakehaven` and thus support the project?

[2022-05-07 12:33] Dreamsorcerer commented on #1817
I suspect the baseline functionality is still very rudimentary (as in, it will just be too awkward to actually use in a real project with multiple developers). And if they've still not fixed the glaring performance issues, then it would still be totally unusable in my projects, so I wouldn't recommend the project to anyone for the baseline functionality. I think my closed PR is still much further

[2022-05-08 10:01] vkurilin commented on #1817
Not sure if I understand what you're talking about.
At a scale of one hundred thousand lines, `flakehell/flakeheaven` works quite well, and in terms of performance it is comparable to directly running `wemake-python-styleguide` through the `flake8` command.

What problems there might be with multiple developers, I can't imagine at all. I personally implemented linters through `flakehell/flakeheave

[2022-05-08 11:10] Dreamsorcerer commented on #1817
Not if you install plugins. I think the performance issue may have been atleast partially resolved, but to support the granular controls over enabling/disabling error codes (not something we even wanted to use) it was basically rechecking the code several times or something. So, the performance of flake8 is O(n), while the performance of flakehell is more like O(nm), where n is number of files and

[2022-05-13 03:45] deterok commented on #1574
Same issue.

@sobolevn `#: ` isn't PEP standardized and vscode doesn't support such documentation. It will be great if you allow configuring the violation.

[2022-05-18 14:31] vnmabus commented on #37
May I ask what is the best way to deal with private imported functions/classes in absence of `__all__`? Should tools assume that imports are private unless renamed without an underscore? For example:

[code]

[code]

[2022-05-18 14:57] sobolevn commented on #37
We use https://github.com/wemake-services/wemake-python-styleguide/blob/9318feda96b0bf3df99941b51b11fdccc208aeac/setup.cfg#L141

[2022-05-23 10:03] mazlum opened #2415 "False Positive WPS316 Parenthesized context managers"
### What's wrong

WPS316 does not support Parenthesized context manager.

WPS316 Found context manager with too many assignments

[code]

### How it should be

It should be supported.

### Flake8 version and plugins

{
  "dependencies": [],
  "platform": {
    "python_implementation": "CPython",
    "python_version": "3.10.4",
    "system": "Darwin"
  },
  "plugins": [
    {
      "is_local": fals

[2022-06-01 09:43] Waszker opened #2421 "Add an option to enforce new `Union` typing syntax `|`."
# Rule request

I'd like to propose addition of a new [configuration rule](https://wemake-python-stylegui.de/en/latest/pages/usage/configuration.html) that disallows usage of the `typing.Union` and enforces usage of the new `|` syntax ([PEP604](https://peps.python.org/pep-0604/)).

The new option should be set to `False` by default since Python <3.10 versions do not support this syntax without `fr

[2022-06-03 10:39] Waszker opened #2426 "Enforce usage of built-in types in typing."
# Rule request

Python 3.9 introduced support for [PEP585](https://peps.python.org/pep-0585/) which discourages usage of the `typing.List`, `typing.Tuple`, etc. in favor of the built-in types.

## Thesis

The usage of the built-in generics should be encouraged. The usage of the generics from the `typing` module should be blocked by a rule, when using Python 3.9+ versions.

## Reasoning

I think th

[2022-06-03 17:39] sobolevn commented on #2426
Good idea. Does any other existing plugins support that?

[2022-06-08 08:01] Waszker commented on #2426
I looked at the `flake8` [ruleset](https://www.flake8rules.com/) and didn't find anything related to the issue.

[2022-06-08 10:29] sobolevn commented on #2426
After thinking for a while on this problem, I believe that this should be a separate plugin.

Why?
1. It might be usefull for a broader audience, wps is too strict for many people
2. It has my favourite "match by name" problem
3. It is quite complex. Typing rules are evolving quite fast, so it might be better to have it syncronized

[2022-06-08 10:30] sobolevn commented on #2426
@Waszker do you want to work on it? I am open for help!

[2022-06-08 10:43] sobolevn commented on #2426
Yesm new repo + optional dependency in wps (or even just a suggestion, some people do not use type hints at all, no need to slow them down)

[2022-06-11 23:01] Day0Dreamer commented on #1255
+1 I wasn't able to fully understand the reasoning behind banning some banned functions.

[2022-06-16 00:57] niloatgoshare opened #2433 "ListMultiplyViolation link is incorrect and explanation is misleading"
Sorry for creating a blank ticket, but this is not a bug nor a new rule.

At the current version `wemake_python_styleguide: 0.16.1` the documentation states, for rule WPS435, [ListMultiplyViolation ](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/best_practices.html#wemake_python_styleguide.violations.best_practices.ListMultiplyViolation), the following:

And that this block is

[2022-06-16 10:31] sobolevn commented on #2433
Yes, please!

[2022-06-24 16:03] edmondo1984 opened #2436 "GitHub Action silently failing"
### What's wrong

I am running wemake-python-styleguide GitHub action and it silently fails with an exception

[code]

The action fails like so:
[code]

### How it should be

The action should fail

### Flake8 version and plugins

Using the action

### pip information

Using the action

### OS information

ubuntu-latest on GitHub

[2022-06-24 20:05] sobolevn commented on #2436
This is a known problem. `bandit` and `flake8-bandit` were broken at some point.
Please, use https://github.com/wemake-services/wemake-python-styleguide/releases/tag/0.16.1

[2022-06-24 20:05] #2436 closed

[2022-06-28 06:59] orsinium opened #2437 "Recommend using a.removeprefix(b) instead of a[len(b):]"
# Rule request

## Thesis

[PEP 616](https://peps.python.org/pep-0616/) (Python 3.9) introduce `str.removeprefix` and `str.removesuffix`, and this is great. We can try to detect some patterns when it can be used to simplify the existing code.

Pattern 1:

[code]

Pattern 2:

[code]

Pattern 3:

[code]

A similar algorithm applies to `str.removesuffix`.

Note that the method is available only in Py

[2022-07-04 07:06] orsinium opened #2443 "Forbid chaining `is`"
# Rule request

## Thesis

Forbid `ast.Is` in `ast.Compare.ops` when it's size is not zero. For example:

[code]

## Reasoning

From the AST perspective, `is` is an operator and can be chained. That can lead to unexpected results when the author wanted to compare the result of `a is b` operation. Instead, Python will chain the operations and compare the last argument of the previous operation.

[2022-07-04 07:16] orsinium commented on #2443
Also, I think the same applies to `in`

[2022-07-04 08:34] sobolevn commented on #2443
Yes, totally.

[2022-07-06 09:54] vkurilin opened #2445 "Site unavailable"
### What's wrong

Not sure where exactly to put this, but  https://wemake-python-stylegui.de/ is unavailable

[2022-07-06 12:49] sobolevn commented on #2445
Yes, I cannot pay for it, because my cards are not accepted.
Another domain lost because of sactions.

There's nothing I can do about it.
I will change it at some point, sorry.

[2022-07-07 05:05] vkurilin commented on #2445
Maybe I can help with this problem :)

Wrote to mail@sobolevn.me. If mail is also unavailable, you can reach me in telegram (nickname is the same as on github)

[2022-07-08 06:44] skarzi commented on #2445
Hello,

You can always check the source code directly - https://github.com/wemake-services/wemake-python-styleguide/tree/master/wemake_python_styleguide/violations
There is also a few useful community tools e.g. [flake8.codes](https://flake8.codes) that allow you to preview flake8 codes.

[2022-07-09 09:49] Day0Dreamer commented on #2445
Can't find [D208] Docstring is over-indented

[2022-07-09 11:21] skarzi commented on #2445
@Day0Dreamer `D###` flake8 codes are produced by https://github.com/PyCQA/pydocstyle.
List of `pydocstyle` codes: http://www.pydocstyle.org/en/stable/error_codes.html.

[2022-07-09 18:19] Day0Dreamer opened #2448 "WPS230 triggers for @dataclass"
### What's wrong

I am triggering `[WPS230] Found too many public instance attributes: 25 > 6`
with this:

[code]

### How it should be

According to [this](https://github.com/wemake-services/wemake-python-styleguide/blob/a203c25ee35a40f062e5f7a40ceaa8a1b0e787dc/wemake_python_styleguide/violations/complexity.py#L973)  the error shouldn't be there.

### Flake8 version and plugins

[code]

### pip i

[2022-07-11 11:16] surya-kodeti commented on #2026
Hi there,
I'm a newbie searching for an easy-to-solve issue this seems to be a good start for me. If this is still open, please guide me on this

[2022-07-13 07:55] suharnikov commented on #2445
@sobolevn how can the community help?

[2022-07-14 06:01] mpibpc-mroose opened #2451 "Link to documentation website does not work"
### What's wrong

When trying to access the given URL for the main documentation [https://wemake-python-stylegui.de]( https://wemake-python-stylegui.de) I get an DNS error. Trying to resolve via `dig` gives as NXDOMAIN

[code]

### How it should be

DNS should resolve and website should be accessible

### Flake8 version and plugins

not relevant

### pip information

not relevant

### OS informati

[2022-07-14 06:39] #2445 closed

[2022-07-14 06:40] sobolevn commented on #2451
Please, use https://wemake-python-styleguide.rtfd.io
See #2445

[2022-07-14 06:40] #2451 closed

[2022-07-14 06:40] sobolevn commented on #2445
https://wemake-python-styleguide.rtfd.io 🎉

[2022-07-14 06:41] sobolevn commented on #2445
Thanks everyone for their help 🙂

[2022-07-20 10:20] anuj-scanova opened #2460 "reviewdog: PullRequest needs 'git' command: failed to run 'git rev-parse --show-prefix'"
### What's wrong

Produces error in actions

[code]

Also, the actions are passing successfully despite the error.
<img width="865" alt="Screen Shot 2022-07-20 at 3 48 14 PM" src="https://user-images.githubusercontent.com/105233146/180027065-db564800-a2f2-4e29-88a7-8a66f7b388fb.png">

### How it should be

The pipeline should run successfully and the action should fail in case of error.

### Flake

[2022-07-20 13:00] anuj-scanova commented on #2460
@sobolevn when I run the command `flake8 .` locally, there are few changes recommended without any error
[code]

[2022-07-20 13:46] sobolevn commented on #2460
Are you sure that there are no extra files in the CI?

[2022-07-20 15:18] rubancar commented on #2228
what @Dresdn says makes sense, one more reason in favor of allow `hasattr` is that the logic behind this one is performed by calling `getattr` and catching AttributteError, so, at the end both funcions are base on the same logic, It does not make sense to allow `getattr` and and issue a warning on `hasattr`

[2022-07-20 15:32] anuj-scanova commented on #2460
@sobolevn I listed the files in the actions and here is the output

[code]

And I have to check the `src` directory.

Also the python version in actions is `3.9.13`

[2022-07-20 19:06] sobolevn commented on #2460
Can you please create a reproducable sample?

[2022-07-22 09:26] vnmabus commented on #755
I still have this problem in version 0.16.1.

[2022-07-22 09:30] sobolevn commented on #755
Can you please provide a repro?

[2022-07-22 09:39] vnmabus commented on #755
In kk.py
[code]

Result: `kk.py:0:1: WPS400 Found wrong magic comment: noqa`

[2022-07-22 09:43] vnmabus commented on #165
I am really interested in this. It is also useful to remove the silencing of false positives when they are fixed.

[2022-07-31 20:17] Waszker commented on #2426
@sobolevn I've already prepared and released the first version of the plugin that takes care of the checks from this issue and https://github.com/wemake-services/wemake-python-styleguide/issues/2421

Link: https://github.com/Waszker/flake-type-annotations-plugin

The project is in its early stages but I was too excited to release it that I've forgot to ask for your review. :disappointed:

Neverthe

[2022-07-31 21:43] sobolevn commented on #2426
Great! Also check out https://github.com/python/typeshed/blob/master/tests/check_new_syntax.py

[2022-08-01 08:48] #2426 closed

[2022-08-01 08:50] Waszker commented on #2421
Closing this issue as discussed in https://github.com/wemake-services/wemake-python-styleguide/issues/2426.

[2022-08-01 08:50] #2421 closed

[2022-08-01 09:56] FyZzyss commented on #1879
+1 bump

[2022-08-01 11:49] FyZzyss commented on #1321
Hello! You have a very good plugin! I fell in love with her at first sight, but your uncooperative approach is frustrating. I think it would be possible to make a parameter whether to check a variable in a loop that defaults to True

[2022-08-01 11:58] FyZzyss opened #2469 "WSP111 is very strict for list compreh"
### What's wrong

Hi! You have a very good plugin! I fell in love with it at first sight, but your uncooperative approach to https://github.com/wemake-services/wemake-python-styleguide/issues/1321 it's frustrating. I think it would be possible to specify a parameter whether to check a variable in a loop whose default value is True or the number of rows that the loop occupies when it is not necessa

[2022-08-02 17:33] strmwalker commented on #1600
You should use [asyncio.Semaphore](https://docs.python.org/3/library/asyncio-sync.html#asyncio.Semaphore) if you need to ratelimit your request.
But `asyncio.sleep(0)` may be useful if you have async context but doing CPU-intensive task (crunching image data in script) to allow another coroutines advance.

[2022-08-03 10:34] Sxderp commented on #1600
If you're rate-limiting with more than one I can agree. If it's one, I'm not sure I see the point.

[2022-08-08 17:11] edmondo1984 opened #2473 "How to single long string ?"
### What's wrong

When you have a long string like the following:

`_my_message = 'very long string' `

and it exceeds the length of the line, one can break it into two strings like so

[code]

but one would get an implicit concatenation error  WPS326 Found implicit string concatenation

and if you use a +, you get another violation such as W503 line break before binary operator or W504 line break

[2022-08-08 17:17] sobolevn commented on #2473
It is:

[code]

🙂

Please, feel free to reopen if you have other questions!

[2022-08-08 17:17] #2473 closed

[2022-08-08 17:34] edmondo1984 commented on #2473
That won't work:

./metal_wrapper/remote_path.py:27:44: W504 line break after binary operator

[2022-08-08 17:50] sobolevn commented on #2473
It works with `wemake-python-styleguide 0.16.1` and ignoring `W504`

[2022-08-08 17:51] edmondo1984 commented on #2473
Why is W504 ignored?

[2022-08-08 19:34] edmondop opened #2474 "setup.cfg ignored when using GitHub action in subfolder"
### What's wrong

When you have a multi-module repo, you might have your Python code located in a subfolder, together with its setup.cfg.

Now, you are tempted to use this syntax

[code]

However the setup.cfg in my_subfolder_2 is ignored

### How it should be

You should not copy the setup.cfg within the working dir

### Flake8 version and plugins

0.16.1 github action

### pip information

?

##

[2022-08-14 15:45] simon-liebehenschel opened #2478 "WPS612 false positive for keyword arguments with different default values"
### What's wrong

I already wrote all in details for Pylint, please read: https://github.com/PyCQA/pylint/issues/7287
[code]

### How it should be

no warnings

### Flake8 version and plugins

not relevant

### pip information

not relevant

### OS information

not relevant

[2022-08-14 18:25] AIGeneratedUsername commented on #1759
I am sorry for bumping an old issue, but I really wonder about what this rule.

Here is minimalist code
[code]
I do not understand why I am asked to pass `request_headers` instead of the `**request_headers` when I need to pass kwargs from my dictionary with some dynamically generated data.

This is so obvious use case so either I am missing something, or you overlooked such use case when designing

[2022-08-15 06:56] skarzi commented on #2473
Generally, you need to ignore one of the following flake8 issues related to new like break and operators: W503 or W504

[2022-08-15 08:15] positron96 commented on #2172
I second the issue. It is even more annoying given that WPS437 cannot be suppressed on line level (doing that produces WPS461  Forbidden inline ignore: WPS437)

[2022-08-18 08:59] hatterton opened #2481 "Software license (flake8-isort has gpl)"
Hi, there is a list of statements:

1. wemake-python-styleguide has license MIT
2. flake8-isort has license GPL
3. flake8-isort is one of mandatory dependencies of wemake-python-styleguide

These facts force you have GPL software license too, don't?
Could you, please, describe the situation cause I may be wrong?

[2022-08-18 09:56] sobolevn commented on #2481
I think that in this case we can just drop `flake8-isort`. GPL is not suitable for QA tools.

[2022-08-22 12:15] hatterton commented on #2481
Yeah, it would be great. We are using wemake in project and our scanning tools says that one of your dependencies has GPL and it it strange and is not suitable for us too

[2022-08-22 13:03] skarzi commented on #2481
Have you tried to contact the `flake8-isort` maintainers? Maybe they will change their license ;)

[2022-08-22 13:08] sobolevn commented on #2481
This is everything we need:

[code]

It is easier for us to just use `isort` directly, which is MIT.

[2022-08-23 03:28] sathieu opened #2483 "Bump flake8 to v5"
### What's wrong

Trying to bump flake8 [fails](https://gitlab.com/kubitus-project/kubitus-ingress-operator/-/jobs/2919005690#L1102) with:

```wemake-python-styleguide 0.16.1 depends on flake8<5 and >=3.7```

### How it should be

Please allow installation with flake v5.

### Flake8 version and plugins

{}

### pip information

...

### OS information

...

[2022-08-23 07:29] Corrosion667 opened #2484 "WPS318 wrong behaviour for func arguments"
### What's wrong

PEP8 says that "4 spaces (an extra level of indentation) must be added to distinguish arguments from the rest".
But linter accepts only 4 spaces, not 8.

### How it should be

Do not consider 8 spaces in function signature as violation/

### Flake8 version and plugins

[code]
pip 22.0.4 (python 3.7)
alembic==1.8.1
anyio==3.6.1
astor==0.8.1
asyncpg==0.26.0
attrs==22.1.0
bandit==1.

[2022-08-31 07:25] sathieu commented on #2483
This was done by #2254. @sobolevn Is there a planned release?

[2022-08-31 07:25] #2483 closed

[2022-09-05 07:10] blablatdinov opened #2486 "Empty lines in method body"
# Rule request

Empty lines in the method body are bad. I propose prohibit their use or limit it count in method body

## Thesis

I received a PR with the same code

[code]

## Reasoning

I think, if method have few empty lines, it not holistic, and it makes sense to divide the method into several. Yegor Bugaenko's [post](https://www.yegor256.com/2014/11/03/empty-line-code-smell.html) about empty

[2022-09-05 07:36] sobolevn commented on #2486
Interesting, I think we can say that there must a maximum of empty lines in a function's body.
For example: a function with 2 lines can only have 0 empty lines.
But, a functions with 4 lines, can have 1 empty line.

I think we need to come up with a ratio 🤔

[2022-09-05 08:10] blablatdinov commented on #2486
@sobolevn Thank you for answer! I agree with you. Maybe made this functional configurable (like `max-arguments`)

[2022-09-05 08:26] blablatdinov commented on #2486
@sobolevn Yes, of course. But I don't have experience in develop plugins for `flake8`, and I will be glad of any support.

At the end of the month, I will make a report linter at the "X5 Group" internal meetup (greetings from Artem Kalinin). I would like to add a slide about the extension of this tool to my presentation

[2022-09-05 09:18] sobolevn commented on #2486
Awesome!

So, basically you need to take a look at `visit_FuncDef` or `visit_any_function` methods.
Inside you will see the full `ast` of a function defition.

Next, collect all lines that have 0 nodes on it to find empty ones. And collect the final number of lines.

Finally, decide should we raise a violation or not.
Any help I can provide - I will :)

[2022-09-06 17:15] blablatdinov commented on #2486
@sobolevn I have increment: create class for checking empty lines in functions or method body. In the next commit I planning add parameter for configuration this rule. Please check my PR

[2022-09-12 08:54] blablatdinov commented on #2486
@sobolevn I'm push changes that make this rule configurable, please check it

[2022-09-12 10:11] luminoso opened #2491 "WPS237: Found a too complex `f` string - false positive?"
### What's wrong

WPS237 signals on not-complex pydantic fstrings.

Example:

[code]

Where:
`print(f"{request_car.car_type}")` doesn't signal WPS237, but
`print(f"{request_car.car_fuel.disel}")` does

### How it should be

Both strings are well-defined and not complex. Sounds like a false positive.

### Flake8 version and plugins
[code]

### pip information

(not applicable)

### OS information

[2022-09-12 11:03] dashmug opened #2492 "Docker example for running the linter does not work"
### What's wrong

I was trying to test the `wemake-python-styleguide` using the docker command to see how it compares with my own linting setup.

[code]

resulted into:

[code]

### How it should be

I'd expect it to run the linter on my project.

### Flake8 version and plugins

N/A. I am using the docker image.

### pip information

N/A. I am using the docker image.

### OS information

I am usin

[2022-09-12 12:02] sobolevn commented on #2492
Thanks for the report!

Does https://github.com/wemake-services/wemake-python-styleguide/pull/2493 solve your problem?

[2022-09-12 12:03] sobolevn commented on #2491
No, this is intended. We don't allow too deep attribute access in this rule. Only one level is allowed. This is why the first string does not raise.

[2022-09-12 12:03] #2491 closed

[2022-09-14 09:42] luminoso commented on #2491
Gotcha.
What's the vision for readable and less complex code in this case?

Should it look like this? Feels redundant. Any other suggestion how to make it readable and compliant?

[code]

[2022-09-14 10:38] sobolevn commented on #2491
I don't ever use `f` strings at all :)
So, I would suggest:

[code]

[2022-09-15 08:55] sathieu opened #2494 "New release ?"
### What's wrong

[Last release](https://github.com/wemake-services/wemake-python-styleguide/releases/tag/0.16.1) is 6 months old.

This prevent upgrade of  [flake8 to v5](https://gitlab.com/kubitus-project/kubitus-ingress-operator/-/merge_requests/182), [flake8-bandit to v4](https://gitlab.com/kubitus-project/kubitus-ingress-operator/-/merge_requests/207) (and also [pycodestyle to v2.9.1](https:/

[2022-09-16 11:59] gpchelkin commented on #1971
@sobolevn Original root cause of this issue was that link used in doc is GitHub Web UI link:
`https://github.com/wemake-services/wemake-python-styleguide/blob/master/styles/flakehell.toml`
But correct link is:
`https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/flakehell.toml`
I would also suggest removing flakehell from the doc.
Also FYI according to https://

[2022-09-19 11:29] witekio-kwe commented on #2483
This isn't done, it just allows flake 4.x releases - but latest 5.0.4 will be still not installable

[2022-09-22 21:54] PeterJCLaw opened #2497 "Offer built-in rules standalone"
This package of lints is great, however it adds quite a lot of dependencies into projects which may only want a small number of the rules available here. (Many of which aren't available elsewhere).

Would you be open to offering the core rules as their own package, separate from the dependencies? (I'm assuming that most of the dependencies aren't actually runtime requirements, but instead are depe

[2022-09-23 05:31] sobolevn commented on #2497
This would be a breaking change.
Moreover, we use some deps in our source code.

However, I am 100% open to `wemake-python-styleguide[plain]` if that is going to work.

[2022-09-23 10:59] PeterJCLaw commented on #2497
Yeah, if we went the `wemake-python-styleguide[all]` route it would be.

The alternative would be to hoist the rules to a separate package (even if in the same repo), which could even install to the same package location if desired. It should be possible to do that in a manner that's completely transparent to consumers.

I'm not suggesting that code dependencies are moved out! This is just about t

[2022-09-23 11:09] sobolevn commented on #2497
I generally like this idea! If you have the time to send a PR I would be glad to review it :)

[2022-09-24 08:09] cyyc1 opened #2498 "WPS317 is inconsistent with PEP8 in function definition"
### What's wrong

Hi, maintainers!

The recommended style in WPS317, [ParametersIndentationViolation](https://wemake-python-styleguide.readthedocs.io/en/latest/pages/usage/violations/consistency.html#wemake_python_styleguide.violations.consistency.ParametersIndentationViolation), for function definition is:

[code]

However, PEP8 (https://peps.python.org/pep-0008/#indentation) recommends adding 4

[2022-09-24 08:41] sobolevn commented on #2498
We are fine with being inconsistent with any other styleguides: we only care about consistency within WPS.
Thanks for raising this!

[2022-09-24 08:41] #2498 closed

[2022-09-24 19:19] skarzi commented on #2494
This is actually a great idea to make releases much more often 👍

[2022-09-25 09:29] #2362 closed

[2022-09-25 10:48] #2399 closed

[2022-09-26 19:32] #2486 closed

[2022-09-27 11:15] #2492 closed

[2022-09-29 01:31] Dani-Google commented on #1525
Hi
**I'm new here and this would be my first contribution.**
Can I?

[2022-09-29 07:02] sobolevn commented on #1525
Sure, please change any docs you feel like changing :)
I even cannot write well in my native language 😆

[2022-09-29 20:44] Dani-Google commented on #1525
@sobolevn
You are so humble
 Also this link is giving [error](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.html#wemake_python_styleguide.violations.consistency.WrongLoopIterTypeViolation)

 ![Check screenshot](https://postimg.cc/PpPbv17G)
Thankyou :)

[2022-09-29 20:45] Dani-Google commented on #1525
@sobolevn
Thankyou
You are so humble
Can you assign me?

Also this link is giving [error](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.html#wemake_python_styleguide.violations.consistency.WrongLoopIterTypeViolation)

[2022-09-29 20:46] Dani-Google commented on #1525
@sobolevn
Thankyou 👍
You are so humble
Can you assign me?

Also this link is giving [error](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.html#wemake_python_styleguide.violations.consistency.WrongLoopIterTypeViolation)

[2022-09-29 20:47] Dani-Google commented on #1525
@sobolevn
Thankyou
You are so humble
Can you assign me?

Also this link is giving [error](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.ht
![Error](https://user-images.githubusercontent.com/112775035/193138845-29897110-b933-42c2-8afb-441a74ea0017.PNG)
ml#wemake_python_styleguide.violations.consistency.WrongLoopIterTypeViolation)

[2022-09-29 20:50] Dani-Google commented on #1525
@sobolevn
**Thankyou** 👍
You are so humble
Can you assign me?

Also this link is giving [error](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.ht
![Error](https://user-images.githubusercontent.com/112775035/193139215-d813cde6-20e4-4f4d-a223-6b3d711614ba.PNG)

[2022-09-30 06:46] sobolevn commented on #1525
@Dani-Google done!

Our domain has changed: https://wemake-python-styleguide.readthedocs.io/en/latest/pages/usage/violations/consistency.html#consistency

[2022-09-30 07:09] Dani-Google commented on #1525
@sobolevn
Ok, great :)
Can you recommend me which section to check for any broken links and grammatical sections? :)

[2022-09-30 07:20] cyyc1 opened #2503 ""remake-python-stylegui.de" domain no longer available"
### What's wrong

Whenever we click the "https://pyflak.es/WPS***" link, we got redirected to http://remake-python-stylegui.de

And the webpage says the domain is no longer available.

Can someone change the redirection to the readthedocs.io domain?

### How it should be

N/A

### Flake8 version and plugins

N/A

### pip information

N/A

### OS information

N/A

[2022-09-30 07:26] cyyc1 opened #2504 "WPS317: non deterministic behaviors on different parameters"
### What's wrong

Here's a test case to reproduce this bug:

[code]

Copying and pasting the code above to the online playground (https://wps.orsinium.dev/), and I got the following error

<img width="1249" alt="image" src="https://user-images.githubusercontent.com/114281716/193214508-19c7a9eb-4108-4e66-a2d5-5d95ad50db0e.png">

### How it should be

I don't think WPS317 should be thrown for `bb` a

[2022-09-30 07:26] sobolevn commented on #1525
They are pretty much the same.

[2022-09-30 07:28] sobolevn commented on #2503
There's nothing we can do on out side: [https://pyflak.es](https://pyflak.es/WPS) is a 3rd party project.

CC @notpushkin

[2022-09-30 07:28] sobolevn commented on #2504
DUplicate of https://github.com/wemake-services/wemake-python-styleguide/issues/454

[2022-09-30 07:28] #2504 closed

[2022-09-30 07:29] cyyc1 commented on #2484
I submitted a similar issue a few days ago. You can see the author's response here: https://github.com/wemake-services/wemake-python-styleguide/issues/2498

[2022-09-30 07:30] sobolevn commented on #2484
Thanks 😉

[2022-09-30 07:30] #2484 closed

[2022-09-30 07:33] cyyc1 commented on #2503
Since you control the "show-violation-links" option, maybe you can temporarily show the readthedocs.io links instead of the pyflak.es links, until the domain name issue is fixed?

[2022-09-30 07:34] cyyc1 commented on #2503
Otherwise first time users of WPS may get very confused.

[2022-09-30 07:46] cyyc1 opened #2505 "Require one blank line after if/for/while blocks"
# Rule request

Require one blank line after if/for/while blocks

## Thesis

Here is my proposal:

Wrong:
[code]

Recommended:
[code]

## Reasoning

Because Python uses  indentation to indicate code structure rather than `{}`, when we accidentally add or remove one level of indentation we could introduce some very nasty bugs that are difficult to find. Also the "wrong" example above is not that re

[2022-09-30 08:24] Corrosion667 commented on #2498
@sobolevn Do you mean that PEP-8 is not an authoritative source of code style rules?

[2022-09-30 08:27] sobolevn commented on #2498
Yes, this is why we had to come up with our own set of rules.

[2022-09-30 11:07] notpushkin commented on #2503
No worries, I'll update the redirects in a couple hours. ✨

[2022-09-30 11:11] sobolevn commented on #2503
Thanks a lot! 👍

[2022-09-30 12:11] notpushkin commented on #2503
Okay, the links should work now: https://pyflak.es/WPS231

[2022-09-30 12:12] sobolevn commented on #2503
It works indeed! Thanks a lot for the quick fix.

[2022-09-30 12:12] #2503 closed

[2022-10-01 00:01] gotofritz opened #2506 "Allow str + Enum for WPS600 Forbid subclassing lowercase builtins."
# Rule request

"WPS600 Forbid subclassing lowercase builtins" should allow the following

[code]

## Thesis

Enums are a bit akwkard in Python. The `class PizzaToppings(str, Enum):...` construct allows to create what is basically a string equivalent of IntEnum, so that one can do

[code]

## Reasoning

It seems beneficial, farily widely used, and has no negative side effects I can think of. No re

[2022-10-01 02:38] cyyc1 opened #2507 "WPS420: "pass" keyword being used in custom exception"
### What's wrong

When I define my custom exception such as
[code]
the linter throws WPS420.

This is exactly what I need from a custom exception. I don't need anything else so I put a `pass`.

### How it should be

Is it possible to ignore this checking when we are defining custom exceptions?

Or if there is indeed better practice, is it possible to put that into the doc?

### Flake8 version and

[2022-10-01 06:15] cyyc1 commented on #2503
Hi @sobolevn and @notpushkin , I found one link that doesn't point to the expected place: https://pyflak.es/WPS463

On my computer, it points to https://pycodestyle.pycqa.org/en/latest/intro.html#error-codes rather than WPS's actual doc.

Could either one of you look into this? Thank you!

[2022-10-01 06:24] sobolevn commented on #2507
It should be:

[code]

[2022-10-01 06:24] #2507 closed

[2022-10-01 06:24] notpushkin commented on #2503
@cyyc1 Looks like I need to regenerate the list of redirects. Sadly, my script that did that is on a laptop in another country right now :') I'll see if I can quickly hack something together later today.

[2022-10-01 06:25] sobolevn commented on #2506
Yes, this is actually a good exception for this rule.
python3.11 has `StrEnum` to help.

[2022-10-01 06:47] notpushkin commented on #2503
That was quick and [most certainly dirty](https://gist.github.com/notpushkin/f04466c3010973d8b99f2ce8d148dbaa). (I wonder if we can bring it up to the wemake standards :-)

https://pyflak.es/WPS463 works now, let me know if you see any other dead links!

[2022-10-01 09:19] cyyc1 commented on #2503
Thanks @notpushkin !  I can confirm that https://pyflak.es/WPS463 works now.

I'll report to this issue if I see any other dead links.

[2022-10-01 09:40] cyyc1 commented on #1879
Another case where we explicitly need "%" is when we use `strftime()` and `strptime()` format codes: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

I think WPS should be more lenient for these two cases.

[2022-10-01 20:48] lensvol commented on #2443
If there is no progress on this issue, then I would like to implement it.

[2022-10-01 20:51] lensvol commented on #2381
If it's not taken, then I could work on this.

[2022-10-01 20:52] lensvol commented on #2506
Can I take this?

[2022-10-01 21:10] sobolevn commented on #2443
Hi, @lensvol! Happy to see you :)

[2022-10-01 21:11] sobolevn commented on #2381
Just note, that we allow calling all same magic methods. Not just `__enter__`

[2022-10-02 07:19] lensvol commented on #2443
@sobolevn You know me, can't stay away from a free T-shirt :D

[2022-10-06 13:44] codeleta opened #2514 "Publish new vesrion with flake8 v5 support."
# Rule request

Publish new vesrion with flake8 v5 support.

## Thesis

You made flake8 v5 support.
Can you make a tag and publish it?

## Reasoning

I want update flake8 and can't do this.

[2022-10-06 14:03] codeleta commented on #2514
Oh I see. Thanks for answer.

[2022-10-06 16:31] PeterJCLaw commented on #2497
I had a quick look at which packages are actually needed just now; noting down the results to save future me some time -- it's currently `pip install 'flake8<5' flake8-quotes attrs pep8-naming astor pygments`.

However flake8 v5 does also seem to work.

[2022-10-06 18:08] sobolevn commented on #2497
Yes, looks like it is very close to be true :)

[2022-10-07 09:14] blablatdinov opened #2519 "Docs: change the recommendation to use flakehell (not maintainable) -> flakeheaven"
### What's wrong

WPS recommend using `flakehell` for legacy codebase, but [flakehell](https://github.com/flakehell/flakehell) not supported. [Discussion](https://github.com/flakehell/flakehell/issues/30) about archiving the repository.

May be change recomendation to [flakeheaven](https://github.com/flakeheaven/flakeheaven)?

### How it should be

N/A

### Flake8 version and plugins

N/A

### pip

[2022-10-07 09:22] sobolevn commented on #2519
Yes, looks fine!

[2022-10-07 11:12] #2519 closed

[2022-10-09 09:47] user-cjw opened #2523 "Isort `multi_line_output = 3` conflicts with C812"
### What's wrong

Using `multi_line_output = 3` as suggest in documentation, running Isort on file will sort import as
[code]
Since there is no comma after last import, `C812 missing trailing comma` will be raised on line 5.

If I add a comma after that line, two conflicts will be reported instead: `I001 isort found an import in the wrong position` on line 5 and `I005 isort found an unexpected mis

[2022-10-09 09:56] sobolevn commented on #2523
You can:
- Use `--profile=wemake` to get the best experience
- Use [`--include_trailing_comma` together with `--multi-line-output`](https://github.com/wemake-services/wemake-python-styleguide/blob/master/styles/isort.toml#L16)

Please, reopen if it does not work for you!

[2022-10-09 09:56] #2523 closed

[2022-10-10 08:41] #2287 closed

[2022-10-10 17:05] lensvol commented on #2443
Implemented in https://github.com/wemake-services/wemake-python-styleguide/pull/2527, please review.

[2022-10-11 01:24] jason0kenyon commented on #2437
I agree. This is way cleaner. I can try to implement this!

[2022-10-12 11:55] lensvol commented on #2310
Can I take this issue over?

[2022-10-12 11:59] sobolevn commented on #2310
Please!

[2022-10-12 12:03] lensvol commented on #2310
I'll do what I can.

[2022-10-12 17:57] #2381 closed

[2022-10-14 11:17] NChechulin commented on #1942
Same here. Left a comment to remind of the issue.

[2022-10-15 10:22] PeterJCLaw commented on #2497
I've had a bit of a play with the options here and I've not found a combination which allows this change to be completely non-breaking, depending on where breakage is allowed or not.

The various spellings I can think of are:

1. Use package extras for the bonus dependencies
    This is breaking in the obvious sense that existing users will need to change how they install the package. However it i

[2022-10-15 13:04] sobolevn commented on #2497
I think it is good enough. We don't expect anyone to directly import anything from our code base.

And we even state that in `CHANGELOG.md`: we only care about CLI usage.

[2022-10-15 17:46] #2310 closed

[2022-10-15 18:58] amitkparekh opened #2531 "False positive with WPS473"
### What's wrong

I am seeing the new WPS473 appear at the bottom of a module, but it doesn't make sense.

This is the module (a bunch of sensitive names have been changed but I still see the error):

[code]

And below is the error that is reported by flake8:

[code]

### How it should be

I expect the error to not be showing at all.

### Flake8 version and plugins

[code]

### pip information

[c

[2022-10-15 19:02] sobolevn commented on #2531
cc @blablatdinov

[2022-10-15 22:55] blablatdinov commented on #2531
Thank you for report! I have found the source of the problem and will try to fix it

[2022-10-16 14:18] #2531 closed

[2022-10-17 05:10] Patelrahul4884 commented on #2505
@cyyc1 in whole project we have to do this right?

[2022-10-17 08:33] cyyc1 commented on #2505
Never mind. I implemented this request as a standalone tool here: https://github.com/cyyc1/flake8-clean-block

[2022-10-17 08:33] #2505 closed

[2022-10-17 08:44] sobolevn commented on #2505
Awesome! Great work! 🎉

[2022-10-19 08:37] okainov commented on #2514
+1 would really love to have new version with flake8 5.x support...

[2022-10-21 02:25] jason0kenyon commented on #2415
I agree. I can try and work on this.

[2022-10-21 07:13] sobolevn commented on #2415
Agreed, this should be fixed. @jason0kenyon please, this would be very appreciated!

[2022-11-07 20:53] swats-the-floran commented on #205
all my scripts for 1C are named like {endpoint}_1c.py

[2022-11-08 08:34] whysage opened #2542 "WPS111 too strict for lambda"
### What's wrong

 return sorted(groups, key=lambda x: len(x))

WPS111 Found too short name: x < 2

### How it should be

No error for short vars in lambda

### Flake8 version and plugins

{
  "dependencies": [],
  "platform": {
    "python_implementation": "CPython",
    "python_version": "3.9.9",
    "system": "Linux"
  },
  "plugins": [
    {
      "is_local": false,
      "plugin": "flake8-ban

[2022-11-08 09:58] sobolevn commented on #2542
I think it is correct: it should be `return sorted(groups, key=len)`

[2022-11-08 11:20] whysage commented on #2542
Hi, no
i missed with example (wanted to make it simle)
correct example
return sorted(groups, key=lambda x: len(x.urls), reverse=True)  # noqa: WPS111

[2022-11-08 11:20] whysage commented on #2542
So it is about WPS111

[2022-11-08 12:53] whysage commented on #2542
lambda group:
is possible

Please consider
- many lambda examples in web are written with x
- lambda is one-liner, we do not have many logic here and it is no place for misunderstanding and miss leading var names
- if we use x we save line space, so it is shorter to read and write it

[2022-11-09 05:09] joshua08ye commented on #1343
Hey! I'm a student studying CS and I'd like to work on this issue if its still available?Thanks!

[2022-11-09 09:49] sobolevn commented on #1343
Sure :)

Ask any questions you have.

[2022-11-10 02:12] joshua08ye commented on #1343
Thanks so much! I'm planning to work with a partner @yvvym, would it possible for her to be assigned as well?

[2022-11-10 07:48] sobolevn commented on #1343
I can only assign people who have comments in this issue :(

[2022-11-10 08:03] whysage commented on #2542
If this reasons are not important - lets close issue.

[2022-11-10 23:25] yvvym commented on #1343
Hi, I'm working with Josh on this issue:)

[2022-11-11 07:52] whysage commented on #2542
if arguments are reasonable - I'll create request with update.

[2022-11-11 10:12] sobolevn commented on #2542
I would prefer to keep things as-is :)

[2022-11-11 10:12] #2542 closed

[2022-11-11 10:13] whysage commented on #2542
ok, thanks)

[2022-11-15 21:40] PeterJCLaw commented on #2497
For info: I'm not sure I'm likely to get to this in the immediate future. I'm still interested in this happening (and may eventually have time to work on it), but wanted to clarify in case others were interested in working on this.

[2022-11-16 16:44] dandreevv opened #2543 "Allow to use `assert` outside `pytest.raises` block"
# Rule request

There is impossible to validate correctness of custom exception.

## Thesis

I propose to allow `assert` statement to use variable outside context manager.

[code]
Code above raise an error:
[code]

## Reasoning

It is typical use case for [pytest](https://docs.pytest.org/en/7.1.x/how-to/assert.html#assertions-about-expected-exceptions).

[2022-11-17 15:09] hgylfason opened #2545 "WPS226: Ignore use of ellipsis constant ('...')"
# Rule request

## Thesis
It's very common to use ellipsis (`...`) to indicate a string output has been shortened.
I'm using the `textwrap` utility module from Python and you quickly break the rule WPS226
that prevents literal overuse.

Here is a contrived example:

[code]

## Reasoning
I think ellipsis '...' is a known concept and as a literal would not degrade the readability of the code.

[2022-11-18 10:43] sobolevn commented on #2545
Ok, seems reasonable. Please, send a PR

[2022-11-18 15:03] hgylfason commented on #2545
Will do 👍

On 18 Nov 2022, at 10:43, Nikita Sobolev wrote:

[2022-11-21 07:52] okainov commented on #2514
Any update on this @sobolevn ? More than a month has already passed, when do you expect creation of new release?

[2022-11-21 07:55] sobolevn commented on #2514
It still does not work. flake5 is broken, sorry.

[2022-11-21 09:10] okainov commented on #2514
@sobolevn is there some open issue for the problem? Tried to briefly search, but didn't find anything really... Because from #2518 it looks like fully implemented and working (it wasn't reverted neither), could you please kindly point to what exactly is broken?

[2022-11-21 09:15] sobolevn commented on #2514
Here you go: https://github.com/PyCQA/flake8/issues?q=is%3Aissue+importlib+is%3Aclosed

[2022-11-21 09:20] okainov commented on #2514
Everything is closed there :) So I think everything is fixed?

[2022-11-21 09:47] sobolevn commented on #2514
Please, trying reading them: they are all closed as "won't fix".

[2022-11-21 13:17] okainov commented on #2514
Well, I did read them. The most discussed/making sense issue looks like this one https://github.com/PyCQA/flake8/issues/1701

And as maintainers indeed mentioned, submitter does use (very) out-of-date flake8 version. And that's indeed "won't fix", one cannot argue with that.

What I tried manually just to see what's happening is to run in clean Python 3.9 container `pip install importlib_metadata`

[2022-11-28 12:47] vkurilin opened #2547 "Copypaste in WPS332 "Found walrus operator""
### What's wrong

[code]

### How it should be

[code]

### Flake8 version and plugins

irrelevant

### pip information

irrelevant

### OS information

irrelevant

[2022-11-28 14:16] #2547 closed

[2022-11-30 09:45] okainov commented on #2514
BTW `flake8` 6.x was recently released...