[2020-04-18 21:22] Niccolum opened #1346 "Jones complexity is a part of main checks?"
I think, it's strange, that some checks, for example Jones Complexity is a part of big mechanism for checking wemake-python-styleguide, if it must be separate plagin, isn't it? Why you do not to maintain it separately of main program?

[2020-04-18 23:11] sobolevn commented on #1346
That's a good question!

Because I try to get rid of any unwanted dependencies. My motivation behind this is that extra packages requires extra effort: releasing, updating, maintaining them. This is a hard thing to do!

Moreover, separating cool stuff from the core project is not a good idea from the marketing point. Currently you can have all or none. And that's the whole idea of this linter.

I

[2020-04-19 08:29] Niccolum commented on #1346
Yes, thanks

[2020-04-19 08:29] #1346 closed

[2020-04-20 14:21] raghul-rajasekar commented on #1344
Hi, I'd like to work on this issue.

[2020-04-20 15:35] sobolevn commented on #1344
Thanks a lot, @raghul-rajasekar!

[2020-04-21 14:50] orsinium opened #1356 "Forbid `global` and `nonlocal`"
# Rule request

## Thesis

Forbid `global` and `nonlocal` statements usage.

[code]

## Reasoning

This is a smell of bad code design that outcomes into hard to track side-effects.

[2020-04-21 14:55] orsinium opened #1357 "Forbid equality check with float"
# Rule request

## Thesis

Forbid `==` and `!=` when one side of the expression is a float number. It's ok to handle only some simple cases, something is better than nothing.

[code]

## Reasoning

It's a hard-to-spot famous bug.

[code]

[2020-04-21 15:29] sobolevn commented on #1357
Great idea! But, I have opened a similar issue several day ago: #1344

[2020-04-21 15:29] #1357 closed

[2020-04-21 19:08] raghul-rajasekar commented on #1344
Hi, I have a couple of queries.

1. Which comparisons should be forbidden exactly? Initially I felt it would be sufficient to forbid equality and inequality alone as mentioned in issue #1357, but the ``<=`` and ``>=`` operators could be forbidden as well, as they can be replaced with suitable usage of ``<``, ``>`` and ``isclose`` from ``math``.
2. As the same issue occurs for ``complex`` as well,

[2020-04-21 19:24] sobolevn commented on #1344
@raghul-rajasekar Great questions!

1. I would say we need to ban all. At first sight seems like we only care about `==` and `!=`, but on the second thought we can face this:

[code]

So, I would say all compares are harmful.

2. Yes, I agree.

[code]

[2020-04-22 06:35] raghul-rajasekar commented on #1344
Just clarifying, only the ``==``, ``!=``, ``<=`` and ``>=`` compares would have to be banned, right? While ``<`` and ``>`` are harmful too, banning them as well would leave no solution to compare two floats (unlike equality/inequality, for which ``isclose`` exists). So it's better to allow ``<`` and ``>`` alone and trust that the programmer uses these operators prudently.

[2020-04-22 07:19] sobolevn commented on #1344
The only correct way to compare floats are fuzzy operators. Like `isclose`. Other ways can (and will) lead to bugs.

I know that may sound strange, but we tend not to trust programmers here 🙂
When building a quality tool, it is important to assume the worst case scenario.

What can be used?

1. `abs(f1 - f2) <= allowed_error`
2. `isclose` from `math`
3. Custom logic, but not operators!

[2020-04-22 12:05] sobolevn opened #1358 "Forbid single element destructing"
# Rule request

## Thesis

This code should not be allowed:

[code]

Related: https://github.com/d1618033/pylint-single-element-destructuring

## Reasoning

Why would you need to do it? Use `[0]` in this case. It is way more readable.

[2020-04-24 21:37] Slyfoxy opened #1361 "WPS324 false-positive with docstring"
# Bug report

## What's wrong

This code produces false positive `WPS324` due to docstring line.

[code]
## How is that should be

Docstring should not cause false positives.

## System information

### flake8 information

Contents of `flake8 --bug-report`:

<details>
<summary>Details</summary>
{
  "dependencies": [
    {
      "dependency": "entrypoints",
      "version": "0.3"
    }
  ],
  "plat

[2020-04-25 08:37] sobolevn commented on #1361
@Slyfoxy thanks a lot for the bug report! Are you willing to fix it?

[2020-04-25 09:25] sobolevn opened #1362 "Add `__await__` to the list of priority magic methods"
It should come right after `__call__` in priority.

Logic: https://github.com/wemake-services/wemake-python-styleguide/blob/0f50854b2c2ed335f8e86a6da2f9d6e0df369619/wemake_python_styleguide/visitors/ast/classes.py#L396
Violation docs: https://github.com/wemake-services/wemake-python-styleguide/blob/e12aa891b97062075eb1c2c1fe111d06172717b4/wemake_python_styleguide/violations/consistency.py#L1530
Te

[2020-04-25 11:15] Slyfoxy commented on #1361
@sobolevn ok, I'll do it.

[2020-04-25 13:16] sobolevn commented on #1361
Awesome! Thanks!

Tests: https://github.com/wemake-services/wemake-python-styleguide/blob/58b96219a39390c35353aa9a29d483d5ed3f1cf7/tests/test_visitors/test_ast/test_keywords/test_consistency_returning/test_consistency_return.py

Logic: https://github.com/wemake-services/wemake-python-styleguide/blob/256de41bebbe53f60cd5ce87cb4031f120eb9615/wemake_python_styleguide/visitors/ast/keywords.py#L93

[2020-04-25 16:33] nsidnev commented on #1361
@sobolevn Hi! I'm checking this now with @Slyfoxy and I'm a bit confused. Is it really a bug that an error appears on this code? Shouldn't this code be written like this:
[code]
?

Also, there is a test that such code:
[code]
is bad. And this code isn't:
[code]
Is that right? Shouldn't both of these functions be written using just the docstring?

[2020-04-25 16:46] sobolevn commented on #1361
@nsidnev that's a really good question. I think that there are no reason for a function to just `return None`

Why would someone need this function? (Even in functional programming world)

So, I guess that it might be a feature instead. We can add a test that explicitly covers this case: one function, one docstring, one return (with `None` and plain one), one violation.

This question is more like

[2020-04-25 16:53] nsidnev commented on #1361
Yes, I was thinking about the same solution.

[2020-04-25 18:08] ruwaid4 opened #1363 "Check that `self.generic_visit(node)` is on the last line"
# Rule request

## Thesis
We should check that `self.generic_visit(node)` is always on the last line of the method.

This should not be allowed:
[code]

## Reasoning
Opening this issue as per request from @sobolevn.

[2020-04-26 08:03] sobolevn commented on #1363
Yes, thank you! We can probably go for https://github.com/hchasestevens/bellybutton check.
This is only required for `ast`-based checks. Do you want to take this over?

[2020-04-26 08:06] #1361 closed

[2020-04-27 14:50] Dreamsorcerer opened #1371 "Allow installing without dependencies"
Is there a way to install this without the dependencies?

I've seen syntax for extra dependencies in pip like: `pip install aiohttp_security[session]`

Could there be something similar to make the dependencies of this project optional?

I would prefer to choose which of those projects to install. For example, flake8-isort seems to be broken for me, and I've replaced it with flake8-import-order.

[2020-04-27 15:09] sobolevn commented on #1371
No, sorry. This is a completely out of scope.

This package is the collection of things that work together perfectly. And might not make any sense without each other. So, we cannot make dependencies optional. However, we work on several things to port things we can into the core package.

To solve your problem you can ignore `I` code for the files that you wish not to cover with `isort`.
If it is

[2020-04-27 15:09] #1371 closed

[2020-04-27 17:41] Slyfoxy commented on #1362
Hi, @sobolevn !
I made pr with this functionality. Could you take a look?

[2020-04-27 20:17] Dreamsorcerer commented on #1371
Regarding isort, the line_length config doesn't seem to work, bug at: https://github.com/gforcada/flake8-isort/issues/87

It also gives the most useless output, just saying that an import is in the wrong place. It took me 20 minutes of trial and error to figure out it was complaining about line wrapping. Compare that to flake8-import-order which tells you exactly what is wrong and what it should l

[2020-04-28 06:56] sobolevn commented on #1362
Sure, thanks!

[2020-04-28 06:56] #1362 closed

[2020-04-28 16:00] edytagarbarz commented on #1025
Hi, I did some research on this issue and I might have figured out the solution for the assignment case - check indentation against the indentation of two tokens before.
Other usages  I thought about, that is comparisons and function calls, look tricky. Shall multiline strings be allowed to use directly (without assigning to a variable)?

[2020-04-28 16:02] sobolevn commented on #1025
Thanks a lot!

Nope, looks quite unreadable.

[2020-04-28 16:16] edytagarbarz commented on #1025
Cool, then if you let me do it, I can work on these two multiline string violations

- usage other that in docstring and assignment
- wrong indentation in assignment

Or should they be joined / there is something else I haven't thought about?

[2020-04-28 19:32] Dreamsorcerer opened #1373 "WPS421 doesn't catch pprint.pprint()"
WPS421 has pprint in the blacklist, however does not catch a call to `pprint.pprint()`.

[2020-04-28 19:43] sobolevn commented on #1373
@Dreamsorcerer are you willing to fix this?

[2020-04-28 19:45] sobolevn commented on #1025
I would say these two are different violation. The first one is the best practice, the second one is consistency.

[2020-04-28 20:37] Dreamsorcerer commented on #1373
Would adding `"pprint.pprint"` to the blacklist be enough to cover it, or does it need something more complex?

[2020-04-29 07:10] sobolevn commented on #1373
No, it would be a bit harder. Currently we only watch for attr name, without `pprint.` part.

[2020-04-29 17:57] Dreamsorcerer opened #1375 "Wemake can break pyflakes"
This is a bit of a weird one, but it seems that wemake can sometimes mess things up for pyflakes resulting in flake8 throwing exceptions. No idea how to reproduce it, but it seems I'm not the only one to have encountered it.

Context and error messages at: https://github.com/PyCQA/pyflakes/issues/537

[2020-04-29 17:57] Dreamsorcerer commented on #1375
Fix is to uninstall and reinstall, but no idea how to reproduce it in the first place.

[2020-04-29 18:18] Dreamsorcerer opened #1376 "WPS226 ignore indexing"
Would it make sense to exclude strings used to index an object from WPS226? Or an option to do so.

I find this rule is occasionally useful to remind me that I'm overusing a string. However, it creates too much noise where strings are used to index, and are therefore being used similarly to variable names.

As an example, I'm writing an aiohttp web application. Therefore, some things are stored in

[2020-04-29 18:33] edytagarbarz commented on #1025
Okay, thank you!

[2020-04-29 18:59] sobolevn commented on #1375
Please, report back if this continues to happen!

[2020-04-30 09:00] AlwxSin commented on #1376
Just a tip. If one will use `app` not like dict but like an object, there are no problems. And typing works. For example
[code]

[2020-04-30 09:52] sobolevn commented on #1376
I agree with @AlwxSin on this one. If you are using `app['db']` too often it means, that:
- You can probably use a variable instead
- Maybe it is not the best data structure for the job and object might fit better

And this use-case is still valid. Do not overuse string keys!

P.S. Offtopic, @AlwxSin can you please check out our new feature in `returns`? https://github.com/dry-python/returns/issue

[2020-04-30 09:52] #1376 closed

[2020-04-30 10:10] Dreamsorcerer commented on #1376
Perhaps, but that is not an approach mentioned or recommended in the aiohttp docs: https://docs.aiohttp.org/en/stable/web_advanced.html#data-sharing-aka-no-singletons-please

[2020-04-30 11:36] sobolevn commented on #1376
100% it, I would say that `aiohttp` has very serious design issues. This is one of them.

[2020-04-30 11:39] Dreamsorcerer commented on #1376
@AlwxSin Out of curiosity, why do a type cast, as opposed to creating an instance of AioApp directly (I've not actually encountered this cast before)?

[2020-04-30 12:05] AlwxSin commented on #1376
@Dreamsorcerer in `AioRequest.app` property because instance already exists. In `get_app` function just for clarity. We create the aiohttp app, not our `AioApp`. `AioApp` is a fake subclass, just for typing, it is not a subclass in OOP way. So, create an app as always and cast it.

[2020-05-01 09:43] Dreamsorcerer commented on #1376
Now, what about subapps? For these, you would use `Request.config_dict`, which will look for keys in the app and all of it's parents.

[2020-05-01 16:12] nsidnev commented on #1358
@sobolevn hi!
I'd like to take this. If I get it right, I have to change [this function](https://github.com/wemake-services/wemake-python-styleguide/blob/1edee56f7d7cd5cce537c4fe7dcd0175f8f04c50/wemake_python_styleguide/visitors/ast/builtins.py#L268) and add a new violation class there(`SingleElementDestructuring` as in `pylint` plugin for example), right?

[2020-05-01 22:51] sobolevn commented on #1358
@nsidnev thanks a lot!

[2020-05-02 08:51] AlwxSin commented on #1376
@Dreamsorcerer can't say. We don' use subapps. But I found this issue https://github.com/aio-libs/aiohttp/issues/2689

[2020-05-04 11:29] sobolevn opened #1381 "Enforce `x`, `x1`,` x2` naming consistency"
# Rule request

## Thesis

I often see that some people use this naming pattern:

[code]

Which is perfectly fine.
But, this one looks ugly:

[code]

Note `x1` vs `x2` difference.

## Reasoning

My proposed solution is to create a new naming rule to check that if a variable named `something1` or `something2` there should not be just `something` in the current scope. While just `something` and `som

[2020-05-04 11:30] orsinium opened #1382 "`get_*` functions must return something."
# Rule request

## Thesis

Functions and methods with `get_` prefix must return something (have `return` or `yield` in the body).

## Reasoning

`get_` function is expected to return what it promises to return. For example, `get_user` returns a user object. If it's not so, it's an error or a bad interface.

[2020-05-04 11:33] sobolevn commented on #1381
`x0` is always fine.

[2020-05-04 11:35] sobolevn commented on #1382
Related #1054

[2020-05-04 12:06] orsinium opened #1383 "Forbid `float('NaN')`"
# Rule request

## Thesis

Forbid `float('NaN')` usage. It's not about forbidding `NaN` at all because it can't be detected without a proper type checking. `math.nan` is still allowed.

## Reasoning

NaN is really confusing and is a good way to catch a lot of unexpected bugs:

[code]

Even if you're 100% sure what you're doing, use `math.nan` instead. Forbidding `nan` in any form (maybe, even incl

[2020-05-04 16:41] sobolevn commented on #1383
Is `float('nan')` and `math.nan` the same thing?

[2020-05-05 09:45] orsinium commented on #1383
I guess so

[code]

[2020-05-05 10:22] Dreamsorcerer commented on #1376
The other time I often encounter this is getting tables from the SQLAlchemy MetaData object: `app.db_meta.tables["users"]`.

[2020-05-06 21:41] webknjaz opened #1385 "WPS440 is wrong in compat shim modules"
# Bug report

## What's wrong

When having compat shims, this happens:
[code]
[code]
This is wrong because the except block will create an object only if try failed so there's 100% no overlapping.

## How is that should be

No error

## System information

### flake8 information

v3.8.0a2

### pip information

(doesn't really matter and it's under pre-commit so hard to reach)

[2020-05-06 22:33] sobolevn commented on #1385
Yes, I confirm: this is really annoying.

[2020-05-08 16:06] neissacodes commented on #1343
Hi! I would like to work on this issue.

[2020-05-08 16:32] sobolevn commented on #1343
@neissacodes awesome! Thanks a lot!

[2020-05-10 07:35] uhbif19 commented on #890
@sobolevn I am not sure what now, doc PR is required? If so, can you say what are requirements for this doc changes?

[2020-05-10 07:40] uhbif19 commented on #1382
@sobolevn Am I correct in understanding, that realizations for this and #1054 would not share code?

Is checking that return type is not None enough for this rule?

[2020-05-10 08:00] uhbif19 commented on #1184
@sobolevn Can make this. Would be using the new CST visitor ok for this?

[2020-05-10 08:08] sobolevn commented on #1184
@uhbif19 sorry for the misinformation. `R102` is out of scope. Only two rules are required.
You are assigned! Thanks a lot for your help!

[2020-05-10 08:14] sobolevn commented on #890
@uhbif19

Yes, I would say so.

I guess that https://github.com/wemake-services/wemake-python-styleguide/issues/890#issuecomment-555844089 is enough for now.

[2020-05-10 08:21] sobolevn commented on #1382
Yes, you are correct. There would be no code sharing.

We should check that functions and methods named with `get_`:
1. Have at least one `return ...`
2. All `returns` are not bare: `return a` (not bare) vs `return` (bare)

[2020-05-10 09:02] DonaldTsang commented on #890
@sobolevn @uhbif19 editing text with https://hackmd.io/3vzJNofVQ_G0aS_QWwvLQA

[2020-05-11 23:10] sobolevn opened #1391 "Update to flake3.8"

[2020-05-13 17:25] ramast opened #1399 "Provide way for users to whitelist certain blacklisted variable names"
# Rule request

Provide way for users to whitelist certain blacklisted variable names, functions, .... through configuration.

## Thesis

Consider Django model  like this

[code]

This would lead an invalid variable name error because "objects" is black listed.

## Reasoning

Offering users way to customize blacklisted names, would be a better alternative to the #noqa comments.

[2020-05-13 18:03] sobolevn commented on #1399
This case an ideal example of where `noqa` should be used.

But, we already have this setting: https://wemake-python-stylegui.de/en/latest/pages/usage/configuration.html
See `allowed-domain-names`

Related #1106

[2020-05-13 18:03] #1399 closed

[2020-05-13 18:07] ramast commented on #1399
Awesome, Thanks!
I've read the configuration many times but didn't realize that domain name meant variable name. Thanks for clarification

[2020-05-13 21:44] sobolevn commented on #1399
"Domain name" does not mean "variable name".

For example, you can be be selling doors. This way `handle` becomes your proper domain name. And it should be allowed.
But, don't allow to use all the things, which are not a part of your domain.

[2020-05-14 02:25] lukelima commented on #1382
Hi! I would like to work on this issue!

[2020-05-14 07:31] sobolevn commented on #1382
Thanks a lot, @lukelima!
Assigned!

[2020-05-14 11:40] lukelima commented on #1382
I'll use the weekend to work on it =D

[2020-05-15 22:07] webknjaz opened #1402 "WPS432 should preserve the literal representation"
# Bug report

This code
[code]
causes
[code]

It's unobvious that it's the same number and it's impossible to use `448` in grep because it won't find anything.

## What's wrong

Non-decimal numbers are reported as decimal. Also, maybe for things like `chmod()` it's okay to allow such "magic numbers" because this form directly relates to a normal syscall or a CLI command one would make.

## How is

[2020-05-16 08:41] sobolevn commented on #1402
Yes, I agree. Thanks a lot for the bug report!

[2020-05-18 16:03] webknjaz opened #1406 "WPS122 should allow a no-op loop var"
# Bug report

## What's wrong

Imagine I want to do something 3 times but I don't care about the attempt number. So I'd normally write something like this:
[code]

But then the linter complains with `WPS122 Found all unused variables definition: _` which is incorrect. While things like assignment allow to fix this with
[code]
it is impossible with for-loops not to define this loop variable at all.

[2020-05-18 21:11] sobolevn commented on #1406
I agree, this is a valid use-case. Thanks a lot!

[2020-05-18 21:30] uhbif19 commented on #1184
@sobolevn

1. Looks like `R101` is covered by `WPS329`.

https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.html#wemake_python_styleguide.violations.consistency.UselessExceptCaseViolation

2. My test case and doc for `WPS329` shows that R100 is not covered.

[2020-05-18 21:39] uhbif19 opened #1407 "Forbid `raise` in except handler without `from`"
# Rule request

## Thesis

This is the follow-up to #1184 issue. [R100 rule](https://github.com/jdufresne/flake8-raise#r100-raise-in-except-handler-without-from) is not covered in WPS.

## Reasoning

This example does not see to catch problems with `from` absence:

[code]
Also [WPS329 doc](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.html#wemake_python_styleguide.

[2020-05-18 21:41] uhbif19 commented on #1407
On realization plan:

1. I think this is `Best practice` violation
2. Doc must be corrected too

[2020-05-18 22:03] sobolevn commented on #1406
The same applies for comprehensions.

[2020-05-18 22:04] sobolevn commented on #1184
Yes, @uhbif19! Let's move to #1407

Thanks!

[2020-05-18 22:04] #1184 closed

[2020-05-19 09:02] orsinium commented on #1407
What's the motivation? Python 3 does [Implicit Exception Chaining](https://www.python.org/dev/peps/pep-3134/#implicit-exception-chaining) for this case. The exception always has context except explicit suppressing ([PEP-409](https://www.python.org/dev/peps/pep-0409/))

[2020-05-19 11:16] sobolevn commented on #1407
Oh, I didn't know that. In this case we can reconsider this task.

[2020-05-19 15:55] webknjaz commented on #1407
Also, there's just bare `raise` w/o args that re-rases exception cleanly and doesn't require that "from" part either.

[2020-05-19 15:59] sobolevn commented on #1407
Then it can be closed, thanks everyone!

[2020-05-19 15:59] #1407 closed

[2020-05-19 15:59] webknjaz opened #1408 "Allow del when working with c_exts"
# Bug report

## What's wrong / How is that should be

`del smth` raises WPS420. But sometimes I want to follow the principle saying that explicit is better than implicit to free that var and effectively allow Python to hit it with GC.

In particular, this is useful when working with objects implemented as C-extensions. I just want to inform Python that it's okay to deallocate them as soon as poss

[2020-05-19 16:03] sobolevn commented on #1408
I can say that detecting that it is a C-extension is an overkill for disabling this rule for a single keyword.
Are there any other ways to detect things we can safely use `del` with?

In my opinion it is a good candidate for `ignore=`

P.S. Unrelated, but anyway: I am implementing a `Future` monad to work with `async` code: https://github.com/dry-python/returns#future-container I would appreciate

[2020-05-19 18:31] webknjaz commented on #1408
Right, I just wanted to share a use-case here. But also, maybe this rule could be relaxed a bit if the target is just a variable name? As in, don't explode on `del x` but fail on `del x[1]`.

Yeah, I'm thinking about it too.

Looks cool. Maybe I'll get to try it out when I'll finally have some time for the octomachinery refactoring...

[2020-05-19 18:41] webknjaz opened #1409 "WPS202 shouldn't fail in modules with test"
# Bug report

## What's wrong

I have a test module with a bunch of fixtures and test functions and the linter already
tells me that it has too many members. I don't think it's reasonable for test modules.
This specific one has like 62 lines (including spacing between the functions and docstrings, and comments). It's definitely not bit, two test functions are one-liners
and the fixtures are split

[2020-05-19 19:43] sobolevn commented on #1120
`WPS202` from #1409

[2020-05-19 19:43] sobolevn commented on #1409
This is going to be ignored by default after https://github.com/wemake-services/wemake-python-styleguide/issues/1120 will be merged. Let's track it there.

[2020-05-19 19:43] #1409 closed

[2020-05-19 22:34] webknjaz commented on #1120
Could as well just read the pytest config to find out the patterns instead of having a separate flake8 setting...

[2020-05-19 23:22] uhbif19 commented on #1407
@orsinium @webknjaz @sobolevn

Okay, that's my fault, not to provide an explanation for `from`. Context is passed for both `raise E()` and `raise E() from e`, but where are differences:

1. Traceback messages are different. In the first case, it is `... During handling of the above exception, another exception occurred: ...`, and in the second `... The above exception was the direct cause of the f

[2020-05-19 23:27] webknjaz commented on #1407
This really depends on the intent of the code writer and the message they want to convey.
Enforcing "the direct cause" style is wrong when it's not meant to be used.

[2020-05-19 23:40] uhbif19 commented on #1407
@webknjaz I can not come up with cases, then plain rase in `expect` is required. Can you give some examples?

[2020-05-19 23:41] uhbif19 commented on #1382
@sobolevn As I understand, the issue is not assigned now? Please assign me, then.

[2020-05-19 23:52] uhbif19 commented on #1184
@sobolevn Turns out, I was wrong. `R101` is covered only in the case, then `raise` is the only statement in `expect` block.

That case generates violation:

[code]

And this does not:

[code]

[2020-05-20 08:02] sobolevn commented on #1184
And it's fine 🙂

[2020-05-20 08:02] sobolevn commented on #1184
See #1407

[2020-05-20 08:04] sobolevn commented on #1120
One can use `unittest` or any other tool. I don't feel that interfering with other tools is a great idea.

[2020-05-20 08:04] sobolevn commented on #1382
Thanks a lot, @uhbif19!

[2020-05-20 08:32] webknjaz commented on #1407
Sometimes you don't want to process an exception on the current layer but want to log it there. In this case, you'd use a bare `raise`
[code]

Another case would be filtering out certain exception attributes. Like when an `OSError` happens, sometimes you want to only ignore one error code but you still want to pass-through other instances.
[code]

[2020-05-20 08:37] webknjaz commented on #1120
It's not interfering. You'd just construct the default value of the flake8 setting based on what you see in the project dir.

[2020-05-20 11:56] sobolevn commented on #1120
Can you please give a more detailed example of how do you this process?

[2020-05-20 16:01] webknjaz commented on #1120
So we add a setting like `wps_tests_filename_pattern` that can be set in the config explicitly. But if it's not set, it should have some sort of a reasonable default.
We could hardcode it but it'd be a dumb solution. To make it clever, we could read `pytest.ini` and any other well-known location to find out the pattern and reuse it. And only if this fails, it could fall-back to having a hardcoded

[2020-05-20 17:45] ranveersequeira commented on #1086
I would like to work on this.
Can I?

[2020-05-20 17:57] uhbif19 commented on #1407
@webknjaz That is right, but it is just a different case. This issue is about `raise E()` vs `raise E() from e` scenario, so I am looking for examples where `raise E()` is be used in `except` block. meaning that something unexpected happened in ex

[2020-05-20 18:02] uhbif19 commented on #1407
Clarified title.

[2020-05-20 19:01] sobolevn commented on #1086
You sure can! Thanks a lot, @ranveersequeira 👍

[2020-05-21 14:17] webknjaz commented on #1407
Ah, so I parsed it wrong this case also doesn't really need enforcement. Implicit chaining already works great. Explicit cause specification is useful when you want to skip a few exceptions in the chain to better clarify the root cause:
[code]

Or if you want to hide the chain completely:
[code]

[2020-05-21 20:38] uhbif19 commented on #1407
@webknjaz As I understand PEP 3134, it suggests using `raise ... from` for any intentional re-raise.

Example code from PEP confirming this:

[code]

Also, quote:

[code]

Also, another small argument, is that `funcy` library uses `raise ... from` for their re-raise decorator:

https://github.com/Suor/funcy/blob/master/funcy/flow.py#L108
https://github.com/Suor/funcy/blob/master/funcy/compat.py#L3

[2020-05-22 09:12] jpmorris opened #1412 "disable module for run?"
Is it possible (or at least I don't see it in the docs) to disable this module entirely?  My use case: my team checks on default flake8, but I want to run this module against my changes.  I believe the later can be accomplished via diff.  But how would I run default flake8 without these strict rules just to see what the rest of the team is seeing?

[2020-05-22 09:50] sobolevn commented on #1412
For all code: `--ignore=WPS, DAR, RST`
And for your diff you can remove this line.

[2020-05-22 10:32] sobolevn opened #1413 "Add `use_parentheses = true` to nitpick and local config"
I have seen this problem today: https://github.com/timothycrosley/isort/issues/1211

The solution is to add `use_parentheses = true` to `isort` config.
We need to do it for our `isort` configuration inside `setup.cfg` and our nitpick template.

[2020-05-22 16:59] jpmorris commented on #1412
unfortunately this is not sufficient.  I ran stock flake8 and it pulled back one error. After installing this package, I get lots of errors D100, I 003, E126, Q000, N803, S403.

Now my team has put 'noqa' flags in places I think, if that matters.  But maybe this is the result of one of the many other flake8-* modules that were installed?

[2020-05-22 17:13] RandyRomero opened #1414 "AttributeError: 'Checker' object has no attribute 'options'"
# Bug report

Hello. I see it's a known problem - https://github.com/wemake-services/wemake-python-styleguide/issues/937

Using wemake-python-styleguide on Python 3.8.1 installed via pyenv seems impossible due to this error:

Traceback (most recent call last):
  File "/Users/mikheevaia/.pyenv/versions/3.8.1/lib/python3.8/multiprocessing/pool.py", line 125, in worker
    result = (True, func(*args,

[2020-05-22 17:20] sobolevn commented on #1412
Yes, probably. We also install `flake8-isort`, `flake8-broken-line` and many-many others.
You should probably wait for #1276

[2020-05-22 17:24] jpmorris commented on #1412
so the magic line is:

`--ignore=WPS,DAR,RST,B,C,D,E,I,N,P,Q,S,T,W`

since the external-plugins page mentions that base flake8 are F*** codes, I assume the above should be correct (as it appears to be for me).  If I'm wrong, let me know.

[2020-05-24 17:43] Dreamsorcerer opened #1416 "WPS440/441 on multiple loops"
With code like:
[code]

I get WPS440 and WPS441 due to reusing the widget variable name in the second loop.

I think that WPS441 shouldn't apply, as we are defining a new variable, as opposed to reusing the previous value from the last loop.

Then I think also, that WPS440 shouldn't apply, as the WPS441 stops you from reusing the first variable anyway, so shadowing a variable you're not supposed t

[2020-05-25 08:56] #1413 closed

[2020-05-25 12:18] Dreamsorcerer opened #1421 "WPS425 on single argument to functools.partial"
Related to #1104, where it was changed to allow boolean positional arguments, if it is the only argument.

As a small additional exception, it should do the same thing with functools.partial. i.e.
`functools.partial(set_sensitive, False)`
should not trigger WPS425.

[2020-05-25 13:44] sobolevn commented on #1421
Is `set_sensitive` you own function?

[2020-05-25 14:14] Dreamsorcerer commented on #1421
No, I was just using the example from the previous ticket, they are Gtk methods.

The actual case I'm encountering is another Gtk method though, when trying to use it as a callback:
`functools.partial(self._revealer.set_reveal_child, False)`

[2020-05-25 14:17] sobolevn commented on #1421
Can you used named arguments with `Gtk`?

[2020-05-25 14:26] Dreamsorcerer commented on #1421
Yes, but as per #1104, it just seems weird using something like `set_sensitive(sensitive=True)`. I think that's still weird when used as a partial `partial(set_sensitive, sensitive=True)`.

[2020-05-25 14:37] sobolevn commented on #1421
@Dreamsorcerer it is not weird. Moreover, `partial(set_sensitive, sensitive=True)` and `functools.partial(set_sensitive, False)` is not the same thing.

[2020-05-25 14:37] sobolevn commented on #1421
I recommend to use `partial(set_sensitive, sensitive=True)` whenever possible. And to use `noqa` for cases when it is not possible for some reason (posonly, C, etc).

[2020-05-25 15:31] Dreamsorcerer commented on #1421
I guess the only problem I can is if there are multiple arguments, and you're just using partial to specify the first one:
[code]

But, when used as a complete callback (where the original function only takes 1 argument), I don't see how it's any different to `set_sensitive(True)`/`set_sensitive(sensitive=True)`.

[2020-05-26 08:33] sobolevn opened #1422 "Forbid to use `0.0`"
# Rule request

## Thesis

One can use `0.0.` instead of `0`.
It might result in very strange but hard to find typing bugs, example:

[code]

One should use `0`. Always!

I have seen some people is using it to cast `int` to `float`.
When you need a float, then cast it to float explicitly. And not with `0.0` magic.

[2020-05-26 13:00] SwampFalc opened #1423 "Allow use of nested functions for filter()"
# Rule request

An additional exception to [WPS430](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/best_practices.html#wemake_python_styleguide.violations.best_practices.NestedFunctionViolation) should be made when using filter().

## Thesis

The use of the stdlib filter() function is recommended by WPS, see for example [here](https://wemake-python-stylegui.de/en/latest/pages/u

[2020-05-26 15:39] sobolevn commented on #1423
You can just call it `factory` 🙂 which is allowed.

[2020-05-26 15:40] sobolevn commented on #1423
Or refactor it to be a standalone function, which is better in my opinion.

[2020-05-26 16:22] SwampFalc commented on #1423
And how **exactly** would I do that, in this particular case?

[2020-05-26 16:37] sobolevn commented on #1423
[code]

[2020-05-27 07:15] SwampFalc commented on #1423
No, I meant how would I go about turning it into a standalone function.

After all, this is **not** a factory function, as the meaning of the word "factory" is clearly defined in the vocabulary of software development.

[2020-05-27 09:29] sobolevn commented on #1423
I would turn this predicate into a callable class:

[code]

And its usage:

[code]

[2020-05-28 08:32] nsidnev opened #1431 "WPS601 false-positive with dataclasses"
# Bug report

## What's wrong

This code (actually just modified example from the python [docs](https://docs.python.org/3/library/dataclasses.html#post-init-processing)) produces a false positive WPS601 error:
[code]

## How is that should be

Well, since this is a dataclass, it seems to me that this error shouldn't occur here.

**NOTE**: in fact, I am not using python dataclasses, but [pydantic d

[2020-05-28 08:56] sobolevn commented on #1431
This might be an issue with django models as well:

[code]

[2020-05-29 15:06] nn3un commented on #1406
Hi, I would like to work on this issue.

I’m a newcomer to this project (and open source in general), so I was hoping for some help and clarification :).

Is it enough to just get rid of the [visit_any_for function](https://github.com/wemake-services/wemake-python-styleguide/blob/97ef6cfbf61f83858e3c533e9eac3122bfa7e7c7/wemake_python_styleguide/visitors/ast/naming.py#L419-L432) .

Or should I keep

[2020-05-29 15:57] sobolevn commented on #1406
@nn3un thanks a lot!

Looks like it!

Yes, we should allow `for _ in ...` there too.

Feel very welcome! 👍

[2020-06-01 07:50] orsinium commented on #1182
Also, if the line-length limit is violated by `# noqa...` or `# pragma...` comment. You can't just move it on a separate line, the linter says where the comment must be put.

[2020-06-01 08:44] orsinium opened #1436 "Lint code blocks in docstrings"
Docstrings can have code blocks and [doctest](https://docs.python.org/3/library/doctest.html)s. Let's lint them as well!

I'd name it "recursive linting" but no need to lint docstrings from code examples in docstrings :upside_down_face:

## Reference implementation

There is a wrapper that runs flake8 against docstrings: https://github.com/kataev/flake8-rst

However, native support from the plugin

[2020-06-01 09:53] orsinium opened #1437 "Report too long tuples unpacking"
# Rule request

## Thesis

[code]

https://github.com/dedefer/flake8-tuple-unpack-limit

## Reasoning

The order is hard to remember. If you have more than 2 values in a tuple, consider using `typing.NamedTuple` instead.

[2020-06-01 11:42] AlwxSin opened #1438 "False positive UselessContinueViolation"
# Bug report

## What's wrong

[code]

## How is that should be

Not sure is it a bug or on purpose?

For me, it's valid function if I don't care about intermediate results of `do_smth(some_obj)`

[2020-06-01 11:52] sobolevn commented on #1438
`with suppress(Exception):`

[2020-06-02 09:14] AlwxSin commented on #1438
@sobolevn It's a great solution. And I'm pretty sure, that I saw it somewhere in other violations. ow about add this case to WPS327 documentation?

[2020-06-02 09:25] sobolevn commented on #1438
Sure!

[2020-06-02 13:15] #1438 closed

[2020-06-02 21:22] Dreamsorcerer opened #1440 "WPS414 for attributes"
[code]
This gives: `WPS414 Found incorrect unpacking target`.

While the example for WPS414 with assigning into a dict looks dodgy. Assigning to `self` attributes looks like normal behaviour to me. Should this check be changed?

[2020-06-02 21:52] Dreamsorcerer opened #1441 "WPS436 for current project's module"
I'm getting `WPS436 Found protected module import: _localdev` when importing a module in my own project.

I'm not sure if I'm just missing a config option that wemake uses, or if this is something that should be added. e.g. flake8-import-order uses the `application-import-names` option to specify import names for the current project.
    So, I'd expect this violation to be ignored for any imports

[2020-06-02 22:23] Dreamsorcerer opened #1442 "Consider allowing walrus operator in while loop and comprehensions"
The walrus operator can reduce code complexity if used correctly. Maybe consider allowing it in a couple of use cases.

In a while loop, this avoids duplication of code:
[code]
would need to be written as:
[code]
Which results in duplicated code, and moves the conditional code away from the while loop definition.

Another example from the Python release notes:

[code]

In this case it's avoiding m

[2020-06-02 23:36] sobolevn commented on #1440
Well, not really. Assigning to `self` might be possible. But, general multiple assignment to attributes is totally incorrect.

I will think a little bit more about `self` case. I, personally, never write a code like this. But, I don't have an explanation why yet. Only a gut feeling.

Let's take some more time to think about it.
Thanks a lot for the report! 👍

[2020-06-02 23:40] sobolevn commented on #1441
Can you please specify how your file tree looks like? I don't quite get what structure do you have.

[2020-06-02 23:44] sobolevn commented on #1442
Thanks a lot for bringing this up!

Is is a very hard thing to discuss. Because it is very opinionated.
And I personally really (really!) dislike walrus operator.

I don't see any problem when people disable this check in their own code, but I don't want to support any other checks except the one we already have: no walrus.

I guess, it might be a great idea for another plugin! I haven't seen any

[2020-06-02 23:44] #1442 closed

[2020-06-03 09:40] Dreamsorcerer commented on #1441
So, it looks like my_application/*.py, then files are imported with `from my_application._localdev import something` or similar.

[2020-06-03 09:56] sobolevn commented on #1441
Oh, I see. I have the same problem in `returns`: https://github.com/dry-python/returns/tree/master/returns/_generated

Currently, I don't have any ideas on how to fix it. Config option might do the trick.

[2020-06-03 09:58] Dreamsorcerer commented on #1442
OK, no problem.

For me, whenever I've written a while loop like that example, even long before the walrus operator, I would stare at the loop for atleast several minutes trying to see if there is a cleaner way to write it, without duplicating code.

There is also no way to write that comprehsion example efficiently without walrus. You either have to call the function twice, or write it without a

[2020-06-03 10:00] Dreamsorcerer commented on #1441
Yep, as I mentioned flake8-import-order uses that config option to specify import names for the project. i.e. `application-import-names = my_application`.
https://github.com/PyCQA/flake8-import-order#configuration

[2020-06-03 15:55] Dreamsorcerer commented on #1442
Also worth mentioning. The doc says "Python is not expression-based."

However, it looks like Python 3.9 is:
https://www.python.org/dev/peps/pep-0617/#background-on-peg-parsers

[2020-06-03 19:52] webknjaz commented on #1407
Well, I think it should only be used when the dev wants to signal a direct dependency between exceptions. Adding such a rule would introduce more copy-paste work, hence it'll make the DX of the original developer (not the user of their lib) worse.

[2020-06-03 22:31] mwchase commented on #717
I ran into this when I was writing generators in line with https://sobolevn.me/2019/03/enforcing-srp, because I was putting `yield` inside `__call__`. What does "not working" look like? I worked around this by delegating to a private generator method, but I can't tell that this alters the publicly visible functionality.

[2020-06-04 08:48] sobolevn commented on #717
@mwchase thanks a lot for the report? Can you please share some code samples to illustrate your case?

[2020-06-04 08:53] #1406 closed

[2020-06-05 08:16] raghul-rajasekar commented on #1381
Hi, I'd like to claim this issue.

[2020-06-05 08:57] sobolevn commented on #1381
Thanks a lot, @raghul-rajasekar!

[2020-06-05 16:26] webknjaz commented on #1120
Here's another case:
[code]

Boolean literals in `pytest.param()` calls trigger `WPS425: Found boolean non-keyword argument: True` which is wrong.

[2020-06-05 19:18] webknjaz opened #1448 "[docs] Violation set of pages is broken: code numbers missing"
# Bug report

I used to look up rule explanations by searching the rule pages with `Ctrl+F`.

## What's wrong

The rule numbers/codes are not rendered in docs anymore.

## How is that should be

It should be possible to see the WPS codes on pages like https://wemake-python-stylegui.de/en/latest/pages/usage/violations/naming.html

[2020-06-05 21:05] sobolevn commented on #1448
This happened because of `sphinx` update to `3.0` 😞

[2020-06-07 15:47] Dreamsorcerer commented on #1448
I don't have it set up to test out. But, looking at the documentation, I found:

https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_default_options

So, maybe just changing this line to `True` will do the trick?
https://github.com/wemake-services/wemake-python-styleguide/blob/master/docs/conf.py#L113

Also, it should be changed to `autodoc_default_options`, as that

[2020-06-07 17:38] #1448 closed

[2020-06-07 17:42] sobolevn commented on #1448
Fixed!
<img width="1083" alt="Снимок экрана 2020-06-07 в 20 41 49" src="https://user-images.githubusercontent.com/4660275/83975930-54bcaf00-a8ff-11ea-8db3-a200c600e4ac.png">

[2020-06-08 13:14] RandyRomero commented on #1414
I got rid of this bug by updating flake8 from 3.7.8 to 3.8.2 and flakehell at least to 0.3.4.

[2020-06-08 13:14] #1414 closed

[2020-06-09 01:52] mwchase commented on #717
The project where I ran across this has a bunch of distinct components that perform an operation and generate a stream of messages to present to the end user.
I chose to implement this using generators with non-None returns.
As part of the dependency injection, I had it explicitly inject the RNG, so classes look something like this:
[code]
Where `roll_log` is a stateless function (therefore not pa

[2020-06-09 08:08] sobolevn commented on #717
Yes, `__call__` is different. And can be a generator. Can you please open a new bug report?

[2020-06-09 09:22] ko3luhbka commented on #1077
Hi!
Could you please explain how not to violate WPS204 rule? In my tests I often used this pattern:
[code]
I faced with WPS204, and yes, there are a lot of repeated `response.content.decode('utf-8')` expressions. So I moved the expression into function like this:
[code]
... and call it in each test.
But I still have a problem with WPS204:
`Found overused expression: decode_response(response); used

[2020-06-09 09:34] AlwxSin commented on #1077
@ko3luhbka just turn off this rule in tests.

[2020-06-09 09:55] ko3luhbka commented on #1077
Oh, okay, it was a kind of "last resort" for me. I just thought that it's possible to fix it "right" somehow.
Thank you.

[2020-06-09 10:03] sobolevn commented on #1077
The "right" way would be supported in #1120

[2020-06-10 07:55] chamaoskurumi commented on #1303
Hey @sobolevn, any chance the `--baseline` feature gets a review and makes it into a release anytime soon? :pray:

[2020-06-10 18:43] webknjaz opened #1457 "E800 shouldn't be triggered for `# noqa` lines"
# Bug report

`# noqa` comments are wrongly recognized as commented out code.

## What's wrong

This
[code]
causes `E800: Found commented out code` and it's wrong. Sometimes
noqa comments don't fit in the line-limit violations and it's okay
to put them on the previous line.

## How is that should be

No error.

## System information

N/A

[2020-06-11 08:54] sobolevn commented on #1457
I am testing this out, but `noqa` does not seem to work this way:

[code]

Output:

[code]

[2020-06-11 08:57] webknjaz commented on #1457
@sobolevn I assume that it's up to a specific plugin (or its specific violation handler) how they parse `noqa`. Or maybe it's inconsistent. But I know that sometimes it works and sometimes it behaves weirdly.

[2020-06-11 09:22] webknjaz commented on #1457
I've done some googling and haven't found any mentions of using noqa on the previous line. So I might've confused it with pylint. FWIW _I think_ I saw this rule barking at pylint comments too.

[2020-06-12 21:35] Dreamsorcerer opened #1459 "WPS229 exception for CancelledError"
What do you think about ignoring WPS229 when only catching `asyncio.CancelledError`?

The point of this rule is to minimise the amount of code being tested that might raise an exception. However, in this case the exception is not coming from the code inside the try block, but being injected from outside the coroutine. Therefore the exception needs to be caught over a more general area.

[2020-06-12 21:56] Dreamsorcerer opened #1460 "WPS420 with try/else"
What about when you need to ignore an error and need the else block?

[code]

To rewrite this with suppress() would require moving the else block into the with block, which would seem to go against the idea behind WPS 229.

[2020-06-12 22:46] sobolevn commented on #1460
I would use `with suppress(VehicleUnavailableError):` here.

[2020-06-12 22:48] sobolevn commented on #1459
Then yes, you can use `noqa` there. Great use-case for it! 👍

[2020-06-13 02:42] mwchase opened #1461 "yield statements should be allowed in __call__ methods"
# Bug report

## What's wrong

`__call__` is in the `YIELD_MAGIC_METHODS_BLACKLIST`. This makes it inconvenient to return generators from custom `__call__` implementations, because putting `yield` statements in directly triggers `WPS611`.

## How is that should be

It should be possible to use yield statements in a `__call__` implementation without triggering `WPS611`.

Unlike most other magic met

[2020-06-13 07:33] sobolevn commented on #1461
@mwchase PRs are very welcome on this one!

[2020-06-14 19:58] i-am-jeetu commented on #1461
![image](https://user-images.githubusercontent.com/66921514/84602764-4b0aec80-aea7-11ea-909b-92d5675cb75e.png)
Hi, I'm beginner so guide me through my first PR.  Is this  all we need to do?

[2020-06-14 22:35] sobolevn commented on #1461
@i-am-jeetu yes! We would also need to test it in here: https://github.com/wemake-services/wemake-python-styleguide/blob/58b96219a39390c35353aa9a29d483d5ed3f1cf7/tests/test_visitors/test_ast/test_classes/test_methods/test_yield_magic_method.py

Thanks a lot for your help!

[2020-06-15 03:25] hhsdev commented on #1437
Hi! Can I take this one? Thank you.

[2020-06-15 07:11] arudzinska commented on #1422
Hi, I'd like to take this issue.

[2020-06-15 08:27] sobolevn commented on #1422
Thanks a lot!

[2020-06-15 08:27] sobolevn commented on #1437
Thanks a lot, assigned!

[2020-06-15 13:10] i-am-jeetu commented on #1461
I have created a PR, which fixes the issue. #1467

[2020-06-22 08:19] #1437 closed

[2020-06-23 16:42] cbows opened #1478 "Satisfying pattern for WPS412 and WPS203?"
# Question

This isn't really a bug report, more a question.

Assuming the following file structure:
[code]

Subpackage contains a bunch of modules `foo`, `bar`, `baz`, etc. and `module` wants to import them, so I could do
[code]
but this pattern will quickly raise WPS203 (too many imports) on large projects where I might also have other subpackages. To circumvent this, I am tempted to do the foll

[2020-06-23 19:48] sobolevn commented on #1478
@cbows thanks a lot for raising this question!

I would say that if this happens in a single file, then you can just ignore this violation and that's it.
It might happen in cases like: dependency injection, component registration, complex business logic with lots of steps and actors, etc.

But, if this happens a lot in your project, it means that you have an architecture problem. The whole idea of

[2020-06-23 22:16] cbows commented on #1478
Thank you. I think I understand the reasoning behind theses rules better now.

I agree about the tight coupling problem you mentioned. But I just realized that in my case it seems to be more of a UI problem I want to solve. For example I have subpackages `models` and `schemas`. One is for database models and the other for schema definitions of objects passed to clients in a web app. There is certa

[2020-06-23 23:18] hhsdev commented on #1402
Hey! Can I take this one? Thanks.

[2020-06-23 23:55] sobolevn commented on #1402
@hhsdev thanks!

[2020-06-24 09:04] #1478 closed

[2020-06-24 10:36] antlu opened #1480 "AttributeError: 'NoneType' object has no attribute 'parent'"
# Bug report

## What's wrong

When running the linter, I get this error:

[code]

### What causes the error

The `_` alias, as in `from django.utils.translation import gettext_lazy as _`
The error doesn't appear with other aliases. Moreover, even `_` works as an alias in other modules, but not in [a specific one](https://github.com/Hexlet/hexlet-friends/blob/0cc2b943f6c3ad961361de5ae1cecc44fb2878

[2020-06-24 10:59] sobolevn commented on #1480
Looks like `pyflakes` issue. Can you please post the same issue there?

[2020-06-24 11:03] antlu commented on #1480
Okay.
I thought about that, but running `pyflakes file.py` produces no error. 🤷‍♂️

[2020-06-24 11:08] sobolevn commented on #1480
Can you verify it like this:

[code]

?

[2020-06-24 11:11] antlu commented on #1480
No errors.

[2020-06-24 11:34] sobolevn commented on #1480
So, we can now add plugins one by one to find which one has this problem. The last one should be `wps` itself. The others order is not important.

My guess is that some other plugin adds `.parent` attribute and breaks stuff. 😞

[2020-06-24 14:48] cbows opened #1481 "Accessing my own protected modules"
# Bug report

## What's wrong

I am developing a package and have some protected modules I don't want to expose in the public API, but only use them internally. However, when I import my own protected modules, I get WPS436 (protected module import).

## How is that should be

It should be fine to work with your own protected modules.

## System info
I am using wemake-python-styleguide 0.14.0

[2020-06-24 17:46] antlu commented on #1480
I've reinstalled the package. Works well now. 😊

[2020-06-24 17:46] #1480 closed

[2020-06-28 17:31] Dreamsorcerer commented on #1327
Also:
[code]

[2020-06-28 21:17] Dreamsorcerer opened #1483 "Annotations complexity exception on Literal['']"
I think you've used the flake8-annotations-complexity code in this project. I didn't realise that, and had it installed additionally.

I found an error with flake8-annotations-complexity when using Literal with an empty string. After getting that fixed, I found I had the same error again in wemake.

Fix (and test) is at: https://github.com/best-doctor/flake8-annotations-complexity/commit/7c1b0af4b

[2020-06-29 07:50] sobolevn commented on #1483
@Dreamsorcerer pr is welcome!

[2020-06-29 11:46] hhsdev commented on #1402
@sobolevn  Hi! I am having some trouble implementing this. Could you give me some advice?

tl:dr; I think the implementation needs both `ast` and `tokenizer`.

Currently, [`MagicNumberViolation`](https://github.com/wemake-services/wemake-python-styleguide/blob/8ec3948343950e342b4e449f73357abca2983963/wemake_python_styleguide/violations/best_practices.py#L1294) is checked by [`WrongNumberVisitor`](

[2020-06-29 13:59] #1483 closed

[2020-06-29 14:05] sobolevn commented on #1402
Then you should probably use `libcst`, see #1068
I am going to merge this PR soon.

[2020-06-29 17:12] hhsdev commented on #1402
Nice! Will wait for the PR.

[2020-06-29 17:40] Dreamsorcerer commented on #1481
Duplicate of #1441

[2020-06-29 17:42] Dreamsorcerer opened #1489 "WPS323 False positive"
## What's wrong

[code]

where seen is a datetime.datetime object.

## How is that should be

The characters are datetime's formatting parameters, not general % string formatting. This shouldn't cause a violation.

[2020-06-29 18:01] sobolevn commented on #1489
Duplicate of #1329

[2020-06-29 18:01] #1489 closed

[2020-06-29 18:02] #1481 closed

[2020-07-01 12:47] sobolevn opened #1493 "Add `wemake-plain` output formatter"
It should be the same as `wemake`, but without colors. Why?

When I try to save the output to file, I get this:

[code]

And I want to have this:

[code]

[2020-07-01 12:51] #1422 closed

[2020-07-04 16:23] Dreamsorcerer opened #1494 "Complexity really high for some types of code."
I'm finding certain kinds of code produce a score above the default 14, even though they don't look that complex to me, and I would really struggle to simplify them without making the code harder to read and maintain. The 2 cases that often seem to do this for me is translations and sqlalchemy queries.

So, I'm just wondering if there's some improvements that should be made to the complexity check

[2020-07-07 15:29] Dreamsorcerer opened #1499 "WPS515 on one-liner open()"
WPS515 gets emitted for a one-liner, such as:
`open(filename, 'w').write(text)`

If the file object is not being saved to a variable, then this should be safe, and therefore probably shouldn't trigger WPS515.

[2020-07-07 16:38] sobolevn commented on #1499
Can you please explain?

[2020-07-07 18:37] Dreamsorcerer commented on #1499
The file object is automatically closed on garbage collection, so it should safely get closed in this situation.

Honestly, I thought this was a pretty common approach, but now I'm taking a closer look, maybe it's not recommended (and there's the Path methods for one-liners).

[2020-07-07 18:37] #1499 closed

[2020-07-08 13:06] webknjaz opened #1500 "Bump flake8-isort min version to 3.0.1"
After the release of isort==5.0.0, flake8-isort stopped working: https://github.com/gforcada/flake8-isort/issues/88.

The flake8-isort==3.0.1 patches this by limiting the isort version to lower than 5 in its dependencies: https://github.com/gforcada//pull/89. I think, this dist should set `flake8-isort >=3.0.1, <4` in the install requirements.

[2020-07-10 13:09] Dreamsorcerer commented on #1500
You added the help wanted tag without any explanation. Is there something more complicated than just changing the version number?

Opened a PR that just bumps the version number.

[2020-07-10 13:52] Dreamsorcerer commented on #1500
Though, I am a little confused why that file is already `<4`, yet the pip package installs `<3`.

[2020-07-10 14:03] sobolevn commented on #1500
Nope, there's nothing more than a version bump. I just don't have the time right now to work on this.
(All my spare time goes into https://github.com/dry-python/returns/pull/446)

[2020-07-10 14:03] #1500 closed

[2020-07-10 16:31] Dreamsorcerer commented on #1500
OK, cool. This needs a new release on pyPI though. The current package is completely broken if you just install or upgrade currently (without manually pinning isort).

[2020-07-10 18:08] sobolevn commented on #1500
I will release `0.15.1` tomorrow. Thanks a lot, @Dreamsorcerer! 👍

[2020-07-15 11:31] KJagiela opened #1508 "WPS433 with TYPE_CHECKING"
# Bug report

## What's wrong

While typing code, it's sometimes necessary, to use `TYPE_CHECKING` in order to avoid circular dependencies.
[code]
This raises `WPS433` as it is, indeed, a nested import. But I believe that this case should be excluded from the violation, since it's not a runtime import, just a type checking one.

## How is that should be
`TYPE_CHECKING` blocks should be excluded fr

[2020-07-15 11:38] skarzi commented on #1508
It will be really handy feature when type hintings legacy projects, because usually in such cases it's hard to add type hintings at once and often developers are forced to add them without refactoring, so this feature will make this process a bit simpler

[2020-07-15 11:55] sobolevn commented on #1508
I agree. This is a cool feature to have.

[2020-07-15 11:58] KJagiela commented on #1508
Since it's a starter - can I take it?

[2020-07-15 12:19] sobolevn commented on #1508
@KJagiela you sure can! Thanks a lot for your help! 👍

[2020-07-16 18:31] nikiforniko opened #1510 "flake8 failed"
# Bug report

## What's wrong
Hello! I just started my new project with poetry and immediately installed WPS with "poetry add wemake-python-styleguide"
After success installation, I tried running flake8, and i got a Traceback

[code]

## How is that should be

I found out that this is due to the update of package versions of "isort" and "flake8-isort"
Maybe you have dependency problems with this p

[2020-07-16 19:23] sobolevn commented on #1510
Duplicate of #1503

Currently you have to downgrade your `isort` to `<5`.
I will release a fix soon, please stay tuned.

[2020-07-16 19:23] #1510 closed

[2020-07-16 19:55] strmwalker opened #1511 "Invoking in flakehell results in exception"
# Bug report

## What's wrong

When invoking `flakehell baseline` I get following traceback. I can only guess that I have bad annotations somewhere in code, but cannot tell where. Would be happy to provide more info.
Traceback:
[code]
## How is that should be

## System information

### flake8 information

Contents of `flake8 --bug-report`:

[code]
### pip information

Contents of `pip freeze`:

[

[2020-07-16 20:16] sobolevn commented on #1511
Can you please try to run this command:

[code]

It will print the filename that is checked by `flake8`. Then, we can track down the incorrect annotation.

[2020-07-16 21:09] strmwalker commented on #1511
Sorry, but command resulted in error: `find: returns: No such file or directory`. I am on macOS Catalina 10.15.5.

Additional info I forgot to mention:
*  I am using pyproject.toml for configuration
* traceback is result of running `flakehell baseline`.

I just tried to run flakehell in fresh virtualenv and failed to reproduce. I can try to reproduce this issue on another project later.

[2020-07-16 21:17] sobolevn commented on #1511
Oups, please replace `returns` with your folder name.

[2020-07-17 08:57] strmwalker commented on #1511
Ok, so I ran this command in my project, but this time flake8 didn't crash. I will try later this config on another project, and if there will be exception, I'll run it with `find`. I believe I should run flakehell instead of flake8, since I am using it?

[2020-07-17 09:19] sobolevn commented on #1511
Yes, possibly it is related. Try again please!

[2020-07-17 10:16] strmwalker commented on #1511
I ran into exception today again on `flakehell lint`. Traceback:
[code]

I tried to run `find . -name '*.py' -exec bash -c 'echo {}; flakehell lint {}' \;`, which resulted in successful check. This happened after I excluded `darglint` error in pyproject.toml like this:
[code]

Maybe I can patch my library somewhere to print out file under check?

[2020-07-17 12:18] dyens opened #1512 "New version of isort broke flake8-isort module"
# Bug report

## What's wrong

After updating packages have a bug in flake8-isort module.
Or you can get this error in new environment.

[code]

## System information

### flake8 information

`flake8 --bug-report` does not work on the same reason:

[code]

### pip information

In my test environment i have installed only `wemake-python-styleguide` and it deps:

[code]

[2020-07-17 14:19] nikiforniko commented on #1512
Hi, look at my same issue #1510

[2020-07-17 14:35] #1512 closed

[2020-07-17 15:21] sobolevn commented on #1511
Yes, you can probably patch it here: https://github.com/PyCQA/flake8/blob/master/src/flake8/style_guide.py#L386

[2020-07-18 13:16] angulartist commented on #1461
Hi,

It seems that this issue has been solved. Can we close it?

Mo.

[2020-07-18 21:28] #1461 closed

[2020-07-18 21:28] sobolevn commented on #1461
Yes 👍

[2020-07-19 09:50] #1508 closed

[2020-07-19 17:08] skarzi commented on #1327
Example provided by @Dreamsorcerer is really common especially when working with ORMs, it's quite common to name fields/descriptors `id` or `type`, so it would be also great enhancement :+1:

[2020-07-21 16:07] Dreamsorcerer opened #1516 "WPS510 allow generator expressions"
WPS510 appears on generator expressions, but converting these to sets would make the code less efficient.
e.g.
`x in (calc(y) for y in something)`
is more efficient than the equivalent set:
`x in {calc(y) for y in something}`
As the set approach will require iterating through everything and creating the set object.

[2020-07-21 17:26] skarzi commented on #1327
Even following one:

[code]

[2020-07-26 01:06] nymann opened #1522 "WPS305 Rationale suggestion"
It's my personal opinion that incorporating your own words in the `readme.md`

As a rationale for WPS305 is overall better.

To me (a newcomer) the current rationale in issue #32 comes of as "it's hard to lint so let's not bother". While saying there should only be one way to do something and in the case of formatting strings that's `.format()` is something I can get behind.

What do you think?

[2020-07-26 08:03] sobolevn commented on #1522
I am open to suggestions and pull requests! 🥇

[2020-07-28 11:31] orsinium commented on #1511
Should be fixed in #1488. Please, try development version of `wemake-python-styleguide`. [CONTRIBUTING](https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md) should help with it.

[2020-07-28 11:33] orsinium commented on #1511
Also, flakehell has `--safe` command to suppress exceptions from plugins. It can work as a temporary solution.

[2020-07-28 11:34] orsinium commented on #1516
Try `any(calc(y) == x for y in something)` instead.

[2020-07-28 11:44] orsinium opened #1523 "Forbid `raise Exception`"
# Rule request

## Thesis

Forbid to raise `Exception` or `BaseException`

[code]

## Reasoning

Bare exception hard to catch and when you catch them you can suppress something else.

On [Built-in Exceptions](https://docs.python.org/3/library/exceptions.html#bltin-exceptions):

On [User-defined Exceptions](https://docs.python.org/3/tutorial/errors.html#user-defined-exceptions):

[2020-07-28 11:45] orsinium commented on #1523
Also, raising any built-in exceptions, like `ValueError`, isn't a good idea. However, I think forbidding it would be too strict.

[2020-07-28 11:50] sobolevn commented on #1523
Yes, I agree.

[2020-07-28 11:56] orsinium opened #1524 "Custom exceptions must end with `Error`"
# Rule request

## Thesis

Custom exception class name must end with `Error`:

[code]

## Reasoning

This is a convention which stdlib follows and documentation recommends to follow for custom exceptions as well:

[2020-07-28 13:08] wyuenho opened #1525 "Bad English writing"
# Bug report

Hi! Thanks for this awesome project. This has alleviated a lot of configuration pains. However, I have some suggestions to make:

## What's wrong

Broken English in documentation and error messages all over the place, a good example is [this](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.html#wemake_python_styleguide.violations.consistency.WrongLoopIt

[2020-07-28 13:17] sobolevn commented on #1525
Any help in this field is appreciated! 👍

[2020-07-29 14:24] CodingKanin commented on #1500
@sobolevn was 0.15.1 released?

[2020-07-29 15:08] sobolevn commented on #1500
Nope, sorry! I forgot about it.

[2020-07-29 15:10] CodingKanin commented on #1500
Would it be possible to get that released? My GitHub action checks have been failing haha.

[2020-07-29 15:11] sobolevn commented on #1500
10 minutes 🕐

[2020-07-29 15:29] webknjaz commented on #1500
:alarm_clock:

[2020-07-29 15:37] sobolevn commented on #1500
Oh shii, today is not my `git` day. I have placed the commit in the wrong place. https://github.com/wemake-services/wemake-python-styleguide/commit/8513bcef5585debe8d97c473dfc53961c25cc154

I will try to insert it right after `0.14.0` tag now.

[2020-07-29 15:42] Dreamsorcerer commented on #1516
Good idea. Not sure if that invalidates this bug or not, I'll let someone else make that call.

[2020-07-29 15:45] sobolevn commented on #1500
So, I have released a new version with just one this fix: https://pypi.org/project/wemake-python-styleguide/0.14.1/

[code]

I will now have to think about possiblities of moving this commit into the right place.

Thanks a lot for the reminder! 👍

[2020-07-29 15:59] CodingKanin commented on #1500
So I would access this under `- uses: wemake-services/wemake-python-styleguide@0.14.1`?

[2020-07-29 16:03] sobolevn commented on #1500
`docker` image is on its way, it needs a tag to be in-place.

[2020-07-29 16:25] sobolevn commented on #1500
I have deleted all the mess, let's try one more time. Any suggestions?
1. I don't want to do 114 manual rebase `rm poetry.lock && poetry lock && git add poetry.lock && git rebase --continue`
2. Other methods don't seem to work (at least with my set of skills)

[2020-07-29 16:47] sobolevn commented on #1500
I had to rewrite the whole hostory to get this merged: https://github.com/wemake-services/wemake-python-styleguide/commit/8068e6634aaacf1eecba3f27a529213df3bd6284

The process is clearly broken, we need to follow some other process next time. I cannot waste 2 hours of my time on releasing a bug fix. Sad that this happened! Sorry!
<img width="1230" alt="Снимок экрана 2020-07-29 в 19 46 41" src="htt

[2020-07-29 16:50] CodingKanin commented on #1500
Thank you for taking the time to do it! Hope you get it solved soon

[2020-07-29 16:51] sobolevn commented on #1500
Github Action is also published: https://github.com/wemake-services/wemake-python-styleguide/releases/tag/0.14.1

[2020-07-29 19:18] owodunni commented on #1500
Great job @sobolevn, thank you for taking the time to fix this!

[2020-07-31 17:08] webknjaz opened #1533 "WPS500 False-positive with `return` and not `break`"
This rule wants
[code]
But inside of the lookup-style functions it's reasonable to just `return` early instead of maintaining an extra var:
[code]

This case does not trigger `raise` when `return` interrupts the loop, just like `break`. I think it should not be reported.

[2020-07-31 17:10] webknjaz commented on #1516
I think that the use of `any()` and `all()` makes the intent of the code more explicit.

[2020-08-01 13:07] siva432 commented on #1525
I would like to contribute to this :-)

[2020-08-01 19:04] sobolevn commented on #1525
@siva432 thanks a lot!

[2020-08-02 15:08] webartifex opened #1534 "Add Exceptions for String Constant Overuse"
# Rule request

I feel it would be good to be able to declare exceptions for WPS226

## Thesis / Reasoning

In a file on a current project, I tend to use `" ".join(iterable)` a lot.
It feels unnatural to declare a CONSTANT for that.
Also, I don't think it is good in this case to disable WPS226 for the entire file as there could be other common string constants.

Alternative: Excluse `" "`, `""`, "

[2020-08-03 14:08] webartifex commented on #1500
Is this really solved?

I have wemake-python-styleguide 0.14.1 installed and according to poetry it blocks me from adding isort ^5.0.0

[2020-08-03 14:14] sobolevn commented on #1500
@webartifex yes, that's how `flake-isort` solves this issue for now. Because `isort@5` has different public API.
You can track this issue: https://github.com/gforcada/flake8-isort/issues/88

[2020-08-04 12:29] siva432 commented on #1525
where or which HTML file should I edit?

[2020-08-04 13:34] sobolevn commented on #1525
@siva432 there are no HTML files to edit actually. We have two sources of docs:
- `.rst` files: https://github.com/wemake-services/wemake-python-styleguide/tree/master/docs and https://github.com/wemake-services/wemake-python-styleguide/tree/master/docs/pages
- `.py` files, like: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/violations/best_practi

[2020-08-05 18:34] webartifex opened #1539 "Add Exceptions for TooShortNameViolation"
# Rule request

I tend to set min-name-length to 2 in my projects [default is 3]

Then, I get a WPS111 error, for example, for `import numpy as np`

## Thesis

I feel it would be great if there were an allowlist for names that are too short given the configuration but still allowed.

## Reasoning

No matter if min-name-length is 2 or 3, there will always be common idiomatic names that are short.

[2020-08-06 14:13] tangowithfoxtrot commented on #1525
I have made some grammar and spelling corrections to the best_practices.py file. Would you mind providing some guidance on how to contribute them? Please and thank you!

[2020-08-06 15:05] sobolevn commented on #1525
@tangowithfoxtrot do you mean #1540 ?

[2020-08-07 03:47] siva432 commented on #1525
ok @tangowithfoxtrot go ahead even I'm working on it, I'm just little busy now u take care or it.

[2020-08-07 11:59] siva432 commented on #1525
@sobolevn I have finished all changes how should resend the same PR, I tried by saving the file, git add , git push .
but I'm, not receiving any PR.

[2020-08-07 12:25] sobolevn commented on #1525
@siva432 I will help you fixing the CI failure 👍

Thanks a lot for you help!

[2020-08-07 15:07] orsinium commented on #1516
Thank you all! I think the case is solved. Let's close the issue :)

![image](https://user-images.githubusercontent.com/9638362/89659689-81c21980-d8d0-11ea-8331-c625f3f540b8.png)

[2020-08-07 15:07] #1516 closed

[2020-08-09 09:23] webknjaz opened #1543 "Bump flake8-isort max version to 5"
This is basically a follow-up for https://github.com/wemake-services/wemake-python-styleguide/issues/1500.

According to https://github.com/gforcada/flake8-isort/pull/92#issuecomment-670480643, `flake8-isort==4.0.0a0` is the first version to implement the compatibility with `isort>=5`.

They encourage everyone to battle-test the pre-release and a few folks have already reported it working well.

I

[2020-08-13 10:02] #1539 closed

[2020-08-16 14:55] jtpavlock commented on #1522
Perhaps with the changes in https://github.com/wemake-services/wemake-python-styleguide/pull/1315 a configuration option to only prefer f strings could be allowed? The use of a string formatter between f strings and .format() seems highly subjective and I don't think there is "an obvious way to do it".

[2020-08-16 16:55] jtpavlock opened #1552 "Rationale for why print and pprint are in the blacklisted functions?"
I am writing a cli application that does a lot of writing to stdout and also takes in prompts. I am wondering what is the reason the print functions are blacklisted and what else I should be using instead?

[2020-08-16 17:39] orsinium commented on #1552
## Side-effects

Prefer pure functions, try to return the result instead of printing it:

[code]

Read about [pure functions](https://en.wikipedia.org/wiki/Pure_function) and [side-effects](https://en.wikipedia.org/wiki/Side_effect_(computer_science)) for more context.

Of course, you can't have an application without side-effects. So, your `main` function which is the [entry point](https://python

[2020-08-16 17:44] orsinium commented on #1533
In case of using return, you can omit `else`:

[code]

[2020-08-16 18:29] jtpavlock commented on #1552
Thanks for the very detailed response!

I admit I'm probably not the norm, but my application is split into atomic "plugins" where each deals with one aspect of the application via subcommands (think git). Due to the "main" entrypoint not knowing which plugins are enabled ahead of time, and since some will produce output, some won't, some will alter other's output, etc. it seems more feasible to h

[2020-08-17 06:16] orsinium commented on #1552
Probably, in this case, dependency injection would work best for you:

[code]

This is an intermediate solution when you still have side-effects but can disable them, tweak verbosity, and overload the `echo` function in the tests.

[2020-08-17 15:14] jtpavlock commented on #1552
@orsinium that was a very helpful example to get me to re-think how I'm using side-effects, thank you!

I think my question has been answered, so I'll close.

[2020-08-17 15:14] #1552 closed

[2020-08-18 14:57] Dreamsorcerer commented on #1543
Looks like this has already been done on master: https://github.com/wemake-services/wemake-python-styleguide/commit/451c8d1545fdee90527ed51d4dea66a0d08e4627

[2020-08-18 15:50] Dreamsorcerer commented on #1525
The example given is perfectly valid English. I'm not sure why you think there is a language/grammar issue there.

It's incorrect according to the wemake rules, which should be implied by the fact you are using wemake's opionated ruleset. I think reading the full explanation on that page is perfectly understandable for an experienced developer.

It could perhaps do with some minor improvements for

[2020-08-18 18:34] sobolevn commented on #1543
Yes! 👍

[2020-08-18 19:59] wyuenho commented on #1525
Please do not change the description without taking a closer look. It's everything you said plus bad English.

https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.html#wemake_python_styleguide.violations.consistency.WrongLoopIterTypeViolation

Look at all those Forbids to and Enforces to, We do not need this since,  caused by a recent refactoring or just by acedent.... T

[2020-08-18 20:42] Dreamsorcerer commented on #1525
Again, everything you are quoting is perfectly valid English. Could you provide an example of what you _do_ want to see? As a native English speaker, I'm just really struggling to match your complaints with the examples provided...

[2020-08-18 20:53] wyuenho commented on #1525
First of all, fix all the spelling errors. It's accident, not acedent.
Second of all, it's "we haven't needed this since" instead of "we do not need this since". "Since" implies a long time span from the past to now, so the correct usage is the [present perfect tense](https://www.englishpage.com/verbpage/presentperfect.html).
Third of all, don't write "forbids to use" or "enforces to have", just w

[2020-08-18 20:59] Dreamsorcerer commented on #1525
As for missing rationale, one thing I found recommended on the website (that I didn't realise until recently), is that you can add to the flake8 config file:
`format = wemake`
This changes the output format, and includes a reminder of where all the documentation is for all of the violations. Which is handy if you're asking other developers to work on a project who are not familiar with wemake.

Bu

[2020-08-18 21:07] wyuenho commented on #1525
That's why writing that single line error well is of paramount importance, but we shouldn't dismiss the writing in the rationale and examples sections. Even experienced dev, and I argue especially experienced devs, who don't have problems comprehending a lot of more complex Python syntax, find the rules violations mysterious, so they too have to look up the why. You cannot have a linting tool that

[2020-08-18 21:17] Dreamsorcerer commented on #1525
"we do not need this since" is perfectly valid, since can be used as a synonym of because. That's how it's used in this context, rather than as a relation to time.
In case you don't believe me, check the 8th entry here: https://www.dictionary.com/browse/since

Dropping the "to use", "to have" seems like a good suggestion. They are unneeded fluff (though it's not incorrect English).

For the record

[2020-08-18 21:23] wyuenho commented on #1525
I left out the context, it's [used as a reference to time](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/consistency.html#wemake_python_styleguide.violations.consistency.UnicodeStringViolation).

I've not about to touch half of the code in this project. The action point is to extract the strings and throw them onto a translation service so the pros get to handle them.

[2020-08-18 21:24] Dreamsorcerer commented on #1525
Oh, nevermind, I just reread that in context. Yes, "we do not need this since", also needs fixing.

[2020-08-18 21:25] wyuenho commented on #1525
Also, you don't get to be lazy in a linter, in writing or otherwise. A linter with unclear messages is unusable.

[2020-08-18 21:28] Dreamsorcerer commented on #1525
Translation is usually done by extracting the source strings from the code base. So, the original English strings would still need to be fixed in the code base regardless.

If the goal is to support translations to other languages, then I'd suggest updating the ticket to say exactly that. That seems like a clear feature request that could be implemented by someone.

[2020-08-18 21:41] wyuenho commented on #1525
It's already in the description.

[2020-08-19 08:19] orsinium commented on #1534
I'm for the last proposed solution 👍 No harm in using these strings in-place. They can be excluded onthe wps level by default.

[2020-08-19 08:45] orsinium commented on #1525
Great to see active discussion here! Let's bring order here :)

1. @wyuenho please, make a PR with proposed changes. I see you have a lot of great ideas on how to make error messages better.
1. It's better to make 2 or more separate PRs for grammar fixes and for stylistic changes. The reason is that even if some stylistic changes need more discussion (like one that happens here right now), grammar

[2020-08-19 08:58] orsinium commented on #1533
I hardly can imagine a case when `else` for `for` is needed without `break`. [According to the documentation](https://docs.python.org/3/reference/compound_stmts.html#for), `break` is the only flow control statement that "terminates the loop without executing the else clause’s suite". For every other case, `else` can be just inlined.

If you don't mind, I close the issue.

+ Please, feel free to re

[2020-08-19 08:58] #1533 closed

[2020-08-20 07:31] gram-eiq commented on #1457
1. Flake8 doesn't support noqa on a separate line
1. Pylint does support it. Eradicate already has an exception for pylint: https://github.com/myint/eradicate/commit/d0098861348b0592222d59d8732eac848db14a3a

[2020-08-20 07:35] orsinium commented on #1457
1. Flake8 doesn't support noqa on a separate line
1. Pylint does support noqa on a separate line. Eradicate already has an exception for pylint: https://github.com/myint/eradicate/commit/d0098861348b0592222d59d8732eac848db14a3a

[2020-08-20 07:55] orsinium commented on #337
`flake8-pytest-style` is not in the dependency graph of WPS anymore. I think it should be closed. Objections?

[2020-08-20 08:00] orsinium commented on #1060
The linked PR is merged. Can the issue be closed?

[2020-08-20 08:04] #1060 closed

[2020-08-20 08:04] #337 closed

[2020-08-20 08:04] orsinium commented on #1304
Decision:

1. Do not touch the rule. It checks exactly what it supposed to check. "Migration is hard" is applicable to the old formatting style as well (there are a few autoformatters for it but so).
1. Update the docs to provide more recommendations on how to fix the issue.

[2020-08-20 08:11] orsinium commented on #1321
Related:

[2020-08-20 08:19] orsinium commented on #1327
This is the rule that is hard to have done well, IMHO.

1. It's ok to shadow some built-ins. Namely: credits, copyright, license.
1. It's ok to shadow any built-in on the class attributes level because of ORM and data classes.
1. And it's not ok at the same time:
[code]
    it raises something like `'field' object is not callable`

Python :shrug:

[2020-08-20 12:03] Dreamsorcerer opened #1559 "WPS306 seems outdated"
WPS306 requires inheriting from `object`. This seems like a rather dated approach for Python 3 code.

The doc has a 'See also' link which further proves the point and contradicts the wemake rule, saying that it's preferable without `object`, and lists the other approach as 'Ancient'.

[2020-08-20 12:10] Dreamsorcerer commented on #1327
I think 3 is an edge case that's better handled by type checking (e.g. Mypy), rather than worrying about it in wemake.
The error can only occur within the definition of the class attributes, so it's not something that's likely to happen very often.

[2020-08-20 12:13] Dreamsorcerer commented on #1327
Alternatively, a single `# noqa` when defining the attribute would be acceptable. As long as using the attribute later on doesn't cause a violation as in the other examples (e.g. `A.min = 5`).

[2020-08-20 12:28] Dreamsorcerer commented on #1327
OK, thinking about it, I think the latter is the better answer, have opened a PR to add this information to the docs.

[2020-08-24 09:16] orsinium commented on #1559
I'm even in favor of making the opposite rule: "don't inherit a class from `object`, it's no use in Python 3"

[2020-08-24 09:23] sobolevn commented on #1559
For some reason Python developers are incorrectly interpreting this rule. (Maybe because of the damaging past)

The idea of this rule is not about `python2` vs `python3`. It is about consistency of `class A(object):` vs `class B(A):`
We always have our base class in `()`.

That's it. Please, don't search any historic issues here.

[2020-08-24 09:27] Dreamsorcerer commented on #1559
OK, but that's not clear from the text. I expect the "See also" to help confirm the reasoning, but here it directly contradicts the rule.

[2020-08-24 09:37] sobolevn commented on #1559
Yes, docs can be misleading and should be fixed! Thanks!

[2020-08-24 10:30] zyrikby opened #1569 "WPS update policy with dependencies updates"
Hi! Thank you for the tool!

I would like to ask what is the policy of updating WPS regarding the updates of the dependencies. I see that dependabot-preview adds commits with dependencies updates, however it is not clear when these updates will appear in WPS version.

For instance, recently pytest has been updated to version 6.0, and lots of tools now require this version. At the same time, WPS 0.

[2020-08-24 11:08] sobolevn commented on #1569
Hi! @zyrikby

There are two kinds of dependencies we have:
- dev ones https://github.com/wemake-services/wemake-python-styleguide/blob/master/pyproject.toml#L78 (they are not exported to end users): we update them any time we need. Because, as I said, it does not affect end users. So, your `pytest` example fits in this category.
- prod ones https://github.com/wemake-services/wemake-python-stylegui

[2020-08-24 11:21] zyrikby commented on #1569
MWE is the following:

[code]

And  this results in a conflict:

[code]

[2020-08-24 11:22] sobolevn commented on #1569
Can you please try just `poetry add --dev pytest-xdist`?

It should produce the same output.

[2020-08-24 11:47] zyrikby commented on #1569
Yep, sorry. For some reason, this is the problem of pytest-xdist. I've tried on a new test project. Sorry once again for bothering you!

[2020-08-24 11:47] #1569 closed

[2020-08-24 12:07] sobolevn commented on #1569
No worries, glad it worked!

[2020-08-24 15:31] AlwxSin opened #1570 "Tune WPS425 (boolean kw) to work with callbacks"
# Rule request

## Thesis

This rule doesn't work well with typing and callbacks. Linter should check (if it is possible), is there a keyword for a boolean argument.
[code]

## Reasoning
I know I can put a noqa (and in web project I will, since rule triggers not very often), also I know I can disable rule completely (which I do not want, it's a useful rule).
It'll be neat if linter can check shoul

[2020-08-25 18:14] ydocsgnillats commented on #1493
I can help with this if it is still available!

[2020-08-25 20:46] sobolevn commented on #1493
Thanks a lot, @ydocsgnillats!

[2020-08-26 07:41] braniii opened #1572 "WPS350 issue with PEP465 @ operator"
In [PEP465](https://www.python.org/dev/peps/pep-0465/) the @ operator was introduced for matrix multiplication. Using it as followed raises a WPS350 warning, e.g.,
[code]
Even though, the recommended short notation `a @= a` is not defined in numpy, see
[code]

Hence, I guess a WPS350 should exclude the @ operator?
Thank you for your package. It is definitely one of the most helpful ones.

[2020-08-26 13:13] ydocsgnillats commented on #1493
To make sure I'm understanding correctly, I need to make an output formatter that is similar to the existing one, but without including different colors/styling? What file is the existing output formatter in?

[2020-08-26 14:05] sobolevn commented on #1493
Yes.

`formatter.py` 🙂

[2020-08-26 19:07] sobolevn opened #1573 "Useless % and ^ operators"
# Bug report

## What's wrong

This code does not raise any violations:`

[code]

## How is that should be

It should raise:
- useless operations for `3 ^ 1`, `3 ^ 0` and `3 % 1`
- zero division for `3 % 0`

[2020-08-27 02:01] jtpavlock opened #1574 "Variable docstring triggers WPS428 and WPS322"
# Bug report

## What's wrong

Defining a variable docstring triggers both WPS428 (found statement that has no effect) and, if it's a single line, it will also trigger WPS322 (found incorrect multi-line string).

An example:

[code]

## How is that should be

These docstrings are not normal python syntax, but are [recognized by sphinx](https://www.sphinx-doc.org/en/1.4.8/ext/autodoc.html#directive

[2020-08-27 06:43] sobolevn commented on #1574
This is intentional. Variables should be documented using `#:` comments. Not docstrings.
These docstrings are not removed in the runtime causing your app to slow down.

[2020-08-27 06:43] #1574 closed

[2020-08-27 07:33] SHITIZ-AGGARWAL commented on #1573
hello @sobolevn
I am new to all this, and would very much like to work on this issue
can you please guide me and tell how to get started

[2020-08-27 07:39] sobolevn commented on #1573
I would love to! @SHITIZ-AGGARWAL

Start with reading our contribution guide: https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md

We need to add these new cases here: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/operators.py#L40

And test them here: https://github.com/wemake-services/wemake-python

[2020-08-27 08:42] jtpavlock commented on #1574
I think there are a lot of cases where I'd rather have the increased readability of a multiline docstring versus an indistinguishable slow-down

[2020-08-27 08:44] sobolevn commented on #1574
You can use:

[code]

[2020-08-28 06:57] swapniljha001 commented on #1525
Is this issue already resolved? Or can I contribute something. (I had a good TOEFL score.)

[2020-08-28 07:01] sobolevn commented on #1525
@swapniljha001 you sure can! Just look through our docs for potential issues. 👍

[2020-08-28 21:56] hhsdev commented on #1523
Hey, can I take this one?

[2020-08-29 05:53] sobolevn commented on #1523
Sure! Thank you! 👍

[2020-08-31 13:08] theoden-dd commented on #1534
+1. Had a similar case with `dict.get(field, '')` used for several fields.

Looks like exclusions to the magic numbers (WPS432), which are reasonable, too.

[2020-08-31 15:05] pawamoy opened #1580 "False positivive: string constant over-use: true > 3"
# Bug report

## What's wrong?

Checking a module that starts with this docstring:

[code]

I get this message:

[code]

The word "development" appears in only one other string in the module, as well as the word "tasks".
Also, there seems to be a problem with the count? `true > 3`?

## How should it be?

No violation message.

## System information

### flake8 information

<details><summary>Conten

[2020-08-31 15:39] pawamoy commented on #626
I'm playing with both Black and WPS and found that I can make them compatible with each other by disabling the Q000 rule (from flake8-quotes I think?).

[2020-08-31 15:43] sobolevn commented on #626
You can even configure Q000 to use `"`

[2020-08-31 15:48] pawamoy opened #1581 "Set some dependencies as "extras""
I'm using Black to autoformat code in my project. I'm also writing docstrings in Markdown.

The following flake8 plugins are therefore useless (or even incompatible) for my use-case.

- flake8-brokenline
- flake8-commas
- flake8-quotes
- flake8-rst-docstrings

Would you consider setting these as `extras` so I can choose not to install them when installing `wemake-python-styleguide`?

Thanks for th

[2020-08-31 15:49] pawamoy commented on #626
Yes but I didn't manage to configure it in pyproject.toml through flakehell, I had to add the `--inline-quotes '"'` argument to the flakehell command, which I disliked, so I disabled the rule entirely 😕

[2020-08-31 16:22] pawamoy opened #1582 "Add "wrapper" to NESTED_FUNCTIONS_WHITELIST?"
# Rule request

## Thesis and reasoning

Decorators are often created inside functions. These decorators are then supposed to be used on top of other functions, which means they must accept one, and also that they will often create and return a new function by wrapping the original one. It's a level-3 nesting of functions. Maybe WPS430 should be relaxed, or `NESTED_FUNCTIONS_WHITELIST` could inclu

[2020-08-31 18:30] sobolevn commented on #1581
Nope, this is clearly out of scope of our project.

Thanks a lot for the idea though!

[2020-08-31 18:30] #1581 closed

[2020-08-31 18:31] sobolevn commented on #1582
This might be a good one! 👍

[2020-08-31 21:14] pawamoy commented on #1581
Fair enough, thank you for the quick answer :smile:

[2020-09-01 17:28] pawamoy commented on #1580
Ah, I just understood now that `true > 3` means the string "true" appears more than 3 times. So it's not a bug, closing :slightly_smiling_face:

[2020-09-01 17:28] #1580 closed

[2020-09-02 19:56] zyrikby commented on #1569
I have found the issue. I have described the solution in a [blog post](https://zhauniarovich.com/post/2020/2020-09-poetry-pytest/). In the future poetry version, this issue will be fixed.

[2020-09-02 20:13] sobolevn commented on #1569
Great! Thanks for letting me know

[2020-09-03 15:15] hhsdev commented on #1523
Digging through the code, I found that there's already a [rule in place](https://github.com/wemake-services/wemake-python-styleguide/blob/c19bc17a12b1adfe8b32ed050c77385edf228d57/wemake_python_styleguide/violations/best_practices.py#L988) forbidding `raise BaseException`. I guess I'll just extend that to forbid `raise Exception` as well.

[2020-09-03 15:46] sobolevn commented on #1523
The rule you've mention is about catching. This one is about raising.

[2020-09-04 16:27] hhsdev commented on #1573
Hey, can I take this one? Thanks.

[2020-09-04 17:21] pawamoy opened #1584 "Accept flake8-isort version up to 4.x"
Version 4.0.0 was released about a month ago: https://github.com/gforcada/flake8-isort/releases

Could you increase the range of accepted versions for flake8-isort? Thanks! I can send a PR if needed.

[2020-09-04 17:21] pawamoy commented on #1584
Oh, my bad, I see you already accept version <5. Maybe you just need to release a new version?

[2020-09-04 18:05] sobolevn commented on #1584
😆

That's something I am going to work on! Soon!

[2020-09-04 18:05] #1584 closed

[2020-09-04 18:06] sobolevn commented on #1573
Yes, sure!

[2020-09-05 07:45] orsinium commented on #626
Try this:

[code]

[2020-09-05 07:56] sobolevn commented on #1584
No, no! Everything is cool! No worries! 👍

[2020-09-05 18:24] #1582 closed

[2020-09-09 15:14] Jrryy opened #1595 "WPS515 has a wrong description"
# Bug report

## What's wrong

The description of WPS515 says:

But the violation was made for the opposite reason.

## How is that should be

It should say:

[2020-09-09 15:43] sobolevn commented on #1595
@Jrryy whoops! Can you please send a PR with the fix? 🙂

[2020-09-09 18:42] #1595 closed

[2020-09-12 18:26] valentin-khomutenko commented on #1406
Was this actually fixed?
I'm still getting the same error (version `0.14.1`).

[code]
[code]

Is this a regression or I'm doing something wrong?

[2020-09-12 19:23] sobolevn commented on #1406
It is not released. Will be released in `0.15`

[2020-09-13 14:16] #1559 closed

[2020-09-13 15:07] sumeshpradhan commented on #1534
Hi, I would like to help.

[2020-09-13 15:33] sobolevn commented on #1534
Hi, @sumeshpradhan! Thanks a lot!

[2020-09-13 22:34] sobolevn opened #1599 "Forbid `except TypeError or ValueError`"
This code should be invalid:

[code]

[2020-09-13 22:38] sobolevn opened #1600 "Forbid `await` in `for` loop"
https://github.com/Instagram/Fixit/blob/master/fixit/rules/gather_sequential_await.py

[2020-09-14 06:35] sobolevn commented on #1599
Basically, all expressions except `ast.Name` and `ast.Attribute` should be banned in `except` name.

[2020-09-14 07:37] AlwxSin commented on #1599
@sobolevn can you provide valid example, cause it's not clear which one should be accepted.
[code]

[2020-09-14 09:09] sobolevn commented on #1599
Both!

[2020-09-14 12:07] orsinium opened #1603 "Warn about invalid string type for docstring"
# Rule request

## Thesis

F-strings and bytes cannot be used as a docstring (raw strings is ok). For example:

[code]

In the example above, neither `inspect.getdoc` nor `ast.get_docstring` will interpret the f-string as a docstring.

Also, `get_docstring` is a good reference for the check implementation: https://github.com/python/cpython/blob/3.8/Lib/ast.py#L236-L259

## Reasoning

It's a bug. O

[2020-09-14 12:23] orsinium opened #1604 "Forbid unused constants"
# Rule request

## Thesis

If there is an unassigned constant (and it is not a doctsring), it has no effect and should not be used.

Bad:

[code]

PyLint has the following exceptions from this rule:

[code]

Probably, getting an attribute also should be ignored. Properties can have side-effects (which is bad but possible). Or it can be a separate check.

## Reasoning

To catch cases when you wante

[2020-09-14 12:30] orsinium commented on #1599
Both your examples are valid. The issue is about having an expression inside the `except`. Another example of a bad code:

[code]

I've never seen a dynamically defined `except` like in the example above and I don't have in mind when it could be useful. Exceptions that should be caught should be explicitly listed.

[2020-09-14 12:35] orsinium commented on #1572
Related: https://github.com/numpy/numpy/pull/6000

[2020-09-14 13:12] sobolevn commented on #1603
This is a duplicate of https://github.com/PyCQA/pydocstyle/pull/381

[2020-09-14 13:12] #1603 closed

[2020-09-14 13:14] sobolevn commented on #1604
We have this covered! Thanks! 👍

[code]

[2020-09-14 13:14] #1604 closed

[2020-09-15 17:30] loukikstudent commented on #1599
Hi!
I am a student looking to contribute, i am sorry but i don't understand this completely, would you mind explaining a bit more on what needs to be achieved so i can send a PR.

[2020-09-15 20:35] sobolevn commented on #1599
@loukikstudent Hi! Awesome that you are interested in contributing to our project!

We need a new violation and a new check for `except` `ast` node.
You can start with looking and similar examples: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/exceptions.py

[2020-09-16 04:35] loukikstudent commented on #1599
@sobolevn Thank you so much for to revert back. I'll definitely look into it!

[2020-09-16 15:01] Sxderp commented on #1600
What if you're using `aiohttp` or similar to fetch web pages? Any considerate person writing a bot will space their requests. How would you implement that without just waiting in the for loop? I suppose you could spin off to an actual thread and do it entirely synchronously, but I feel like that's a lot of setup just to avoid an `await` in a loop.

[2020-09-16 15:19] Sxderp commented on #1460
This should probably be closed, but I just wanted to contribute a bit. I think the purpose of WPS229 is to avoid issues with the very general exceptions that could crop up almost anywhere (KeyError, ValueError, etc). Custom exceptions generally have lower coverage on where and how they can be thrown. I'd argue (if there isn't already) that there should be a rule disallowing suppression of base Err

[2020-09-16 15:25] sobolevn commented on #1460
Thanks!

@Sxderp we have several of quite valid cases right in the source code of wps (I guess).

[2020-09-16 15:25] #1460 closed

[2020-09-16 20:28] Sxderp opened #1606 "Exception for Explicit String Concatenation WPS336"
# Bug

## Thesis

Allow use of increment operator for appending content to an existing string variable.

[code]

## Reasoning

It's pretty excessive to have to use format and reassign the variable to append text. Using the increment (is that the right name?) operator is also consistent with WPS350.

[2020-09-16 21:05] Sxderp opened #1607 "Allow async magic __call__"
#  Thesis

`__call__` method should be asyncable.

[code]

## Reasoning

Much like how `__call__` can be a generator there is no reason it can't be async.

[2020-09-17 07:17] sobolevn commented on #1607
@Sxderp PR is welcome!

[2020-09-17 13:17] SneakyBerry opened #1608 "WPS309 Found reversed compare order"
# Bug report

## What's wrong

WPS309 raises on correct part of code:
`assert [some_entity["id"] for some_entity in response.data["results"]] == expected_some_entity_ordering`

`expected_some_entity_ordering` defined above and filled in loop.
Attempt to represent this comprehension as variable violates `WPS210 Found too many local variables`.

## How is that should be

It is correct assertion.
In

[2020-09-23 13:01] shivang970 commented on #1600
Hi @sobolevn
I want to get involve in this project. It's my first time to open source project, hoping you could help me...

[2020-09-23 14:09] sobolevn commented on #1600
@shivang970 you would need to use `visit_For` somewhere in https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/loops.py

And `ast.walk` on this node to make sure that there are no `await` nodes.
You can have a look at this implementation, it is pretty similar: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_py

[2020-09-23 14:11] sobolevn commented on #1600
@Sxderp there are better ways to do it. https://stackoverflow.com/questions/42231161/asyncio-gather-vs-asyncio-wait

[2020-09-23 15:21] Sxderp commented on #1600
I understand how gather works, but there are workflows in which we don't want to "start off" 100 connection requests. Using gather would cause everything to initialize in fairly quick succession. I can see something like gathering in increments of four, but you are still waiting in a loop.

Anyway, I think rate limiting is definitely an appropriate use.

[2020-09-23 15:31] Sxderp commented on #1600
I can get behind a Rule that forbids await in list comprehensions or a single line for loop. I think in most circumstances that would be a mistake. The rate limiting could potentially still apply, but if you need rate limiting you're generally doing other things with the data (more than one line).

[2020-09-23 15:49] sobolevn commented on #1600
Can you please provide a real-ish code sample with rate limiting in a loop?

[2020-09-23 16:31] Sxderp commented on #1600
Here is a stripped sample of something similar to what I've used. I can also think of examples in IPC in which state is encoded in the response and you need to send part of the response back in order to perform your next request. Something like a Redis "SCAN" operation. I have no examples of actually doing that with asyncio, but just a thought.

[code]

[2020-09-24 19:44] dependabot-preview[bot] opened #1617 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/wemake-services) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/wemake-services/update-logs/48519287).

[2020-09-24 19:45] #1617 closed

[2020-09-25 02:21] dependabot-preview[bot] opened #1618 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/wemake-services) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/wemake-services/update-logs/48657941).

[2020-09-25 08:18] mpibpc-mroose opened #1620 "Violation to force usage of the raise from exception syntax feature"
# Rule request

I want to highlight a blog article from Ray Rachum (@cool-RR)  about such an interesting - but as he tells rarely used - Python feature named "raise for exception". For me it was immediately clear why to use it and I will adopt it for my code. Ram already incorporated a rule for that in `pylint` (see this [MR](https://github.com/PyCQA/pylint/pull/3695))

## Thesis
Just quoting Ray'

[2020-09-25 08:32] cool-RR commented on #1620
Interesting! I'll be available for advice if you need it. Just tag me to get my attention.

[2020-09-25 09:19] #1618 closed

[2020-09-25 09:26] sobolevn commented on #1620
Thanks a lot for your suggestion!

But, AFAIK chaining is now automatic (at least in python3.7). Proof:

[code]

It is not different from this version with explicit `raise from`:

[code]

Can you please provide more information about it?

[2020-09-25 11:57] orsinium opened #1621 "WPS453 has wrong line (row) number"
# Bug report

## What's wrong

WPS453 ("Found executable mismatch: shebang is present but the file is not executable") points to `0:1`.

Can be reproduced running against the following file:
https://github.com/life4/flakehell/blob/master/example.py

Or online on https://flakehell.orsinium.dev/

## How is that should be

1. The row number cannot be less than 1.
1. The row number should point to the

[2020-09-27 18:32] agatti opened #1624 "Spurious WPS407 warning reported"
# Bug report

`WPS407` warnings are shown for code that arguably follows what the guideline says.

## What's wrong

The following snippet:

[code]

triggers the warning `WPS407 Found mutable module constant`.  As far as I know `Mapping` is the abstract base class for non-mutable dictionaries, so the warning should not be there in the first place.

## How is that should be

I think that warning sho

[2020-09-27 19:55] sobolevn commented on #1624
Well, that's confusing indeed!

We don't assume types here. Because we cannot really know what `Mapping` in this context really is.
So, intead we look at the value. And the value is mutable.

Moreover, you can still mutate it with `# type: ignore` or somewhere under `Any`.
I love to have double guarantees! So, please, use `types.MappingProxyType` or use `noqa` for this case.

Thanks a lot for rais

[2020-09-27 19:55] #1624 closed

[2020-09-29 12:17] orsinium opened #1626 "Forbid mixing generics from typing and builtins"
# Rule request

## Thesis

Python 3.9 introduces a new way to create generics which is great:

[code]

So, we should be ready that some projects will use the new style. However, this thing should be consistent across the project or at least in one context. In other words, let's forbid mixing `list` and `List` in one context.

Good:

[code]

Bad:

[code]

The same for `Dict`, `type`, and so on. See

[2020-09-29 12:38] orsinium commented on #1620
Duplicate of #1407

[2020-09-29 12:39] #1620 closed

[2020-09-30 06:23] sobolevn commented on #1621
Yes, this is correct. Because I don't want people to use `noqa` for this rule.

[2020-09-30 06:23] #1621 closed

[2020-09-30 06:29] sobolevn commented on #1608
Thanks for the report.

WPS forces you to write:

[code]

We use this order to make `WPS309` happy. In case you don't like it: you can turn it off.

[2020-09-30 06:29] #1608 closed

[2020-09-30 06:29] sobolevn commented on #1626
I will implement this in `typed-linter` someday. It would very hard to do correctly in `flake8`.

[2020-09-30 06:29] #1626 closed

[2020-09-30 06:35] sobolevn commented on #1606
Thanks a lot! This is a very good question!
I would still prefer `uri_path = '{0}/'.format(uri_path)`
Why? Because it shows you the whole operation. It is more noisy, but more visual.

Moreover, your use-case is really valid. But, what about other ones? Like `+=` a big string? Or multiple `+=`?
So, let's stick to a single way of doing things here.

[2020-09-30 06:35] #1606 closed

[2020-09-30 06:36] sobolevn commented on #1570
Thanks a lot! This is a really hard rule to implement. Yes, it is a perfectly valid one.

But, I am going to close it due to its technical complexity. I would be still happy to accept a working PR.

[2020-09-30 06:36] #1570 closed

[2020-09-30 06:38] sobolevn commented on #1572
It is a issue of `numpy`, not `wps`.
This also looks like a perfectly valid use-case to switch off this rule or use `noqa`.

[2020-09-30 06:38] #1572 closed

[2020-09-30 06:39] sobolevn commented on #1524
We would have problems here.

[code]

Let's leave it for `typed-linter`.

[2020-09-30 06:39] #1524 closed

[2020-09-30 06:49] sobolevn commented on #1522
`f` strings are fundamentally more complex than `.format`, because:
- they implicitly rely on the context: `f'My name is {name}'`. Try to rename `name` variable outside of the string literal and it will blow.
- they do two things at once: defining the template and formatting it

So, `f` strings would never be the default. But, you can switch rules you don't like and use a custom `flake8` plugin to

[2020-09-30 06:49] #1522 closed

[2020-09-30 06:49] #1511 closed

[2020-09-30 06:56] sobolevn commented on #1494
Hi! Thanks a lot for your report!

The algorithm works correctly, let's talk aout interpreting its results.

[code]

This line is considered a hard one, because `_` is a call. Let's say that it is not `i18n`. Then this line is complex!
Solution:

[code]

Let's take some other example:

[code]

Solution:

[code]

Way more readable, isn't it?

But, you can always just increase the complexity thresho

[2020-09-30 06:56] #1494 closed

[2020-09-30 06:57] sobolevn commented on #1459
One can also use `with supress(CancelledError):`

[2020-09-30 06:57] #1459 closed

[2020-09-30 06:58] sobolevn commented on #1440
I still think that

[code]

is better.

[2020-09-30 06:58] #1440 closed

[2020-09-30 06:59] sobolevn commented on #1436
It would be super hard. I am going to say that it is out of scope of this project.
But, I love the idea ❤️

[2020-09-30 06:59] #1436 closed

[2020-09-30 07:01] sobolevn commented on #1431
Looks like the only valid solution is to switch this rule off if you are using `django`, `pydantic`, etc.

[2020-09-30 07:01] #1431 closed

[2020-09-30 07:01] #1412 closed

[2020-09-30 07:02] sobolevn commented on #1408
Thanks a lot for the report. Going to close as "a great example for 100% valid `noqa` or `ignore=`".

[2020-09-30 07:02] #1408 closed

[2020-09-30 07:20] #1375 closed

[2020-09-30 07:56] orsinium commented on #1621
I think this can lead to unforeseen bugs.

1. It can be ignored by some IDEs since it points to no line.
1. It is documented as starting counting from 1: https://github.com/PyCQA/flake8/blob/master/src/flake8/style_guide.py#L408-L410
1. It breaks indentation in the built-in flake8 formatter: https://github.com/PyCQA/flake8/blob/master/src/flake8/formatting/base.py#L176-L179

1. You already have a

[2020-09-30 08:00] orsinium commented on #1626
I think it is ok to have the rule to check only names, like `if name in ('typing.List', 'List')`. It looks like a good assumption that users have no their own `List` class or `typing` module. Otherwise, it would lead to conflicts with `typing` module anyway, and conflicting with stdlib isn't good.

[2020-09-30 08:00] orsinium commented on #1626
(consider adding `typed-linter` label on all such issues there)

[2020-09-30 08:02] orsinium commented on #1524
I think "cover only some cases" is ok. We want to be at least good, not necessarily perfect.

[2020-09-30 08:09] orsinium opened #1628 "Forbid map/filter with lambda"
# Rule request

## Thesis

Forbid using `lambda` inside of `map` and `filter`.

[code]

## Reasoning

Generator expressions are good, easier to read, faster, and even shorter.

[2020-09-30 08:50] lensvol commented on #1599
Hello. Can I take this over?

[2020-09-30 09:30] sobolevn commented on #1599
🤗

[2020-09-30 11:04] AlwxSin commented on #1628
@orsinium I have one example when map/filter with lambdas is more readable. When you chain your generators.
[code]
Here we can clearly see that we use `filter` and `map`. When using only generators one should see inside the generator to understand what's going on.

[2020-09-30 11:08] sobolevn commented on #1628
The problem with `map` and `filter` in Python is that it changes the value type.
Example: `filter(List[int]) -> Iterable[int]`

That's why I don't like using these functions on anything other than generators. This would be a good fit for `typed-linter`.

[2020-09-30 11:34] sobolevn opened #1629 "Forbid assigning to a slice"
# Rule request

## Thesis

There might be some crazy examples of mutation, when assigning to a slice:

[code]

So, let's ban this.

However, we still allow regular index assignments:

[code]

Is ok.

[2020-09-30 16:26] Dreamsorcerer commented on #1494
I don't think I realised that it was looking at physical lines, rather than code lines. So, those examples make sense.

I'm still a little confused on my last example about function complexity though. Normally the mccabe and wemake complexities produce similar numbers (±2), but in this example wemake gives a score of 43 versus mccabe's 10. My target is usually 5, so this is obviously a complex fun

[2020-09-30 16:29] Dreamsorcerer commented on #1459
Not if you need to handle the event. It just feels to me like this exception could be whitelisted for this rule.

[2020-09-30 16:32] Dreamsorcerer commented on #1440
I can see the argument there, as we are modifying the state of the class, so every modification should be explicit and on it's own line?

If that's the reasoning, maybe we can add something to the rationale in the docs?

[2020-09-30 16:37] sobolevn commented on #1440
Yes, PRs are welcome!

[2020-10-01 06:37] orsinium commented on #1628
This is a great functional example but when you have such complicated constructions, I'd recommend making it in a non-functional way. For your example above:

[code]

More lines but readable, testable, imperative.

[2020-10-01 07:43] AlwxSin commented on #1628
And slower on bigger sequences.

[2020-10-01 09:05] #1607 closed

[2020-10-01 10:15] orsinium commented on #1628
Are you sure? How big? In which cases?

[code]

I'm not much in interpreter internals but I think the generator gives one stack push-pop per iteration while in the functional way we have one context per lambda, in the case above 3 stack pushes per iteration.

[2020-10-01 10:34] AlwxSin commented on #1628
Well, let's take a more real-life example, where `items` not a sequence of ints, but a sequence of complex objects, like `dataclass` wrapper e.g.

[2020-10-01 10:56] parzuko commented on #1629
hey, can i take this issue ?

[2020-10-01 11:27] AlwxSin commented on #1570
@sobolevn I did some research. Do I understand correctly that when parsing `ast` and looking for bad boolean args we can't introspect the function which was called?

[2020-10-01 11:29] agatti opened #1632 "Stray WPS513 warning."
# Bug report

`WPS513` is emitted on `if`/`else`/`if` chains that contain other statements in the last `if` block.

## What's wrong

The following snippet:

[code]

triggers a stray WPS513 warning.  Seems like the assignment to `key` is not taken into account.

## How is that should be

`WPS513` should only be emitted if the dangling `if` statement is the only one present in the `else` block.

[2020-10-01 11:31] orsinium commented on #1628
Better benchmarks are welcome. I leave for the WPS team the final decision.

[2020-10-01 12:26] sobolevn commented on #1570
Yeap. 😞

[2020-10-01 12:30] sobolevn commented on #1629
Yes, thanks a lot!

[2020-10-01 16:12] #1573 closed

[2020-10-01 16:28] hhsdev commented on #1493
Hey @sobolevn, can I take this one?

[2020-10-01 18:07] sobolevn commented on #1493
Sure! Thanks!

[2020-10-02 10:23] AlwxSin commented on #1628
Let's add some long operation to function
[code]

I don't say that lambda is good, use it everywhere. I say, that sometimes they are more suitable than generators or functions.

[2020-10-02 19:24] sobolevn commented on #1628
@AlwxSin consider using real monads instead! (just joking 🙂 )

[2020-10-03 07:02] sobolevn opened #1638 "Return the boolean condition directly without using `if`"
# Rule request

## Thesis

We need to track:

[code]

and:

[code]

Instead one should use:

[code]

Inspiration: https://github.com/MartinThoma/flake8-simplify/blob/master/flake8_simplify.py#L487

## Reasoning

We don't need extra conditions to this simple thing.

[2020-10-03 07:09] iamlordutkarsh commented on #1638
I want to work on this Can you assign me ??

[2020-10-03 07:10] sobolevn commented on #1638
Yes, sure! Thanks a lot!

[2020-10-03 07:11] iamlordutkarsh commented on #1638
Thanks Sir , I have one Question I have to change This in whole Repo ?

[2020-10-03 07:11] sakshi-negi123 commented on #1638
please assign me

[2020-10-03 07:13] sobolevn commented on #1638
@iamlordutkarsh you have to write a linting rule for this 🙂
We use `ast` module in python to achieve this.

Please, read our contributing guide: https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md

[2020-10-03 07:15] iamlordutkarsh commented on #1638
Thanks @sobolevn

[2020-10-03 11:08] iamlordutkarsh commented on #1638
Can You assign it to someone else

[2020-10-03 12:22] sobolevn commented on #1638
Sure! @sakshi-negi123 you also wanted to work on it? Please, feel free.

[2020-10-04 08:25] sobolevn opened #1642 "Update to poetry@1.1"
We should change:

1. Declaration in `pyproject.toml`

[code]
2. How we handle install in https://github.com/wemake-services/wemake-python-styleguide/blob/master/.github/workflows/test.yml Because currently we use outdated setup. See this commit https://github.com/dry-python/returns/commit/0f75fe1d33743ab3b267b7113709c5d9efe45301

[2020-10-04 18:57] #1642 closed

[2020-10-05 09:50] lensvol commented on #1599
There is a problem with the case of `ast.Tuple` containing anything other than class name or `ast.Attribute`: source code that uses such constructs in *except* handler actually trips assertion checks inside `flake8-bugbear` visitors:

Test file:
[code]

Error output:
[code]

So it does not make sense to implement support for them right now, as our code will never be reached. Should I proceed witho

[2020-10-05 11:12] sobolevn commented on #1599
Can you please report this to `bugbear`? And let's continue without them!

[2020-10-05 13:38] Jrryy commented on #1638
I will be taking a look at this issue meanwhile. If it takes them too long to answer I offer myself to work on it.

[2020-10-05 13:47] sobolevn commented on #1638
Thanks a lot, @Jrryy!

[2020-10-05 13:52] Jrryy commented on #1628
I totally agree with this statement. There are cases in which using lambdas makes your code cleaner, more readable, and even faster. There are also cases in which using them transforms you code into a mess of complicated functional nonsense. Finding a balance between lambdas, generators, and functions, is a must to write good code, but simply forbidding their usage will not necessarily improve som

[2020-10-05 15:00] Jrryy commented on #1638
I'd like to ask, should this go into the Best practices section, or the Refactoring section? It looks better in Refactoring to me but I'd like to know your opinion

[2020-10-05 16:41] sobolevn commented on #1638
Refactoring looks like a better fit 🤔

Sure!

[2020-10-06 07:47] lensvol commented on #1534
Can I take this over?

[2020-10-06 11:53] #1599 closed

[2020-10-07 07:19] hhsdev commented on #1493
@sobolevn I couldn't reproduce the bug. Am I missing something?

Making a test file `test.py`:

[code]

and running:

[code]

gives in `output`:

[code]

[2020-10-07 07:32] hhsdev commented on #1523
@orsinium @sobolevn Shouldn't this be closed since the PR is merged?

[2020-10-07 08:30] #1523 closed

[2020-10-07 09:03] lensvol commented on #1383
Can I take this?

[2020-10-07 09:44] #1534 closed

[2020-10-07 09:46] sobolevn commented on #1383
Yes, please!

[2020-10-07 11:37] b0g3r opened #1652 "Annotation raises `object has no attribute 'value'` on python 3.9"
# Bug report

## What's wrong

When I run flake8 with wemake-python-styleguide I received an exception about annotation check.

[code]

For me, It looks like `ast.Subscript.slice` doesn't have `.value` on python3.9

## How is that should be
--

## System information
--

### flake8 information

Contents of `flake8 --bug-report`:

[code]

### pip information

Contents of `pip freeze`:
[code]

[2020-10-07 11:47] b0g3r commented on #1652
I also added 3.9 to the test matrix, so you can check logs:
https://github.com/wemake-services/wemake-python-styleguide/pull/1653/checks?check_run_id=1220188266

[2020-10-07 12:18] lensvol commented on #1383
So, as far as I understand, I need to flag all and any appearances of `float("NaN")`?

[2020-10-07 12:30] orsinium commented on #1383
Yes! Keep in mind that "NaN" string can be in any case ("nan", "NAN" etc.).

[2020-10-07 13:18] sobolevn commented on #1652
Thanks a lot! We don't officially support `python3.9` yet.

[2020-10-07 21:06] lensvol commented on #1363
Can I take this over?

[2020-10-08 07:33] orsinium opened #1656 "Detect math constants"
# Rule request

## Thesis

The following constants must be imported from `math` module instead of being defined in the user code: pi, e, tau, inf, nan. For example:

[code]

## implementation

+ The constant should be detected by value with 2 signs after the dot precision rather than by name. For example, `3.14` most probably is π.
+ The rule should handle the constant in any form, including the s

[2020-10-08 07:34] orsinium commented on #1656
I'm wondering if we should forbid `math.tau` in favor of `2 * math.pi` :thinking:

[2020-10-08 07:35] orsinium commented on #1656
Also, probably we should forbid `from math import pi` in favor of `import math`.

[2020-10-08 09:08] sobolevn commented on #1656
We already have this rule: https://github.com/wemake-services/wemake-python-styleguide/blob/9879a18acafc691db215afb7c42dceb9a365a604/wemake_python_styleguide/violations/best_practices.py#L1819

But, let's open a new issue for `import math`! 👍

[2020-10-08 09:08] #1656 closed

[2020-10-08 09:08] sobolevn commented on #1363
Thanks! 😊

[2020-10-08 09:51] sobolevn opened #1657 "Forbid to use `&` and `|` with booleans"
# Rule request

## Thesis

Yesterday I saw this code:

[code]

And I was 😮

So, we need to check all operations around `&` and `|` and detect any booleans there:
- Explicit `True` and `False`
- Compares with `is` or `==` or `!=`
- Compares with `>`, `>=`, etc
- Logical operations `not`, `or`, `and`

If we can detect at least one of these operations, then we should raise a violation.
Let's call it

[2020-10-08 10:18] #1383 closed

[2020-10-08 12:52] TohDeKai commented on #1657
Please assign to me thank you

[2020-10-08 12:54] sobolevn commented on #1657
@TohDeKai I would love to! Can you please share your ideas about possible solution? This mees like a complicated task to me!

[2020-10-08 12:57] lensvol commented on #1363
XPath expression to find all of the occurences for this violation:
[code]

The problem is that `bellybutton` depends on `astpath==0.6.1`, which does not support the features needed for that expression (namely, `re:match`). To run that expression you need `astpath>=0.9.0` at least.

Three ways to proceed further:
1) Add a dependency on `astpath==0.9.0` and build a simple script around it.
2) Utilis

[2020-10-08 13:06] sobolevn commented on #1363
We need this only for dev, so we can add any depencies that are required.

[2020-10-08 22:19] hhsdev commented on #1382
@sobolevn May I take this?

[2020-10-09 12:27] sobolevn commented on #1382
Thanks!

[2020-10-09 12:28] sobolevn commented on #1382
@hhsdev can you please take and extend this PR? https://github.com/wemake-services/wemake-python-styleguide/pull/1185

[2020-10-09 16:25] #1638 closed

[2020-10-09 16:45] Jrryy commented on #1632
You are right. Adding the following template to the 513 tests, it throws an incorrect violation:

[code]

If it is no problem, I will be taking a look and fixing this violation for such cases.

[2020-10-09 18:50] sobolevn commented on #1632
@Jrryy will you please take this over?

[2020-10-09 19:18] Jrryy commented on #1632
Sure, already at it

[2020-10-09 20:29] sobolevn commented on #1632
Thanks!

[2020-10-10 12:40] webknjaz commented on #1652
Just hit this as well. Log: https://github.com/ansible/pylibssh/pull/152/checks?check_run_id=1235072743#step:11:58.

[2020-10-10 16:01] hhsdev commented on #1382
I would love to!

Just for clarification, #1185 and this issue will still not share code, right?

[2020-10-10 20:30] thepabloaguilar opened #1659 "Problems using Python 3.9"
# Bug report

## What's wrong

I know Python 3.9 was too recent released but I would like do adopt it in some projects, when I try to run `wemake-python-styleguide` using the 3.9 version I get the following error:
[code]

For more information you can see the failed pipeline [here](https://github.com/dry-python/returns/runs/1236326288?check_suite_focus=true)

Something weird happened, if I add `--b

[2020-10-10 22:26] sobolevn commented on #1382
It might actually share some code (but, I am not sure).

Do you have an opportinity to continue that work?

[2020-10-10 22:59] sudo-k-runner commented on #1629
@parzuko are you working on this? if not would like to take this up.

[2020-10-10 23:02] sobolevn commented on #1629
@sudo-k-runner feel free to take it 🙂

[2020-10-10 23:10] sudo-k-runner commented on #1629
@sobolevn cool! kinda new to this, so would be great if I can get some pointers. Thanks!

[2020-10-10 23:39] sobolevn commented on #1629
I recommed to start with our `CONTRIBUTING.md` and then ask any specific questions you have 👍

[2020-10-10 23:43] sudo-k-runner commented on #1629
sure thing! Thanks 👍

[2020-10-11 00:43] hhsdev commented on #1382
I thought maybe I can clone their PR and work from there, but if there's a chance the two features might share code, I guess I should just start clean. Thanks!

[2020-10-11 05:49] tirkarthi commented on #1659
Seems to be duplicate of https://github.com/wemake-services/wemake-python-styleguide/issues/1652

[2020-10-11 08:25] sobolevn commented on #1659
Yeap.

[2020-10-11 08:25] #1659 closed

[2020-10-11 08:26] sobolevn commented on #1382
I still think that this would be easier:

But, do what feels best! 👍

[2020-10-11 16:35] #1363 closed

[2020-10-12 15:19] tirkarthi commented on #1652
There were some changes to ast.Subscript that could be causing this https://bugs.python.org/issue40430

[2020-10-12 15:21] sobolevn commented on #1652
Any help with bugfixing is appreciated 🙂

[2020-10-13 17:54] tirkarthi commented on #1652
This seems to have been fixed in the upstream project from which the code is adopted : https://github.com/best-doctor/flake8-annotations-complexity/commit/de6824731f92a48c65fc960d1a6cd665cb35c339 . I can make a PR for this.

Also note 3.9 has other failures like below due to new PEG parser bug that will be fixed in Python 3.9.1 with https://bugs.python.org/issue41979

[code]

[2020-10-13 17:57] sobolevn commented on #1652
Thanks a lot!

[2020-10-13 18:01] tirkarthi commented on #1652
I have created #1666 to fix this. The tests will fail in Python 3.9 in `python -m pytest tests/test_visitors/test_ast/test_complexity` . Unfortunately, python 3.9 cannot be tested until 3.9.1 is released with the parser fix. I am running on a low end machine so some of the tests still report memory error. I guess there are couple of more issues to fix until 3.9 is properly supported.

[2020-10-14 09:13] orsinium opened #1667 "TypeVar passed name and assigned name must match"
# Rule request

## Thesis

[code]

## Reasoning

Be consistent between what you see in the code and what MyPy outputs in the console.

[2020-10-14 09:24] sobolevn commented on #1667
Why should we? If that is covered by mypy? Can you please explain?

[2020-10-14 12:18] sobolevn opened #1669 "We need explicit `docstring_style=numpy` in `darglint.toml`"
We need to add:

[code]

Link: https://github.com/wemake-services/wemake-python-styleguide/blob/master/styles/darglint.toml

[2020-10-14 13:49] orsinium commented on #1667
Right, it is. Sorry, I use another type checker.

[2020-10-14 13:49] #1667 closed

[2020-10-14 14:09] #1632 closed

[2020-10-14 15:25] Jrryy commented on #1329
If I'm allowed to, I'd like to try and find some way to solve this issue.

[2020-10-14 15:41] sobolevn commented on #1329
You are more than welcome! In case you have any questions, please ask me 🙂

[2020-10-15 15:25] uhbif19 commented on #1382
@hhsdev @sobolevn Sorry I forgot to share my code on this issue. Code and tests are done (as far as I remember), but I stumbled upon writing docs.

You can use this code, if you need to: https://github.com/uhbif19/wemake-python-styleguide/commit/9e6e266ddf505744dee74d64752e9804f886e827

[2020-10-15 19:07] hhsdev commented on #1382
@uhbif19 Thank you so much! This will help a lot.

[2020-10-15 19:16] hhsdev commented on #1493
Ok, just to make sure I understand correctly,

### Current behaviour:

- Output **has color codes** if outputted to the terminal
- Output **doesn't have color codes** if piped into another program or a file
- Setting `NO_COLOR` does not change the behaviour

### Desired behaviour

- Presence of color codes depends solely on whether or not `NO_COLOR` environment variable is defined

Am I correct?

[2020-10-15 20:01] agatti commented on #1329
How difficult would it be to extend this to also ignore SQL statements?  For example, with [psycopg2](https://www.psycopg.org) passing parameters to SQL queries is done by using `%s` markers in the query (as in `SELECT * FROM table WHERE column = %s`, as per [the documentation](https://www.psycopg.org/docs/usage.html#passing-parameters-to-sql-queries)).

With code doing a lot of SQL stuff it may b

[2020-10-15 20:54] sobolevn commented on #1493
Correct!

Well, that's complicated. Because it might be very tricky. Different shells, different terminals, different OSes, different programs, different pipe methods, etc. I cannot say that it works. But, I cannot say that it does not work.

Yes, this way we would have smooth way to control the output without the need to tweak the formatter manually.

[2020-10-16 08:27] Jrryy commented on #1329
I have not used raw psycopg2 so I am not sure about what I am about to say: if the only function that uses `%s` is `cur.execute()`, I can ignore those `%s` as long as they are being used inside of that function. In other cases, let's say that you save the query in a variable and then use it in `cur.execute()`, it will be pretty difficult for me to come up with a way to ignore that because I would

[2020-10-16 18:16] agatti commented on #1329
Fair enough, I was just wondering on the feasibility :)

[2020-10-16 19:35] Jrryy commented on #1329
Well it is feasible, I just can't tell if the solution I proposed will be accepted because it's just a workaround after all, but as for now I can't think of a better way to do it.

[2020-10-17 12:12] barbossa commented on #1584
Thank you for your hard work on the new release.

I am excited waiting for the new release, including the new version of isort and flake8-isort. Since I've tried to update isort to 5.6.4 and I cannot due to unresolved dependencies in wemake-python-styleguide relates to old flake8-isort

[2020-10-18 00:47] plannigan opened #1674 "WPS601 incorrectly identifies dataclass fields with init=False"
# Bug report

## What's wrong

A `dataclass` allows for [fields that are not settable when initializing the instance](https://docs.python.org/3/library/dataclasses.html?highlight=dataclasses#post-init-processing). These fields have their value set by `__post_init__()`. However, the `ShadowedClassAttributeViolation` (WPS601) triggers on line 12 when this is done, despite `c` not being class attribu

[2020-10-18 08:53] sobolevn commented on #1674
Duplicate of #1431

[2020-10-18 08:53] #1674 closed

[2020-10-19 20:45] waterseeker commented on #1525
Hi. I put in a pull request with grammar and spelling fixes for the base.py file.

[2020-10-20 10:37] ahobsonsayers commented on #1584
Im also excited for the new release. Is there a blocker to release @sobolevn that possible i can aid with. Id love to be able to use isort 5 as it is a huge improvement over 4

[2020-10-20 10:45] sobolevn commented on #1584
I will make a new release soon 🙂

I need to rebase all PRs from opened and merge them.
See https://github.com/wemake-services/wemake-python-styleguide/issues?q=is%3Apr+is%3Aopen+label%3A%22on+hold%22

After that - I will make a release!

[2020-10-20 11:09] hhsdev commented on #1382
@sobolevn Hey I think I found a documentation/code mismatch.

The docstring of [`FunctionDefinitionVisitor.visit_any_function`](https://github.com/wemake-services/wemake-python-styleguide/blob/b65ee2b22d85bca45f7bfd4e98a537ac170fc77b/wemake_python_styleguide/visitors/ast/functions.py#L278), It's said to check regular, **`lambda`** and `async` functions. However, the [`visit_any_function` is not al

[2020-10-20 11:13] #1256 closed

[2020-10-20 12:44] #1033 closed

[2020-10-20 12:51] sobolevn commented on #1382
@hhsdev this is a bug, because turns out `ComplexDefaultValueViolation` does not work for `lambda` cases.
I will fix it right now. Thanks!

[2020-10-20 13:16] sobolevn opened #1681 "ComplexDefaultValueViolation does not work for `lambda`"
# Bug report

## What's wrong

`ComplexDefaultValueViolation` does not work for `lambda` functions.

Original: https://github.com/wemake-services/wemake-python-styleguide/issues/1382#issuecomment-712774582

## How is that should be

We should detect cases like `lambda x=1*2: ...`

## System information

### flake8 information

Contents of `flake8 --bug-report`:

### pip information

Contents of `p

[2020-10-20 13:17] #1681 closed

[2020-10-20 14:19] #1007 closed

[2020-10-20 14:52] #1081 closed

[2020-10-20 14:54] #1543 closed

[2020-10-20 15:59] Jrryy opened #1682 "Method `given_function_called` should only take the function name into account."
# Bug report

## What's wrong

The method `given_function_called(node: ast.Call, to_check: Container[str]) -> str` in `logic.tree.functions` is described as a method that returns the name of the function being called in `node`, in case it is included in `to_check`. For example:
[code]

This is related to https://github.com/wemake-services/wemake-python-styleguide/pull/1676#discussion_r508471791

#

[2020-10-20 16:14] Jrryy commented on #1682
Ofc I will be doing this since it is blocking my own PR.

[2020-10-20 16:46] pawamoy opened #1684 "False-positive 405 & 414 on loop unpacking"
# Bug report

## What's wrong

[code]

...triggers WPS405 and WPS414.

405 says:

I'm using a name and a tuple with two names. This should be OK right?

414 says to avoid side-effects. There are no side-effects when unpacking into `kind, (model_class, list_model_class)`.

## How it should work

No 405 or 414 triggered.

## System information

### flake8 information

Contents of `flake8 --bug-repor

[2020-10-20 17:38] sobolevn commented on #1682
We need both. Sometimes we are interested in attributes as well.

[2020-10-20 17:38] #1019 closed

[2020-10-20 17:40] Jrryy commented on #1682
I understand. I will not change the functionality of this method, but make a different one for this purpose instead.

[2020-10-20 17:56] #1239 closed

[2020-10-21 15:44] sobolevn opened #1689 "WPS426 triggers on safe lambdas"
# Bug report

## What's wrong

[code]

Raises:

[code]

But it should not!

## How is that should be

Why? Because this `lambda` does not use `post_id` in its body. It is safe to be used.
So, if `lambda` uses only its args - we can allow it.

## System information

### flake8 information

Contents of `flake8 --bug-report`:

### pip information

Contents of `pip freeze`:

[2020-10-21 15:50] HeroicHitesh commented on #1689
@sobolevn I would love to work on it, I but would need some guidance. Currently going through this [guide](https://wemake-python-stylegui.de/en/latest/pages/api/contributing.html#tutorials). If there is something else I need to know beforehand, do let me know.

[2020-10-21 16:22] sobolevn commented on #1689
@HeroicHitesh you are more than welcome! You would need to implement a fix to our `ast` visitor.
It should not be hard.

I would probaly start with a failing test.

[2020-10-21 16:22] #1682 closed

[2020-10-21 19:22] pawamoy opened #1690 "Nested function violation reported on different line numbers locally and in GitHub CI"
# Bug report

## What's wrong

Not sure what's happening here.
Locally, with the same Python version (3.8.6), when I run flakehell with wemake-python-styleguide plugin, it passes.
In a GitHub workflow, it fails, see https://github.com/pawamoy/mkdocstrings/runs/1255872628?check_suite_focus=true.
Now the violation reported should be ignored, look at https://github.com/pawamoy/mkdocstrings/blob/maste

[2020-10-21 20:29] sobolevn commented on #1690
That's a known bug. `python3.8` reports decorated functions differently.

For example:

[code]

There's nothing we can do about it. 😢

[2020-10-21 20:29] #1690 closed

[2020-10-21 23:46] hhsdev commented on #1382
@sobolevn Sorry to bother again.

The code is almost complete. But I wondered whether or not we should check every execution path a function can take to make sure it consistently returns a value .

Consider:
[code]

Should `get_bar` raise `GetterWithoutReturnViolation`?

[2020-10-22 07:20] sobolevn commented on #1382
@hhsdev we already have a different rule that checks for consistent returns. This rule should check that we have at least one non-empty return.

[2020-10-22 12:18] pawamoy commented on #1690
OK, but I have the same Python version both locally and in CI, and they report different line numbers, with is something else. Well, I guess WPS has nothing to do with that anyway, so I'll keep it closed 🙂 Thanks for your help!

[2020-10-22 14:20] #1329 closed

[2020-10-22 19:29] #1160 closed

[2020-10-22 21:30] #1344 closed

[2020-10-22 22:07] #1358 closed

[2020-10-22 22:27] #1248 closed

[2020-10-22 23:03] #1025 closed

[2020-10-23 18:02] #1652 closed

[2020-10-24 12:00] anatoly-scherbakov commented on #1416
Another example of the same issue with `except` blocks.

[code]

cause 440 and 441:

[code]

[2020-10-24 15:27] jaydesl commented on #1689
I'd like to pick this up, but I think some of the tests are in contradiction to this.

**These lambda functions use only their args but are considered wrong:**
https://github.com/wemake-services/wemake-python-styleguide/blob/ece40b94d7649cc30a3e8a896513719d28099aed/tests/test_visitors/test_ast/test_loops/test_loops/test_lambda_in_loop.py#L45

https://github.com/wemake-services/wemake-python-styleg

[2020-10-24 15:33] sobolevn commented on #1689
Yes, these tests should be changed! It was a bad idea to forbid all lambdas in a for loop for someone who loves functional programming 😆

Please, feel free to change anything that is related to this task.

And thanks a lot for your help! 👍

[2020-10-24 17:01] #1689 closed

[2020-10-25 15:31] sobolevn opened #1698 "Update reviewdog to 0.11"
We use `reviewdog@0.9`, but `0.11` is released.
https://github.com/reviewdog/reviewdog/blob/master/CHANGELOG.md#v0110---2020-10-25

Related: https://github.com/wemake-services/wemake-python-styleguide/blob/master/Dockerfile#L24

[2020-10-26 15:17] Jrryy commented on #1009
I could try and take care of this myself

[2020-10-26 15:21] anatoly-scherbakov opened #1699 "Set setup.py package version constraints"
# Rule request

If using `setup.py` in a Python project (not everyone is on Poetry just yet), it is easy to forget assign explicit version constraints for dependencies.

This may lead to suddenly broken system due to a dependency updated.

## Thesis

I suggest to throw an error if version constraint is not specified. For example:

[code]

## Reasoning

If linter can point out these errors, it will

[2020-10-26 15:44] sobolevn commented on #1699
This seems like a very hard feature. But I will think about it! Thanks a lot! @anatoly-scherbakov

[2020-10-26 16:01] jaydesl commented on #1373
Out of curiosity I had a look at this. Because of the way `astor` resolves the parsed code to a string, adding `pprint.pprint` to the blacklist does work to resolve this issue.

Want a PR with the fix and an explicit test?

[2020-10-26 16:14] sobolevn commented on #1009
Something like this. But! I am not sure how this should work. I am open to ideas!

[2020-10-26 16:14] sobolevn commented on #1373
@jaydesl yes, please!

[2020-10-26 16:22] Jrryy commented on #1009
It is a complicated subject. People usually do not code such operations, but in certain situations it makes the code clearer. For example, if you want a variable to hold an amount of days in seconds, you could write `days = x*24*60*60`. There are constant operations, but you can clearly see what is stored in this variable.

 I suppose I could explore the usage of some of the modules in the project

[2020-10-26 16:26] sobolevn commented on #1009
Thanks a lot, @Jrryy! Please, feel free to ask any questions. I am here to help!

[2020-10-26 17:07] #1373 closed

[2020-10-27 16:40] orsinium commented on #1009
This one sounds like something that should be moved into "typed linter" when we have one, it's about types, not values.

What about evaluating values, I in [deal](https://github.com/life4/deal) use [astroid](https://pypi.org/project/astroid/) for it. It's a poorly documented, slow, buggy library but it does its job. At least, yuo can use it for inspiration on how to evaluate things.

Also, because

[2020-10-27 16:58] Jrryy commented on #1009
It looks quite interesting, I will definitely take a look at it, although according to your explanation it might be even better that I myself make the evaluator.

[2020-10-27 17:05] sobolevn commented on #1698
@mgrachev maybe you want to contribute to our small project? 🙂

[2020-10-27 17:07] sobolevn commented on #1009
I don't think that we would need anything except `ast.literal_eval` for this job. It is good enough for this task.
The main question is how can we store both original and evaluated nodes in the tree?

[2020-10-27 17:08] mgrachev commented on #1698
With pleasure 🙂

[2020-10-27 17:15] sobolevn commented on #1698
Thanks a lot! 👍

[2020-10-27 17:20] mgrachev opened #1701 "Some errors were encountered when parsing the FUNDING.yml file"
<img width="646" alt="sponsors" src="https://user-images.githubusercontent.com/700998/97337705-ac00f300-1891-11eb-93ff-75d690e1167b.png">

[2020-10-27 17:23] sobolevn commented on #1701
Oh, this is because I have disable wemake.services from Github Sponsors.
Because I need a different Stripe account, which I don't have.

I will fix it someday!

Thanks for reporting.

[2020-10-27 18:10] mgrachev commented on #1701
What do you think about setting up GitHub Sponsors via Open Collective?
https://docs.opencollective.com/help/collectives/github-sponsors

For example: https://opencollective.com/dotenv-linter

[2020-10-27 18:21] sobolevn commented on #1701
Yeap, that's exactly where I need one extra Stripe Account. Because, I run multiple Github Sponsor accounts and each of them requires a separate Stipe Account. Each Stripe account requires a separate mobile phone number. And I am out of numbers 😆

[2020-10-27 18:30] #1698 closed

[2020-10-28 11:10] Ajax-Light commented on #1684
Hey, is this issue still open? I'd like to try my hand at it.

[2020-10-28 15:52] sobolevn commented on #1684
Yes, @Ajax-Light! Thanks a lot!

[2020-10-28 15:55] sobolevn commented on #1684
We need to fix this line: https://github.com/wemake-services/wemake-python-styleguide/blob/a7b36e8edab641acb07388abcaecf0fe1528837f/wemake_python_styleguide/visitors/ast/loops.py#L277

And this: https://github.com/wemake-services/wemake-python-styleguide/blob/c33fcaaf500cb361a0e74981efab1883fc2cc808/wemake_python_styleguide/visitors/ast/builtins.py#L436

[2020-10-28 16:18] sobolevn opened #1704 "Describe how to use this project with Jupyter Notebooks"
I get a lot of questions from users that what to use `WPS` together with IPython Notebooks.
Currently, you cannot *just* use it with raw `flake8`.

You need extra tooling and some tweaks in the configuration I suppose.
So, we need to document how to use it.

We can create a new entry in our `Intergrations` section. https://github.com/wemake-services/wemake-python-styleguide/tree/master/docs/pages/

[2020-10-29 04:54] Ajax-Light commented on #1684
Hey @sobolevn ! Ran into some issues setting up the Dev-environment.

1. Can I safely ignore the warnings by flake8 here:
![image](https://user-images.githubusercontent.com/54140487/97527133-9ba36200-19d0-11eb-842f-ff8c6cc13f0d.png)
I looked through the files and they don't seem to be harmful.
2. I'm new to virtualenv, so should i always run wps inside a ```virtualenv``` generated by ```poetry she

[2020-10-29 05:11] Ajax-Light commented on #1684
Never mind! I found the solution in the tutorial, I forget I'm in WSL all the time.

[2020-10-29 07:24] sobolevn commented on #1684
Yes, it does. We have a CI to ensure it 🙂

[2020-10-29 09:47] orsinium commented on #1009
AFAIK, `literal_eval` doesn't execute operations:

[code]

[2020-10-29 09:50] orsinium commented on #1704
For jupyterlab:
https://github.com/mlshapiro/jupyterlab-flake8

[2020-10-29 09:51] orsinium commented on #1704
And for CLI, flakehell supports ipynb:
https://flakehell.readthedocs.io/parsers.html

[2020-10-29 10:00] Jrryy commented on #1009
Maybe it depends on the python version? In python 3.6.9:

[code]

[2020-10-29 10:02] orsinium opened #1706 "Report useless ternary operator"
# Rule request

## Thesis

Detect if both possible results of a ternary operator return the same value.

[code]

## Reasoning

It is either a bug or unnecessary complexity.

[2020-10-29 10:07] sobolevn commented on #1009
See `NodeTransformer` https://docs.python.org/3/library/ast.html#ast.NodeTransformer

[2020-10-29 10:11] orsinium opened #1707 "Report missed `functools.wraps` for decorators"
# Rule request

## Thesis

[code]

## Reasoning

Decorators should always preserve the original function for the sake of introspection.

[2020-10-29 10:12] sobolevn commented on #1707
Let's leave this for `typed-linter`. It is going to be hard without types.

[2020-10-29 10:12] #1707 closed

[2020-10-29 10:13] orsinium commented on #1707
Another idea for a rule: catch wrong arguments order for `update_wrapper`. I don't think it can be done by MyPy since both arguments are just `Callable`.

[2020-10-29 10:13] sobolevn commented on #1707
I am using `typed-linter` for all rules that we would need to rebase there.

[2020-10-29 10:13] orsinium commented on #1707
@sobolevn should we add `typed-linter` tag?

[2020-10-29 10:16] sobolevn commented on #1707
Yes, good idea!

[2020-10-29 10:24] orsinium commented on #1009
You're right, it works in 3.6 but doesn't work in all later python versions:

![image](https://user-images.githubusercontent.com/9638362/97556079-3c961b00-19d9-11eb-9f1d-6eaa1498b0ac.png)

[2020-10-29 10:41] sobolevn commented on #1009
We have https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/logic/safe_eval.py :lau

[2020-10-29 10:48] Jrryy commented on #1009
Completely forgot about that. You're right.

All right, all of this is very helpful, this will solve many problems.

[2020-10-30 14:12] orsinium opened #1708 "The website is down"
# Bug report

## What's wrong

[wemake-python-stylegui.de](https://wemake-python-stylegui.de/) is down: "Read time out".

![image](https://user-images.githubusercontent.com/9638362/97715103-46477d80-1ac2-11eb-8243-9526148b26ec.png)

[2020-10-30 14:19] sobolevn commented on #1708
Looks like readthedocs is down https://returns.readthedocs.io/

[2020-10-30 20:43] sobolevn opened #1711 "Forbid empty comments"
# Rule request

## Thesis

We should ban comments like this one:

[code]

But, empty lines in the middle are fine:

[code]

We ban only empty lines in the beginning and in the end.

## Reasoning

Why not?

[2020-10-31 08:31] sobolevn commented on #1708
It is working again! 👍

[2020-10-31 08:31] #1708 closed

[2020-10-31 11:33] Ajax-Light commented on #1684
Hey @sobolevn, quick update, I'm still learning about the ```ast``` module and going thought the developer documentation in my free time. I need a couple of days to post a fix, feel free to unassign me if its too long. Cheers! 👍

[2020-10-31 16:13] sobolevn commented on #1684
@Ajax-Light no worries! We are not in a hurry.

[2020-11-02 22:13] sobolevn commented on #1274
Very interesting idea: https://github.com/akaihola/darker/

[2020-11-04 22:49] Elton-Lin commented on #1711
Hello there,
@huangyunzen and I would like to work on this new rule. We have just started with the setup in the contribution page. We will report back when we get things ready and develop an initial plan. Thanks!

[2020-11-04 23:29] sobolevn commented on #1711
Thanks a lot!

[2020-11-05 09:32] pawamoy opened #1718 "Global ignore for B008 not taken into account"
# Bug report

No matter how I "remove" the B008 warning in pyproject.toml (globally or on specific files), it is actually not ignored when running flakehell. Not sure if it's a bug on flakehell, WPS or flake8-bugbear side 😅
I'm opening this here because flake8-bugbear is installed as a dependency of wemake-python-styleguide.

## What's wrong

**pyproject.toml:**
[code]

[code]

Note however that i

[2020-11-05 09:42] sobolevn commented on #1718
Sorry, but this is not a proper place for `flakehell` issues. Please, reopen there.

[2020-11-05 09:42] #1718 closed

[2020-11-05 10:48] pawamoy commented on #1718
I would have opened an issue on flakehell but they deactivated the bug tracker 😕

Anyway, I guess all WPS does is require flake8-bugbear as a dependency, so it must not be WPS' fault 🙂

[2020-11-05 17:08] sobolevn opened #1719 "Fix depup.yml"
This file: https://github.com/wemake-services/wemake-python-styleguide/blob/master/.github/depup.yml
 should be in https://github.com/wemake-services/wemake-python-styleguide/tree/master/.github/workflows

[2020-11-05 17:08] sobolevn commented on #1719
Related #1702

[2020-11-05 21:44] MarcoGorelli commented on #1704
Hi @sobolevn ,

We've released `nbqa` version 0.4.0, which has support for in-line magics. This should make it safe for use with `wemake-python-styleguide`.

Essentially, just as you would run `flake8 script.py`, you can ran `nqba flake8 notebook.ipynb`.

I've tested this out on a few notebooks, and it seems to work as expected. If you could verify this we would really appreciate it!

[2020-11-05 21:52] sobolevn commented on #1704
@MarcoGorelli awesome news! Do you want to contribute a test case for us and some docs on how to use your library?

[2020-11-05 21:57] MarcoGorelli commented on #1704
Sure!

Would you want a sample test notebook in `tests/data` and then a snapshot test? If so, I'll get a PR together over the weekend

[2020-11-05 22:06] sobolevn commented on #1704
Yes, `fixtures/` looks like a good place for a notebook itself: https://github.com/wemake-services/wemake-python-styleguide/tree/master/tests/fixtures

And then `snapshot` the result 👍

Thanks!

[2020-11-06 07:32] orsinium commented on #1182
The related task for a go linter: https://github.com/walle/lll/issues/11

[2020-11-06 16:49] #1719 closed

[2020-11-07 15:10] sobolevn opened #1723 "depup action failed"
Output:

[code]

Link: https://github.com/wemake-services/wemake-python-styleguide/runs/1367854184?check_suite_focus=true

Can you please take a look @haya14busa @mgrachev ?

[2020-11-07 16:17] mgrachev commented on #1723
I think the problem in

[2020-11-07 16:21] mgrachev commented on #1723
Maybe depup cannot parse lines like this:
[code]

I think we should remove the equal sign and quotes:
[code]

[2020-11-07 17:58] sobolevn commented on #1723
I guess we should fix a parser in `depup` instead, because this is a perfectly valid `ENV` declaration.

[2020-11-09 07:34] locko62 commented on #1706
Hello word

[2020-11-09 08:02] sobolevn commented on #1706
@locko62 does it mean that you want to wrok on this issue? 🙂

[2020-11-09 13:57] Praveenk8051 commented on #1706
Hello, I would like to work on this? This is my first-time!

[2020-11-09 14:28] sobolevn commented on #1706
@Praveenk8051 you are welcome!

[2020-11-09 14:31] Praveenk8051 commented on #1706
Thank you!

[2020-11-09 22:54] huangyunzen commented on #1416
Hello, @Elton-Lin and I would like to work on fixing this. Thanks!

[2020-11-09 23:47] toennifer commented on #1381
Hi, I am a Umich student and would like to work on this issue for one of my class assignments!

I have a question regarding the rule:
Would just having something like `x2 = 2` (without `x1 = 1`) count as violating the rule?

[2020-11-10 07:07] sobolevn commented on #1416
Awesome! Thanks!

[2020-11-10 07:39] sobolevn commented on #1381
No, any names with a context are fine. We only look for this pattern:

[code]

[2020-11-10 07:39] sobolevn commented on #1381
Thanks a lot, assigned!

[2020-11-10 11:29] Praveenk8051 commented on #1706
Hi, I need some help.
I went through documentation to know how to contribute and [API References](https://wemake-python-stylegui.de/en/latest/pages/api/index.html#api-reference)

I'm facing below error when I'm executing `make test`. Can you please help me with it ? @sobolevn
![wemake](https://user-images.githubusercontent.com/20404922/98668565-58da7600-2350-11eb-9405-823159fe7c11.png)

Thanks!

[2020-11-10 11:56] sobolevn commented on #1706
I can recommend to remove your `venv`, make sure that your base `python` does not have any installed packages that might be causing this problem (check with `pip freeze`, it should be empty), and call `poetry install` once again after cleaning everything.

[2020-11-10 12:55] Praveenk8051 commented on #1706
Worked. Thank you!

[2020-11-11 11:01] webartifex opened #1725 "Google Style Guide causes RST210 and RST213 violations"
# Bug report

## What's wrong

Google's Python Style Guide says "If a function accepts `*foo` (variable length argument lists) and/or `**bar` (arbitrary keyword arguments), they should be listed as *foo and **bar" ([source](https://google.github.io/styleguide/pyguide.html#383-functions-and-methods)).

However, in doing so, RST210 and RST213 violations are triggered.

## How it should be

rst-docst

[2020-11-11 11:14] Praveenk8051 commented on #1706
Hello, I'm trying to debug and apply changes so that `linter` is applicable properly for ternary properties. But I'm failing to understand how to proceed. Can you please help me with it ? @sobolevn

This happens to be present in `compares.py` where `NestedTernaryViolation` is checked. Am I on right path ? Should i check and tweak in `compares.py`

[2020-11-11 12:26] sobolevn commented on #1706
Yes, please fix all the violations in our own source code found by a new rule!

[2020-11-11 12:29] sobolevn commented on #1725
I found it! https://github.com/peterjc/flake8-rst-docstrings/issues/18

[2020-11-11 12:29] #1725 closed

[2020-11-11 22:37] thammaji commented on #1657
Hi, I would like to try working on this issue. This would be my first issue, so I'm not sure of a solution yet as I'm still going through the contribution tutorials. I'll update once I have an idea for a solution, but any suggestion is welcome too!

[2020-11-11 23:15] sobolevn commented on #1657
LGTM, @thammaji! Thanks a lot!

[2020-11-12 14:11] Dreamsorcerer opened #1726 "TODO rules"
I've just found that the `flake8-todos` project has just been wiped off the face of the earth.

This had a few little checks to ensure good usage of TODO comments in big projects.

I think it would be nice to reproduce these checks within wemake.

Currently, you can still view the description at:
https://webcache.googleusercontent.com/search?q=cache:sY8YkzjKMCcJ:https://pypi.org/project/flake8-tod

[2020-11-12 15:56] orsinium commented on #1726
I'm surprised that it had users. The code of the plugin never was published before and the plugin was never announced anywhere. Sorry for breaking your pipelines! I'm going to properly re-release it soon:
https://github.com/orsinium-labs/flake8-todos

The motivation to remove it and fork is described in the README. There are a few difficult ownership and licensing questions. I'm going to re-upload

[2020-11-12 16:21] Dreamsorcerer commented on #1726
Ah, no problem. I took a look through all the projects on PyPI under the flake8 framework some time ago, so picked out any project that looked interesting/useful. Seemed like the only place where you could find a list of flake8 plugins available.
https://pypi.org/search/?q=&o=&c=Framework+%3A%3A+Flake8

[2020-11-14 16:11] #1382 closed

[2020-11-16 09:59] orsinium commented on #1726
Release 0.1.5 is uploaded on PyPI, the project name is the same:
https://pypi.org/project/flake8-todos/

[2020-11-16 09:59] #1726 closed

[2020-11-17 14:34] orsinium opened #1731 "Forbid returning too long tuples"
# Rule request

## Thesis

Forbid returning a too long constant-length tuple  from a function:

[code]

When there are more than 2 values must be returned, use [dataclasses.dataclass](https://docs.python.org/3/library/dataclasses.html), [typing.NamedTuple](https://docs.python.org/3/library/typing.html#typing.NamedTuple), or [attrs](https://www.attrs.org/en/stable/) instead.

## Reasoning

Code rea

[2020-11-17 14:39] sobolevn commented on #1731
We already have:
https://github.com/wemake-services/wemake-python-styleguide/blob/2214832b74098b15ddf0eed55c92ab8265150d01/wemake_python_styleguide/violations/complexity.py#L883

and

https://github.com/wemake-services/wemake-python-styleguide/blob/2214832b74098b15ddf0eed55c92ab8265150d01/wemake_python_styleguide/violations/complexity.py#L1153

Maybe it is a good idea to simplify them into a singl

[2020-11-17 15:36] orsinium commented on #1731
Hmm. I tried the snippet above on [flakehell.orsinium.dev](https://flakehell.orsinium.dev/) and it hasn't found anything :thinking: I'm wondering what I did wrong.

![image](https://user-images.githubusercontent.com/9638362/99410661-091d2100-28f3-11eb-9b52-7f2298c12238.png)

[2020-11-17 15:39] orsinium commented on #1731
Oh, I see, it's only about `yield`, not `return`

Sure. This is why I said "constant-length". When you use a tuple as an immutable list (when the length is unknown in advance), it is fine.

[2020-11-19 15:05] Elton-Lin commented on #1711
We'd like to get some clarifications for the alerting style for consecutive empty comments. We think that it might make sense to only alert on the first empty line in this case, examples shown below:
[code]

[code]

What are you thoughts?

[2020-11-19 15:40] sobolevn commented on #1711
Yes, the second one is fine.

[2020-11-19 15:40] sobolevn commented on #1711
In other words: we ban only empty lines with any extra associated content.

[2020-11-19 15:50] Elton-Lin commented on #1711
Could you elaborate on this? Did you mean we shouldn't alert on my second example because there is actual content within the block of comments? I thought empty comments are only allowed if they are wrapped with actual content around like the example you gave previously. Thanks

[2020-11-19 15:58] sobolevn commented on #1711
@Elton-Lin updated, sorry. I have to read more carefully 🙂

[2020-11-19 17:08] sobolevn opened #1733 "Forbid assigning `lambda` to object properties"
# Rule request

## Thesis

We should forbid code like:

[code]

## Reasoning

This will be very tricky to understand for users: `example.callback(1)` will look like a method, but it is not a method.

[2020-11-19 17:55] Elton-Lin commented on #1711
Thanks for the update. Just to be extra sure, if we only alert on the first line for my second example, does it imply the following case is valid? (I'm guessing no) or we would still alert line 2. (essentially we focus on one block of comments at a time, so there will only be one alert for a block of comments, if needed)

[code]

[2020-11-19 21:35] sobolevn commented on #1711
Yes, this should also alert.

[2020-11-20 07:31] Aleksey94Dan opened #1736 "Recommend to use named arguments"
# Rule request

## Thesis

If the function has three or more arguments,
it is recommended to use named arguments in the function.

    # bad

        return first_member + (step - 1) * difference

    4

    5

    4

        return first_member + (step - 1) * difference

    4

    4

    4

## Reasoning
    To make code even more intuitive.

[2020-11-20 08:08] sobolevn commented on #1736
This is a really good idea, but it doesn't really fit our style.
We use both.

And because `mypy` really helps in this case, I am going to mark this as "wontfix".

Thanks a lot for the suggestion! It might be a good idea for a separate plugin you can use together with `wps` in your own projects. 👍

[2020-11-20 08:08] #1736 closed

[2020-11-20 08:44] bryzgaloff opened #1737 "Make WPS428 configurable (Airflow example)"
# Rule change request

Make [WPS428](https://wemake-python-stylegui.de/en/latest/pages/usage/violations/best_practices.html#wemake_python_styleguide.violations.best_practices.StatementHasNoEffectViolation) (Found statement that has no effect) configurable.

## Thesis

Let WPS428 treat some operators as having side effects and not violating the original rule.

## Reasoning

WPS introduces rule `WPS

[2020-11-20 09:21] sobolevn commented on #1737
Hi!

Very good point! I was thinking about the same method when I needed functional pipelines.
But, python is not really suited for this method in my opinion, so I have decided to go with `pipe()` function: https://returns.readthedocs.io/en/latest/pages/pipeline.html

There's not much we can do here.
I cannot also just ignore this operator completely in our source code, since

And I cannot think o

[2020-11-20 11:05] bryzgaloff commented on #1737
Thanks for an example, but this does not look suitable for Airflow. Airflow is a scheduler and the data is not actually processed within Airflow-based code: it only defines the dependencies while actual code execution is usually run on an external environment (e.g. Airflow schedules a task to be executed by either Spark or Celery worker).

I strongly vote for this. See my arguments below.

Yup, `1

[2020-11-20 11:15] sobolevn commented on #1737
Here you go: https://github.com/wemake-services/wemake-python-styleguide/search?q=StatementHasNoEffectViolation

[2020-11-21 22:40] abhi-krish commented on #1733
Hi! I'd like to work on this.

[2020-11-22 08:34] sobolevn commented on #1733
Awesome! Thanks a lot!

[2020-11-23 03:07] abhi-krish commented on #1733
Hey @sobolevn! This is my first time contributing and am not sure where I should start with this problem. Would you be able to point me in the right direction?

[2020-11-23 06:23] sobolevn commented on #1733
Sure!

Start with reading this file: https://github.com/wemake-services/wemake-python-styleguide/blob/master/CONTRIBUTING.md
Then look at: https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/classes.py

[2020-11-23 14:02] AlwxSin opened #1742 "False positive ImplicitEnumerateViolation on range with step"
# Bug report

## What's wrong
A simple function that splits a list into chunks
[code]
will raise `ImplicitEnumerateViolation`.

Documentation suggests using `enumerate(lst)` instead of `range(0, len(list))` but there is no `step`

## How it should be
`ImplicitEnumerateViolation` should not raise if `step > 0` in range arguments.

[2020-11-23 14:38] sobolevn commented on #1742
@AlwxSin fix is welcome!

[2020-11-24 15:34] Elton-Lin commented on #1711
For writing unit tests under tests/test_visitors/test_tokenize/test_comments/, we are wondering if we need to assert the line number of the alert besides confirming the correct violation is created. If so, what would be the best way to do that ? (extracting the line number of the violation and assert with the expected one)

[2020-11-24 16:23] sobolevn commented on #1711
No, we don't usually assert the line number. We just assert that violation is there.

[2020-11-24 17:17] Elton-Lin commented on #1711
Thanks for the answer. We are pretty close to having a complete solution, but we are currently failing a style rule about code complexity:
![Screen Shot 2020-11-24 at 12 13 36 PM](https://user-images.githubusercontent.com/33791310/100128675-90681880-2e4e-11eb-9ecd-ac71cfb563da.png)
We simplified the code and tried adding helper function, but there is also an upper limit to the number of functions

[2020-11-30 15:30] thammaji commented on #1657
Hi, was a bit busy over the past few weeks, but I've now gone through all of the contribution tutorials and internal docs; am a little intimidated, but I think I mostly understand.

I just wanted to make sure I'm going in the right direction here:

For this rule, I would likely have to create a new AST-based visitor, probably inside compares.py or conditions.py, then I would add a violation Bitwis

[2020-11-30 19:55] vnmabus opened #1751 "Check only files in the PR"
Would it be possible to add the option in the Github action to check only the files in the current PR? This would be useful in combination with the github-pr-review reporter, as it would execute faster and consume less Github resources.

[2020-12-01 08:54] pawelarybak commented on #1152
Should it count minus unary operator (`-`)? In my code i often use negative value of a named variable and such usage breaks this rule.

Example:
[code]

[2020-12-01 08:59] skarzi commented on #1751
hi :wave:

there is already an input `path` in WPS action (however, there is one bug related to it, but fix #1752 is already waiting to for a review) that you can use to implement such behavior with some bash and GitHub actions environments, look at an example [here](https://github.com/skarzi/wemake-python-styleguide/blob/example-for-issue-1751/.github/workflows/wps.yml) and check following GitHub

[2020-12-01 09:05] sobolevn commented on #1657
Looks like it! 👍

[2020-12-01 09:06] sobolevn commented on #1152
@pawelarybak yes, it should not. Please, create a new issue.

[2020-12-01 09:27] pawelarybak opened #1753 "WPS204: Overused expression should not count unary minus operator"
# Bug report

Using unary minus operator often breaks rule WPS204

## What's wrong

Using unary minus operator even with named variable violates rule WPS204.
Example:
[code]

## How it should be

No violation should be raised.

## System information

### flake8 information

Contents of `flake8 --bug-report`:

### pip information

Contents of `pip freeze`:

[2020-12-01 10:07] sobolevn commented on #1753
@pawelarybak are you interested in providing a fix?

[2020-12-01 11:42] vnmabus commented on #1751
Thanks, that is exactly what I wanted. I saw that the fix is already merged, will it be in a release soon?

I also think that it would be useful to explain this pattern in the documentation of the Github action, as it seems a common one.

[2020-12-01 11:43] pawelarybak commented on #1753
I can give it a shot.

[2020-12-01 11:44] AlwxSin commented on #1742
@sobolevn yeah. I'll try to fix it in a week or two if no one else wouldn't take it.

[2020-12-01 15:18] sobolevn commented on #1751
Not **really** soon, but soon *enough*. I can probably work on it during my holiday on Jan.

[2020-12-01 15:19] sobolevn commented on #1753
Thanks! @pawelarybak

[2020-12-01 15:20] #1711 closed

[2020-12-01 16:27] sobolevn opened #1754 "Forbid kwarg unpacking in class definition"
# Rule request

## Thesis

We need to forbid code like this:

[code]

But, this code is valid:

[code]

## Reasoning

Dynamic class generation with unknown values is really bad!

[2020-12-02 10:18] sobolevn opened #1757 "Support SARIF format"
https://docs.github.com/en/free-pro-team@latest/github/finding-security-vulnerabilities-and-errors-in-your-code/sarif-support-for-code-scanning

[2020-12-02 11:51] vnmabus commented on #1751
I can close this, unless you want the issue as a reminder to explain this pattern in the documentation of the Github action.

[2020-12-02 23:10] gorrog opened #1758 "WPS221 treats multi-line strings as a single line"
# Bug report

## What's wrong

The following code triggers a WPS221 error on line 2.
[code]

## How it should be

Each string section should be treated as a separate line. While the whole string may be complex, each line of it is rather simple, so should not trigger a complexity warning.

## System information

Ubuntu 20.4

### flake8 information

Contents of `flake8 --bug-report`:

[code]

### pi

[2020-12-04 16:56] orsinium opened #1759 "WPS517: missed cases"
# Bug report

## What's wrong

"WPS517 | Found pointless starred expression" doesn't report string unpacking, `dict` constructor, and `list` conversion:

[code]
## System information

[flakehell.orsinium.dev](https://flakehell.orsinium.dev/) playground

[2020-12-05 15:41] huangyunzen commented on #1416
We believe that the issue with the except blocks is fixed in this issue:
https://github.com/wemake-services/wemake-python-styleguide/issues/1115?fbclid=IwAR0VijbU0sftzbXkWnkaeE0AFji5qR4Xlbx4LSKiiJreW4zoj58MPjnVua4

[2020-12-05 15:42] huangyunzen commented on #1416
@sobolevn Should we work on modifying both rules WPS 440/441 so that they don't trigger on multiple for loops?

[2020-12-05 15:45] sobolevn commented on #1416
Yes, @huangyunzen, please!

[2020-12-05 19:25] webknjaz opened #1761 "Make a patch release bumping flake8-eradicate?"
# Bug report

There's `flake8-eradicate==1.0.0` on PyPI having useful whitelisting features that should, in theory, close #1457. But the last release of `wemake-python-styleguide` limits it to `< 0.4` preventing users from actually installing it.

## What's wrong

While it should be technically possible to upgrade `flake8-eradicate` via a separate command using `pip < 20.3`, it's not that easy in

[2020-12-06 20:47] Jrryy commented on #1009
Hi. Sorry for the big delay, I had to take a break and I have been able to start coding on my own again pretty recently.

 I have just started working on this issue and since I don't think we came up with a solution a month ago, after thinking about it for a while I wanted to propose one now.

According to the original post and several referenced issues, what we want is a piece of code that helped

[2020-12-06 22:58] sobolevn commented on #1009
Sounds like a good idea. Let's try it!

[2020-12-09 01:34] shaneaung commented on #1758
Hi, I would like to claim this issue and work on it with a few peers.

[2020-12-09 03:19] portablesounds commented on #1758
Hi, I'd like to preface this by saying I'm working on this issue with @shaneaung .
One thing I'd like to point out is that WPS already has a rule against using implicit string concatenation (`WPS326`). I guess we should still consider the case where someone disables this rule, as implicit string concatenation is technically faster since it's computed at "compile time" (right before you run it) rat

[2020-12-09 05:39] bryzgaloff commented on #1737
@sobolevn will you have a chance to review? https://github.com/wemake-services/wemake-python-styleguide/pull/1760

[2020-12-09 09:47] sobolevn commented on #1758
Well, this is complicated.

I don't consider this code valid at all:

[code]

Because:
- It uses `f` strings, which are not allowed by `WPS`
- It uses implicit string concat which is not allowed by `WPS`

I would refactor this as:

[code]

[2020-12-09 09:47] #1758 closed

[2020-12-09 15:26] huangyunzen commented on #1416
WPS441 also applies to "with blocks" in addition to the for blocks mentioned in the issue - should we fix them too?

[2020-12-09 15:46] portablesounds commented on #1266
Could myself as well as a few peers take a shot at this issue?

[2020-12-09 16:49] sobolevn commented on #1416
Yes, please 👍

[2020-12-10 07:16] gorrog commented on #1758
Thanks for the reply @sobolevn - I do see that this could be simplified to get around the violation, although I think there are times when you don't wish to do a 2 step template & format just to output a string when formatting in place is simpler to follow and results in less code. That said, I can see that there could be different opinions on this issue and since wemake style guide is the 'most o

[2020-12-10 08:33] sobolevn commented on #1266
@portablesounds you are more than welcome! 👍

[2020-12-10 18:16] thammaji commented on #1657
Hey, I'm making pretty good progress. I wrote my visitor in /visitors/ast/compares.py and I'm constantly failing
0:1      WPS202 Found too many module members: 8 > 7. I'm not really sure what this means, it triggers even if my new visitor class is empty? Help with this would be much appreciated!

Additionally currently my approach to the rule is simply to disallow usage of bitwise compartors with

[2020-12-10 19:12] sobolevn commented on #1657
Yes, it means that you have too many items in a module.

[2020-12-10 19:21] huangyunzen commented on #1416
@sobolevn Is it possible to separate this issue into two issues? We are done with fixing WPS441, but WPS440 might take some more time and we were wondering if we can submit a pull request now for only 441.

[2020-12-10 19:26] thammaji commented on #1657
Oh I see. I will move my visitor to operators.py then (it fits there better anyway).

[2020-12-10 19:44] sobolevn commented on #1416
I can always accept a PR with a partial fix! 👍

[2020-12-11 05:28] StutiV commented on #1754
Hello, @sobolevn Can you assign me this issue? I'd like to contribute. Thanks.

[2020-12-11 07:42] orsinium opened #1770 "Forbid lru_cache with methods"
# Rule request

## Thesis

+ Forbid using `functools.lru_cache` with regular methods and `properties`.
+ Still allow usage with `@staticmethod` and `@classmethod`.

Bad:

[code]

Good:

[code]

## Reasoning

1. Using it under `@property`, you make unavailable the method for cache invalidation (`cache_clear`).
1. It is slower because it involves, additionally to `__dict__` lookup, search in the cac

[2020-12-11 07:50] sobolevn commented on #1754
Thanks a lot!

[2020-12-11 12:22] StutiV commented on #1754
Thank you, @sobolevn ! Can you please elaborate the issue? It'd be really helpful.

[2020-12-11 13:22] sobolevn commented on #1754
@StutiV what help do you need? I would love to answer speicific questions 🙂

[2020-12-11 13:37] StutiV commented on #1754
@sobolevn  Which file should I be making these changes in?

[2020-12-11 14:44] sobolevn commented on #1754
@StutiV it is probably `ast/classes.py`. Feel free to choose the best visitor for the job.
https://github.com/wemake-services/wemake-python-styleguide/blob/master/wemake_python_styleguide/visitors/ast/classes.py

Probably `WrongClassVisitor`

[2020-12-13 00:33] #1657 closed

[2020-12-13 05:12] haya14busa commented on #1723
Sry for the late response, but now it's fixed thanks to @skarzi  and @rickstaa.

[2020-12-13 09:54] sobolevn commented on #1723
Awesome! Thanks a lot 👍

[2020-12-13 09:54] #1723 closed

[2020-12-16 22:35] vnmabus opened #1777 "Error WPS428 for ellipsis in @overload functions"
# Bug report

## What's wrong

Functions decorated with the `@overload` decorator of the `typing` module should have an empty body, usually denoted with ellipsis, as in the default example:

[code]

However, WPS reports this usage as `WPS428 Found statement that has no effect`.

## How it should be

Ellipsis should be accepted as the body of `@overload` functions.

[2020-12-16 23:31] webknjaz commented on #1761
This may be a blocker: https://github.com/wemake-services/flake8-eradicate/issues/182.

[2020-12-17 06:06] sobolevn commented on #1777
Yes, we prefer adding docstrings instead of `...` in each overload. So, this allow us to tell why whould you need each of this cases.

Example: https://github.com/dry-python/returns/blob/master/returns/methods/cond.py#L20

[2020-12-17 06:06] #1777 closed

[2020-12-17 11:42] vnmabus commented on #1777
Sorry, but this goes against standard practice, and the next version of pydocstyle will even flag it as an error D418 (see https://github.com/PyCQA/pydocstyle/pull/511).

[2020-12-17 12:49] sobolevn commented on #1777
Thanks! I was not aware about this new rule in pydocstyle! We would need to swith off its rule for that.
I really believe that this solution is more readable than `...`.

[2020-12-17 15:23] Dreamsorcerer opened #1778 "Rule exceptions for typing stubs"
Typing stubs tend to trigger a few rules that are unnecessary.

[code]

Triggers:
[code]

As this seems to be the preferred style for typing stubs (e.g. look at the typeshed repo), it should allow the `...` to appear on the same line (and not complain that it has no effect).

[2020-12-17 16:58] vnmabus opened #1779 "@overload functions are counted as module members"
# Bug report

## What's wrong

Function prototipes marked with the `@overload` decorator in the `typing` module are counted as if they were separate functions to compute WPS202 violations. A previously compliant module can now have this violation merely by adding typing information.

## How it should be

`@overload` functions should not be taken into account, as they must be placed near the origin

[2020-12-17 18:24] Dreamsorcerer opened #1781 "WPS412: Improve rationale"
I'm still not understanding the rationale for this violation, and was just wondering if you could explain it to me better.

Is it not standard practice (and Pythonic) to have a library which can be imported and used like:
[code]

This requires some logic, even it's only import statements. Are you proposing that this would be a better design?
[code]

The first approach looks better to me, but contr

[2020-12-18 03:27] thecnoNSMB opened #1786 "SystemExit and sys.exit behavior overlap"
# Rule request

`raise SystemExit(arg)` and `sys.exit(arg)` are identical in behavior, one should be favored over the other for consistency.

## Reasoning

I don't know which of the two would be preferable for this linter (I suspect `sys.exit(arg)`, but `raise SystemExit(arg)` doesn't require any imports), but several other contexts where multiple forms are valid have a rule enforcing one form as

[2020-12-18 13:50] sobolevn commented on #1781
The main idea is that I should not tweak your imports in your project.
Why? Because it is hard to read and refactor things. The same function can be theoretically imported from `mypackage` and `mypackage.mymodule`.

And with libraries it is totally fine to tweak imports. Libraries are going to use `--i-dont-controll-code` anyway.

Well, this is a hard topic. And it really depends. I use this style

[2020-12-18 15:14] Dreamsorcerer commented on #1781
Yes, but the rationale sounds like it skips this check due to backwards-compatibility concerns, suggesting that you would still rather enforce it if it was a new library.

So, it sounds to me like it should be reasonable to allow this, as long as the module is designed such that all external imports are meant to use the parent namespace, and not use any submodules.

e.g. The asyncio example I've s

[2020-12-18 15:19] Dreamsorcerer commented on #1781
I bring this up because I have a module `_localdev.py` in my project which has grown in size. So, following the other rules I have broken this down into smaller files by putting it all under a new module. But, I am still only exporting 2-3 functions to the outer code. So, like the `asyncio` example, it seems reasonable for me to export those functions directly in `__init__.py` and have the outer c

[2020-12-18 22:43] thecnoNSMB commented on #1786
`quit(arg)` and `exit(arg)` should also be prohibited under this rule, as those are from the `site` module and are intended to be used for the REPL; as such, they may not be loaded at all when a script runs.

[2020-12-22 08:41] willtkwon commented on #1754
Hi, can I work on this?

[2020-12-22 11:00] willtkwon commented on #1733
Hi, can I work on this task?

[2020-12-22 13:00] #1742 closed

[2020-12-22 13:01] sobolevn commented on #1733
@willtkwon Please feel free! And thank you 🙂

[2020-12-26 08:22] tahirjalilov opened #1796 "WPS323 Found `%` string formatting for datetime.strftime('%d.%m.%Y')"
# Bug report

## What's wrong

linter show me the warning WPS323 Found `%` string formatting when I use date/time formatting like  datetime.strftime('%d.%m.%Y')

## How it should be

Should not show the warning

[2020-12-26 08:37] sobolevn commented on #1796
Thanks!

But it is a duplicate of #1329

[2020-12-26 08:37] #1796 closed

[2020-12-26 08:43] tahirjalilov opened #1797 "annotation_node.slice.value, # type: ignore AttributeError: 'Tuple' object has no attribute 'value'"
# Bug report

## What's wrong

Traceback (most recent call last):
  File "/home/work_pc/Projects/test_project/venv/lib/python3.9/site-packages/wemake_python_styleguide/checker.py", line 154, in run
    visitor.run()
  File "/home/work_pc/Projects/test_project/venv/lib/python3.9/site-packages/wemake_python_styleguide/visitors/base.py", line 191, in run
    self.visit(self.tree)
  File "/home/work_p

[2020-12-26 10:07] sobolevn commented on #1797
Thanks! This is already fixed in `master`.
Python 3.9 support will land in `0.15`

[2020-12-26 10:07] #1797 closed

[2020-12-31 14:20] Andrew-Sheridan opened #1800 "Pypi release schedule undocumented"
# Bug report

## What's wrong

There does not seem to be a documented release schedule. The current release on pypi is from July 29, 2020. There have been 347 commits to master since that date. When can we expect the next release?

## How it should be

The release schedule should be documented somewhere. (Next release happening: after feature x is finished, on Jan 1st, when bug y is addressed. Etc

[2020-12-31 17:26] sobolevn commented on #1800
Hi!

Thanks for the question! Yes, you are right: the last release was in July. Currently we are working on [`0.15`](https://github.com/wemake-services/wemake-python-styleguide/milestone/19) release.

Unfortunatelly, there's no "schedule". Because this is an open-source project that leverages my and contributors unpaid time. This is how it works: when people have time - they contribute, when they

[2020-12-31 17:26] #1800 closed

[2020-12-31 20:36] Andrew-Sheridan commented on #1800
Thanks for taking the time to respond.

Happy New Year :)

[2021-01-04 11:24] orsinium commented on #1786
Yes, I am for `sys.exit`.

1. Importing of `sys` is incredibly fast, I'd even say free:

[code]

2. It should be clear that this statement isn't an exception that can be caught somewhere up in the stack but an uncompromised exit without turning back.

WPS already has this one:

[code]

However, I guess it should be more verbose like in pylint:

[code]

[2021-01-04 11:29] orsinium opened #1803 "Forbid os.curdir"
# Rule request

## Thesis

Forbid `os.curdir`. It is a constant that is always equal to `.` for UNIX and Windows.

UPD: the same applies to `os.path.curdir`

## Reasoning

In most of the cases, it is a bug, and `os.getcwd()` should be used instead.

IDK what are the operating systems that have a different value for this constant (and if there are any) and in these rare cases when you want to suppo

[2021-01-05 14:40] vnmabus opened #1807 "WPS434 on tuple conversion"
# Bug report

## What's wrong

A `WPS434: Found reassigning variable to itself` violation is raised for the following code:
[code]

## How it should be

As the code replaces the original object with a tuple containing it, the line is not a simple reasignation. Thus, the violation WPS434 should not be raised.

[2021-01-09 14:31] webartifex opened #1812 "WPS434 false positive"
# Bug report

## What's wrong

I am unpacking a tuple with, for example, three elements and only need the middle one.

`_, b, _ = result`

Then, I receive a "WPS434 Found reassigning variable to itself".

## How it should be

As this is a false positive, no complaint should be raises

## System information

### flake8 information

Contents of `flake8 --bug-report`:

{
  "dependencies": [],
  "plat

[2021-01-09 16:00] sobolevn commented on #1812
@webartifex PR with the fix is more than welcome!

[2021-01-10 14:00] webartifex commented on #1812
I may have time in spring to look at it. I shall come back to this :)

[2021-01-11 21:48] orsinium commented on #1807
FYI, MyPy won't be happy with this code as well unless you have [allow_redefinition](https://mypy.readthedocs.io/en/stable/config_file.html#confval-allow_redefinition) enabled. SO, probably it's worth making a new variable here.

[2021-01-11 22:21] vnmabus commented on #1807
It seems that redefinitions that narrow the original type are ok in Mypy. In my case this code is being used for a variable that can be either a tuple or an individual element, converting it into a one element tuple in that case. Mypy does not complain even with strict flags enabled, and `reveal_type` reflects the type narrowing correctly.

[2021-01-12 08:10] orsinium opened #1817 "FlakeHell was archived"
Sorry, [flakehell](https://github.com/life4/flakehell) was archived. it was my the most mentally difficult project, and I don't maintain it anymore. Probably, the WPS documentation should be adjusted accordingly, removing flakehell references. I don't insist, though :)

Luckily, the documentation already has a great section about `flake8 --diff` which should be enough for most of the cases from th

[2021-01-12 08:17] sobolevn commented on #1817
@orsinium thanks for working on it! 👍

[2021-01-12 08:18] orsinium commented on #1817
No, thank you for your help with the project. You made it possible in the first place :)

[2021-01-19 10:08] orsinium opened #1824 "Forbid getting first element using unpacking"
# Rule request

## Thesis

[code]

## Reasoning

Performance. Prefixing unused variables with underscore is nothing more than convention, Python still creates these variables. So, unpacking above makes a new unused list which is slow.

[code]

[2021-01-19 10:11] orsinium commented on #1803
A bit of context:
https://stackoverflow.com/questions/14512087/why-does-python-have-os-path-curdir

[2021-01-19 10:21] sobolevn commented on #1824
I would say that `head, *tail = some_collection` is fine. In case we are going to use both `head` and `tail`.

The usecase for this rule is when `_tail` is unused.

[2021-01-19 13:35] orsinium commented on #1824
Exactly! The rule request is about the case when unpacking is used to get only the first element. Prefix `_` should be a good enough indication that the variable is unused.

--

BTW, `F841` is not effective for catching unused variables in unpacking for some reason.

This fails:

[code]

This doesn't:

[code]

I'm wondering if it makes sense to implement a better "variable is assigned to but never

[2021-01-19 13:37] orsinium opened #1825 "Detect redundant enumerate"
# Rule request

## Thesis

[code]

## Reasoning

Simplification.

P.S. I'm not making it, have seen it in the wild 🙃

[2021-01-19 13:40] orsinium commented on #1825
The same can be applied to `dict.items` but it apparently requires to know the right type for the iterator. Probably, one more good candidate for typed-linter.

[code]

[2021-01-22 08:53] StakanAgan commented on #1754
@sobolevn can you assign this issue for me?

[2021-01-22 11:55] sobolevn commented on #1754
@StakanAgan done! Thanks!

[2021-01-22 13:03] vnmabus opened #1827 "WPS434 in variables with different scopes"
# Bug report

## What's wrong

The following code raises the error:

[code]

[code]

## How it should be

This should not give an error, as the first `MyEnum` is a class attribute and the second one is a module attribute, so no reassigning takes place here.

[2021-01-22 16:17] priv-kweihmann opened #1828 "AttributeError: 'Name' object has no attribute 'value'"
# Bug report

## What's wrong

[code]

## How it should be

no traceback :-)

## System information

- wemake-python-styleguide 0.14.1
- ubuntu 20.04 + ubuntu 18.04

### flake8 information

[code]

### pip information

- environment like provided by upstream yocto
- python 3.9, etc.

[2021-01-22 19:38] sobolevn commented on #1828
This is already solved in #1653

Thanks a lot for reporting it!

[2021-01-22 19:38] #1828 closed

[2021-01-22 19:39] sobolevn commented on #1827
Thanks! Good catch.

PRs are welcome! 👍

[2021-01-23 12:42] adenhaus opened #1829 "Multiple grammatical errors in docs/pages/api/index.rst"
I noticed two grammatical errors in the Philosophy section of the documentation.

1. "However, we pursuit perfect software" should be "However, we pursue perfect software"
2. "Consistent code is more readable then inconsistent" should be "Consistent code is more readable than inconsistent"

<img width="679" alt="Screenshot 2021-01-23 at 14 41 30" src="https://user-images.githubusercontent.com/5767

[2021-01-23 12:55] adenhaus commented on #1829
I've made the changes and submitted a PR, can someone with write access please review? Thanks a mil.
https://github.com/wemake-services/wemake-python-styleguide/pull/1830

[2021-01-23 16:39] sobolevn commented on #1829
Merged 👍

[2021-01-23 16:39] #1829 closed

[2021-01-24 03:32] rubenflamshepherd commented on #681
Came across this while also trying to answer this question. For what it's worth `black` actually has some reasons for using double quotes. Find those [here](https://black.readthedocs.io/en/stable/the_black_code_style.html#:~:text=Why%20settle%20on%20double%20quotes,fonts%20and%20syntax%20highlighting%20used.)!

[2021-01-24 08:48] sobolevn commented on #681
One more thing! Single quotes are easier to type, because you don't have to press shift.

[2021-01-26 16:05] orsinium opened #1835 "Detect missed trailing whitespace in concatenated messages"
# Rule request

## Thesis

Sometimes, a plaintext message is split by a few separate string literals with concatenation. And sometimes a whitespace is missed. For example:

[code]

## Reasoning

For human-facing messages, it is a typo.

## Implementation

The challenge is to make an effective heuristic to detect when it is a plain message and when it is something else (for machines). Please, share

[2021-01-27 17:23] #1266 closed

[2021-02-03 12:22] orsinium opened #1846 "Forbid single triple quotes"
# Rule request

## Thesis

[code]

## Reasoning

I checked but I haven't found the rule in pycodestyle nor pylint.

[2021-02-03 12:44] sobolevn commented on #1846
It is covered by `flake8-quotes`.

[code]

[2021-02-03 12:44] #1846 closed

[2021-02-04 16:21] Dreamsorcerer opened #1847 "Cannot install in pip 20.3+ because of conflicting dependencies"
It seems that in pip 20.3+ conflicting dependencies now refuse to install at all (in previous versions it would install one with a warning).

Please consider releasing 0.15 ASAP (which already has required changes), and pushing remaining issues to the next milestone.

Maybe also consider removing the upper bounds on dependencies, so these issues are less likely to happen (particularly for all thes

[2021-02-04 16:24] Dreamsorcerer commented on #1817
We also have #1276 and #1471, which will hopefully make it into 0.16.

[2021-02-04 16:51] sobolevn commented on #1817
@Dreamsorcerer awesome! Do you have some time to polish it?
I would love to get it merged! 👍

[2021-02-04 16:52] sobolevn commented on #1847
Yes, I will release it tomorrow. Thanks! 👍

[2021-02-04 17:24] orsinium commented on #1817
BTW, today I was contacted by a team that used flakehell and they decided to maintain a fork:

https://github.com/flakehell/flakehell

So, maybe it will have a second life, we'll see. Anyway, I'll be happy if WPS becomes self-contained in that sense. Or, even better, baseline finally lands into flake8 itself. We already have at least two independent implementations that work, so why not.

[2021-02-04 22:16] Dreamsorcerer commented on #1817
Possibly, yes. But, will need you to take a look and review first.

[2021-02-05 05:26] Pejnikov commented on #1406
The line "Fixes WPS122 not raising for for and async for definitions" in the Bugfixes of "0.14.0" confuses so much when trying to understand why it doesn't work for "0.14.1".

[2021-02-05 10:01] sobolevn commented on #1406
@Pejnikov can you please move it to the correct section? Thanks! 👍

[2021-02-05 12:50] orsinium commented on #1182
I decided to experiment with it a bit and made a separate small plugin:
https://github.com/orsinium-labs/flake8-length

[2021-02-05 14:24] sobolevn commented on #1182
Awesome! 👍

[2021-02-05 14:24] #1182 closed

[2021-02-06 13:26] #1054 closed

[2021-02-06 14:18] #1669 closed

[2021-02-06 14:57] #1812 closed

[2021-02-06 15:00] sobolevn commented on #1807
I would leave this as `wontfix`, because this is a very special case.
I would recommend to:
- Use `noqa` for this line
- Use other variable name

[2021-02-06 15:01] sobolevn commented on #1803
It should not be used where `os.getcwd()` must be used. But, other than that - it is a perfectly fine constant.

[2021-02-06 15:01] #1803 closed

[2021-02-06 15:06] #1781 closed

[2021-02-06 15:07] sobolevn commented on #1770
This should be included in `typed-linter`

[2021-02-06 15:07] #1770 closed

[2021-02-06 15:07] sobolevn commented on #1761
I will release `0.15` soon, it requires some final touches.

[2021-02-06 15:07] #1761 closed

[2021-02-06 15:13] #1759 closed

[2021-02-06 15:13] sobolevn commented on #1759
I leave `*list()` and `**dict()` for the `typed-linter`

[2021-02-06 15:14] #1751 closed

[2021-02-06 15:40] #1753 closed

[2021-02-06 15:42] sobolevn commented on #1825
I will leave this one for `typed-linter`.

[2021-02-06 15:45] sobolevn commented on #1699
I think that it is better to create a separate plugin for `setup.py`, like `flake8-setuppy`.
Since we don't really use `setup.py ` and don't recommend anyone to use it - there would be no rules about it in WPS.

Thanks again for the idea 👍

[2021-02-06 15:45] #1699 closed

[2021-02-06 15:46] sobolevn commented on #1457
Done! https://github.com/myint/eradicate/blob/a7c2fcbaaa24a1cc0773babd88340a7a221a5971/eradicate.py#L57

New version will be released soon.

[2021-02-06 15:46] #1457 closed

[2021-02-06 15:47] #1423 closed

[2021-02-06 15:50] sobolevn commented on #1421
I am going to close this one, because this is too specific. Let's use `noqa` for it 👍

[2021-02-06 15:50] #1421 closed

[2021-02-06 15:51] #1701 closed

[2021-02-06 15:53] sobolevn commented on #1391
Done! 👍

[2021-02-06 15:53] #1391 closed

[2021-02-06 15:55] sobolevn commented on #1321
I am going to decline this feature. I really don't like short variable names. Sorry 😓

[2021-02-06 15:55] #1321 closed

[2021-02-06 15:59] #1304 closed

[2021-02-06 19:10] #1827 closed

[2021-02-06 19:12] sobolevn commented on #1416
Done!

[2021-02-06 21:58] #1684 closed

[2021-02-07 08:38] #1629 closed

[2021-02-07 10:10] sobolevn commented on #1327
Ok, we have lots of bugs with attributes here.

First of all, I want to change how some rules are applied for not `self`/`cls`/`mcs` targets.
For example, `point.x = 1` should not be a length violation, because `point` might have this specific API.
Also, we don't want to raise violations on things like @Dreamsorcerer mentioned in https://github.com/wemake-services/wemake-python-styleguide/issues/1

[2021-02-07 10:23] sobolevn commented on #1327
So, basically we would have two sets of rules for attributes:
- For all attributes, for example `[any].__prop = 1` is a violation (a couple of rules fit into this category)
- For self*-ish attributes, where `self.x = 1` is a violation (almost all our rules will be in this category)

[2021-02-07 10:44] sobolevn commented on #1327
I am not going to create a new issue for it, because I am working on it right now anyways, but this is also a bug:

[code]

It does not raise any violations, but it should raise:

[code]

[2021-02-07 12:38] sobolevn opened #1852 "Improve CI a bit"
We don't need to run CI twice on my own pull requests.
See https://github.com/wemake-services/django-test-migrations/blob/master/.github/workflows/test.yml#L9

[2021-02-07 23:12] #1327 closed

[2021-02-07 23:12] #1852 closed

[2021-02-07 23:18] sobolevn opened #1853 "Detect getters and setters stricter"
This code currently does not produce any violations:

[code]

But, it should. We should check if there are two methods with `get_` and `set_` with the same name and raise a violation.

Related #1054
Related #1185

[2021-02-08 00:22] Dreamsorcerer commented on #864
I think some clarification on exactly what is forbidden is needed here. I've just read through this twice, and I'm still not clear.

Are we forbidding slow sum/len calls (in which case we do need to check the functions), or something in all comprehensions?

Because some of the bad examples don't make sense to forbid outside of a len/sum call. e.g. `[a > 0 for a in elements]` might be used as a seq

[2021-02-08 11:50] orsinium commented on #1825
It will be false-positive only if you have shadowed `enumerate` function, and I'd say it is a bad practice on its own and you deserve this false-positive then 🙃

[2021-02-08 12:10] Dreamsorcerer commented on #1381
Might also want to consider checking for underscores:
[code]

[2021-02-08 12:16] sobolevn commented on #1825
Yes, my bad!

[2021-02-08 12:32] sobolevn commented on #1381
I am wondering: what context should we care about? One function? Or the whole module?

[2021-02-08 13:04] sobolevn commented on #1381
Ok, I am going to only check for names in the same context. Whatever it might be: function, class, module.

[2021-02-08 14:54] sobolevn commented on #1381
Ok, this is hard. There are lots of corner cases and small things to think about.

For example, attributes need special handling:
- `some.x` and `some.x2` are violating this rule
- while `some.x` and `other.x2` are not

So, I am moving this feature for the next version.

[2021-02-08 17:04] sobolevn opened #1857 "InfiniteWhileLoopViolation should allow `try:`"
This code does contain `raise` or `break`, but you can clearly see that it is meant to be correct.

[code]

So, if `while` loop has `try` - it is good enough for us.

[2021-02-08 22:59] vnmabus commented on #1807
The same problem happens if you do `my_var = (my_var, my_var)`. I know you said you will not fix it, but just in case.

[2021-02-09 07:28] #1241 closed

[2021-02-09 10:35] sobolevn commented on #1757
https://www.viva64.com/en/b/0798/

[2021-02-10 01:25] Aleksey94Dan commented on #1857
Hello. Can you assign me this issue? I'd like to contribute. Thanks.

[2021-02-10 05:31] sobolevn commented on #1857
@Aleksey94Dan thanks a lot! 👍

[2021-02-10 06:51] sobolevn opened #1861 "Address review from @sindresorhus"
There are some awesome ideas in this tweet: https://twitter.com/sindresorhus/status/1359226274368028672

We need to:
- fix `python` -> `Python`
- Describe why "strict" is cool 💪
- Add more examples of bad code => good code

[2021-02-10 07:28] sobolevn opened #1862 "Linter fails for python3.6"
https://github.com/wemake-services/safe-assert/runs/1869385727?check_suite_focus=true

[code]

I am going to release `0.15.1` soon

[2021-02-10 07:42] #1862 closed

[2021-02-10 08:10] sobolevn opened #1863 "Some async comprehensions are reported incorrectly"
Currently our `InconsistentComprehensionViolation` fails on some `async` comprehensions.
We need to fix that!

Reproduction:

[code]

Result:

[code]

[2021-02-10 08:57] sobolevn opened #1864 "Constant condition in comprehension is not reported"
Reproduction:

[code]

[2021-02-10 09:00] sobolevn commented on #1863
Moreover, this code also triggers false-negative:

[code]

Correct version:

[code]

The funny thing is that

[code]

works correctly in both cases.

[2021-02-10 13:38] sobolevn commented on #1863
We also need to test comprehensions with multiple `if`s.

[2021-02-10 15:13] Aleksey94Dan commented on #1857
Sorry.Could you appoint me again? I clicked the wrong place by mistake. Thanks.

[2021-02-11 02:13] dependabot-preview[bot] opened #1865 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/wemake-services/update-logs/67244208).

[2021-02-11 09:39] #1865 closed

[2021-02-11 09:40] sobolevn commented on #1847
Done, `0.15` is released. I have already found some bugs: #1857 #1863 #1864
So, `0.15.1` is on its way (ETA is the end of this week).

[2021-02-11 09:40] #1847 closed

[2021-02-11 10:19] sobolevn opened #1866 "`else` with `try` is not detected"
We have this function:

[code]

It should raise:

[code]

Because it should be consistent with `if` rule. So, the desired version is:

[code]

[2021-02-11 10:36] Dreamsorcerer commented on #1847
Great, thanks.

[2021-02-11 13:05] #1863 closed

[2021-02-11 13:19] sobolevn commented on #1864
The same happens for:

[code]

It should raise `NestedTernaryViolation`.

[2021-02-11 13:56] #1864 closed

[2021-02-11 14:49] sobolevn commented on #1866
What about `for`? It has different `else` semantics.

[2021-02-11 15:01] sobolevn commented on #1866
Ok, here's the deal with `for`:

[code]

This is not the same as `if`, but still can be checked. How?
- `else` triggers if `break` was not called and it will return `1`
- if `break` was called it will return `2`

Here's the refactored version:

[code]

[2021-02-11 15:34] sobolevn commented on #1866
The same about `while`

[2021-02-11 20:21] #1866 closed

[2021-02-11 20:26] sobolevn opened #1871 "InfiniteWhileLoopViolation does not catch anything other than `True`"
Currently `InfiniteWhileLoopViolation` does not trigget if you use anything other than `True`.
For example: `1`, `'inf'`, and `[1, 2, 3]` do not count.

We should fix that.

Refs #1857